.resources-dialog {

  position: relative;

  .table {
    --ghs-resource-columns: 5;
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
    display: grid;
    grid-template-columns: repeat(var(--ghs-resource-columns), auto);
    padding-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    overflow: auto;

    .ghs-svg {
      width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      height: auto;
    }

    .loot {
      font-family: var(--ghs-font-text);
      margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      &.total {
        line-height: 1em;
        border-bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-darkgray);
      }
    }

    &>span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      border-bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-darkgray);
      border-right: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-darkgray);
    }

    .head-col {
      font-family: var(--ghs-font-title);
      font-weight: bold;
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      flex-direction: row;
      justify-content: flex-end;
      background-color: var(--ghs-color-white);
      position: sticky;
      left: 0;
      z-index: 1;

      &.calc-col {
        span {
          opacity: 0.6;
        }
      }
    }

    .calc-col {
      span {
        opacity: 0.6;
      }
    }

    .first {
      font-family: var(--ghs-font-title);
      border-top: none;
    }

    img {
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
    }
  }
}