<div class="resources-dialog">
    <div class="scroll-container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th><span [ghs-label]="'party.campaign.sheet.supply'"></span></th>
                    <th *ngFor="let character of characters">
                        <span class="character">
                            <img class="icon character-icon" [src]="character.iconUrl" />
                            <span class="name">
                                {{gameManager.characterManager.characterName(character,true)}}
                            </span>
                        </span>
                    </th>
                    <th>
                        <span [ghs-label]="'party.campaign.sheet.supply.total'"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lootType of lootColumns; let i = index">
                    <th><img class="ghs-svg" [src]="'./assets/images/fh/loot/' + lootType + '.svg'"></th>
                    <td><span class="loot">{{(gameManager.game.party.loot[lootType] || '-')}}</span></td>
                    <td *ngFor="let character of characters">
                        <span class="loot">{{(character.progress.loot[lootType] || '-')}}</span>
                    </td>
                    <td>
                        <span class="loot" [ngClass]="{'total' : total[lootType]}">{{(total[lootType] || '-')}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>