<div class="deck"
    [ngClass]="{'disabled' : gameManager.game.state == GameState.draw, 'vertical' : vertical, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.lootDeck}">
    <div class="loot-container draw" (click)="draw($event)"
        [ngClass]="{'disabled' : current > 0 &&  current == deck.cards.length -1 && (standalone || gameManager.game.state == GameState.next)}"
        [style.z-index]="deck.cards.length + 1">
        <div class="loot-card" #card [style.fontSize]="card.offsetWidth * 0.08 + 'px'">
            <span class="number" *ngIf="current < deck.cards.length -1" (click)="open($event)">{{
                deck.cards.length - current - 1 }}</span>
            <span class="number" *ngIf="deck.cards.length == 0" (click)="open($event)">0</span>
            <img [title]="'game.cards.fullscreen' | ghsLabel" *ngIf="fullscreen" (click)="openFullscreen($event)"
                class="fullscreen" src="./assets/images/fullscreen.svg">
        </div>
    </div>

    <ng-container *ngFor="let card of deck.cards; let index = index;">
        <div class="loot-container" (click)="open($event)" *ngIf="index > deck.current - 3"
            [style.z-index]="index > deck.current ? deck.cards.length - index : deck.cards.length + index + 1"
            [ngClass]="{'disgarded' : index < deck.current - 1, 'current' : index == deck.current, 'last' : index == deck.current - 1, 'bottom' : bottom}">
            <ghs-loot class="loot-card" [loot]="card" [flipped]="index <= deck.current"></ghs-loot>
        </div>
    </ng-container>
</div>