:host {
    display: block
}

div {
    background-color: var(--ghs-color-darkgray);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
    padding: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor)) calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
    border-radius: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
}