.summon-container {
    position: relative;
    width: 100%;
    padding-top: 38%;
    background-image: url('~src/assets/images/character/abilities/character-ability-summon1.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: none;

    .name {
        font-size: 1.3em;
        position: absolute;
        top: 0;
        left: 10%;
        width: 90%;
        height: 34%;
        display: flex;
        justify-content: center;
        align-items: center;

        .flying {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            margin-left: calc(var(--ghs-unit) * 0.5);

            img {
                height: 1em;
                width: auto;
                filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
            }
        }
    }

    .summon-label {
        font-family: var(--ghs-font-text);
    }

    .grid {
        display: grid;
        grid-template-columns: 45% 25% 30%;
        grid-template-rows: 50% 50%;
        position: absolute;
        top: 34%;
        left: 0;
        width: 100%;
        height: 60%;

        .item {
            display: grid;
            grid-template-columns: 1fr 0.5fr 1.5fr;
            justify-content: flex-start;
            align-items: center;

            :nth-child(1) {
                justify-self: end;
            }

            :nth-child(2) {
                justify-self: center;
            }

            :nth-child(3) {
                justify-self: start;
            }
        }

        .health,
        .attack {
            padding-left: 3em;
        }

        .action,
        .additionalAction {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .action {
            grid-row: 2 span;
        }

        .ghs-svg {
            height: 0.9em;
            width: auto;
            filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
        }
    }

    &.additional {
        background-image: url('~src/assets/images/character/abilities/character-ability-summon2.png');

        .grid .action {
            grid-row: 1 span;
        }
    }

    &.item {
        background-image: url('~src/assets/images/items/summon-item.png');

        .name {
            font-size: 1em;
        }

        .grid {
            grid-template-columns: 65% 25% 0%;

            .action {
                grid-row: 1 span;
            }
        }
    }

    &.fh {
        background-image: url('~src/assets/images/fh/character/abilities/character-ability-summon1.png');

        .grid {
            top: 38%;
            grid-template-columns: 60% 40% 0%;

            .health,
            .attack {
                padding-left: 5em;
            }
        }

        &.action {
            background-image: url('~src/assets/images/fh/character/abilities/character-ability-summon2.png');

            .grid {
                grid-template-columns: 55% 20% 25%;
            }
        }

        &.additional {
            background-image: url('~src/assets/images/fh/character/abilities/character-ability-summon3.png');

            .grid {
                grid-template-columns: 45% 20% 35%;

                .health,
                .attack {
                    padding-left: 4.5em;
                }
            }
        }
    }
}