<div class="summon-container" *ngIf="summon"
    [ngClass]="{'action' : summon.action,  'additional' : summon.additionalAction || additional, 'item': item, 'fh' : fhStyle}">
    <span class="name">
        <span class="summon-label" *ngIf="action"><span [ghs-label]="'game.action.summon'"
                [style]="style"></span>&nbsp;</span>
        <span *ngIf="summon.title" [ngClass]="{'text-white' : !right}">{{summon.title}}</span>
        <span *ngIf="!summon.title" [ghs-label]="'data.summon.' + summon.name" [style]="style"
            [ngClass]="{'text-white' : !right}"></span>
        <span *ngIf="summon.flying" class="flying"><img
                [src]="'./assets/images' + (fhStyle ? '/fh' : '') + '/action/fly.svg'" /></span>
    </span>
    <div class="grid">
        <span class="item health">
            <img class="ghs-svg" [src]="'./assets/images/' +(fhStyle ? 'fh/' : '') + 'action/heal.svg'" />
            <span>:</span>
            <span [value-calc]="summon.maxHealth" [empty]="true"></span>
        </span>
        <span class="item move">
            <img class="ghs-svg" [src]="'./assets/images/' +(fhStyle ? 'fh/' : '') + 'action/move.svg'" />
            <span>:</span>
            <span [value-calc]="summon.movement" [empty]="true"></span>
        </span>
        <span class="action">
            <ghs-action *ngIf="summon.action" [action]="summon.action"></ghs-action>
        </span>
        <span class="item attack">
            <img class="ghs-svg" [src]="'./assets/images/' +(fhStyle ? 'fh/' : '') + 'action/attack.svg'" />
            <span>:</span>
            <span *ngIf="summon.attack != 0" [ghs-label]="'' + summon.attack" [style]="style"></span>
            <span *ngIf="summon.attack == 0">-</span>
        </span>
        <span class="item range">
            <img class="ghs-svg" [src]="'./assets/images/' +(fhStyle ? 'fh/' : '') + 'action/range.svg'" />
            <span>:</span>
            <span [value-calc]="summon.range" [empty]="true"></span>
        </span>
        <span class="additionalAction" *ngIf="summon.additionalAction">
            <ghs-action [action]="summon.additionalAction"></ghs-action>
        </span>
    </div>
</div>