.monster {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(var(--ghs-unit) * 89);

  &.off {

    ghs-monster-ability,
    ghs-monster-stats,
    ghs-monster-image {
      filter: grayscale(100%);
    }
  }

  ghs-figure-errors {
    position: absolute;
    left: calc(var(--ghs-unit) * 13.5);
    top: 50%;
    transform: translateY(-50%);
  }

  ghs-monster-ability {
    margin: 0 calc(var(--ghs-unit) * 2);
  }

  ghs-monster-numberpicker {
    position: absolute;

    &.normal,
    &.boss {
      bottom: calc(var(--ghs-unit) * 1);
      left: calc(var(--ghs-unit) * 54);
    }

    &.elite {
      bottom: calc(var(--ghs-unit) * 1);
      left: calc(var(--ghs-unit) * 84);
    }
  }
}

.entities-container {
  position: relative;
  z-index: 2;
  display: flex;
  transition: max-height 1s ease-out;
  max-height: 100%;
  max-width: calc(var(--ghs-unit) * 89);

  &.empty {
    max-height: 0;
  }

  .spacer {
    flex: none;
    width: calc(var(--ghs-unit) * 17);
    height: 100%;
  }

  .entities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(var(--ghs-unit) * 72);

    &.normal {
      left: calc(var(--ghs-unit) * 0);
    }

    &.elite {
      right: calc(var(--ghs-unit) * 0);
    }
  }
}

ghs-monster-numberpicker {
  &.disabled {
    pointer-events: none;
    display: none;
  }
}