.monster {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--ghs-unit) * 98);

  ghs-monster-ability-card,
  ghs-monster-stats,
  ghs-monster-image {
    &:not(ghs-monster-image) {
      filter: var(--ghs-filter-outline);
    }

    transition: filter 150ms ease-in-out;
  }

  &.off {

    ghs-monster-ability-card,
    ghs-monster-stats,
    ghs-monster-image {
      filter: grayscale(100%);

      &:not(ghs-monster-image) {
        filter: grayscale(100%) var(--ghs-filter-outline);
      }
    }
  }

  ghs-figure-errors {
    position: absolute;
    left: calc(var(--ghs-unit) * 14.5);
    top: 50%;
    transform: translateY(-50%);
  }

  ghs-monster-image {
    margin: 0 calc(var(--ghs-unit) * 0.5);
  }

  ghs-monster-ability-card {
    margin: 0 calc(var(--ghs-unit) * 0.5);
  }

  ghs-monster-numberpicker {
    position: absolute;
    z-index: 2;

    &.normal,
    &.boss {
      bottom: calc(var(--ghs-unit) * 1.6);
      left: calc(var(--ghs-unit) * 59);
    }

    &.elite {
      bottom: calc(var(--ghs-unit) * 1.6);
      left: auto;
      right: calc(var(--ghs-unit) * 1);
    }
  }

  .stats-popup-button {
    position: absolute;
    top: calc(var(--ghs-unit) * 0.6);
    right: calc(var(--ghs-unit) * 3);
    width: calc(var(--ghs-unit) * 30);
    display: flex;
    align-items: center;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2.5);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    text-align: left;
    white-space: nowrap;
    overflow: auto;

    .name {
      cursor: pointer;

      &:hover {
        color: var(--ghs-color-gray);
      }
    }

    .edition {
      margin-left: calc(var(--ghs-unit) * 0.5);
    }

    .flying {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-left: calc(var(--ghs-unit) * 0.5);

      img {
        height: 1em;
        width: auto;
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      }
    }
  }
}

.entities-container {
  z-index: 2;
  display: flex;
  transition: max-height 1000ms ease-out;
  max-height: 100%;
  max-width: calc(var(--ghs-unit) * 96);
  margin-top: calc(var(--ghs-unit) * 0.25 * var(--ghs-text-factor));

  &.empty {
    max-height: 0;
  }

  .spacer {
    flex: none;
    width: calc(var(--ghs-unit) * 17.5);
    height: 100%;
  }

  .entities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(var(--ghs-unit) * 77.5);

    &.normal {
      left: calc(var(--ghs-unit) * 0);
    }

    &.elite {
      right: calc(var(--ghs-unit) * 0);
    }

    ghs-monster-entity {
      transition: all 1000ms ease-out;
    }
  }
}

ghs-monster-numberpicker {
  &.disabled {
    pointer-events: none;
    display: none;
  }
}