.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  ghs-header {
    z-index: 2;
  }
}

.characters {
  display: flex;
  overflow: auto;

  .character {
    display: flex;
    flex-direction: column;

    ghs-attackmodifier {
      width: 300px;
      height: 200px;
      margin: 10px;
    }
  }
}