<div class="action">
  <label class="type">{{'editor.action.type' | ghsLabel}} <input type="checkbox" [(ngModel)]="action.small"
      (change)="change()"> {{'editor.action.small' | ghsLabel}}</label>
  <select [(ngModel)]="action.type" placeholder="type" (change)="changeType()">
    <option *ngFor="let actionType of ActionTypes" [value]="actionType">{{'game.action.' + actionType | ghsLabel}}
    </option>
  </select>
  <label *ngIf="[ActionType.jump].indexOf(action.type) == -1">{{'editor.action.value' | ghsLabel}}</label>

  <ng-container *ngIf="action.type == ActionType.specialTarget">
    <select [(ngModel)]="value" (change)="changeSpecialTarget()">
      <option *ngFor="let specialTarget of ActionSpecialTarget" [value]="specialTarget">
        <span [i18n]="'game.specialTarget.' + specialTarget" [i18n-args]="['X']"></span>
      </option>
    </select>
    <label class="inline" *ngIf="subValue">
      X: <input min="1" type="number" [(ngModel)]="subValue" (change)="changeSpecialTarget()">
    </label>
  </ng-container>

  <input
    *ngIf="[ActionType.area, ActionType.card, ActionType.condition, ActionType.element, ActionType.jump, ActionType.monsterType, ActionType.specialTarget, ActionType.summon].indexOf(action.type) == -1"
    type="text" [ngModel]="action.value" (ngModelChange)="action.value=valueChange($event)" (change)="change()">

  <div class="area-container" *ngIf="action.type == ActionType.area">
    <div class="hexes">
      <ghs-action-hex [action]="hexAction" [value]="'' + hexAction.value" (clickCallback)="toggleHex($event)"
        (doubleclickCallback)="removeHex($event)">
      </ghs-action-hex>
    </div>

    <textarea [(ngModel)]="hexAction.value" (change)="changeHex()"></textarea>
  </div>

  <div class="summon" *ngIf="action.type == ActionType.summon">
    <div class="summon-type">
      <label>
        <input type="radio" name="summonType" (change)="changeSummonType($event)" value="monster" [checked]="!summon">
        {{'editor.action.summon.type.monster' | ghsLabel}}
      </label>
      <label>
        <input type="radio" name="summonType" (change)="changeSummonType($event)" value="summon"
          [checked]="summon">{{'editor.action.summon.type.summon' | ghsLabel}}
      </label>
    </div>
    <div class="summon-monster" *ngIf="!summon">
      <select [(ngModel)]="monster" (change)="changeSummonMonster()">
        <option *ngFor="let monster of monsters" [value]="monster">{{'data.monster.' + monster |
          ghsLabel}}
        </option>
      </select>
      <select [(ngModel)]="monsterType" (change)="changeSummonMonster()">
        <option></option>
        <option *ngFor="let monsterType of MonsterTypes" [value]="monsterType">{{'monster.' + monsterType |
          ghsLabel}}
        </option>
      </select>
    </div>
    <div class="summon-form" *ngIf="summon">
      <ghs-action-summon [action]="action" [additional]="true"></ghs-action-summon>
      <input class="summon-name" [(ngModel)]="summon.name" (change)="changeSummon()">
      <div class="grid">
        <span class="item">
          <input class="summon-health" [(ngModel)]="summon.health" (change)="changeSummon()">
        </span>
        <span class="item">
          <input class="summon-movement" [(ngModel)]="summon.movement" (change)="changeSummon()">
        </span>
        <a (click)="editSummonAction()"><span *ngIf="!summon.action">{{'editor.action.add' | ghsLabel}}</span></a>
        <span class="item">
          <input class="summon-attack" [(ngModel)]="summon.attack" (change)="changeSummon()">
        </span>
        <span class="item">
          <input class="summon-range" [(ngModel)]="summon.range" (change)="changeSummon()">
        </span>
        <a (click)="editSummonAdditionalAction()"><span *ngIf="!summon.additionalAction">{{'editor.action.add' |
            ghsLabel}}</span></a>
      </div>
    </div>
  </div>

  <ng-container *ngIf="action.type == ActionType.condition">
    <select [(ngModel)]="value" (change)="changeCondition()">
      <option *ngFor="let condition of ConditionNames" [value]="condition">{{'game.condition.' + condition |
        ghsLabel:['X']}}
      </option>
    </select>
    <label class="inline" *ngIf="subValue">
      X: <input min="1" type="number" [(ngModel)]="subValue" (change)="changeCondition()">
    </label>
  </ng-container>

  <ng-container *ngIf="action.type == ActionType.card">
    <select [(ngModel)]="value" (change)="changeCard()">
      <option *ngFor="let card of ActionCardTypes" [value]="card">{{'game.card.' + card |
        ghsLabel:['X']}}
      </option>
    </select>
    <label class="inline" *ngIf="subValue">
      X: <input min="1" type="number" [(ngModel)]="subValue" (change)="changeCard()">
    </label>
  </ng-container>

  <select *ngIf="action.type == ActionType.element" [(ngModel)]="action.value" (change)="change()">
    <option *ngFor="let element of Elements" [value]="element">{{'game.element.' + element | ghsLabel}}</option>
  </select>

  <select *ngIf="action.type == ActionType.monsterType" [(ngModel)]="action.value" (change)="change()">
    <option *ngFor="let monsterType of MonsterTypes" [value]="monsterType">{{'game.monster.' + monsterType | ghsLabel}}
    </option>
  </select>

  <ng-container
    *ngIf="[ActionType.area, ActionType.card, ActionType.condition, ActionType.concatenation, ActionType.custom, ActionType.grant, ActionType.grid, ActionType.jump,  ActionType.monsterType, ActionType.specialTarget, ActionType.summon, ActionType.trigger].indexOf(action.type) == -1">
    <label>{{'editor.action.valueType' | ghsLabel}}</label>
    <select [(ngModel)]="action.valueType" placeholder="valueType" (change)="change()">
      <option *ngFor="let valueType of ActionValueTypes" [value]="valueType"
        [selected]="action.valueType == valueType || !action.valueType && valueType == ActionValueType.fixed">
        {{'editor.action.valueType.' + valueType |
        ghsLabel}}</option>
    </select>
  </ng-container>

  <div class="subactions" cdkDropList (cdkDropListDropped)="dropSubAction($event)">
    <label>SubActions</label>
    <a (click)="addSubAction()"><img class="ghs-icon" src="./assets/images/plus.svg"> {{'editor.action.addSubAction' |
      ghsLabel}}</a>
    <div class="subaction" *ngFor="let subAction of action.subActions; let i = index" cdkDrag>
      <span class="handle" cdkDragHandle><img class="ghs-icon" src="./assets/images/menu.svg"></span>
      <ghs-editor-action [(action)]="action.subActions[i]"></ghs-editor-action>
      <a (click)="removeSubAction(i)"><img class="ghs-icon" src="./assets/images/minus.svg">
        {{'editor.action.removeSubAction' | ghsLabel}}</a>
    </div>
  </div>
</div>