.action {
  display: flex;
  flex-direction: column;
  color: var(--ghs-color-white);

  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .small {
      margin-left: calc(var(--ghs-unit) * 1);
      display: flex;
      align-items: center;
    }

    .remove {
      margin-right: calc(var(--ghs-unit) * 3);
    }

    .add {
      margin-left: calc(var(--ghs-unit) * 1);
    }
  }

  .footer {
    display: flex;
    align-items: center;
  }

  .enhancements {
    display: flex;
    flex-direction: column;

    .enhancement {
      display: flex;
      align-items: center;

      a {
        white-space: nowrap;
        margin-left: calc(var(--ghs-unit) * 0.5);
      }
    }
  }

  .subactions {
    display: flex;
    flex-direction: column;

    .subaction {
      position: relative;
      margin-left: calc(var(--ghs-unit) * 2);

      .handle {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .area-container {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--ghs-unit) * 0.5);

    .hexes {
      width: 0;
    }

    textarea {
      width: 50%;
    }
  }

  .action-element-half-container {
    display: flex;
  }
}

label.inline {
  margin-top: calc(var(--ghs-unit) * 0.5);
  display: flex;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  min-width: initial;
  color: var(--ghs-color-white);
  background-color: transparent;
  border: 1px solid var(--ghs-color-gray);
  font-family: var(--ghs-font-normal);
  font-size: calc(var(--ghs-unit) * 2.7 * var(--ghs-fontsize));


  &:hover {
    border: 1px solid var(--ghs-color-gray);
  }

  option {
    color: var(--ghs-color-black);
  }
}

.ghs-icon {
  height: 1em;
  width: auto;

  filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
}

a {
  display: flex;
  align-items: center;

  .ghs-icon:nth-child(1) {
    margin-right: 0.2em;
  }
}

a,
ghs-action-hex {
  cursor: pointer;
}

.summon {
  .summon-type {
    display: flex;

    label {
      display: flex;
    }
  }

  .summon-monster {
    display: flex;
  }

  .summon-form {
    position: relative;
    padding-top: 38%;
    background-color: var(--ghs-color-darkgray);

    ghs-action-summon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .summon-name {
      position: absolute;
      top: 5%;
      left: 50%;
      width: 65%;
      height: 20%;
      transform: translateX(-50%);
    }

    .grid {
      display: grid;
      grid-template-columns: 32% 32% 36%;
      grid-template-rows: 1fr 1fr;
      position: absolute;
      justify-items: stretch;
      top: 36%;
      left: 13%;
      width: 87%;
      height: 56%;

      .item {
        display: flex;
        justify-content: center;
      }

      input {
        height: 100%;
        width: 30%;
        margin-left: 40%;
      }

      a:hover {
        background-color: var(--ghs-color-black);
        opacity: 0.7;
      }
    }
  }
}