<div class="objective"
  [ngClass]="{'off' : objective.off || objective.exhausted || (objective.health <= 0), 'escort' : objective.escort, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters}">
  <a class="image-container" (click)="toggleFigure()"
    [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.round }">
    <span class="image" [ngClass]="{'active-border' : objective.active}">
      {{objective.id + 1}}
    </span>
    <ghs-healthbar [entity]="objective"></ghs-healthbar>
  </a>

  <ghs-drag-value *ngIf="settingsManager.settings.dragValues" class="drag-initiative"
    (dragMove)="dragInitiativeMove($event)" (dragEnd)="dragInitiativeEnd($event)">
  </ghs-drag-value>

  <ghs-drag-value *ngIf="settingsManager.settings.dragValues" class="drag-hp" (dragMove)="dragHpMove($event)"
  (dragEnd)="dragHpEnd($event)" [relative]="true"></ghs-drag-value>

  <ghs-character-initiative [character]="objective"></ghs-character-initiative>

  <ghs-highlight-conditions [entity]="objective"></ghs-highlight-conditions>

  <div class="stats">
    <div class="column col-1" (click)="openEntityMenu($event)">
      <div class="title" #objectiveName><img class="icon"
          [src]="'./assets/images/objective/' + (objective.escort ? 'escort' : 'objective') + '.svg'" />
        {{objective.title ? objective.title : ((objective.name ? ('data.objective.' + objective.name) :
        (objective.escort ? 'escort' : 'objective')) |
        ghsLabel)}}
        <img class="ghs-svg exhausted" *ngIf="objective.exhausted" src="./assets/images/status/exhausted.svg" />

        <div class="markers">
          <span class="marker" *ngFor="let marker of objective.markers;">
            <img src="./assets/images/character/icons/{{marker}}.svg" />
          </span>
        </div>
      </div>
      <div class="status-bar">
        <div class="health">
          <img src="./assets/images/status/health.svg" />
          {{objective.health}}/{{maxHealth()}} <span class="value-overlay "
            [ngClass]="{'negative-value' : health < 0, 'positive-value' : health > 0}" *ngIf="health">
            <span class="value">{{health |
              ghsValueSign}}</span>
          </span>
        </div>
        <div class="conditions">
          <span class="condition" *ngFor="let entityCondition of gameManager.entityManager.activeConditions(objective)">
            <img src="./assets/images/condition/{{entityCondition.name}}.svg" />
            <span class="value"
              *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
          </span>
        </div>
      </div>
    </div>

    <span class="spacer" (click)="openEntityMenu($event)"></span>

    <div class="icon-container" (click)="openEntityMenu($event)">
      <img [src]="'./assets/images/objective/' + (objective.escort ? 'escort' : 'objective') + '.svg'" />
    </div>
  </div>
</div>