<div class="objective"
  [ngClass]="{'off' : objective.off || objective.exhausted || (objective.health <= 0), 'escort' : objective.escort, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters}">
  <a class="image-container" (click)="toggleFigure()" [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.round }">
    <span class="image" [ngClass]="{'active-border' : objective.active}">
      {{objective.id + 1}}
    </span>
    <ghs-healthbar [entity]="objective"></ghs-healthbar>
  </a>

  <ghs-character-initiative (click)="close()" [character]="objective"></ghs-character-initiative>

  <ghs-highlight-conditions [entity]="objective"></ghs-highlight-conditions>

  <div class="stats">
    <div class="column col-1" (click)="toggle()">
      <div #button class="title"><img class="icon"
          [src]="'./assets/images/objective/' + (objective.escort ? 'escort' : 'objective') + '.svg'" />
        {{objective.title ? objective.title : ((objective.name ? ('data.objective.' + objective.name) :
        (objective.escort ? 'escort' : 'objective')) |
        ghsLabel)}}
        <img class="ghs-svg exhausted" *ngIf="objective.exhausted" src="./assets/images/status/exhausted.svg" />
      </div>
      <div class="status-bar">
        <div class="health">
          <img src="./assets/images/status/health.svg" />
          {{objective.health}}/{{maxHealth()}}
        </div>
        <div class="conditions">
          <span class="condition" *ngFor="let entityCondition of gameManager.entityManager.activeConditions(objective)">
            <img src="./assets/images/condition/{{entityCondition.name}}.svg" />
            <span class="value"
              *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
          </span>
        </div>
      </div>
    </div>

    <span class="spacer" (click)="toggle()"></span>

    <div class="icon-container" (click)="toggle()">
      <img [src]="'./assets/images/objective/' + (objective.escort ? 'escort' : 'objective') + '.svg'" />
    </div>
  </div>
</div>

<div #dialog class="dialog">
  <div class="status-container">
    <div class="entity-container">

      <span class="item">
        <a class="button" [ngClass]="{'disabled' : objective.health == 0}" (click)="changeHealth(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item">
        <img src="./assets/images/status/health.svg" />
        <span class="badge health-count"
          [ngClass]="{'health-negative' : health < 0, 'health-positive' : health > 0}">{{health | ghsValueSign}}</span>
      </span>
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : objective.health == objective.maxHealth}" (click)="changeHealth(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <span class="item">
        <a class="button" (click)="changeId(-1)">
          <img class="ghs-svg" src="./assets/images/left.svg">
        </a>
      </span>
      <span class="item">
        <span class="id">{{objective.id + 1}}</span>
      </span>
      <span class="item">
        <a class="button" (click)="changeId(1)">
          <img class="ghs-svg" src="./assets/images/right.svg">
        </a>
      </span>

      <span class="item">
        <a class="condition" [ngClass]="{'active' : objective.exhausted}" (click)="exhausted()">
          <img src="./assets/images/status/exhausted.svg" />
        </a>
      </span>
      <span class="item">
      </span>
      <span></span>
    </div>

    <ghs-conditions *ngIf="objective.escort" [entity]="objective" [figure]="objective" type="character">
    </ghs-conditions>
  </div>

  <div class="char-container">
    <input #objectiveTitle [value]="objective.title || ''" />
    <ng-container *ngIf="showMaxHealth()">
      <a class="button" (click)="changeMaxHealth(-1)">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </a>
      <span class="item">
        <img src="./assets/images/status/health.svg" />
        <span class="badge max-health">{{objective.health}}/{{maxHealth()}}</span>
      </span>
      <a class="button" (click)="changeMaxHealth(1)">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </a>
    </ng-container>
  </div>
</div>