.objective {
  position: relative;
  z-index: 1;
  height: 100%;
  width: calc(var(--ghs-unit) * 98);
  height: calc(var(--ghs-unit) * 14);
  background-color: var(--ghs-color-green);
  background-image: url('~/src/assets/images/character/char-mat.png'), url('~/src/assets/images/character/char-mat.png');
  background-blend-mode: multiply, overlay;
  background-size: 100% 100%;
  display: flex;
  border-radius: calc(var(--ghs-unit) * 0.5);
  transition: background-color 150ms ease-in-out, background-image 150ms ease-in-out, background-blend-mode 150ms ease-in-out;

  &.escort {
    background-color: var(--ghs-color-red);
  }

  .title,
  .conditions,
  .image-container,
  .icon-container {
    transition: filter 150ms ease-in-out;
  }

  &.off {
    background-color: var(--ghs-color-gray);
    background-image: url('~/src/assets/images/character/char-mat.png');
    background-blend-mode: multiply;

    .title,
    .conditions,
    .image-container,
    .icon-container {
      filter: grayscale(100%);
    }
  }

  ghs-character-initiative {
    margin-right: calc(var(--ghs-unit) * 1);
  }

  ghs-highlight-conditions {
    z-index: 3;
    position: absolute;
    left: calc(var(--ghs-unit) * 6);
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--ghs-unit) * 9.5);
  }

  ghs-drag-value.drag-initiative {
    position: absolute;
    top: 0;
    left: calc(var(--ghs-unit) * 6);
    width: calc(var(--ghs-unit) * 9.5);
    height: 100%;
    z-index: 4;

    &.dragging {
      left: 0;
      width: 100%;
    }
  }

  ghs-drag-value.drag-hp {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 2 / var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * 22);
    width: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    z-index: 4;


    &.dragging {
      left: 50%;
      bottom: 0;
      height: 100%;
      width: 100vw;
      transform: translateX(-50%);
    }
  }

  .stats {
    height: 100%;
    display: flex;
    flex-basis: 100%;
    cursor: pointer;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &.col-1 {
        max-width: calc(var(--ghs-unit) * 39);
      }

      &.col-2 {
        width: calc(var(--ghs-unit) * 8);
        justify-content: space-evenly;
      }
    }

    .title {
      pointer-events: none;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3.5);
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);
      display: flex;
      align-items: center;

      img.icon {
        height: calc(var(--ghs-unit) * 5);
        width: auto;
        margin-left: calc(var(--ghs-unit) * -1);
        margin-right: calc(var(--ghs-unit) * 0.5);
      }

      img.exhausted {
        margin-left: calc(var(--ghs-unit) * 1);
        height: calc(var(--ghs-unit) * 4);
        width: auto;
      }
    }

    .status-bar {
      display: flex;
      align-items: center;
    }

    .health {
      display: flex;
      align-items: center;
      font-size: calc(var(--ghs-unit) * 3.5);
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);


      img {
        margin: calc(var(--ghs-unit) * 0.5);
        height: calc(var(--ghs-unit) * 3);
        width: auto;
      }
    }

    .icon-container {
      height: 100%;
      width: calc(var(--ghs-unit) * 12);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: calc(var(--ghs-unit) * 4);

      img {
        height: calc(var(--ghs-unit) * 8);
        width: auto;
      }
    }
  }

  .markers {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
    padding-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

    .marker {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
      background-color: var(--ghs-color-darkgray);
      border-radius: 100%;
      height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
      margin-right: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
      border-width: calc(var(--ghs-unit) * 0.4);
      border-style: solid;
      border-color: var(--ghs-color-gray);

      img {
        width: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
      }
    }
  }

  .conditions {
    position: relative;
    display: flex;
    margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));

    .condition {
      position: relative;
      display: flex;
      margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

      img {
        width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        margin: 0;

        &.stack {
          margin-left: calc(var(--ghs-unit) * -2);
          opacity: 0.8;
        }
      }

      .value {
        font-family: "ghs-title";
        font-size: calc(var(--ghs-unit) * 1.2);
        color: var(--ghs-color-white);
        position: absolute;
        top: calc(var(--ghs-unit) * 1.5);
        left: calc(var(--ghs-unit) * 1.5);
        text-shadow: none;
        transform: translateX(-50%);
      }
    }
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--ghs-unit) * 9.5);
    height: calc(var(--ghs-unit) * 9.5);
    margin: calc(var(--ghs-unit) * 2.1) calc(var(--ghs-unit) * 3.4);
    margin-left: calc(var(--ghs-unit) * 6);
    margin-right: calc(var(--ghs-unit) * 1);
    cursor: pointer;
    border-radius: calc(var(--ghs-unit) * 1);
    flex-shrink: 0;

    .objective-marker {
      font-size: calc(var(--ghs-unit) * 3.8);
    }

    ghs-healthbar {
      position: absolute;
      bottom: 0;
      width: calc(var(--ghs-unit) * 9);
      left: 0;
    }
  }

}

.dialog {

  .status-container {
    display: flex;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .entity-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
      align-content: baseline;

      .id {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
        overflow: hidden;
        background-color: var(--ghs-color-red);
        color: var(--ghs-color-white);
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 5.5 * var(--ghs-dialog-factor));
        line-height: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
        border-radius: 100%;
        border-color: var(--ghs-color-white);
        border-style: solid;
        border-width: calc(var(--ghs-unit) * 0.6);
      }
    }
  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
  }

  a {
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-gray);
    }
  }

  img {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: auto;
  }

  .max-health-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor));

    img {
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      width: auto;
    }
  }

  .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    text-shadow: var(--ghs-outline);
  }



  .condition {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

    &.active {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }
  }

  .char-container {
    display: flex;
    align-items: center;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .max-health {
      right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }

    input {
      max-width: calc(var(--ghs-unit) * 20 * var(--ghs-dialog-factor));
      margin: 0 calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      background-color: var(--ghs-color-black);
      border-width: calc(var(--ghs-unit) * 0.1);
      border-style: solid;
      border-color: var(--ghs-color-gray);
      border-radius: calc(var(--ghs-unit) * 1);
      user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }
  }

  .max-health-container {
    justify-content: space-evenly !important;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor)) !important;

    img {
      height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
      width: auto;
    }

    .badge {
      right: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }
  }
}