@media (max-width: 600px),
(orientation: portrait) {

    .menu-container.two-column {
        display: grid;
        grid-template-columns: auto;
        column-gap: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

        .separator,
        .span {
            grid-column: 1 span;
        }
    }
}

.line {
    .condition-list {
        display: flex;
        align-items: center;

        .hint-container {
            margin: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));


            .condition {
                cursor: pointer;
                width: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
                height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
                position: relative;
                display: flex;

                &.immunity {
                    opacity: 0.7;
                    filter: grayscale(0.3);
                }

                &:hover {
                    opacity: 0.6;
                    filter: none;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .value {
                    font-family: var(--ghs-font-title);
                    font-size: calc(var(--ghs-unit) * 1.3 * var(--ghs-dialog-factor));
                    color: var(--ghs-color-white);
                    position: absolute;
                    bottom: 0;
                    left: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
                    transform: translateX(-50%);
                }

                &.disabled {
                    filter: grayscale(0.6);
                    pointer-events: none;
                }
            }

            .hint-trigger {
                margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }

            .hint.right {
                transform: translateX(-50%);
            }

        }
    }

    &.hidden {
        display: none;
    }
}

.menu-container {
    .line .ghs-svg {
        &.sync-settings {
            height: 2em;
            width: auto;
            filter: var(--ghs-filter-disabled) var(--ghs-filter-outline-thin-black);
        }
    }

    &.connected {
        .line .ghs-svg {
            &.sync-settings {
                filter: var(--ghs-filter-green) var(--ghs-filter-outline-thin-black);
            }
        }
    }
}