{
  "plugins": ["prettier-plugin-organize-imports"],
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
