:host {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.trial-dialog {
    position: relative;
    width: 66.66vh;
    max-width: 400px;
    height: 100vh;
    max-height: 600px;
    border-image: none;
    background: none;
    transition: transform 150ms ease-in-out;
    transform: scale(0);
    z-index: 2;

    ghs-trial {
        width: 100%;
        height: auto;
    }

    .close-dialog {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
    }

    &.opened {
        transform: scale(1);
    }

    &.closed {
        transform: scale(0);
        transition-delay: 800ms;
    }

    @media (max-width: 600px),
    (orientation: portrait) {
        width: 80vw;
        max-width: 400px;
        height: 120vw;
        max-height: 600px;
    }

}

.close-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}