.key-container {
    display: flex;
    min-width: calc(var(--ghs-unit) * 10);
    max-width: calc(var(--ghs-unit) * 10);
    z-index: 999;
}

kbd {
    position: relative;
    display: inline-block;
    width: calc(var(--ghs-unit) * 4);
    height: calc(var(--ghs-unit) * 4);
    border-radius: calc(var(--ghs-unit) * 0.5);
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow:
        inset calc(var(--ghs-unit) * -0.4) 0 calc(var(--ghs-unit) * 0.4) rgba(0, 0, 0, 0.15),
        inset 0 calc(var(--ghs-unit) * -0.4) calc(var(--ghs-unit) * 0.4) rgba(0, 0, 0, 0.25),
        0 0 0 calc(var(--ghs-unit) * 0.1) rgba(0, 0, 0, 0.75),
        calc(var(--ghs-unit) * 0.5) calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 1.25) rgba(0, 0, 0, 0.4);
    overflow: hidden;

    &:before {
        content: ' ';
        position: absolute;
        top: calc(var(--ghs-unit) * 0.125);
        left: calc(var(--ghs-unit) * 0.2);
        bottom: calc(var(--ghs-unit) * 0.7);
        right: calc(var(--ghs-unit) * 0.6);
        background: linear-gradient(90deg, #232323, #4a4a4a);
        border-radius: calc(var(--ghs-unit) * 0.5);
        box-shadow: calc(var(--ghs-unit) * -0.5) calc(var(--ghs-unit) * -0.5) calc(var(--ghs-unit) * 0.5) rgba(255, 255, 255, 0.25), calc(var(--ghs-unit) * 0.5) calc(var(--ghs-unit) * 0.25) calc(var(--ghs-unit) * 0.5) rgba(0, 0, 0, 0.15);
        border-left: calc(var(--ghs-unit) * 0.05) solid #0004;
        border-bottom: calc(var(--ghs-unit) * 0.05) solid #0004;
        border-top: calc(var(--ghs-unit) * 0.05) solid #0009;
    }

    span {
        position: absolute;
        top: calc(var(--ghs-unit) * 0.3);
        left: calc(var(--ghs-unit) * 0.9);
        font-size: calc(var(--ghs-unit) * 2);
        font-family: ghs-normal;
        font-style: normal;
        text-shadow: none;
        color: #ddd;
    }

    &.highlight {
        top: calc(var(--ghs-unit) * 0.3);
        height: calc(var(--ghs-unit) * 3.7);
        box-shadow:
            inset calc(var(--ghs-unit) * -0.1) 0 calc(var(--ghs-unit) * 0.1) rgba(0, 0, 0, 0.15),
            inset 0 calc(var(--ghs-unit) * -0.1) calc(var(--ghs-unit) * 0.1) rgba(0, 0, 0, 0.25),
            0 0 0 calc(var(--ghs-unit) * 0.025) rgba(0, 0, 0, 0.75),
            calc(var(--ghs-unit) * 0.125) calc(var(--ghs-unit) * 0.25) calc(var(--ghs-unit) * 0.3) rgba(0, 0, 0, 0.4);

        span {
            color: #888;
        }

        &::before {
            bottom: calc(var(--ghs-unit) * 0.3);
        }
    }
}