.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    ghs-header {
        z-index: 2;
    }
}

.deck {
    display: flex;
    flex-direction: column;


    .abilities-container {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: calc(var(--ghs-unit) * 3);
        min-width: calc(var(--ghs-unit) * 82);


        ghs-ability {
            display: block;
            width: calc(var(--ghs-unit) * 40);
            min-height: calc(var(--ghs-unit) * 25.5);

            &.bottom-actions {
                height: calc(var(--ghs-unit) * 54);
            }
        }

        .ability-input {
            position: relative;

            .buttons {
                position: relative;
                margin-top: calc(var(--ghs-unit) * -2);
                display: flex;
                justify-content: space-evenly;

                .add {
                    font-size: calc(var(--ghs-unit) * 2);
                    color: var(--ghs-color-black);
                    background-color: var(--ghs-color-gray);
                    border-color: var(--ghs-color-darkgray);
                    z-index: 2;

                    img {
                        filter: none;
                    }

                    &:hover {
                        color: var(--ghs-color-darkgray);

                        img {
                            filter: var(--ghs-filter-darkgray) var(--ghs-filter-shadow);
                        }
                    }

                    &.bottom {
                        font-size: calc(var(--ghs-unit) * 1.5);
                        padding: calc(var(--ghs-unit) * 0.1);
                        margin: calc(var(--ghs-unit) * 2) auto;
                        opacity: 0.7;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                &.bottom-actions {
                    position: absolute;
                    left: -3%;
                    top: 49%;
                    z-index: 2;
                    flex-direction: column;
                    align-items: flex-start;

                    &::before {
                        background-position: top;
                        // background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
                    }

                    .add,
                    .bottom {
                        font-size: calc(var(--ghs-unit) * 2);
                        padding: calc(var(--ghs-unit) * 0.2);
                        margin: calc(var(--ghs-unit) * 0.5) 0;
                        opacity: 1;
                    }
                }
            }


            .ability-edit {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                background-position: center;
                background-size: 100% auto;
                background-repeat: no-repeat;
                border-radius: 3.5%;

                width: calc(var(--ghs-unit) * 40);
                height: calc(var(--ghs-unit) * 25.5);
                z-index: 2;

                &::before {
                    content: ' ';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }

                &::after {
                    content: ' ';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                .remove {
                    position: absolute;
                    top: calc(var(--ghs-unit) * 0.5);
                    right: calc(var(--ghs-unit) * 1);
                    width: calc(var(--ghs-unit) * 3);

                    img {
                        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
                        width: 100%;
                        height: auto;
                    }
                }

                .name {
                    font-family: var(--ghs-font-title);
                    position: absolute;
                    font-size: 1.7em;
                    top: calc(var(--ghs-unit) * 0.5);
                    left: calc(var(--ghs-unit) * 7);
                    width: calc(var(--ghs-unit) * 26);
                    color: var(--ghs-color-white);
                    background-color: transparent;
                    border: 1px solid var(--ghs-color-gray);
                    z-index: 2;
                    text-align: center;

                    &:hover {
                        border: 1px solid var(--ghs-color-gray);
                    }
                }

                .initiative {
                    font-family: var(--ghs-font-title);
                    position: absolute;
                    font-size: 2.4em;
                    top: calc(var(--ghs-unit) * 4.5);
                    left: calc(var(--ghs-unit) * 2);
                    width: calc(var(--ghs-unit) * 6);
                    color: var(--ghs-color-white);
                    background-color: transparent;
                    border: none;
                    z-index: 3;

                    &:hover {
                        border: none;
                    }
                }

                .card-id {
                    position: absolute;
                    font-family: var(--ghs-font-normal);
                    font-size: 1em;
                    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
                    bottom: calc(var(--ghs-unit) * 1);
                    left: calc(var(--ghs-unit) * 2);
                    width: calc(var(--ghs-unit) * 6);
                    color: var(--ghs-color-white);
                    background-color: transparent;
                    border: none;
                    z-index: 3;

                    &:hover {
                        border: none;
                    }
                }

                .shuffle {
                    position: absolute;
                    bottom: calc(var(--ghs-unit) * 0.5);
                    right: calc(var(--ghs-unit) * 0.5);
                    width: calc(var(--ghs-unit) * 3);
                    height: calc(var(--ghs-unit) * 3);
                    z-index: 3;
                    cursor: pointer;

                    input {
                        position: absolute;
                        width: calc(var(--ghs-unit) * 3);
                        height: calc(var(--ghs-unit) * 3);
                        margin: 0;

                        &::before {
                            width: calc(var(--ghs-unit) * 3);
                            height: calc(var(--ghs-unit) * 3);
                        }
                    }

                    img {
                        filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
                        width: 100%;
                        height: auto;
                    }

                    &.enabled {
                        img {
                            filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
                        }
                    }
                }

                .actions-container {
                    position: absolute;
                    top: calc(var(--ghs-unit) * 4.5);
                    height: calc(var(--ghs-unit) * 21);
                    width: 100%;
                    z-index: 1;
                    overflow: auto;

                    .actions {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        min-height: 100%;
                        font-size: calc(1.7em * var(--ghs-fontsize));

                        .action-container {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;


                            ghs-action {
                                width: 100%;
                                display: inline-flex;
                                cursor: pointer;
                            }

                            .divider {
                                width: 15%;
                                border-top: 0.11em var(--ghs-color-white) dotted;
                                margin: 0.2em;
                            }

                            .handle {
                                position: absolute;
                                left: -3%;
                                top: 0;
                                z-index: 2;
                                cursor: grab;
                                opacity: 0.7;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }


                &.bottom-actions {
                    height: calc(var(--ghs-unit) * 54);

                    &.character-actions {
                        overflow-x: unset;
                        overflow-y: auto;
                    }

                    .name {
                        top: 4.5%;
                        left: calc(var(--ghs-unit) * 7);
                    }

                    .initiative {
                        top: 49%;
                        left: 52.5%;
                        transform: translateX(-50%);
                        width: calc(var(--ghs-unit) * 6);
                    }

                    .card-id {
                        left: 18%;
                        bottom: 7%;
                    }

                    .actions-container {
                        top: 17%;
                        left: 10.6%;
                        width: 78.3%;
                        height: 30%;
                        min-height: 30%;

                        &.bottom {
                            top: 59%;
                        }

                    }

                    .required-container {
                        display: flex;
                        z-index: 3;
                        position: absolute;
                        bottom: 49%;
                        height: 6%;
                        right: 1%;

                        &.bottom {
                            bottom: 9%;
                        }

                        a,
                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: auto;
                            margin: 0.1em;
                            filter: grayscale(0.7);
                            opacity: 0.5;

                            &:hover {
                                filter: grayscale(0);
                                opacity: 1;
                            }

                            &.enabled {
                                filter: grayscale(0);
                                opacity: 1;

                                &:hover {
                                    filter: grayscale(0.7);
                                    opacity: 0.5;
                                }
                            }

                            &.xp {
                                display: none;
                            }

                            img {
                                position: relative;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: auto;

                                &:nth-child(1) {
                                    filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
                                }

                                &:nth-child(2) {
                                    position: absolute;

                                }
                            }
                        }
                    }

                    .level {
                        position: absolute;
                        top: 11%;
                        left: 45%;
                        width: 10%;
                        height: 6%;
                        font-size: 1.2em;
                        font-family: ghs-title;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--ghs-ability-color);
                        mask-image: url('~src/assets/images/level.svg');
                        mask-size: 115% 170%;
                        mask-repeat: no-repeat;
                        mask-position: 60% 66%;

                        .text {
                            background: inherit;
                            background-clip: text;
                            color: transparent;
                            filter: invert(1) grayscale(1) contrast(100);
                            font-family: var(--ghs-font-title);
                            text-align: center;
                            font-size: 1em;

                            &:hover {
                                border: none !important;
                            }
                        }

                    }

                    .index {
                        left: 58%;
                    }

                }

                &.fh {

                    &.character-actions,
                    &.bottom-actions {
                        .level {
                            top: 5%;
                            left: 5%;
                            background: none;
                            mask: none;

                            .text {
                                color: var(--ghs-color-black);
                                filter: none;
                            }
                        }

                        .card-id {
                            left: 10%;
                            bottom: 5%;
                        }


                        .required-container {

                            &.bottom {
                                bottom: 5%;
                            }

                            .xp {
                                display: flex;
                                justify-content: flex-end;
                                font-size: 1em;
                                background-color: var(--ghs-color-white);
                                mask-image: url('~src/assets/images/experience.svg');
                                mask-size: 100% 100%;
                                position: relative;
                                width: 3.5em;
                                margin-left: -1em;

                                input {
                                    position: absolute;
                                    width: 2em;
                                    font-size: 1em;
                                    font-family: var(--ghs-font-title);
                                    background-color: transparent;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }

            ghs-ability {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
        }
    }
}