.round-dialog {
  display: flex;
  flex-direction: column;
  font-family: var(--ghs-font-title);
  color: var(--ghs-color-gray);
  text-shadow: var(--ghs-outline);

  .menu {
    display: flex;
    flex-direction: column;
    padding: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    align-items: center;
    gap: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    ghs-number-input {
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }
  }

  .title {
    display: block;
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    text-align: center;
    margin: 0;
  }

  p.hint {
    font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
    color: var(--ghs-color-disabled);
    text-shadow: none;
    text-align: center;
    margin: 0;
  }

  .empty {
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    color: var(--ghs-color-disabled);
    text-shadow: none;
  }
}
