.objective {
  position: relative;
  z-index: 1;
  height: 100%;
  width: calc(var(--ghs-unit) * 98);
  height: calc(var(--ghs-unit) * 14);
  background-color: var(--ghs-color-green);
  background-image: url('~src/assets/images/character/char-mat.png'), url('~src/assets/images/character/char-mat.png');
  background-blend-mode: multiply, overlay;
  background-size: 100% 100%;
  display: flex;
  border-radius: calc(var(--ghs-unit) * 0.5);
  transition: background-color 150ms ease-in-out, background-image 150ms ease-in-out, background-blend-mode 150ms ease-in-out;

  &.escort {
    background-color: var(--ghs-color-red);
  }

  .title,
  .conditions,
  .image-container,
  .icon-container {
    transition: filter 150ms ease-in-out;
  }

  &.off {
    background-color: var(--ghs-color-gray);
    background-image: url('~src/assets/images/character/char-mat.png');
    background-blend-mode: multiply;

    .title,
    .image-container,
    .icon-container {
      filter: grayscale(100%);
    }
  }

  ghs-character-initiative {
    margin-right: calc(var(--ghs-unit) * 1);
  }

  ghs-highlight-conditions {
    z-index: 5;
    position: absolute;
    left: calc(var(--ghs-unit) * 6);
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--ghs-unit) * 9.5);
  }

  .entity-menu-container {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .drag-initiative {
    position: absolute;
    top: 0;
    left: calc(var(--ghs-unit) * 6);
    width: calc(var(--ghs-unit) * 9.5);
    height: 100%;
    z-index: 4;

    &.dragging {
      left: 0;
      width: 100%;
    }
  }

  .stats {
    height: 100%;
    display: flex;
    flex-basis: 100%;
    cursor: pointer;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &.col-1 {
        width: calc(var(--ghs-unit) * 24);
        overflow: visible;
      }

      &.col-2 {
        width: calc(var(--ghs-unit) * 8);
        justify-content: space-evenly;
      }
    }

    .title-container {
      display: flex;
      align-items: center;
      overflow: visible;

      ghs-entity-index-key {
        margin-left: calc(var(--ghs-unit) * 1);
      }

      .actions {
        position: relative;
        display: flex;
        margin-left: calc(var(--ghs-unit) * 0.5);
        font-size: calc(var(--ghs-unit) * 2);

        .action {
          position: relative;
          margin-left: calc(var(--ghs-unit) * 0.5);

          &:hover {
            transform: translate(50%, 50%) scale(2);
            transform-origin: center center;
            z-index: 999;

            &::before {
              content: ' ';
              position: absolute;
              top: calc(var(--ghs-unit) * -1);
              left: calc(var(--ghs-unit) * -1);
              right: calc(var(--ghs-unit) * -1);
              bottom: calc(var(--ghs-unit) * -1);
              background-color: var(--ghs-color-darkgray);
              opacity: 0.5;
              border-radius: calc(var(--ghs-unit) * 1);
            }
          }

          .action-overlay {
            position: absolute;
            z-index: 1;
            top: calc(var(--ghs-unit) * 1);
            left: calc(var(--ghs-unit) * -0.5);
          }
        }
      }
    }

    .title {
      pointer-events: none;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3.5);
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);
      display: flex;
      align-items: center;
      white-space: nowrap;

      img.icon {
        height: calc(var(--ghs-unit) * 5);
        width: auto;
        margin-left: calc(var(--ghs-unit) * -1);
        margin-right: calc(var(--ghs-unit) * 0.5);
      }
    }

    .status-bar {
      display: flex;
      align-items: center;
      z-index: 2;
      touch-action: none;
    }

    .health {
      display: flex;
      align-items: center;
      font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);
      width: calc(var(--ghs-unit) * 11 * var(--ghs-text-factor));

      img {
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        width: auto;

        &.damage {
          filter: var(--ghs-filter-red) brightness(0.7) var(--ghs-filter-outline-thin-black);
        }
      }

      .value-overlay {
        z-index: 1000;
      }
    }

    .icon-container {
      height: 100%;
      width: calc(var(--ghs-unit) * 12);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: calc(var(--ghs-unit) * 4);

      img {
        height: calc(var(--ghs-unit) * 8);
        width: auto;
      }
    }
  }


  .actions-container {
    display: flex;
    margin: calc(var(--ghs-unit) * 1.5) 0;
    margin-left: calc(var(--ghs-unit) * 1);
    position: relative;
    overflow: auto;

    .actions {
      position: relative;
      width: calc(var(--ghs-unit) * 28);
      display: flex;
      justify-content: center;
      font-size: calc(var(--ghs-unit) * 2.5);
    }

    .bottom-spacer {
      display: block;
      position: relative;
      margin-top: 2em;
    }
  }

  ghs-interactive-actions {
    position: absolute;
    font-size: calc(var(--ghs-unit) * 1.5);
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 999;
    border-bottom-left-radius: calc(var(--ghs-unit) * 0.5);
    border-bottom-right-radius: calc(var(--ghs-unit) * 0.5);
    overflow: hidden;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--ghs-unit) * 9.5);
    height: calc(var(--ghs-unit) * 9.5);
    margin: calc(var(--ghs-unit) * 2.1) calc(var(--ghs-unit) * 3.4);
    margin-left: calc(var(--ghs-unit) * 6);
    margin-right: calc(var(--ghs-unit) * 1);
    cursor: pointer;
    border-radius: calc(var(--ghs-unit) * 1);
    flex-shrink: 0;

    .objective-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--ghs-unit) * 9.5);
      height: calc(var(--ghs-unit) * 9.5);
      border-radius: 100%;
      background-color: var(--ghs-color-darkgray);
      background: radial-gradient(circle, var(--ghs-color-black) 0%, var(--ghs-color-darkgray) 70%, var(--ghs-color-gray) 100%);


      img {
        height: calc(var(--ghs-unit) * 8);
        width: auto;
      }
    }

    .map-marker {
      font-size: calc(var(--ghs-unit) * 6.5);
    }

    .objective-marker {
      position: absolute;
      bottom: calc(var(--ghs-unit) * -1);
      right: calc(var(--ghs-unit) * -1);
      font-size: calc(var(--ghs-unit) * 2.1);
      z-index: 1;
    }
  }

  .markers {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
    padding: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

    .marker {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
      background-color: var(--ghs-color-darkgray);
      border-radius: 100%;
      height: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
      margin-right: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
      border-width: calc(var(--ghs-unit) * 0.4);
      border-style: solid;
      border-color: var(--ghs-color-gray);

      img {
        width: calc(var(--ghs-unit) * 2.7 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 2.7 * var(--ghs-text-factor));
      }
    }
  }

  .conditions {
    position: relative;
    display: flex;

    .condition {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: calc(var(--ghs-unit) * -0.5 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
      overflow: visible;

      img {
        width: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
        margin: 0;

        &.stack {
          margin-left: calc(var(--ghs-unit) * -2 * var(--ghs-text-factor));
        }
      }

      &.condition-overlay {
        position: absolute;
        width: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3.8 * var(--ghs-text-factor));
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
      }

      .value {
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
        line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
        color: var(--ghs-color-white);
        position: absolute;
        top: calc(var(--ghs-unit) * 2.1 * var(--ghs-text-factor));
        left: 50%;
        text-shadow: none;
        transform: translateX(-50%);
      }

      &:hover {
        transform: scale(2);
        transform-origin: center center;
        z-index: 999;
      }
    }
  }


  .add-entity {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
  }

  .add-entity-button {
    position: relative;
    display: flex;
    width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor));
    color: var(--ghs-color-gray);
    filter: var(--ghs-filter-gray);
    stroke: var(--ghs-color-black);
    stroke-width: calc(var(--ghs-unit) * 1.5);

    &:hover {
      color: var(--ghs-color-white);
      filter: var(--ghs-filter-white);
    }
  }

  &.denied {
    .drag-initiative {
      pointer-events: initial;
    }
  }

  &.short {
    width: calc(var(--ghs-unit) * 57);
    height: calc(var(--ghs-unit) * 28);
    background-image: url('~src/assets/images/character/char-mat-short.png'), url('~src/assets/images/character/char-mat-short.png');


    .image-container {
      margin: 0;
      margin-top: calc(var(--ghs-unit) * 2.3);
      margin-left: calc(var(--ghs-unit) * 2.4)
    }

    ghs-character-initiative {
      height: calc(var(--ghs-unit) * 14);
      margin-top: calc(var(--ghs-unit) * 1);
      margin-left: calc(var(--ghs-unit) * 1);
    }

    .stats {
      position: absolute;
      left: calc(var(--ghs-unit) * 6);
      right: calc(var(--ghs-unit) * 2);
      height: calc(var(--ghs-unit) * 26.5);
      flex-wrap: wrap;

      .column.col-1 {
        margin-left: calc(var(--ghs-unit) * 12);
        width: 100%;
        max-width: initial;
        height: calc(var(--ghs-unit) * 13);
      }

      .icon-container {
        height: auto;
        margin-right: calc(var(--ghs-unit) * 1.3);
      }
    }

  }

  &.compact {
    height: calc(var(--ghs-unit) * 10.25);
    background-image: url('~src/assets/images/character/char-mat_compact.png'), url('~src/assets/images/character/char-mat_compact.png');

    .drag-initiative {
      position: absolute;
      top: calc(var(--ghs-unit) * 2.5);
      left: calc(var(--ghs-unit) * 6.5);
      width: calc(var(--ghs-unit) * 5);
      height: calc(var(--ghs-unit) * 5);
    }


    .image-container {
      width: calc(var(--ghs-unit) * 6.5);
      height: calc(var(--ghs-unit) * 6.5);

      .objective-icon {
        width: calc(var(--ghs-unit) * 6.5);
        height: calc(var(--ghs-unit) * 6.5);


        img {
          height: calc(var(--ghs-unit) * 8);
          width: auto;
        }
      }

      .map-marker {
        font-size: calc(var(--ghs-unit) * 5.2);
      }

      .objective-marker {
        font-size: calc(var(--ghs-unit) * 1.8);
      }
    }

    .stats {

      .add-entity {
        margin-right: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
      }

      .icon-container {
        display: none;
      }
    }
  }
}

.entities-container {
  position: relative;
  z-index: 2;
  display: flex;
  transition: max-height 1000ms ease-out;
  max-height: 100%;
  max-width: calc(var(--ghs-unit) * 96);
  margin-top: calc(var(--ghs-unit) * 0.25 * var(--ghs-text-factor));

  &.empty {
    max-height: 0;
  }

  .spacer {
    flex: none;
    width: calc(var(--ghs-unit) * 17.5);
    min-height: 100%;
  }

  .entities-menu {
    cursor: pointer;
    position: relative;
    display: block;
    width: auto;
    height: calc(var(--ghs-unit) * 8.5);
    margin-right: calc(var(--ghs-unit) * 1);

    img.menu {
      position: absolute;
      top: 50%;
      left: calc(var(--ghs-unit) * -4);
      transform: translateY(-50%);
      opacity: 0.5;
      width: calc(var(--ghs-unit) * 3.7 * var(--ghs-text-factor));
      height: auto;
      filter: var(--ghs-filter-darkgray);
      opacity: 0.5;
    }

    &:not(.empty) {
      opacity: 1;
      transform: translate(0%, 0%);
    }

    &.empty {
      opacity: 0;
      height: 0;
      max-width: 0;
      transform: translate(0%, 100%);
    }

    &.disabled {
      cursor: initial;
      pointer-events: none;

      img.menu {
        display: none;
      }
    }

    &:hover {
      img.icon {
        opacity: 0.5;
      }

      img.menu {
        opacity: 1;
      }
    }
  }

  .entities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(var(--ghs-unit) * 77.5);

    ghs-standee {
      margin-top: calc(var(--ghs-unit) * 0.5);
      transition: all 1000ms ease-out;
    }
  }
}