.button {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ghs-title';
  color: var(--ghs-color-white);
  font-size: calc(var(--ghs-unit) * 3 * var(--ghs-small-text-factor) * var(--ghs-barsize));

  &:hover {
    color: var(--ghs-color-gray);
  }
}

.party-sheet-dialog {

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(var(--ghs-unit) * 62 * var(--ghs-dialog-factor));

    .campaign-toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      img {
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }

      &:hover {
        color: var(--ghs-color-gray);

        img {
          filter: var(--ghs-filter-gray);
        }
      }
    }

    .title {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

      justify-content: center;

      label {
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        width: auto;
      }

    }

    .columns {
      display: flex;

      .column {
        display: flex;
        flex-direction: column;
      }
    }

    .row {
      display: flex;
    }

    label {
      display: flex;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));

      img {
        width: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
        height: auto;
        margin: 0 calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
      }

      &.headline {
        width: 100%;
        justify-content: center;
      }
    }

    .checkbox {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
      border: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
      border-radius: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
      box-shadow: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor)) var(--ghs-color-gray);


      &::before {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor));
        clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
        background-color: var(--ghs-color-black);
        transform: scale(0);
        transform-origin: top left;
        transition: 120ms transform ease-in-out;
        z-index: 1;
      }

      &.checked::before {
        transform: scale(1) translate(-50%, -50%);
      }

      &.check {
        width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        box-shadow: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor)) var(--ghs-color-gray);
      }

      &.check::before {
        left: 0;
        top: calc(var(--ghs-unit) * -0.6 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform-origin: bottom left;
      }

      &.checked.check::before {
        transform: scale(1);
      }

      &.highlight {
        background-color: var(--ghs-color-gray);
      }

      &.disabled {
        pointer-events: none;
      }
    }


    .achievements {
      display: flex;
      flex-direction: column;
      height: calc(var(--ghs-unit) * 27 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    }


    input[type="text"] {
      margin: 0;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      border-bottom-width: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
      border-bottom-style: solid;
      border-bottom-color: var(--ghs-color-gray);
      user-select: auto;
      font-family: 'ghs-text';
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    }

    input[type="number"] {
      margin: 0;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      user-select: auto;
      font-family: 'ghs-text';
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    }

    textarea {
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      user-select: auto;
      font-family: 'ghs-text';
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      width: 100%;
      height: 100%;
    }

    .sheet {
      width: calc(var(--ghs-unit) * 62 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 76 * var(--ghs-dialog-factor));
      background-image: url('~src/assets/images/party/party-sheet.svg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: calc(var(--ghs-unit) * 1.2 * var(--ghs-dialog-factor));

      .columns {

        .column {

          &.column-left {
            width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));
          }

          &.column-right {
            margin-left: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 17 * var(--ghs-dialog-factor));
          }
        }
      }

      .title .headline {
        flex-grow: 1;
      }

      .name {
        display: flex;
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        margin-top: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      }

      .location {
        display: flex;
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        margin-top: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
      }

      .notes {
        display: flex;
        flex-direction: column;
        height: calc(var(--ghs-unit) * 25 * var(--ghs-dialog-factor));
        margin-top: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      }

      .reputation,
      .shop {
        display: flex;
        flex-direction: column;

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 5.6 * var(--ghs-dialog-factor));
          font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }

        &.reputation {
          .grid {
            margin-top: calc(var(--ghs-unit) * 0.01 * var(--ghs-dialog-factor));
            display: grid;
            grid-template-columns: repeat(2, calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor)));

            .key,
            .value {
              display: flex;
              justify-content: center;
              position: relative;
              font-family: 'ghs-normal';
              height: calc(var(--ghs-unit) * 1.635 * var(--ghs-dialog-factor));
              font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
              line-height: calc(var(--ghs-unit) * 2.1 * var(--ghs-dialog-factor));
            }

            .value {
              cursor: pointer;

              &.checked::before {
                content: ' ';
                position: absolute;
                top: 0;
                left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
                width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
                height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
                clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
                background-color: var(--ghs-color-black);
                z-index: 1;
              }
            }
          }
        }

        &.shop {
          margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

          .table {
            display: flex;
            flex-direction: column;

            .value {
              font-family: 'ghs-title';
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
              width: 100%;
              height: calc(var(--ghs-unit) * 6.5 * var(--ghs-dialog-factor));

              &:nth-child(1) {
                height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
              }

              &:nth-child(6) {
                height: calc(var(--ghs-unit) * 8.5 * var(--ghs-dialog-factor));
              }

              &:nth-child(11) {
                height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
              }

              &.active {
                color: var(--ghs-color-yellow);
              }
            }
          }
        }
      }

      .column-right {
        position: relative;

        .columns {
          z-index: 1;
        }

        &::before {
          content: " ";
          position: absolute;
          top: 0;
          height: calc(var(--ghs-unit) * 73 * var(--ghs-dialog-factor));
          width: calc(var(--ghs-unit) * 14 * var(--ghs-dialog-factor));
          left: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
          background: linear-gradient(transparent 0%, var(--ghs-color-darkgray) 100%);
          opacity: 0.2;
          z-index: 0;
        }
      }

      .import-export {

        display: flex;
        justify-content: center;

        label {
          cursor: pointer;

          span {
            display: none;
          }

          input[type="file"] {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            visibility: hidden;
          }

          &.error {
            animation: shake .5s linear;
            color: var(--ghs-color-red) !important;
          }
        }
      }

    }

    &.campaign {
      width: calc(var(--ghs-unit) * 72 * var(--ghs-dialog-factor));
      max-width: 100%;
    }

    .campaign {

      width: calc(var(--ghs-unit) * 72 * var(--ghs-dialog-factor));
      max-width: 100%;

      .title {
        justify-content: space-between;
      }

      .campaign-mode {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

        .checkbox {
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }
      }

      .scenarios {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 30vh;

        .scenario {
          width: 100%;
          display: grid;
          grid-template-columns: 0.1fr 0.3fr 2fr 0.3fr;
          text-align: left;
          width: calc(var(--ghs-unit) * 70 * var(--ghs-dialog-factor));
          max-width: 100%;
          padding: 0 calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
          border-bottom: calc(var(--ghs-unit) * 0.05 * var(--ghs-dialog-factor)) solid var(--ghs-color-gray);


          &.header {
            font-weight: bold;
            border-bottom: none;

            &.legend {
              position: fixed;
              background-color: var(--ghs-color-white);
              z-index: 1;
              padding: 0 calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            }
          }


          &:nth-child(2) {
            margin-top: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
          }

          .span {
            grid-column: 1 / span 4;
            text-align: center;
          }

          .blocked {
            text-decoration: line-through;

            img {
              filter: var(--ghs-filter-red);
            }
          }

          &.seperator {
            border-bottom: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
          }

          img {
            height: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
          }

          span {
            display: flex;
            align-items: center;
          }

          span:nth-child(4) {
            justify-content: center;
          }

          .toggle-manual {
            cursor: pointer;
            display: flex;
            align-items: center;

            img.manual {
              height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            }

            img.remove {
              filter: var(--ghs-filter-red);
              display: none;
            }

            &:hover {
              img.remove {
                display: inline-block;
              }

              img.manual {
                display: none;
              }
            }

          }

          .toggle-success {
            cursor: pointer;

            img.remove {
              filter: var(--ghs-filter-red);
              display: none;
            }

            &:hover {
              img.remove {
                display: inline-block;
              }

              img.success {
                display: none;
              }
            }
          }

          .add-success {
            position: relative;
            cursor: pointer;
            border: calc(var(--ghs-unit) * 0.05 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);

            display: flex;
            justify-content: center;
            align-items: center;


            width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

            img {
              display: none;
              position: absolute;
            }

            &:hover {
              img {
                display: inline-block;
              }
            }
          }
        }
      }

      .prosperity {
        display: flex;
        width: calc(var(--ghs-unit) * 70 * var(--ghs-dialog-factor));
        max-width: 100%;
        height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
        margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

        .level {
          font-family: 'ghs-title';
          font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }

        .legend {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor));
          height: 100%;
          margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

          .check {
            display: flex;
            height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
            font-family: 'ghs-title';
            font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            line-height: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            margin-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
          }
        }

        .checklist {
          display: flex;
          align-items: flex-end;
          height: 100%;
          overflow: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .tick {
          display: flex;
          flex-direction: column;
          width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));
          margin-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
        }
      }
    }
  }
}