<div class="light party-sheet-dialog">
  <a class="close" (click)="close()" [title]="'close' | ghsLabel"><img src="./assets/images/close.svg"></a>
  <div class="scroll-container"
    [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.party}">
    <div class="container" [ngClass]="{'fh-container' : !campaign && fhSheet, 'campaign-container' : campaign}">
      <div class="sheet" *ngIf="!campaign && !fhSheet && !buildings" [ngClass]="{'fh-sheet' : fhSheet}">
        <div class="columns">
          <div class="column column-left">
            <div class="row title">
              <span class="campaign-toggle" (click)="campaign = true">
                <img src="./assets/images/left.svg">{{'party.campaign' | ghsLabel}}
              </span>
              <label class="headline">{{'party.sheet' | ghsLabel}}
              </label>
              <span class="spacer"></span>
              <select *ngIf="gameManager.game.parties.length > 1 && !gameManager.game.scenario" class="select-party"
                (change)="selectParty($event)" [title]="'party.change' | ghsLabel">
                <option *ngFor="let p of gameManager.game.parties" [selected]="p.id == party.id"
                  [disabled]="p.id == party.id" value="{{p.id}}">{{p.name || ('party' | ghsLabel) + ' ' + p.id}}
                </option>
              </select>
            </div>
            <div class="row name">
              <label>{{'party.name' | ghsLabel}}:</label>
              <input type="text" [value]="party.name" (change)="setName($event)"
                placeholder="{{'party.name' | ghsLabel}}">
              <ng-container *ngIf="!gameManager.game.scenario">
                <img *ngIf="gameManager.game.parties.length > 1" class="remove-party" src="./assets/images/minus.svg"
                  (click)="removeParty()" [title]="'party.remove' | ghsLabel">
                <span class="spacer"></span>
                <img class="new-party" src="./assets/images/plus.svg" (click)="newParty()"
                  [title]="'party.new' | ghsLabel">
              </ng-container>
            </div>
            <div class="row location">
              <label>{{'party.location' | ghsLabel}}:</label>
              <input type="text" [value]="party.location" (change)="setLocation($event)"
                placeholder="{{'party.location' | ghsLabel}}">
            </div>
            <div class="row notes">
              <label>{{'party.notes' | ghsLabel}}:</label>
              <textarea type="text" [value]="party.notes" (change)="setNotes($event)"
                placeholder="{{'party.notes' | ghsLabel}}"></textarea>
            </div>
            <div class="row achievements">
              <label>{{'party.achievements' | ghsLabel}}:</label>

              <div class="achievements-container">
                <div class="list">
                  <div class="achievement" *ngFor="let achievement of party.achievementsList; let i = index;">
                    <input [value]="achievement" (change)="updateAchievement($event, i)">
                    <span class="remove" (click)="removeAchievement(i)">
                      <img class="ghs-svg" src="./assets/images/close.svg"></span>
                  </div>
                </div>

                <textarea type="text" [value]="party.achievements" (change)="setAchievements($event)"
                  placeholder="{{'party.achievements' | ghsLabel}}"></textarea>
              </div>
            </div>
          </div>

          <div class="column column-right">
            <div class="columns">
              <div class="column reputation">
                <label>{{'party.reputation' | ghsLabel}}</label>
                <div class="grid">
                  <ng-container *ngFor="let reputation of [] | ghsRange:41">
                    <span class="value" (click)="setReputation(40 - reputation - 20)"
                      [ngClass]="{'checked' : party.reputation == 40 - reputation - 20}"></span>
                    <span class="key">{{40 - reputation - 20 | ghsValueSign}}</span>
                  </ng-container>
                </div>
              </div>
              <div class="column shop">
                <label>{{'party.shop' | ghsLabel}}</label>
                <div class="table">
                  <div class="value" *ngFor="let value of [] | ghsRange:11"
                    [ngClass]="{'active' : priceModifier == -5 + value}">
                    <span *ngIf="value != 5">{{-5 + value | ghsValueSign}}</span>
                    <span *ngIf="value == 5">{{'party.shop.none' | ghsLabel}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="import-export">
              <label class="export" (click)="exportParty()" title="{{'party.export' | ghsLabel}}">
                <img src="./assets/images/export.svg">
                <span>{{'party.export' | ghsLabel}}</span>
              </label>
              <label class="import" title="{{'party.import' | ghsLabel}}" (click)="ghsInputFullScreenCheck()">
                <input type="file" accept="application/json" (change)="importParty($event)" />
                <img src="./assets/images/import.svg">
                <span>{{'party.import' | ghsLabel}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="sheet fh-sheet" *ngIf="!campaign && fhSheet && !buildings">
        <div class="title">
          <label class="summer"><img src="./assets/images/fh/party/summer.svg">{{'party.campaign.sheet.summer' |
            ghsLabel}}</label>
          <label class="headline" (click)="campaign = true">
            <img src="./assets/images/left.svg">
            {{'party.campaign.sheet' | ghsLabel}}</label>
          <label class="winter">{{'party.campaign.sheet.winter' | ghsLabel}}<img
              src="./assets/images/fh/party/winter.svg"></label>
        </div>

        <div class="weeks">
          <div class="week" *ngFor="let week of [] | ghsRange:80; let index = index" ghs-drag-click
            (singleClick)="setWeek(index+1)" (doubleClick)="setWeekSection(index+1)"
            [ngClass]="{'checked': party.weeks > index, 'section': sectionsForWeekFixed(week).length > 0}">
            <div class="section" *ngFor="let section of sectionsForWeekFixed(week)">
              <img src="./assets/images/fh/party/section.svg">{{section}}
            </div>
            <div class="section manual" *ngFor="let section of sectionsForWeek(week)">
              <img src="./assets/images/fh/party/section.svg">{{section}}
              <img class="manual-icon" src="./assets/images/hint.svg">
            </div>
          </div>
        </div>

        <div class="name">
          <label>{{'party.campaign.sheet.name' | ghsLabel}}:</label>
          <input type="text" [value]="party.name" (change)="setName($event)"
            placeholder="{{'party.campaign.sheet.name' | ghsLabel}}">

          <ng-container *ngIf="!gameManager.game.scenario">
            <img *ngIf="gameManager.game.parties.length > 1" class="remove-party" src="./assets/images/minus.svg"
              (click)="removeParty()" [title]="'party.remove' | ghsLabel">
            <select *ngIf="gameManager.game.parties.length > 1 && !gameManager.game.scenario" class="select-party"
              (change)="selectParty($event)" [title]="'party.change' | ghsLabel">
              <option *ngFor="let p of gameManager.game.parties" [selected]="p.id == party.id"
                [disabled]="p.id == party.id" value="{{p.id}}">{{p.name || ('party' | ghsLabel) + ' ' + p.id}}
              </option>
            </select>
            <img class="new-party" src="./assets/images/plus.svg" (click)="newParty()" [title]="'party.new' | ghsLabel">
          </ng-container>
        </div>

        <div class="resources">
          <label>{{'party.campaign.sheet.supply' | ghsLabel}}:</label>

          <div class="resource-table">
            <div class="materials">
              <div class="resource lumber">
                <img src="./assets/images/fh/loot/lumber.svg">
                <input [value]="party.loot.lumber || 0" type="number" min="0"
                  (change)="setResource(LootType.lumber, $event)">
              </div>
              <div class="resource metal">
                <img src="./assets/images/fh/loot/metal.svg">
                <input [value]="party.loot.metal || 0" type="number" min="0"
                  (change)="setResource(LootType.metal, $event)">
              </div>
              <div class="resource hide">
                <img src="./assets/images/fh/loot/hide.svg">
                <input [value]="party.loot.hide || 0" type="number" min="0"
                  (change)="setResource(LootType.hide, $event)">
              </div>
            </div>

            <div class="herbs">
              <div class="resource arrowvine">
                <img src="./assets/images/fh/loot/arrowvine.svg">
                <input [value]="party.loot.arrowvine || 0" type="number" min="0"
                  (change)="setResource(LootType.arrowvine, $event)">
              </div>
              <div class="resource axenut">
                <img src="./assets/images/fh/loot/axenut.svg">
                <input [value]="party.loot.axenut || 0" type="number" min="0"
                  (change)="setResource(LootType.axenut, $event)">
              </div>
              <div class="resource corpsecap">
                <img src="./assets/images/fh/loot/corpsecap.svg">
                <input [value]="party.loot.corpsecap || 0" type="number" min="0"
                  (change)="setResource(LootType.corpsecap, $event)">
              </div>
              <div class="resource flamefruit">
                <img src="./assets/images/fh/loot/flamefruit.svg">
                <input [value]="party.loot.flamefruit || 0" type="number" min="0"
                  (change)="setResource(LootType.flamefruit, $event)">
              </div>
              <div class="resource rockroot">
                <img src="./assets/images/fh/loot/rockroot.svg">
                <input [value]="party.loot.rockroot || 0" type="number" min="0"
                  (change)="setResource(LootType.rockroot, $event)">
              </div>
              <div class="resource snowthistle">
                <img src="./assets/images/fh/loot/snowthistle.svg">
                <input [value]="party.loot.snowthistle || 0" type="number" min="0"
                  (change)="setResource(LootType.snowthistle, $event)">
              </div>
            </div>
          </div>
        </div>

        <div class="inspiration">
          <label>{{'party.campaign.sheet.inspiration' | ghsLabel}}:</label>
          <input type="number" [value]="party.inspiration || 0" (change)="setInspiration($event)"
            placeholder="{{'party.campaign.sheet.inspiration' | ghsLabel}}">
        </div>

        <div class="total-defense">
          <label>{{'party.campaign.sheet.totalDefense' | ghsLabel}}:</label>
          <input type="number" [value]="party.defense || 0" (change)="setTotalDefense($event)"
            placeholder="{{'party.campaign.sheet.totalDefense' | ghsLabel}}">
        </div>

        <div class="soldiers">
          <label>{{'party.campaign.sheet.soldiers' | ghsLabel}}:</label>
          <div class="soldier-table">
            <div class="line" *ngFor="let level of [] | ghsRange:4">
              <label><span class="text">{{'party.campaign.sheet.soldierLevel' |
                  ghsLabel}}</span><span>{{level+1}}</span></label>
              <div class="soldiers-line">
                <div class="soldier" *ngFor="let soldier of [] | ghsRange:(level > 0 ? 2 : 4);"
                  (click)="setSoldiers(soldier + (level > 0 ? 2 + level * 2 : 0) + 1)">
                  <img src="./assets/images/fh/party/soldier.svg">
                  <div class="check"
                    [ngClass]="{'checked' : (soldier + (level > 0 ? 2 + level * 2 : 0)) < party.soldiers}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="morale">
          <label>{{'party.campaign.sheet.morale' | ghsLabel}}</label>
          <div class="grid morale-grid">
            <ng-container *ngFor="let morale of [] | ghsRange:21">
              <span class="value" (click)="setMorale(20 - morale)"
                [ngClass]="{'checked' : party.morale == (20 - morale)}">
                <span class="key">{{20 - morale}}</span>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="defense">
          <label>{{'party.campaign.sheet.defense' | ghsLabel}}</label>
          <div class="grid defense-grid">
            <span class="section" [ngClass]="{'highlight' : party.morale > 19}">
              <img src="./assets/images/fh/party/section.svg">
              {{campaignData()?.highMorale || ''}}
              <img *ngIf="party.morale > 19" src="./assets/images/checkmark.svg">
            </span>
            <span class="value" [ngClass]="{'highlight' : party.morale > 13}">+15</span>
            <span class="value" [ngClass]="{'highlight' : party.morale < 14 && party.morale > 10}">+10</span>
            <span class="value" [ngClass]="{'highlight' : party.morale < 11 && party.morale > 7}">+5</span>
            <span class="value" [ngClass]="{'highlight' : party.morale < 8 && party.morale > 4}">0</span>
            <span class="value" [ngClass]="{'highlight' : party.morale < 5 && party.morale > 2}">-5</span>
            <span class="value" [ngClass]="{'highlight' : party.morale < 3}">-10</span>
            <span class="section" [ngClass]="{'highlight' : party.morale < 1}"><img
                src="./assets/images/fh/party/section.svg">
              {{campaignData()?.lowMorale || ''}}
              <img *ngIf="party.morale < 1" src="./assets/images/checkmark.svg">
            </span>
          </div>
        </div>


        <div class="town-guard-perks">
          <label>{{'party.campaign.sheet.townGuardPerks' | ghsLabel}}</label>
          <div class="town-guard-perks-grid">
            <ng-container *ngFor="let item of [] | ghsRange:45">
              <span class="checkmark" *ngIf="item % 3 == 0">
                <img src="./assets/images/close.svg">:</span>
              <span class="townguard-perk checkbox" [ngClass]="{'checked' : party.townGuardPerks >= item + 1}"
                (click)="setTownGuardPerks(item + 1)"></span>
            </ng-container>
          </div>
          <div class="perk-list">
            <div class="perk" *ngFor="let townGuardPerk of townGuardPerks()">
              <div class="sections">
                <div class="section" *ngFor="let section of townGuardPerk.sections"
                  [ngClass]="{'checked': party.townGuardPerkSections.indexOf(section) != -1, 'disabled' : party.townGuardPerkSections.indexOf(section) == -1 && party.townGuardPerkSections.length >= (party.townGuardPerks / 3 | ghsFloor)}"
                  ghs-drag-click (singleClick)="toggleTownGuardPerkSection(section)"
                  (doubleClick)="toggleTownGuardPerkSection(section, true)">
                  <img src="./assets/images/fh/party/section.svg"> {{section}}
                </div>
              </div>
              <ghs-perk-label [perk]="townGuardPerk.perk"></ghs-perk-label>
            </div>
          </div>


          <div class="warning" title="{{'game.attackModifiers.perks.warning' | ghsLabel}}"
            *ngIf="party.townGuardPerkSections.length > (party.townGuardPerks / 3 | ghsFloor)">
            <img class="ghs-svg" src="./assets/images/warning.svg">
            {{'game.attackModifiers.perks.warning' | ghsLabel}}
          </div>
        </div>

        <div class="campaign-stickers">
          <form class="header" (submit)="addCampaignSticker(campaignSticker)">
            <label>{{'party.campaign.sheet.campaignStickers' | ghsLabel}}</label>
            <input type="text" #campaignSticker placeholder="{{'party.campaign.sheet.campaignStickers' | ghsLabel}}">
            <img src="./assets/images/plus.svg" (click)="addCampaignSticker(campaignSticker)">
          </form>
          <div class="stickers">
            <div class="sticker" *ngFor="let sticker of party.campaignStickers">
              <span class="text" *ngIf="!campaignStickerImage(sticker)">{{sticker}}</span>
              <img *ngIf="campaignStickerImage(sticker)" class="image" [src]="campaignStickerImage(sticker)"
                [title]="sticker">
              <img class="remove" src="./assets/images/minus.svg" (click)="removeCampaignSticker(sticker)">
            </div>
          </div>
        </div>
        <label class="buildings-toggle" (click)="buildings = true"><img src="./assets/images/fh/buildings/build.svg">
          {{'party.campaign.sheet.buildings' | ghsLabel}}</label>
        <ng-container *ngIf="townGuardDeck">
          <ghs-attackmodifier-deck class="town-guard-deck" [bottom]="true" [deck]="townGuardDeck"
            (before)="beforeTownGuardDeck($event)" (after)="afterTownGuardDeck($event)"></ghs-attackmodifier-deck>
        </ng-container>
      </div>

      <span class="toggle-fh-sheet" *ngIf="!campaign && !buildings" (click)="fhSheet = !fhSheet">
        {{'party.campaign.sheet.' + (fhSheet ? 'disable': 'enable') | ghsLabel}}
      </span>

      <div class="campaign" *ngIf="campaign && !buildings">
        <div class="row title">
          <span class="campaign-toggle" (click)="campaign = false">
            <img src="./assets/images/left.svg">{{'party.sheet' | ghsLabel}}
          </span>
          <label class="headline">{{'party.campaign' | ghsLabel}}</label>
          <span class="campaign-mode" (click)="toggleCampaignMode()">
            <span class="checkbox" [ngClass]="{'checked' : party.campaignMode}"></span>{{'party.campaignMode' |
            ghsLabel}}
          </span>
        </div>

        <div class="row title">
          <label class="headline">{{'party.campaign.scenarios' | ghsLabel}}</label>

          <select (change)="changeEdition($event)">
            <option [value]="undefined" [selected]="!party.edition">{{'game.edition.all' | ghsLabel}}</option>
            <option *ngFor="let ed of gameManager.editions()" [selected]="ed == party.edition" [value]="ed">
              {{'data.edition.'
              + ed |
              ghsLabel}}</option>
          </select>
        </div>

        <div class="row scenarios">
          <div class="scenario header legend seperator">
            <span>{{'party.campaign.scenarios.index' | ghsLabel}}</span>
            <span>{{'party.campaign.scenarios.group' | ghsLabel}}</span>
            <span>{{'party.campaign.scenarios.name' | ghsLabel}}</span>
            <span>{{'party.campaign.scenarios.finished' | ghsLabel}}</span>
          </div>
          <ng-container *ngFor="let edition of scenarioEditions; let index = index;">
            <div class="scenario seperator" *ngIf="index > 0"></div>
            <div class="scenario header" *ngIf="scenarioEditions.length > 1">
              <span class="span">{{'data.edition.' + edition | ghsLabel}}</span>
            </div>
            <div class="scenario" *ngFor="let scenarioData of scenarios[edition]">
              <span>
                <ng-container *ngIf="!scenarioData.solo">
                  #<span *ngIf="maxScenario(scenarios[edition]) > 2 && scenarioData.index.length < 3">0</span><span
                    *ngIf="maxScenario(scenarios[edition]) > 1 && scenarioData.index.length < 2">0</span>{{scenarioData.index}}
                </ng-container>
                <ng-container *ngIf="scenarioData.solo">
                  <img class="ghs-svg solo" [src]="characterIcon(scenarioData.solo)" />
                </ng-container>
              </span>
              <span>
                <ng-container *ngIf="scenarioData.group">{{'data.scenario.group.' + scenarioData.group |
                  ghsLabel}}</ng-container>
              </span>
              <span [ngClass]="{'blocked' : blocked(scenarioData)}"
                [title]="blocked(scenarioData) ? ('scenario.locked' | ghsLabel) : ''">
                <img *ngIf="blocked(scenarioData)" src="./assets/images/close.svg">
                {{'data.scenario.' + scenarioData.name | ghsLabel}}
              </span>
              <span>
                <span class="spacer"></span>
                <span *ngFor="let success of [] | ghsRange:countFinished(scenarioData)">
                  <a class="toggle-success" [title]="'party.campaign.scenarios.removeSuccess' | ghsLabel"
                    (click)="removeSuccess(scenarioData)"><img class="success" src="./assets/images/check.svg"><img
                      class="remove" src="./assets/images/close.svg"></a>
                </span>
                <a class="toggle-manual" [title]="'party.campaign.scenarios.removeManual' | ghsLabel"
                  (click)="removeManual(scenarioData)" *ngIf="isManual(scenarioData)"><img class="manual"
                    src="./assets/images/hint.svg"><img class="remove" src="./assets/images/close.svg"></a>
                <span class="spacer"></span>
                <a class="add-success"
                  [title]="(blocked(scenarioData) ? 'scenario.locked' : 'party.campaign.scenarios.addSuccess') | ghsLabel"
                  (click)="addSuccess(scenarioData)" [ngClass]="{'disabled' : blocked(scenarioData)}"><img
                    src="./assets/images/check.svg"></a>
              </span>
            </div>
            <div class="scenario unlock">
              <input #unlockScenarioIndex [placeholder]="'party.campaign.scenarios.index' | ghsLabel"
                (keyup)="unlockScenarioIndex.classList.remove('error'); unlockScenarioGroup.classList.remove('error');"
                (keyup.enter)="unlockScenario(unlockScenarioIndex, unlockScenarioGroup, edition)">
              <input #unlockScenarioGroup [placeholder]="'party.campaign.scenarios.group' | ghsLabel"
                (keyup)="unlockScenarioIndex.classList.remove('error'); unlockScenarioGroup.classList.remove('error');"
                (keyup.enter)="unlockScenario(unlockScenarioIndex, unlockScenarioGroup, edition)">
              <a class="addScenario" [title]="'party.campaign.scenarios.unlock' | ghsLabel"
                (click)="unlockScenario(unlockScenarioIndex, unlockScenarioGroup, edition)">{{'party.campaign.scenarios.unlock'
                | ghsLabel}}&nbsp;<img src="./assets/images/plus.svg"></a>
            </div>
          </ng-container>
        </div>

        <div class="row">
          <div class="achievements" *ngIf="!fhSheet">
            <label>{{'party.campaign.achievements' | ghsLabel}}:</label>
            <div class="achievements-container">
              <div class="list">
                <div class="achievement" *ngFor="let achievement of party.globalAchievementsList; let i = index;">
                  <input [value]="achievement" (change)="updateGlobalAchievement($event, i)">
                  <span class="remove" (click)="removeGlobalAchievement(i)">
                    <img class="ghs-svg" src="./assets/images/close.svg"></span>
                </div>
              </div>

              <textarea type="text" [value]="party.globalAchievements" (change)="setGlobalAchievements($event)"
                placeholder="{{'party.campaign.achievements'| ghsLabel}}"></textarea>
            </div>
          </div>
          <div class="treasures">
            <label>{{'party.campaign.treasures' | ghsLabel}}:</label>

            <div class="treasure-add">
              <input min="1" #treasureIndex type="number" value="0">
              <a [ngClass]="{'disabled' : !treasureIndex.value || +treasureIndex.value < 1 || hasTreasure(treasureIndex.value,treasureEdition.value)}"
                (click)="addTreasure(treasureIndex.value, treasureEdition.value)"><img
                  src="./assets/images/plus.svg"></a>
              <select #treasureEdition [disabled]="party.edition">
                <option *ngFor="let edition of gameManager.editions()" [value]="edition"
                  [selected]="edition == party.edition">{{'data.edition.' + edition |
                  ghsLabel}}</option>
              </select>
            </div>

            <div class="treasure-list">
              <label class="treasure" (click)="removeTreasure(treasure)" *ngFor="let treasure of treasures()">
                <span class="index">{{treasure.name}}</span>
                <span class="separator">:</span>
                <span class="checkbox"><img class="check" src="./assets/images/check.svg"><img class="close"
                    src="./assets/images/close.svg"></span>
                <span class="text">
                  <span [i18n]="'data.treasures.' + treasure.edition + '.' + treasure.name"></span>
                  <span *ngIf="!party.edition">[{{'data.edition.' +
                    treasure.edition |
                    ghsLabel}}]</span>
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="prosperity">
          <div class="legend">
            <div class="level">{{'party.prosperity' | ghsLabel}}:</div>
            <div class="check" (click)="setProsperity(0)">
              <span class="checkbox checked disabled"></span><span>:</span>
            </div>
          </div>
          <div class="checklist">
            <div class="tick"
              *ngFor="let check of []|ghsRange:(prosperitySteps[prosperitySteps.length-1]+1); let index = index;"
              [autoscroll]="party.prosperity == index +1 || party.prosperity == 0 && index == 0">
              <div class="level" *ngIf="prosperitySteps.indexOf(index) != -1">{{prosperitySteps.indexOf(index) + 2}}
              </div>
              <div class="checkbox" (click)="setProsperity(index+1)"
                [ngClass]="{'checked': party.prosperity > index, 'highlight' : prosperitySteps.indexOf(index) != -1}">
              </div>
            </div>
          </div>
        </div>

        <div class="row title">
          <label>{{'party.campaign.players' | ghsLabel}}:</label>
        </div>

        <div class="row players">
          <div class="player" *ngFor="let player of party.players; let index = index;">
            <span class="index">#{{index + 1}}</span>
            <input type="text" [value]="player" (change)="changePlayer($event, index)">
            <a class="remove" (click)="removePlayer(index)"><img src="./assets/images/close.svg"></a>
          </div>
          <a class="add" (click)="party.players[party.players.length] = ''">
            <img src="./assets/images/plus.svg">
            {{'party.campaign.players.add' | ghsLabel}}
          </a>
        </div>

        <div class="row title" *ngIf="party.retirements && party.retirements.length > 0">
          <label>{{'party.campaign.retirements' | ghsLabel}}:</label>
        </div>

        <div class="row retirements" *ngIf="party.retirements && party.retirements.length > 0">
          <div class="list" [ngClass]="{'fh-sheet' : fhSheet}">
            <div class="character header legend seperator">
              <span>{{'party.campaign.retirements.player' | ghsLabel}}</span>
              <span>{{'party.campaign.retirements.character' | ghsLabel}}</span>
              <span>{{'party.campaign.retirements.class' | ghsLabel}}</span>
              <span>{{'party.campaign.retirements.level' | ghsLabel}}</span>
              <span>{{'party.campaign.retirements.perks' | ghsLabel}}</span>
              <span *ngIf="fhSheet">{{'party.campaign.retirements.masteries' | ghsLabel}}</span>
              <span></span>
            </div>
            <div class="character" *ngFor="let characterModel of party.retirements">
              <span>
                #<input [value]="characterModel.number" type="number" min="1"
                  (change)="setPlayerNumber(characterModel,$event)" (keyup)="setPlayerNumber(characterModel,$event)">
              </span>
              <span>{{characterModel.title}}</span>
              <span>{{'data.character.' + characterModel.name | ghsLabel}}</span>
              <span>{{characterModel.level}}</span>
              <span>{{characterPerks(characterModel) || '/'}}</span>
              <span *ngIf="fhSheet">
                <ng-container *ngIf="characterModel.progress">
                  <span *ngFor="let mastery of characterModel.progress.masteries">
                    <img class="success" src="./assets/images/check.svg">
                  </span>
                </ng-container>
              </span>
              <span class="reactivate" (click)="reactivateCharacter(characterModel)"
                [title]="'party.campaign.retirements.reactivate' | ghsLabel">
                <img class="ghs-svg" src="./assets/images/long-rest.svg">
              </span>
            </div>
          </div>
        </div>

        <div class="row donations" *ngIf="!fhSheet">
          <label>{{'party.campaign.donations' | ghsLabel}}:</label>
          <div class="checklist">
            <div class="tick" *ngFor="let check of []|ghsRange:10; let index = index;">
              <div class="donation">
                <div class="checkbox" (click)="setDonations(index+1)" [ngClass]="{'checked': party.donations > index}">
                </div>
                <img src="./assets/images/coin.png" />
                +10g
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="buildings" *ngIf="!campaign && buildings">
        <label class="headline" (click)="buildings = false"><img src="./assets/images/left.svg"> {{'party.sheet' |
          ghsLabel}}</label>
        <ghs-party-buildings></ghs-party-buildings>
      </div>
    </div>
  </div>
</div>