<a class="button" (click)="open()" title="{{ 'party.sheet' | ghsLabel}}">
  {{ party.name || 'party.sheet' | ghsLabel}}
</a>

<div #popup>
  <div class="party-dialog">
    <div class="sheet">
      <div class="columns">
        <div class="column column-left">
          <div class="row title">
            <label class="headline">{{'party.sheet' | ghsLabel}}</label>
          </div>
          <div class="row name">
            <label>{{'party.name' | ghsLabel}}:</label>
            <input type="text" [value]="party.name" (change)="setName($event)" (keyup)="setName($event)"
              placeholder="{{'party.name' | ghsLabel}}">
          </div>
          <div class="row location">
            <label>{{'party.location' | ghsLabel}}:</label>
            <input type="text" [value]="party.location" (change)="setLocation($event)" (keyup)="setLocation($event)"
              placeholder="{{'party.location' | ghsLabel}}">
          </div>
          <div class="row notes">
            <label>{{'party.notes' | ghsLabel}}:</label>
            <textarea type="text" [value]="party.notes" (change)="setNotes($event)" (keyup)="setNotes($event)"
              placeholder="{{'party.notes' | ghsLabel}}"></textarea>
          </div>
          <div class="row achievements">
            <label>{{'party.achievements' | ghsLabel}}:</label>
            <textarea type="text" [value]="party.achievements" (change)="setAchievements($event)"
              (keyup)="setAchievements($event)" placeholder="{{'party.achievements' | ghsLabel}}"></textarea>
          </div>
        </div>

        <div class="column column-right">
          <div class="columns">
            <div class="column reputation">
              <label>{{'party.reputation' | ghsLabel}}</label>
              <div class="grid">
                <ng-container *ngFor="let reputation of [] | ghsRange:41">
                  <span class="value" (click)="setReputation(40 - reputation - 20)"
                    [ngClass]="{'checked' : party.reputation == 40 - reputation - 20}"></span>
                  <span class="key">{{40 - reputation - 20 | ghsValueSign}}</span>
                </ng-container>
              </div>
            </div>
            <div class="column shop">
              <label>{{'party.shop' | ghsLabel}}</label>
              <div class="table">
                <div class="value" *ngFor="let value of [] | ghsRange:11" [ngClass]="{'active' : priceModifier == -5 + value}">
                  <span *ngIf="value != 5">{{-5 + value | ghsValueSign}}</span>
                  <span *ngIf="value == 5">{{'party.shop.none' | ghsLabel}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="import-export">
            <label (click)="exportParty()" title="{{'party.export' |
          ghsLabel}}"><img src="./assets/images/export.svg"><span>{{'party.export' |
                ghsLabel}}</span></label>
            <label title="{{'party.import' | ghsLabel}}">
              <input type="file" accept="application/json" (change)="importParty($event)" /><img
                src="./assets/images/import.svg"><span>{{'party.import' | ghsLabel}}</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="prosperity">
      <div class="legend">
        <div class="level">{{'party.prosperity' | ghsLabel}}:</div>
        <div class="check" (click)="setProsperity(0)">
          <span class="checkbox checked disabled"></span><span>:</span>
        </div>
      </div>
      <div class="checklist">
        <div class="tick" *ngFor="let check of []|ghsRange:64; let index = index;"
          [autoscroll]="opened && (party.prosperity == index +1 || party.prosperity == 0 && index == 0)">
          <div class="level" *ngIf="prosperitySteps.indexOf(index) != -1">{{prosperitySteps.indexOf(index) + 2}}</div>
          <div class="checkbox" (click)="setProsperity(index+1)"
            [ngClass]="{'checked': party.prosperity > index, 'highlight' : prosperitySteps.indexOf(index) != -1}"></div>
        </div>
      </div>

    </div>
  </div>
</div>