<div class="light party-sheet-dialog">
  <div class="scroll-container">
    <div class="container" [ngClass]="{'campaign-container' : campaign}">
      <div class="sheet" *ngIf="!campaign">
        <div class="columns">
          <div class="column column-left">
            <div class="row title">
              <span class="campaign-toggle" (click)="campaign = true">
                <img src="./assets/images/left.svg">{{'party.campaign' | ghsLabel}}
              </span>
              <label class="headline">{{'party.sheet' | ghsLabel}}
              </label>
              <span class="spacer"></span>
              <select *ngIf="gameManager.game.parties.length > 1 && !gameManager.game.scenario" class="select-party"
                (change)="selectParty($event)" [title]="'party.change' | ghsLabel">
                <option *ngFor="let p of gameManager.game.parties" [selected]="p.id == party.id"
                  [disabled]="p.id == party.id" value="{{p.id}}">{{p.name || ('party' | ghsLabel) + ' ' + p.id}}
                </option>
              </select>
            </div>
            <div class="row name">
              <label>{{'party.name' | ghsLabel}}:</label>
              <input type="text" [value]="party.name" (change)="setName($event)"
                placeholder="{{'party.name' | ghsLabel}}">
              <ng-container *ngIf="!gameManager.game.scenario">
                <img *ngIf="gameManager.game.parties.length > 1" class="remove-party" src="./assets/images/minus.svg"
                  (click)="removeParty()" [title]="'party.remove' | ghsLabel">
                <span class="spacer"></span>
                <img class="new-party" src="./assets/images/plus.svg" (click)="newParty()"
                  [title]="'party.new' | ghsLabel">
              </ng-container>
            </div>
            <div class="row location">
              <label>{{'party.location' | ghsLabel}}:</label>
              <input type="text" [value]="party.location" (change)="setLocation($event)"
                placeholder="{{'party.location' | ghsLabel}}">
            </div>
            <div class="row notes">
              <label>{{'party.notes' | ghsLabel}}:</label>
              <textarea type="text" [value]="party.notes" (change)="setNotes($event)"
                placeholder="{{'party.notes' | ghsLabel}}"></textarea>
            </div>
            <div class="row achievements">
              <label>{{'party.achievements' | ghsLabel}}:</label>
              <textarea type="text" [value]="party.achievements" (change)="setAchievements($event)"
                placeholder="{{'party.achievements' | ghsLabel}}"></textarea>
            </div>
          </div>

          <div class="column column-right">
            <div class="columns">
              <div class="column reputation">
                <label>{{'party.reputation' | ghsLabel}}</label>
                <div class="grid">
                  <ng-container *ngFor="let reputation of [] | ghsRange:41">
                    <span class="value" (click)="setReputation(40 - reputation - 20)"
                      [ngClass]="{'checked' : party.reputation == 40 - reputation - 20}"></span>
                    <span class="key">{{40 - reputation - 20 | ghsValueSign}}</span>
                  </ng-container>
                </div>
              </div>
              <div class="column shop">
                <label>{{'party.shop' | ghsLabel}}</label>
                <div class="table">
                  <div class="value" *ngFor="let value of [] | ghsRange:11"
                    [ngClass]="{'active' : priceModifier == -5 + value}">
                    <span *ngIf="value != 5">{{-5 + value | ghsValueSign}}</span>
                    <span *ngIf="value == 5">{{'party.shop.none' | ghsLabel}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="import-export">
              <label (click)="exportParty()" title="{{'party.export' |
          ghsLabel}}"><img src="./assets/images/export.svg"><span>{{'party.export' |
                  ghsLabel}}</span></label>
              <label title="{{'party.import' | ghsLabel}}">
                <input type="file" accept="application/json" (change)="importParty($event)" /><img
                  src="./assets/images/import.svg"><span>{{'party.import' | ghsLabel}}</span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="campaign" *ngIf="campaign">
        <div class="row title">
          <span class="campaign-toggle" (click)="campaign = false">
            <img src="./assets/images/left.svg">{{'party.sheet' | ghsLabel}}
          </span>
          <label class="headline">{{'party.campaign' | ghsLabel}}</label>
          <span class="campaign-mode" (click)="toggleCampaignMode()">
            <span class="checkbox" [ngClass]="{'checked' : party.campaignMode}"></span>{{'party.campaignMode' |
            ghsLabel}}
          </span>
        </div>

        <div class="row title">
          <label class="headline">{{'party.campaign.scenarios' | ghsLabel}}</label>

          <select (change)="changeEdition($event)">
            <option [value]="undefined" [selected]="!party.edition">{{'game.edition.all' | ghsLabel}}</option>
            <option *ngFor="let ed of gameManager.editions()" [selected]="ed == party.edition" [value]="ed">
              {{'data.edition.'
              + ed |
              ghsLabel}}</option>
          </select>
        </div>
        <div class="row scenarios">
          <div class="scenario header legend seperator">
            <span>{{'party.campaign.scenarios.index' | ghsLabel}}</span>
            <span>{{'party.campaign.scenarios.group' | ghsLabel}}</span>
            <span>{{'party.campaign.scenarios.name' | ghsLabel}}</span>
            <span>{{'party.campaign.scenarios.finished' | ghsLabel}}</span>
          </div>
          <ng-container *ngFor="let edition of scenarioEditions; let index = index;">
            <div class="scenario seperator" *ngIf="index > 0"></div>
            <div class="scenario header" *ngIf="scenarioEditions.length > 1">
              <span class="span">{{'data.edition.' + edition | ghsLabel}}</span>
            </div>
            <div class="scenario" *ngFor="let scenarioData of scenarios[edition]">

              <span>
                <ng-container *ngIf="!scenarioData.solo">
                  #<span *ngIf="maxScenario(scenarios[edition]) > 2 && scenarioData.index.length < 3">0</span><span
                    *ngIf="maxScenario(scenarios[edition]) > 1 && scenarioData.index.length < 2">0</span>{{scenarioData.index}}
                </ng-container>
                <ng-container *ngIf="scenarioData.solo">
                  <img class="ghs-svg solo" [src]="characterIcon(scenarioData.solo)" />
                </ng-container>
              </span>
              <span>
                <ng-container *ngIf="scenarioData.group">{{'data.scenario.group.' + scenarioData.group |
                  ghsLabel}}</ng-container>
              </span>
              <span [ngClass]="{'blocked' : blocked(scenarioData)}"
                [title]="blocked(scenarioData) ? ('scenario.locked' | ghsLabel) : ''">
                <img *ngIf="blocked(scenarioData)" src="./assets/images/close.svg">
                {{'data.scenario.' + scenarioData.name | ghsLabel}}
              </span>
              <span>
                <span class="spacer"></span>
                <span *ngFor="let success of [] | ghsRange:countFinished(scenarioData)">
                  <a class="toggle-success" [title]="'party.campaign.scenarios.removeSuccess' | ghsLabel"
                    (click)="removeSuccess(scenarioData)"><img class="success" src="./assets/images/check.svg"><img
                      class="remove" src="./assets/images/close.svg"></a>
                </span>
                <a class="toggle-manual" [title]="'party.campaign.scenarios.removeManual' | ghsLabel"
                  (click)="removeManual(scenarioData)" *ngIf="isManual(scenarioData)"><img class="manual"
                    src="./assets/images/hint.svg"><img class="remove" src="./assets/images/close.svg"></a>
                <span class="spacer"></span>
                <a class="add-success"
                  [title]="(blocked(scenarioData) ? 'scenario.locked' : 'party.campaign.scenarios.addSuccess') | ghsLabel"
                  (click)="addSuccess(scenarioData)" [ngClass]="{'disabled' : blocked(scenarioData)}"><img
                    src="./assets/images/check.svg"></a>
              </span>
            </div>
          </ng-container>
        </div>

        <div class="row columns">
          <div class="achievements">
            <label>{{'party.campaign.achievements' | ghsLabel}}:</label>
            <textarea type="text" [value]="party.globalAchievements" (change)="setGlobalAchievements($event)"
              placeholder="{{'party.campaign.achievements' | ghsLabel}}"></textarea>
          </div>
          <div class="treasures">
            <label>{{'party.campaign.treasures' | ghsLabel}}:</label>

            <div class="treasure-add">
              <input min="1" #treasureIndex type="number" value="0">
              <a [ngClass]="{'disabled' : !treasureIndex.value || +treasureIndex.value < 1 || hasTreasure(treasureIndex.value,treasureEdition.value)}"
                (click)="addTreasure(treasureIndex.value, treasureEdition.value)"><img
                  src="./assets/images/plus.svg"></a>
              <select #treasureEdition [disabled]="party.edition">
                <option *ngFor="let edition of gameManager.editions()" [value]="edition" [selected]="edition == party.edition">{{'data.edition.' + edition |
                  ghsLabel}}</option>
              </select>
            </div>

            <div class="treasure-list">
              <label class="treasure" (click)="removeTreasure(treasure)" *ngFor="let treasure of treasures()">
                <span class="index">{{treasure.name}}</span>
                <span class="separator">:</span>
                <span class="checkbox"><img class="check" src="./assets/images/check.svg"><img class="close"
                    src="./assets/images/close.svg"></span>
                <span class="text">
                  <span [i18n]="'data.treasures.' + treasure.edition + '.' + treasure.name"></span>
                  <span *ngIf="!party.edition">[{{'data.edition.' +
                    treasure.edition |
                    ghsLabel}}]</span>
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="prosperity">
          <div class="legend">
            <div class="level">{{'party.prosperity' | ghsLabel}}:</div>
            <div class="check" (click)="setProsperity(0)">
              <span class="checkbox checked disabled"></span><span>:</span>
            </div>
          </div>
          <div class="checklist">
            <div class="tick" *ngFor="let check of []|ghsRange:64; let index = index;"
              [autoscroll]="party.prosperity == index +1 || party.prosperity == 0 && index == 0">
              <div class="level" *ngIf="prosperitySteps.indexOf(index) != -1">{{prosperitySteps.indexOf(index) + 2}}
              </div>
              <div class="checkbox" (click)="setProsperity(index+1)"
                [ngClass]="{'checked': party.prosperity > index, 'highlight' : prosperitySteps.indexOf(index) != -1}">
              </div>
            </div>
          </div>
        </div>

        <div class="row donations">
          <label>{{'party.campaign.donations' | ghsLabel}}:</label>
          <div class="checklist">
            <div class="tick" *ngFor="let check of []|ghsRange:10; let index = index;">
              <div class="donation">
                <div class="checkbox" (click)="setDonations(index+1)" [ngClass]="{'checked': party.donations > index}">
                </div>
                <img src="./assets/images/coin.png" />
                +10g
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>