<footer>
  <div [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.round}">
    <div (click)="next()" class="round-container" [ngClass]="{'disabled' : disabled()}">
      <a>{{ (gameManager.game.state == GameState.next ?
        'round.next' : 'round.draw') | ghsLabel}} </a>
      <span class="round" *ngIf="gameManager.game.round > 0">{{gameManager.game.round}}</span>
      <span class="time">{{ currentTime }}</span>
      <span #button></span>
    </div>
  </div>
  <div class="flex-shrink"></div>
  <div class="level-container">
    <ghs-scenario></ghs-scenario>
    <ghs-level></ghs-level>
  </div>
  <div class="flex-shrink"></div>
  <div class="attack-modifier-spacer"></div>

  <ghs-attackmodifier-deck *ngIf="hasAlly()" class="ally-deck" [deck]="gameManager.game.allyAttackModifierDeck" (before)="beforeAllyAttackModifierDeck($event)" (after)="afterAllyAttackModifierDeck($event)" numeration="A" [bottom]="true"></ghs-attackmodifier-deck>

  <ghs-attackmodifier-deck class="monster-deck" [deck]="gameManager.game.monsterAttackModifierDeck" (before)="beforeMonsterAttackModifierDeck($event)" (after)="afterMonsterAttackModifierDeck($event)" numeration="m" [bottom]="true"></ghs-attackmodifier-deck>
</footer>

<div class="hint-container" #dialog>
  <div class="hint">
    <p *ngIf="empty()">{{'round.hint.empty' | ghsLabel}}</p>
    <p *ngIf="missingInitative()">{{'round.hint.missingInitative' | ghsLabel}} </p>
    <p *ngIf="active()">{{'round.hint.active' | ghsLabel}}</p>
    <a *ngIf="active()" (click)="next(true)">{{'round.hint.confirm' |
      ghsLabel}}</a>
    <a *ngIf="active()" (click)="confirmTurns()">{{'round.hint.confirmTurns' |
      ghsLabel}}</a>
    <p *ngIf="finish()">{{'round.hint.finish' | ghsLabel}}</p>
    <a *ngIf="finish()" (click)="finishScenario(true)">{{'round.hint.confirmFinish' |
      ghsLabel}}</a>
    <p *ngIf="failed()">{{'round.hint.failed' | ghsLabel}}</p>
    <a *ngIf="failed()" (click)="finishScenario(false)">{{'round.hint.confirmFailed' |
      ghsLabel}}</a>
      <a *ngIf="failed()" (click)="resetScenario()">{{'round.hint.confirmReset' |
        ghsLabel}}</a>
    <a *ngIf="finish() || failed()" (click)="confirmTurns()">{{(gameManager.game.state == GameState.next ?
      'round.hint.continueNext' : 'round.hint.continueDraw') |
      ghsLabel}}</a>
  </div>
</div>