footer {
  height: calc(var(--ghs-unit) * 11 * var(--ghs-text-factor) * var(--ghs-barsize));
  display: flex;
  position: relative;

  .flex-shrink {
    flex-basis: 100%;
    flex-shrink: 1;
  }

  .attack-modifier-spacer {
    height: 100%;
    width: calc(var(--ghs-unit) * 38 * var(--ghs-text-factor) * var(--ghs-barsize));
    flex-shrink: 0;
  }

  .deck {
    transition: transform 500ms ease-in-out;

    &:before {
      content: ' ';
      position: absolute;
      top: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor) * var(--ghs-barsize));
      left: calc(var(--ghs-unit) * -2.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      bottom: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor) * var(--ghs-barsize));
      right: calc(var(--ghs-unit) * -5 * var(--ghs-text-factor) * var(--ghs-barsize));
      border: calc(var(--ghs-unit) * 0.3 * var(--ghs-text-factor) * var(--ghs-barsize)) solid var(--ghs-color-gray);
      background-color: var(--ghs-color-darkgray);
      border-radius: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    &.initial {
      transform: translateX(59%);
    }

    &.partial {
      transform: translateX(17%);
    }

    &.full {
      transform: none;
    }

    &.collapsed {
      transform: translateX(100%);
    }

    .active-toggle {
      cursor: pointer;
      position: absolute;
      left: calc(var(--ghs-unit) * -5 * var(--ghs-text-factor) * var(--ghs-barsize));
      top: 50%;
      width: 13%;
      height: 50%;
      z-index: 1;

      transition: transform 500ms ease-in-out;
      transform: translateY(-50%) scale(1);

      &.inactive {
        transform: translateY(-50%) scale(1.3);
      }

      &:hover {
        filter: brightness(0.7) grayscale(0.3);
      }

      &:active,
      &:focus {
        filter: none;
      }

      .numeration {
        font-family: "ghs-title";
        display: flex;
        justify-content: center;
        position: absolute;
        color: var(--ghs-color-white);
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor) * var(--ghs-barsize));
        line-height: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor) * var(--ghs-barsize));
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url('~src/assets/images/attackmodifier/am-character-icon.png');

        img {
          height: 60%;
          width: auto;
          align-self: center;
        }
      }
    }
  }

  .ally-deck {
    position: fixed;
    right: 0;
    width: calc(var(--ghs-unit) * 37.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor) * var(--ghs-barsize));
    bottom: calc(var(--ghs-unit) * 15 * var(--ghs-text-factor) * var(--ghs-barsize));
    z-index: 1;
  }

  .monster-deck,
  .ally-deck.no-monster-deck {
    position: fixed;
    right: 0;
    width: calc(var(--ghs-unit) * 37.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor) * var(--ghs-barsize));
    bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    z-index: 2;
  }

  .loot-deck,
  .challenge-deck {
    position: fixed;
    left: 0;
    width: calc(var(--ghs-unit) * 37.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor) * var(--ghs-barsize));
    bottom: calc(var(--ghs-unit) * 12.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    z-index: 2;

    &::before {
      right: calc(var(--ghs-unit) * -2.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      left: calc(var(--ghs-unit) * -5 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    &.initial {
      transform: translateX(-59%);
    }

    &.partial {
      transform: translateX(-17%);
    }

    &.full {
      transform: none;
    }

    &.collapsed {
      transform: translateX(-100%);
    }

    .active-toggle {
      left: initial;
      right: calc(var(--ghs-unit) * -5 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    &.challenge-deck {
      width: calc(var(--ghs-unit) * 50 * var(--ghs-text-factor) * var(--ghs-barsize));
      bottom: calc(var(--ghs-unit) * 36.5 * var(--ghs-text-factor) * var(--ghs-barsize));

      &.initial {
        transform: translateX(-69.5%);
      }

      &.partial {
        transform: translateX(-37.5%);
      }

      &.partial-2 {
        transform: translateX(-17%);
      }

      &.full {
        transform: none;
      }

      &.collapsed {
        transform: translateX(-100%);
      }

      .active-toggle {
        width: 10%;
        height: 50%;
      }

    }
  }

  ghs-attackmodifier-deck,
  ghs-loot-deck {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~src/assets/images/bar.jpg');
    background-size: 100% 105%;
    background-position: bottom right;
    background-repeat: no-repeat;
    transform: scale(-1);
    z-index: -1;
  }

  &.fh::before {
    background-image: url('~src/assets/images/fh/bar.jpg');
  }

  &.modern::before {
    background-image: url('~src/assets/images/modern/dialog_background_modern.png');
  }

  &.bb::before {
    background-image: url('~src/assets/images/bb/bar.jpg');
  }

  &.modern::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background: linear-gradient(90deg, var(--ghs-color-darkgray) 0%, var(--ghs-color-white) 35%, var(--ghs-color-white) 65%, var(--ghs-color-darkgray) 100%);
    opacity: 0.2;
  }

  .round-container {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--ghs-unit) * 15 * var(--ghs-text-factor) * var(--ghs-barsize));
    word-wrap: break-word;
    text-align: center;

    a {
      font-family: var(--ghs-font-title);
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      line-height: calc(var(--ghs-unit) * 3.4 * var(--ghs-text-factor) * var(--ghs-barsize));
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 11 * var(--ghs-text-factor) * var(--ghs-barsize));
      width: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    .time {
      font-family: var(--ghs-font-title);
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      position: absolute;
      font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    .round {
      display: flex;
      align-items: center;
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      position: absolute;
      font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      left: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor) * var(--ghs-barsize));
      bottom: 0;

      .total-rounds {
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      }
    }

    &:hover {

      a,
      .round {
        color: var(--ghs-color-white);
      }
    }

    &.disabled {
      cursor: help;
    }

  }

  ghs-scenario-rules {
    position: absolute;
    left: 50%;
    bottom: calc(var(--ghs-unit) * 11 * var(--ghs-text-factor) * var(--ghs-barsize));
    transform: translateX(-50%);
    z-index: 3;
  }

  .level-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    max-width: calc(100% - (var(--ghs-unit) * 15 * var(--ghs-text-factor) * var(--ghs-barsize)) - (var(--ghs-unit) * 38 * var(--ghs-text-factor) * var(--ghs-barsize)));

    ghs-scenario {
      height: 100%;
    }

    ghs-level {
      height: 100%;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor) * var(--ghs-barsize));
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

  }
}



footer.compact {

  .attack-modifier-spacer {
    display: none;
  }

  .ally-deck {
    bottom: calc(var(--ghs-unit) * 26 * var(--ghs-text-factor) * var(--ghs-barsize));
  }

  .monster-deck,
  .ally-deck.no-monster-deck {
    bottom: calc(var(--ghs-unit) * 12.5 * var(--ghs-text-factor) * var(--ghs-barsize));
  }

  ghs-scenario-rules {
    width: 100%;
  }

  .level-container {
    --ghs-text-factor: 1.6;
    max-width: initial;
    flex-grow: 1;
    max-width: calc(100% - (var(--ghs-unit) * 12.5 * var(--ghs-text-factor) * var(--ghs-barsize)));
  }

  .flex-shrink {
    flex-basis: 0;
  }
}