footer {
  height: calc(var(--ghs-unit) * 14 * var(--ghs-text-factor) * var(--ghs-barsize));
  padding-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor) * var(--ghs-barsize));
  display: flex;
  overflow: unset;
  position: relative;

  .flex-shrink {
    flex-basis: 100%;
    flex-shrink: 1;
  }

  .attack-modifier-spacer {
    height: 100%;
    width: calc(var(--ghs-unit) * 37 * var(--ghs-text-factor) * var(--ghs-barsize));
    flex-shrink: 0;
  }

  &::before {
    content: ' ';
    width: 100%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-image: url('~src/assets/images/footer.png');
    background-position: top;
    position: absolute;
    height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    top: 0;
  }

  .round-container {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--ghs-unit) * 15 * var(--ghs-text-factor) * var(--ghs-barsize));
    word-wrap: break-word;
    text-align: center;

    a {
      font-family: 'ghs-title';
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      font-size: calc(var(--ghs-unit) * 3.7 * var(--ghs-text-factor) * var(--ghs-barsize));
      line-height: calc(var(--ghs-unit) * 3.7 * var(--ghs-text-factor) * var(--ghs-barsize));
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor) * var(--ghs-barsize));
      width: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor) * var(--ghs-barsize));
      margin-left: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    .time {
      font-family: 'ghs-title';
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      position: absolute;
      font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    .round {
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      position: absolute;
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor) * var(--ghs-barsize));
      left: calc(var(--ghs-unit) * 13.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    &:hover {

      a,
      .round {
        color: var(--ghs-color-white);
      }
    }

    &.disabled {
      cursor: help;

      a {
        text-shadow: none;
        font-weight: bold;
        color: var(--ghs-color-darkgray);
      }

      .time {
        text-shadow: none;
        color: var(--ghs-color-darkgray);
      }

      .round {
        text-shadow: none;
        color: var(--ghs-color-darkgray);
      }
    }

  }

}

.level-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hint-container {

  font-family: 'ghs-text';

  .hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));

    p {
      margin: 0;
      padding: 0;
      color: var(--ghs-color-gray);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    }

    a {
      cursor: pointer;
      margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
      color: var(--ghs-color-gray);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));

      &:hover {
        color: var(--ghs-color-white);
      }
    }
  }
}