<footer [ngClass]="settingsManager.settings.theme">
  <div [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.round}">
    <div #nextButton (click)="next()" class="round-container" [ngClass]="{'disabled' : disabled()}">
      <a>{{ (gameManager.game.state == GameState.next ?
        'round.next' : 'round.draw') | ghsLabel}} </a>
      <span class="round" *ngIf="gameManager.game.round > 0">{{gameManager.game.round}}</span>
      <span class="time">{{ currentTime }}</span>
      <span #button></span>
    </div>
  </div>
  <div class="flex-shrink"></div>
  <div class="level-container">
    <ghs-scenario-rules *ngIf="settingsManager.settings.scenarioRules"></ghs-scenario-rules>
    <ghs-scenario></ghs-scenario>
    <ghs-level></ghs-level>
  </div>
  <div class="flex-shrink"></div>
  <div class="attack-modifier-spacer"></div>

  <div class="loot-toggle" [ngClass]="{'fh' : settingsManager.settings.fhStyle}"
    *ngIf="lootDeck || settingsManager.settings.alwaysLootDeck">
    <a (click)="toggleLootDeck()"><img *ngIf="!gameManager.game.lootDeck.active" class="ghs-svg"
        [src]=" './assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/loot.svg'">
      <img *ngIf="gameManager.game.lootDeck.active" [src]="'./assets/images/attackmodifier/icon.png'"></a>
  </div>

  <ghs-attackmodifier-deck *ngIf="hasAllyAttackModifierDeck && !gameManager.game.lootDeck.active" class="ally-deck"
    [deck]="gameManager.game.allyAttackModifierDeck" (before)="beforeAllyAttackModifierDeck($event)"
    (after)="afterAllyAttackModifierDeck($event)" numeration="A" [bottom]="true"></ghs-attackmodifier-deck>

  <ghs-attackmodifier-deck *ngIf="!gameManager.game.lootDeck.active" class="monster-deck"
    [deck]="gameManager.game.monsterAttackModifierDeck" (before)="beforeMonsterAttackModifierDeck($event)"
    (after)="afterMonsterAttackModifierDeck($event)" numeration="m" [bottom]="true"></ghs-attackmodifier-deck>

  <ghs-loot-deck *ngIf="gameManager.game.lootDeck.active" class="loot-deck" [deck]="gameManager.game.lootDeck"
    [bottom]="true"></ghs-loot-deck>

</footer>