<div class="event-effects-dialog">
  <div class="header">
    <div class="name">
      <img class="ghs-svg" [src]="'./assets/images/event' + (menu ? '-effects' : '') + '.svg'"> <span [ghs-label]="'scenario.eventEffects' + (menu ? '.hint' : 
    '')"></span>
    </div>
    <div class="text" *ngIf="!menu">
      <span [ghs-label]="'scenario.eventEffects.hint'"></span>
    </div>

    <div class="characters">
      <a class="character" *ngFor="let character of characters" (click)="toggleCharacter(character)"
        [ngClass]="{'inactive' : activeCharacters.indexOf(character) == -1}">
        <img class="icon" [src]="character.iconUrl">
        <img class="absent" src="./assets/images/status/absent.svg" *ngIf="character.absent">
      </a>
    </div>
  </div>

  <div class="scroll-container container">

    <div class="entity-container" *ngIf="gameManager.game.scenario">

      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeHealth(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-label]="'game.health'" [ghs-label-attribute]="'title'">
        <img src="./assets/images/status/health.svg" />
        <span class="badge"
          [ngClass]="{'negative-value' : minHealth() < 0, 'positive-value' : maxHealth() > 0}">{{(minHealth() < 0 ?
            minHealth() : maxHealth()) | ghsValueSign}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeHealth(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>

      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeBless(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-label]="'game.bless'" [ghs-label-attribute]="'title'">
        <img src="./assets/images/status/bless.svg" />
        <span class="badge" [ngClass]="{'negative-value' : bless < 0, 'positive-value' : bless > 0}">{{bless |
            ghsValueSign}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeBless(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>

      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeCurse(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-label]="'game.curse'" [ghs-label-attribute]="'title'">
        <img src="./assets/images/status/curse.svg" />
        <span class="badge" [ngClass]="{'negative-value' : curse < 0, 'positive-value' : curse > 0}">{{curse |
            ghsValueSign}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeCurse(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
    </div>

    <ghs-conditions [entities]="activeCharacters" [entityConditions]="entityConditions" [immunities]="newImmunities"
      [type]="'character'" (change)="changeConditions($event)" *ngIf="gameManager.game.scenario"></ghs-conditions>

    <div class="entity-container">
      <span class="progress"><span [ghs-label]="'scenario.eventEffects.progress'"></span></span>

      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeExperience(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-label]="'game.experience'" [ghs-label-attribute]="'title'">
        <img src="./assets/images/status/experience.svg" />
        <span class="badge"
          [ngClass]="{'negative-value' : minExperience() < 0, 'positive-value' : maxExperience() > 0}">{{(minExperience()
          < 0 ? minExperience() : maxExperience()) | ghsValueSign}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeExperience(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>

      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeGold(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-label]="'game.character.progress.gold'" [ghs-label-attribute]="'title'">
        <img class="gold" src="./assets/images/loot.svg" />
        <span class="badge"
          [ngClass]="{'negative-value' : minGold() < 0, 'positive-value' : maxGold() > 0}">{{(minGold() < 0 ?
              minGold() : maxGold()) | ghsValueSign}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeGold(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>

      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeBattleGoals(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-label]="'game.character.progress.battleGoals'" [ghs-label-attribute]="'title'">
        <input type="checkbox" disabled="true" checked="true">
        <span class="badge"
          [ngClass]="{'negative-value' : minBattleGoals() < 0, 'positive-value' : maxBattleGoals() > 0}">{{(minBattleGoals()
              < 0 ? minBattleGoals() : maxBattleGoals()) | ghsValueSign}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" (singleClick)="changeBattleGoals(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
    </div>
  </div>
</div>