<div class="entities-menu-dialog scroll-container">

  @if (!!figure && (!!entity || objectiveOnly)) {
  <span class="migrate" (click)="openEntityMenu()" [ghs-tooltip]="'entities.migrate.old'" [originX]="'start'"
    [overlayX]="'end'" [originY]="'top'" [overlayY]="'bottom'"><img src="./assets/images/switch.svg" /></span>
  }

  @if (entityIndexKey && !!entity) {
  <ghs-entity-index-key [entity]="entity" [show]="true"></ghs-entity-index-key>
  }

  @if (!figure || filter) {
  <div class="filter">
    @for (f of filters; track f) {
    <a tabclick (click)="setFilter(f)" [ngClass]="{'active': filter == f}"
      [ghs-label]="'entities.filter.' + (f ? f : 'all')"></a>
    }
  </div>
  }

  <div class="figures">
    @for(f of figures | trackUUID; track f._trackUUID;) {
    <div class="figure" [ngClass]="{'full' : !!figure}">
      @if (gameManager.isCharacter(f)) {
      @let character = gameManager.toCharacter(f);
      @if(!!figure) {
      <span class="name" [ngClass]="{'small': !!entity && gameManager.isSummon(entity)}">
        <span class="spacer"></span>
        <img tabclick (click)="markerHelper.toggleCharacterMarker()" class="icon character-icon"
          [src]="character.iconUrl" />
        <span class="character-title"
          [ngClass]="{'absent' : character.absent}">{{gameManager.characterManager.characterName(character,true)}}</span>
        <span class="spacer"></span>
        @if (!bb && !!entity && gameManager.isCharacter(entity)) {
        @let character = gameManager.toCharacter(entity);
        <img class="absent" [src]="'./assets/images/status/' + (character.absent ? 'absent': 'present') + '.svg'"
          [ghs-tooltip]="(character.absent ? 'character.present' : 'character.absent')" tabclick
          (click)="characterHelper.toggleAbsent()">
        }
      </span>
      }

      @if(!!entity && gameManager.isSummon(entity)) {
      @let summon = gameManager.toSummon(entity);
      <span class="name full">
        @if (summon.title) {
        <span>{{summon.title}}&nbsp;</span>
        }
        @if (summon.name) {
        <span>@if (summon.title) {
          <span>(</span>
          }
          <span [ghs-label]="'data.summon.' + summon.name"></span>
          @if (summon.title) {
          <span>)</span>
          }</span>
        }
        @if (!summon.name) {
        <span><span [ghs-label]="'game.summon'"></span></span>
        }
        <span class="summon-icon" [ngClass]="{'fh': summon.color == SummonColor.fh}">
          @if (summon.color != SummonColor.fh) {
          <img [src]="'./assets/images/summons/' + summon.color + '.png'">
          }
          <span class="summon-number">{{summon.number}}</span>
        </span>
      </span>
      }

      <div class="entities">
        @if (!figure) {
        <div class="entity" tabclick (click)="toggleEntity(character)"
          [ngClass]="{'inactive' : !entities.includes(character)}">
          <img class="icon character-icon" [src]="character.iconUrl" />
        </div>
        }
        @if (!entity) {
        @for (entity of character.summons | trackUUID; track entity._trackUUID;) {
        @let summon = gameManager.toSummon(entity);
        <div class="entity" tabclick (click)="toggleEntity(entity)"
          [ngClass]="{'inactive' : !entities.includes(entity)}">
          <span class="summon-image"
            [ngClass]="{'active' : summon.state == SummonState.true, 'new' : summon.state == SummonState.new, 'center' : (summon.entityConditions.length % 2) == 0}">
            @if (summon.color != SummonColor.fh || !settingsManager.settings.artwork || !summon.thumbnail ||
            summon.noThumbnail) {
            <img [src]="'./assets/images/summons/' + summon.color + '.png'">
            }
            @if (settingsManager.settings.artwork && (summon.thumbnail || summon.thumbnailUrl) && !summon.noThumbnail) {
            <img
              [src]="summon.thumbnailUrl ? summon.thumbnailUrl : './assets/images/summons/thumbnail/' + summon.thumbnail + '.png'">
            }
            <span class="summon-number">
              @if (summon.number == 0) {
              <span>-</span>
              }
              @if (summon.number > 0) {
              <span>{{summon.number}}</span>
              }</span>
          </span>
        </div>
        }
        }
      </div>
      }

      @if (gameManager.isMonster(f)) {
      @let monster = gameManager.toMonster(f);

      <div class="name" [ngClass]="{'change-entity': !!entity && gameManager.isMonsterEntity(entity)}" tabclick
        (click)="monsterHelper.changeMonsterEntity()">
        @if (!monster.noThumbnail && settingsManager.settings.artwork) {
        <img class="standee" [src]="gameManager.monsterManager.monsterThumbnail(monster)" />
        }
        @if (monster.noThumbnail || !settingsManager.settings.artwork || !!figure) {
        <span [ghs-label]="'data.monster.' + monster.name"></span>&nbsp;
        }
        @if (monster.isAlly) {
        <span class="ally"><span [ghs-label]="'game.ally'"></span>&nbsp;</span>
        }
        @if (monster.isAllied) {
        <span class="allied"><span [ghs-label]="'game.allied'"></span>&nbsp;</span>
        }

        @if (!!entity && gameManager.isMonsterEntity(entity)) {
        @let monsterEntity = gameManager.toMonsterEntity(entity);
        <span class="standee-number"
          [ngClass]="monsterEntity.type + (bb ? ' bb-' + monsterEntity.number : '') ">#{{monsterEntity.number}}</span>
        }
      </div>

      @if (!entity) {
      <div class="entities">
        @for (entity of monster.entities | trackUUID; track entity._trackUUID;) {
        @let monsterEntity = gameManager.toMonsterEntity(entity);
        <div class="entity {{monsterEntity.type}}" tabclick (click)="toggleEntity(entity)"
          [ngClass]="{'inactive' : !entities.includes(entity)}">{{entity.number}}</div>
        }
      </div>
      }
      }

      @if (gameManager.isObjectiveContainer(f)) {
      @let objective = gameManager.toObjectiveContainer(f);

      <div class="name">
        <img class="icon" [src]="'./assets/images/objective/' + (objective.escort ? 'escort' : 'objective') + '.svg'" />
        @if (objective.title) {
        <span>{{
          objective.title}}</span>
        }
        @if (!objective.title && objective.name) {
        <span [ghs-label]="'data.objective.' + objective.name"></span>
        }
        @if (!objective.title && !objective.name) {
        <span [ghs-label]="objective.escort ? 'escort' : 'objective'"></span>
        }
        @if (objective.title) {
        <span>
          &nbsp;(
          <span [ghs-label]="objective.escort ? 'escort' : 'objective'"></span>
          )
        </span>
        }
      </div>

      @if (!entity && !objectiveOnly) {
      <div class="entities">
        @for (entity of objective.entities | trackUUID; track entity._trackUUID;) {
        @let objectiveEntity = gameManager.toObjectiveEntity(entity);
        <div class="entity" tabclick (click)="toggleEntity(entity)"
          [ngClass]="{'inactive' : !entities.includes(entity)}">
          <span class="objective-marker">
            {{objectiveEntity.number}}
          </span>
        </div>
        }
      </div>
      }
      }
    </div>
    }
  </div>


  <div class="container">
    <div class="entity-container">
      @if (!objectiveOnly) {
      @for (actionHint of actionHints | trackUUID; track actionHint._trackUUID) {
      <div class="action-hint">
        <ghs-action [action]="actionHint" [highlight]="settingsManager.settings.statAnimations"></ghs-action>
      </div>
      }

      <!-- HP -->
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="healthHelper.changeHealth(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-tooltip]="'game.health'">
        @if (!!entity) {
        <span class="badge badge-left">{{entity.health + health | ghsMinZero}}</span>
        }
        <img src="./assets/images/status/health.svg" />
        <span class="badge badge-right health-count"
          [value-sign]="!!entity && (entity.health + health) >= EntityValueFunction(entity.maxHealth) ? maxHealth : health"
          [hideEmpty]="true"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="healthHelper.changeHealth(1)" [repeat]="true"
          [ngClass]="{'disabled' : !!entity && (entity.health + health) == (Math.max(EntityValueFunction(entity.maxHealth), specialTags.includes('unbridled-power') ? 26 : 0) + maxHealth)}">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- XP -->
      @if (!bb && !!entity && gameManager.isCharacter(entity)) {
      @let character = gameManager.toCharacter(entity);
      <span class="item">
        <ghs-pointer-input class="button" [ngClass]="{'disabled' : character.experience + experience == 0}" tabclick
          (singleClick)="experience-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-tooltip]="'game.experience'">
        <span class="badge badge-left">{{character.experience + experience}}</span>
        <img src="./assets/images/status/experience.svg" />
        <span class="badge badge-right" [value-sign]="experience" [hideEmpty]="true"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="experience+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>


      <!-- LOOT -->
      @if (!bb && (!settingsManager.settings.lootDeck || !settingsManager.settings.alwaysLootDeck &&
      !gameManager.fhRules()) &&
      !settingsManager.settings.hideCharacterLoot) {
      <span class="item">
        <ghs-pointer-input class="button" [ngClass]="{'disabled' : character.loot + loot == 0}" tabclick
          (singleClick)="loot-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-tooltip]="'game.loot'">
        <span class="badge badge-left">{{character.loot + loot}}</span>
        <img src="./assets/images/status/loot.svg" />
        <span class="badge badge-right" [value-sign]="loot" [hideEmpty]="true"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="loot+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- CHARACTER TOKEN -->
      @if (!bb) {
      <span class="item">
        <ghs-pointer-input class="button" [ngClass]="{'disabled' : character.token + characterToken == 0}" tabclick
          (singleClick)="characterToken-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item character-token" [ghs-tooltip]="'character.token'">
        <span class="badge badge-left">{{character.token + characterToken}}</span>
        <span [ghs-label]="'%data.characterToken.' + character.name + '%'"></span>
        <span class="badge badge-right" [value-sign]="characterToken" [hideEmpty]="true"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="characterToken+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>

      @for (token of character.tokens; track token; let i = $index) {
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : character.tokenValues[i] + characterTokenValues[i] == 0}" tabclick
          (singleClick)="characterTokenValues[i]-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item character-token"
        [ghs-tooltip]="'data.character.' + character.edition + '.' + character.name + '.tokens.' + token">
        <span class="badge badge-left">{{character.tokenValues[i] +
          characterTokenValues[i]}}</span>
        <span [ghs-label]="'%data.characterToken.' + character.name + '.' + token + '%'"></span>
        <span class="badge badge-right" [value-sign]="characterTokenValues[i]" [hideEmpty]="true"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="characterTokenValues[i]+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }
      }
      }

      <!-- BLESS -->
      @if (!bb && (!figure || !gameManager.isObjectiveContainer(figure) ||
      gameManager.toObjectiveContainer(figure).escort &&
      gameManager.toObjectiveContainer(figure).amDeck)) {
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : blessMin >= 0 && blessMin + bless * entities.length == 0 || entityImmunities.includes(ConditionName.bless)}"
          tabclick (singleClick)="bless-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <span class="badge badge-left bless-count">{{(blessMin >= 0 ? blessMin : 0) +
          bless * entities.length | ghsMinZero}}</span>
        <span class="condition" [ghs-tooltip]="'game.condition.bless.hint'" [originX]="'center'" [overlayX]="'center'"
          [originY]="'top'" [overlayY]="'bottom'"
          [ngClass]="{'immunity disabled' : entityImmunities.includes(ConditionName.bless)}">
          <img src="./assets/images/status/bless.svg" />
        </span>
        <span class="badge badge-right" [value-sign]="bless" [hideEmpty]="true"></span>
        @if (gameManager.attackModifierManager.countUpcomingBlesses() + bless > 10) {
        <span class="badge badge-center badge-warning">
          <img src="./assets/images/warning.svg" />
        </span>
        }
      </span>
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : gameManager.attackModifierManager.countUpcomingBlesses() + bless * entities.length >= 10 || entityImmunities.includes(ConditionName.bless)}"
          tabclick (singleClick)="bless+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>

      <!-- CURSE -->
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : curseMin >= 0 && curseMin + curse * entities.length == 0 || entityImmunities.includes(ConditionName.curse)}"
          tabclick (singleClick)="curse-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <span class="badge badge-left curse-count">{{(curseMin >= 0 ? curseMin : 0) +
          curse * entities.length | ghsMinZero}}</span>
        <span class="condition" [ghs-tooltip]="'game.condition.curse.hint'" [originX]="'center'" [overlayX]="'center'"
          [originY]="'top'" [overlayY]="'bottom'"
          [ngClass]="{'immunity disabled' : entityImmunities.includes(ConditionName.curse)}">
          <img src="./assets/images/status/curse.svg" />
        </span>
        <span class="badge badge-right" [value-sign]="curse" [hideEmpty]="true"></span>
        @if (gameManager.attackModifierManager.countUpcomingCurses(isMonster) + curse > 10) {
        <span class="badge badge-center badge-warning">
          <img src="./assets/images/warning.svg" />
        </span>
        }
      </span>
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : (!!figure ? gameManager.attackModifierManager.countUpcomingCurses(isMonster) : 0) + curse * entities.length >= 10 || entityImmunities.includes(ConditionName.curse)}"
          tabclick (singleClick)="curse+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- EMPOWER -->
      @if (empowerEnabled) {
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : empowerMin >= 0 && empowerMin + empower == 0 || entityImmunities.includes(ConditionName.empower)}"
          tabclick (singleClick)="!empowerChar ? amHelper.selectAdditionalAM(AttackModifierType.empower) : empower-=1"
          [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <span class="badge badge-left empower-count">{{(empowerMin >= 0 ? empowerMin : 0) +
          empower * entities.length | ghsMinZero}}</span>
        <span class="condition" [ghs-tooltip]="'game.condition.empower.hint'" [originX]="'center'" [overlayX]="'center'"
          [originY]="'top'" [overlayY]="'bottom'"
          [ngClass]="{'immunity disabled' : entityImmunities.includes(ConditionName.empower)}">
          <img src="./assets/images/status/empower.svg" />
        </span>
        <span class="badge badge-right" [value-sign]="empower" [hideEmpty]="true"></span>
        @if (!empowerChar) {
        <span (click)="amHelper.selectAdditionalAM(AttackModifierType.empower)"
          class="badge badge-center badge-warning">
          <img src="./assets/images/warning.svg" />
        </span>
        }
        @if (!!empowerChar) {
        <span class="badge badge-character-icon"
          (click)="empowerChars.length > 1 && amHelper.selectAdditionalAM(AttackModifierType.empower)">
          <img [src]="empowerChar.iconUrl" />
        </span>
        }
      </span>
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : empowerChar && empower >= empowerMax || entityImmunities.includes(ConditionName.empower)}"
          tabclick (singleClick)="!empowerChar ? amHelper.selectAdditionalAM(AttackModifierType.empower) : empower+=1"
          [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- ENFEEBLE -->
      @if (enfeebleEnabled) {
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : enfeebleMin >= 0 && enfeebleMin + enfeeble == 0 || entityImmunities.includes(ConditionName.enfeeble)}"
          tabclick
          (singleClick)="!enfeebleChar ? amHelper.selectAdditionalAM(AttackModifierType.enfeeble) : enfeeble-=1"
          [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <span class="badge badge-left enfeeble-count">{{(enfeebleMin >= 0 ? enfeebleMin : 0) +
          enfeeble * entities.length | ghsMinZero}}</span>
        <span class="condition" [ghs-tooltip]="'game.condition.enfeeble.hint'" [originX]="'center'"
          [overlayX]="'center'" [originY]="'top'" [overlayY]="'bottom'"
          [ngClass]="{'immunity disabled' : entityImmunities.includes(ConditionName.enfeeble)}">
          <img src="./assets/images/status/enfeeble.svg" />
        </span>
        <span class="badge badge-right" [value-sign]="enfeeble" [hideEmpty]="true"></span>
        @if (!enfeebleChar) {
        <span (click)="amHelper.selectAdditionalAM(AttackModifierType.enfeeble)"
          class="badge badge-center badge-warning">
          <img src="./assets/images/warning.svg" />
        </span>
        }
        @if (!!enfeebleChar) {
        <span class="badge badge-character-icon"
          (click)="enfeebleChars.length > 1 && amHelper.selectAdditionalAM(AttackModifierType.enfeeble)">
          <img [src]="enfeebleChar.iconUrl" />
        </span>
        }
      </span>
      <span class="item">
        <ghs-pointer-input class="button"
          [ngClass]="{'disabled' : enfeebleChar && enfeeble >= enfeebleMax || entityImmunities.includes(ConditionName.enfeeble)}"
          tabclick
          (singleClick)="!enfeebleChar ? amHelper.selectAdditionalAM(AttackModifierType.enfeeble) : enfeeble+=1"
          [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- TRACK DAMAGE (objectives with 0 max health but trackDamage) -->
      @if (!!entity && gameManager.isObjectiveEntity(entity) && EntityValueFunction(entity.maxHealth) == 0 &&
      objectiveData && objectiveData.trackDamage) {
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="health-=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item" [ghs-tooltip]="'game.health'">
        <span class="badge badge-left">{{entity.health + health | ghsMinZero}}</span>
        <img class="damage" src="./assets/images/action/damage.svg" />
        <span class="badge badge-right health-count" [value-sign]="health" [hideEmpty]="true" [invert]="true"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="health+=1" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- OBJECTIVE ENTITY ID -->
      @if (!!entity && gameManager.isObjectiveEntity(entity)) {
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="objectiveHelper.changeId(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/left.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <span class="objective-marker">{{(gameManager.toObjectiveEntity(entity).number + objectiveId)}}</span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="objectiveHelper.changeId(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/right.svg">
        </ghs-pointer-input>
      </span>
      }

      <!-- OBJECTIVE MARKER -->
      @if (!!figure && gameManager.isObjectiveContainer(figure)) {
      @let objective = gameManager.toObjectiveContainer(figure);
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="objectiveHelper.changeMarker(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/left.svg">
        </ghs-pointer-input>
      </span>
      @if (!entity || !gameManager.isObjectiveEntity(entity)) {
      <span class="item">
        <span class="map-marker" [ngClass]="{'empty' : !OBJECTIV_MARKERS[(objectiveMarker +
          OBJECTIV_MARKERS.indexOf(objective.marker)) % OBJECTIV_MARKERS.length]}">{{OBJECTIV_MARKERS[(objectiveMarker
          +
          OBJECTIV_MARKERS.indexOf(objective.marker)) %
          OBJECTIV_MARKERS.length]}}</span>
      </span>
      }
      @if (!!entity && gameManager.isObjectiveEntity(entity)) {
      @let objectiveEntity = gameManager.toObjectiveEntity(entity);
      <span class="item">
        <span class="map-marker"
          [ngClass]="{'empty' : !OBJECTIV_MARKERS[(objectiveMarker +
          OBJECTIV_MARKERS.indexOf(objectiveEntity.marker)) % OBJECTIV_MARKERS.length]}">{{OBJECTIV_MARKERS[(objectiveMarker
          +
          OBJECTIV_MARKERS.indexOf(objectiveEntity.marker)) %
          OBJECTIV_MARKERS.length]}}</span>
      </span>
      }
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="objectiveHelper.changeMarker(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/right.svg">
        </ghs-pointer-input>
      </span>
      }

      @if (!!entity && gameManager.isSummon(entity)) {
      @let summon = gameManager.toSummon(entity);
      <div class="summon-stats-container">
        <span class="stat" tabclick (click)="characterHelper.openLevelDialog()">
          <img class="ghs-svg" src="./assets/images/action/move.svg" />
          <span [value-calc]="summon.movement" [empty]="true">></span>
        </span>
        <span class="stat" tabclick (click)="characterHelper.openLevelDialog()">
          <img class="ghs-svg" src="./assets/images/action/attack.svg" />
          @if (summon.attack != 0) {
          <span [ghs-label]="'' + summon.attack"></span>
          }
          @if (summon.attack == 0) {
          <span>-</span>
          }
        </span>
        <span class="stat" tabclick (click)="characterHelper.openLevelDialog()">
          <img class="ghs-svg" src="./assets/images/action/range.svg" />
          <span [value-calc]="summon.range" [empty]="true">></span>
        </span>
        @if (summon.action) {
        <span class="action">
          <ghs-action [action]="summon.action"></ghs-action>
        </span>
        }
        @if (summon.additionalAction) {
        <span class="action">
          <ghs-action [action]="summon.additionalAction"></ghs-action>
        </span>
        }
      </div>
      }

      @if (!objectiveOnly) {
      <!-- DEAD -->
      <span class="item" [ghs-tooltip]="'game.' + (!!entity && gameManager.isCharacter(entity) ? 'exhausted' : 'dead')"
        [ngClass]="{'active': !!entity && gameManager.isCharacter(entity) && gameManager.toCharacter(entity).exhausted}">
        <a class="button" tabclick (click)="healthHelper.toggleDeadExhausted()">
          <img class="ghs-svg"
            [src]="'./assets/images/status/' + (!!entity && gameManager.isCharacter(entity) ? 'exhausted' : 'dead') + '.svg'" />
        </a>
      </span>

      <!-- Max HP -->
      <span class="item max-health-container">
        <ghs-pointer-input class="button" tabclick (singleClick)="healthHelper.changeMaxHealth(-1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
        @if (!!entity) {
        <span class="badge badge-left">{{EntityValueFunction(entity.maxHealth) +
          maxHealth}}/{{EntityValueFunction(entity.maxHealth) + maxHealth}}</span>
        }
        <img src="./assets/images/status/health.svg" [ghs-tooltip]="'game.maxHealth'" />
        <span class="badge badge-right health-count" [value-sign]="maxHealth" [hideEmpty]="true"></span>
        <ghs-pointer-input class="button" tabclick (singleClick)="healthHelper.changeMaxHealth(1)" [repeat]="true">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>


      <!-- MARKER -->
      @if (!bb) {
      <div class="marker-container">

        @if (catching) {
        <span class="item level-button" [ghs-tooltip]="'data.buildings.stables.pets.catch'">
          <ghs-pointer-input class="button" tabclick (singleClick)="monsterHelper.catchMonster()"
            (doubleClick)="monsterHelper.catchMonster(true)"
            [ngClass]="{'disabled soft' : catchingDisabled || !!entity && entity.health + health > 2}">
            <img class="ghs-svg" src="./assets/images/fh/catching.svg" />
          </ghs-pointer-input>
        </span>
        }

        @if (!!entity && gameManager.isCharacter(entity)) {
        <span class="item level-button" [ghs-tooltip]="'game.level'">
          <a class="button" tabclick (click)="characterHelper.openLevelDialog()">
            {{entity.level}} <img src="./assets/images/status/level.svg" />
          </a>
        </span>
        }

        @if (!!figure && gameManager.isMonster(figure) && !!entity && gameManager.isMonsterEntity(entity) &&
        EntityValueFunction(entity.maxHealth) > 0) {
        @let monster= gameManager.toMonster(figure);
        @let monsterEntity = gameManager.toMonsterEntity(entity);
        <a class="summon"
          [ngClass]="{'active' : monsterEntity.summon == SummonState.true, 'new' : monsterEntity.summon == SummonState.new }"
          tabclick (click)="monsterHelper.toggleSummon()">
          <img [src]="'./assets/images/summons/' + monster.summonColor + '.png'">
        </a>
        }

        @if (!!entity && gameManager.isSummon(entity)) {
        @let summon = gameManager.toSummon(entity);
        <a class="summon"
          [ngClass]="{'active' : summon.state == SummonState.true, 'new' : summon.state == SummonState.new, 'fh':  summon.color == SummonColor.fh }"
          tabclick (click)="characterHelper.toggleSummonStatus()">
          @if (summon.color != SummonColor.fh) {
          <img [src]="'./assets/images/summons/' + summon.color + '.png'">
          }
          @if (summon.color == SummonColor.fh) {
          <span class="summon-number">
            {{summon.number }}
          </span>
          }
        </a>
        }

        @for (marker of characterMarker; track marker) {
        <span>
          <a class="item" [ngClass]="{'active' : characterMarkerToAdd.includes(marker)}"
            (click)="markerHelper.toggleMarker(marker)">
            <span class="marker">
              <img [src]="gameManager.characterManager.characterIcon(marker)" />
            </span>
          </a>
        </span>
        }
      </div>
      }
      }


      <!-- MONSTER TYPE -->
      @if (!!figure && gameManager.isMonster(figure)) {
      <span class="toggle-type" tabclick (click)="monsterHelper.toggleType()">
        <span [ghs-label]="'%game.monsterType.normal%'"></span>
        <img class="ghs-svg" src="./assets/images/switch.svg" />
        <span [ghs-label]="'%game.monsterType.elite%'"></span>
      </span>
      }
    </div>

    <!-- CONDITIONS -->
    @if (!figure || !gameManager.isObjectiveContainer(figure) || gameManager.isObjectiveContainer(figure) &&
    gameManager.toObjectiveContainer(figure).escort && !objectiveOnly) {
    <ghs-conditions [entityConditions]="entityConditions" [immunities]="entityImmunities" [entities]="entities"
      [empower]="empowerEnabled" [enfeeble]="enfeebleEnabled" [columns]="3"></ghs-conditions>
    }


    <!-- SHIELD/RETALIATE -->
    @if (shieldAndRetaliate && !objectiveOnly) {
    <div class="entity-container">
      <span class="shield-overlay">
        <span class="text-white" [ghs-label]="'%game.card.round%'"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" [ngClass]="{'disabled': !!entity && !entityShield.value }" tabclick
          (singleClick)="shieldRetaliateHelper.changeShield(-1)">
          <img class=" ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <ghs-action [action]="entityShield" [style]="'fh'"></ghs-action>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="shieldRetaliateHelper.changeShield(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      @for (realiate of entityRetaliate | trackUUID; track realiate._trackUUID; let i = $index) {
      <span class="item column">
        <ghs-pointer-input class="button" [ngClass]="{'disabled': !!entity && !realiate.value }" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliate(i,-1,0)">
          <img class=" ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
        <ghs-pointer-input class="button small" [ngClass]="{'disabled': entityRetaliateRange[i].value == 1}" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliate(i,0,-1)">
          <img class=" ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item column">
        <ghs-action class="remove-retaliate" [action]="realiate" [style]="'fh'"
          (click)="shieldRetaliateHelper.changeRetaliate(i,0,0,true)"></ghs-action>
        <ghs-action class="remove-retaliate" [action]="entityRetaliateRange[i]" [style]="'fh'"
          (click)="shieldRetaliateHelper.changeRetaliate(i,0,0,true)"></ghs-action>
        @if (i == entityRetaliate.length -1 && realiate.value) {
        <ghs-pointer-input class="button add-retaliate" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliate(entityRetaliate.length,1,0)">
          <img class="ghs-svg" src="./assets/images/select-arrow.svg">
        </ghs-pointer-input>
        }
      </span>
      <span class="item column">
        <ghs-pointer-input class="button" tabclick (singleClick)="shieldRetaliateHelper.changeRetaliate(i,1, 0)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
        <ghs-pointer-input class="button small" tabclick (singleClick)="shieldRetaliateHelper.changeRetaliate(i,0, 1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }
      <div class="separator"></div>
      <span class="shield-overlay">
        <span class="text-white" [ghs-label]="'%game.card.persistent%'"></span>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" [ngClass]="{'disabled': !!entity && !entityShieldPersistent.value }" tabclick
          (singleClick)="shieldRetaliateHelper.changeShieldPersistent(-1)">
          <img class=" ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item">
        <ghs-action [action]="entityShieldPersistent" [style]="'fh'"></ghs-action>
      </span>
      <span class="item">
        <ghs-pointer-input class="button" tabclick (singleClick)="shieldRetaliateHelper.changeShieldPersistent(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      @for (realiatePermanent of entityRetaliatePersistent | trackUUID; track realiatePermanent._trackUUID; let i =
      $index) {
      <span class="item column">
        <ghs-pointer-input class="button" [ngClass]="{'disabled': !!entity && !realiatePermanent.value }" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliatePersistent(i,-1,0)">
          <img class=" ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
        <ghs-pointer-input class="button small" [ngClass]="{'disabled': entityRetaliateRangePersistent[i].value == 1}"
          tabclick (singleClick)="shieldRetaliateHelper.changeRetaliatePersistent(i,0,-1)">
          <img class=" ghs-svg" src="./assets/images/minus.svg">
        </ghs-pointer-input>
      </span>
      <span class="item column">
        <ghs-action class="remove-retaliate" [action]="realiatePermanent" [style]="'fh'"
          (click)="shieldRetaliateHelper.changeRetaliatePersistent(i,0,0,true)"></ghs-action>
        <ghs-action class="remove-retaliate" [action]="entityRetaliateRangePersistent[i]" [style]="'fh'"
          (click)="shieldRetaliateHelper.changeRetaliatePersistent(i,0,0,true)"></ghs-action>
        @if (i == entityRetaliatePersistent.length -1 && realiatePermanent.value) {
        <ghs-pointer-input class="button add-retaliate" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliatePersistent(entityRetaliatePersistent.length,1,0)">
          <img class="ghs-svg" src="./assets/images/select-arrow.svg">
        </ghs-pointer-input>
        }
      </span>
      <span class="item column">
        <ghs-pointer-input class="button" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliatePersistent(i,1, 0)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
        <ghs-pointer-input class="button small" tabclick
          (singleClick)="shieldRetaliateHelper.changeRetaliatePersistent(i,0, 1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </ghs-pointer-input>
      </span>
      }
    </div>
    }
  </div>


  <!-- IDENTITIES/SPECIAL ACTIONS-->
  @if (!!entity && !!figure && gameManager.isCharacter(figure) && (identities.length || specialActions.length)) {
  @let character = gameManager.toCharacter(figure);
  <hr class="character-special" />

  @if (identities.length > 1) {
  <div class="identities-container">
    @for (identity of [] | ghsRange:identities.length; track identity) {
    <a class="item" (click)="characterHelper.setIdentity(identity)"
      [ghs-tooltip]="'data.character.' + character.edition + '.' + character.name + '.' +  identities[identity]"
      [ngClass]="{'deactivated': character.identity == identity}">
      <img [src]="gameManager.characterManager.characterIdentityIcon(character.name, identity)" />
    </a>
    }
  </div>
  }

  @if (specialActions.length > 0) {
  <div class="special-actions">
    @for (specialAction of specialActions | trackUUID; track
    specialAction._trackUUID) {
    @if ((!specialAction.level || specialAction.level <= character.level) && (!specialAction.perk ||
      character.progress.perks[specialAction.perk-1]==character.perks[specialAction.perk-1].count) &&
      (!specialAction.summon || specialAction.summon && gameManager.isSummon(entity))) { <div class="hint-container">
      <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg"
        [ghs-tooltip]="'data.character.' + character.edition + '.' + character.name + '.' + specialAction.name + '.hint'"
        [originX]="'center'" [overlayX]="'center'" [originY]="'top'" [overlayY]="'bottom'">
      <span class="special-action text-white" [ngClass]="{'active-tag' : specialTags.includes(specialAction.name)}"
        tabclick (click)="specialActionsHelper.applySpecialAction(specialAction)">
        <span
          [ghs-label]="'data.character.' + character.edition + '.' + character.name + '.' + specialAction.name"></span>
      </span>
  </div>
  }
  }
</div>
}
}

<!-- OBJECTIVE CONTAINER -->
@if (!!figure && gameManager.isObjectiveContainer(figure)) {
@let objective = gameManager.toObjectiveContainer(figure);
<div class="objective-container" [ngClass]="{'column': objectiveOnly || !objective.escort}">
  <input class="title" [value]="objective.title || ''" (change)="objectiveTitle = $any($event.target).value" />
  <div class="decks">
    @for (deck of amDecks; track deck) {
    <span class="deck" [ngClass]="{'active': objective.amDeck == deck}" (click)="objectiveHelper.toggleAMDeck(deck)">
      @if (deck == 'M') {
      m
      }
      @if (deck == 'A') {
      A
      }
      @if (deck != 'M' && deck != 'A') {
      <img [src]="gameManager.characterManager.characterIcon(deck)">
      }
    </span>
    }
    @if (objective.amDeck && amDecks.indexOf(objective.amDeck || '') == -1) {
    <span class="deck active warning" (click)="objectiveHelper.toggleAMDeck(objective.amDeck || '')">
      <img [src]="gameManager.characterManager.characterIcon(objective.amDeck || '')">
    </span>
    }
  </div>
</div>
}

</div>