<div class="entity-menu-dialog">

  <div class="name">
    <img *ngIf="!data.monster.noArtwork" class="standee"
      [src]="gameManager.monsterManager.monsterThumbnail(data.monster)" />
    <span [ghs-label]="'data.monster.' + data.monster.name"></span>&nbsp;
    <span class="ally" *ngIf="data.monster.isAlly"><span [ghs-label]="'game.ally'"></span>&nbsp;</span>
    <span class="allied" *ngIf="data.monster.isAllied"><span [ghs-label]="'game.allied'"></span>&nbsp;</span>
    <span class="monster-type" *ngIf="data.type" [ghs-label]="'(%game.monsterType.' +  data.type + '%)'"></span>
  </div>

  <div class="entity-container">
    <span class="item">
      <ghs-pointer-input class="button" (singleClick)="changeHealth(-1)" [repeat]="true">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </ghs-pointer-input>
    </span>
    <span class="item" [ghs-label]="'game.health'" [ghs-label-attribute]="'title'">
      <img src="./assets/images/status/health.svg" />
      <span class="badge health-count"
        [ngClass]="{'negative-value' : health < 0, 'positive-value' : health > 0}">{{health | ghsValueSign}}</span>
    </span>
    <span class="item">
      <ghs-pointer-input class="button" (singleClick)="changeHealth(1)" [repeat]="true">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </ghs-pointer-input>
    </span>

    <ghs-conditions [entityConditions]="entityConditions" [entities]="entities" [figure]="data.monster"
      [type]="'monster'"></ghs-conditions>

    <span class="item" [ghs-label]="'game.dead'" [ghs-label-attribute]="'title'">
      <a class="button" (click)="toggleDead()">
        <img src="./assets/images/status/dead.svg" />
      </a>
    </span>
  </div>

  <span class="toggle-type" *ngIf="toogleTypeAvailable" (click)="toggleType()">
    <span [ghs-label]="'%game.monsterType.normal%'"></span>
    <img class="ghs-svg" src="./assets/images/switch.svg" />
    <span [ghs-label]="'%game.monsterType.elite%'"></span>
  </span>
</div>