<div class="monster-tool">
  <div class="monster-stats">
    <h2>{{'tools.monster.stats' | ghsLabel}}</h2>

    <div class="monster-data">
      <div class="data-container" *ngIf="monsterData">

        <label>Name</label>
        <input [(ngModel)]="monsterData.name" placeholder="name">

        <label>Count</label>
        <input type="number" [(ngModel)]="monsterData.count" placeholder="count">

        <label>Edition</label>
        <input [(ngModel)]="monsterData.edition" placeholder="edition">

        <label>Boss</label>
        <input type="checkbox" [(ngModel)]="monsterData.boss" placeholder="boss" (change)="updateType()">
      </div>

      <div class="base" *ngIf="monsterData">
        <label>Base Stats</label>
        <ghs-monster-stat-tool [stat]="monsterData.baseStat" (statChange)="basicStatChange($event)"></ghs-monster-stat-tool>
      </div>

      <div class="json">
        <a (click)="monsterDataToJson()">To Json ➡️</a>
        <a (click)="monsterDataFromJson()">⬅️ From Json</a>
      </div>

      <textarea #inputMonsterData></textarea>
    </div>

    <div class="stats-container" *ngIf="monsterData && monster">
      <ghs-monster-stat-tool
        [(stat)]="monsterData.stats[getStatIndex(monsterData.boss ? MonsterType.boss : MonsterType.normal, monster.level)]">
      </ghs-monster-stat-tool>
      <ghs-monster-stats [monster]="monster"></ghs-monster-stats>
      <ghs-monster-stat-tool *ngIf="!monsterData.boss"
        [(stat)]="monsterData.stats[getStatIndex(MonsterType.elite, monster.level)]">
      </ghs-monster-stat-tool>
    </div>
  </div>

  <div class="monster-abilities">
    <h2>{{'tools.monster.abilities' | ghsLabel}}</h2>
    <textarea #inputAbilities (change)="abilitiesChange()"></textarea>
    <div class="abilities-container" *ngIf="monster && deckData">
      <div class="card-container ability" *ngFor="let ability of deckData.abilities; let i = index;">
        <div class="card flipped" l>
          <a class="card-front">
          </a>
          <div class="card-back ability-back">
            <div class="initiative"><span *ngIf="ability.initiative < 10">0</span>{{ability.initiative}}</div>
            <span class="name">{{ability.name}}</span>
            <ghs-actions [actions]="ability.actions" [monster]="monster" [hexSize]="hexSize()"></ghs-actions>
            <div class="shuffle" *ngIf="ability.shuffle"><img src="./assets/images/shuffle.svg"></div>
            <span class="index">{{i + 1}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>