.monster-tool {
  display: flex;
  flex-direction: column;

  .monster-stats,
  .monster-abilities {
    display: flex;
    flex-direction: column;
    padding: calc(var(--ghs-unit) * 2);
  }

  textarea {
    flex-grow: 1;
    min-height: calc(var(--ghs-unit) * 10);
  }

  .monster-data {
    display: flex;
  }

  .json {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    a {
      cursor: pointer;
    }
  }

  .data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--ghs-unit) * 2);
    margin: calc(var(--ghs-unit) * 1);
    flex-shrink: 1;
    min-height: calc(var(--ghs-unit) * 15);
    overflow: auto;
  }

  .stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--ghs-unit) * 2);
    margin: calc(var(--ghs-unit) * 1);
    flex-shrink: 1;
    min-height: calc(var(--ghs-unit) * 15);
    overflow: auto;

    ghs-monster-stats {
      display: flex;
      justify-content: center;
    }
  }

  .abilities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--ghs-unit) * 2);
    margin: calc(var(--ghs-unit) * 1);
    flex-shrink: 1;
    overflow: auto;

    .ability {
      width: calc(var(--ghs-unit) * 35);
      height: calc(var(--ghs-unit) * 23.7);
      margin: calc(var(--ghs-unit) * 0.5);
      flex-shrink: 0;
      flex-grow: 0;
      background-position: top;
      color: var(--ghs-color-white);


      .ability-front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url('~src/assets/images/monster/abilities/monster-ability-front.png');
        background-position: bottom;
        --hover-animation: all 0.3s ease-in-out;
        transition: var(--hover-animation);

        .name {
          display: block;
          position: absolute;
          top: calc(var(--ghs-unit) * 1.7);
          left: 0;
          width: 100%;
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 2.5);
          text-align: center;
        }

        .initiative {
          position: absolute;
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 3);
          top: calc(var(--ghs-unit) * 4.5);
          left: calc(var(--ghs-unit) * 1.4);
          text-align: center;
          width: calc(var(--ghs-unit) * 4);
          height: calc(var(--ghs-unit) * 4);
        }

        ghs-actions {
          position: absolute;
          top: calc(var(--ghs-unit) * 7);
          left: 0;
          height: calc(var(--ghs-unit) * 13);
          width: 100%;
          font-size: calc(var(--ghs-unit) * 2.3);
          transition: var(--hover-animation);
        }

        .shuffle {
          position: absolute;
          bottom: calc(var(--ghs-unit) * 0.25);
          right: calc(var(--ghs-unit) * 0.5);
          filter: var(--ghs-filter-white);

          img {
            width: calc(var(--ghs-unit) * 3.5);
            height: auto;
          }
        }

        .index {
          position: absolute;
          font-size: calc(var(--ghs-unit) * 1.3);
          bottom: calc(var(--ghs-unit) * 1);
          left: calc(var(--ghs-unit) * 1);
        }



      }
    }
  }
}