.hex-grid {
  --ghs-hex-size: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: calc(0.6em * var(--ghs-hex-size));
  filter: var(--ghs-filter-shadow);

  &.small {
    filter: var(--ghs-filter-shadow-thin);
  }

  .hex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(0.6em * var(--ghs-hex-size) * 2);
    height: calc(0.6em * var(--ghs-hex-size) * 1.7);

    img {
      width: 100%;
      height: auto;
    }

    .enhance {
      position: absolute;
      display: block;
      top: calc(0.6em * var(--ghs-hex-size) * 0.5);
      left: calc(0.6em * var(--ghs-hex-size) * 0.7);
      width: calc(0.6em * var(--ghs-hex-size) * 0.6);
      height: calc(0.6em * var(--ghs-hex-size) * 0.6);
      background-color: var(--ghs-color-white);
      opacity: 0.3;
      border-radius: 100%;
    }

    .condition {
      position: absolute;
      top: calc(0.6em * var(--ghs-hex-size) * -0.2);
      left: calc(0.6em * var(--ghs-hex-size) * -0.1);
      width: calc(0.6em * var(--ghs-hex-size) * 1.3);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}