.hex-grid {
  --ghs-hex-size: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: calc(0.6em * var(--ghs-hex-size));
  filter: var(--ghs-filter-shadow);

  &.small {
    filter: var(--ghs-filter-shadow-thin);
  }

  .hex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(0.6em * var(--ghs-hex-size) * 2);
    height: calc(0.6em * var(--ghs-hex-size) * 1.7);
    z-index: 1;

    .icon {
      width: 100%;
      height: auto;
    }

    ghs-action-enhancements {
      font-size: calc(0.6em * var(--ghs-hex-size) * 2);
      position: absolute;
      top: calc(0.6em * var(--ghs-hex-size) * 0.3);
      left: calc(0.6em * var(--ghs-hex-size) * -0.1);
    }

    &.enhanced {
      filter: brightness(1.3);
      z-index: 2;

      ghs-action-enhancements {
        left: calc(0.6em * var(--ghs-hex-size) * -0.5);
      }
    }

    .condition {
      position: absolute;
      top: calc(0.6em * var(--ghs-hex-size) * -0.2);
      left: calc(0.6em * var(--ghs-hex-size) * -0.1);
      width: calc(0.6em * var(--ghs-hex-size) * 1.3);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}