.items {
    display: flex;
    flex-direction: column;

    img {
        width: auto;
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }

    .button {
        cursor: pointer;
        display: flex;
        align-items: center;

        &.add img {
            filter: var(--ghs-filter-green);
        }


        &.remove img {
            filter: var(--ghs-filter-red);
        }

        &.loot {
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-yellow);

            img {
                filter: var(--ghs-filter-yellow);
                width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            }
        }

        &.distill {
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-yellow);

            img {
                filter: var(--ghs-filter-blue);
                width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            }
        }

        &.craft {
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-black);

            .resource {
                display: flex;
                align-items: center;
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

                img {
                    width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
                }
            }

            .item {
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }
        }

        &.disabled {
            color: var(--ghs-color-darkgray) !important;

            img {
                filter: var(--ghs-filter-darkgray) !important;
            }

            .item,
            .resource img {
                opacity: 0.6;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .item-list {
        font-family: var(--ghs-font-text);
        display: flex;
        flex-direction: column;
        overflow: visible;

        .item-entry {
            display: flex;
            align-items: center;
            margin: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));

            .item-dialog {
                cursor: zoom-in;
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
            }

            .id {
                text-align: right;
                margin-right: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
                width: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
            }

            .id {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-family: var(--ghs-font-title);
                font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            }

            .name {
                cursor: pointer;
                display: inline-block;
                font-family: var(--ghs-font-title);
                font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

                &.disabled {
                    cursor: initial;
                }
            }

            .edition {
                font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            }

            .action-icon {
                width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
                    width: auto;
                }
            }

            .loot {
                width: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
            }

            .equipped {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

                img {
                    filter: var(--ghs-filter-green);
                    height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
                    width: auto;
                }
            }

            .effect {
                &.hint-container {
                    .hint-trigger.ghs-svg {
                        filter: var(--ghs-filter-gray);
                    }

                    .hint {
                        left: initial;
                        right: 0;
                    }
                }
            }

            .minus-one {
                font-family: var(--ghs-font-title);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

                img {
                    margin-right: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
                }

                &.ignore {
                    opacity: 0.5;
                }
            }
        }
    }

    .item-form {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: calc(var(--ghs-unit) * 33 * var(--ghs-dialog-factor));

        a {
            cursor: pointer;
            color: var(--ghs-color-black);
            display: flex;
            align-items: center;
            font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

            img {
                height: 1em;
                width: auto;
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }

            &:hover {
                opacity: 0.7;
            }

            &.disabled {
                cursor: initial;
                opacity: 0.8;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}