.section-popup {
    text-align: center;
    min-width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));
    padding: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

        .ghs-svg {
            height: 1em;
            width: auto;
            filter: var(--ghs-filter-white);
        }
    }

    .conclusions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .conclusion {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ghs-font-text);
            font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            padding: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

            &:hover {
                opacity: 0.7;
            }

            &:not(:first-child) {
                border-top: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-gray);
            }
        }
    }

    .buttons {
        display: flex;
        margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        justify-content: space-evenly;

        a {
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }

        .cancel {
            color: var(--ghs-color-red);
        }
    }
}