.editions,
.spoilers {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center !important;
}

.edition,
.spoiler-item {
  display: flex;
  align-items: center;
  padding: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) 0;
  width: 100%;

  .remove {
    cursor: pointer !important;
    display: flex;
    width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  }

  &:hover .remove::after {
    content: ' ';
    position: relative;
    display: block;
    left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    clip-path: polygon(0 80%, 30% 50%, 0 20%, 20% 0, 50% 30%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 80% 100%, 50% 70%, 20% 100%);
    background-color: var(--ghs-color-white);
  }
}

.spoiler-item {
  cursor: initial !important;
}

.working {
  width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  height: auto;
  filter: var(--ghs-filter-gray);
  animation: ghs-spinning 1500ms linear infinite;
  margin: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
}

.edition {
  cursor: grab !important;
  padding: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) 0;

  .custom {
    display: flex;
    align-items: center;
    filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
    margin: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .url {
      display: none;
      font-family: var(--ghs-font-normal);
      align-self: flex-end;
      font-size: 0.8em;
      margin: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      flex: 1 1 auto;
      text-shadow: none;
    }
  }

  &:hover .custom .url {
    display: inline-block;
  }
}

.line {
  .input-file {
    input[type="file"] {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;

      &.disabled {
        pointer-events: none;
      }
    }

    &.error {
      animation: shake .5s linear;
      color: var(--ghs-color-red) !important;
    }

    &.warning {
      animation: shake .5s linear;
      color: var(--ghs-color-yellow) !important;
    }
  }

  .hint-container label.hint-trigger {
    margin-left: 0;
  }
}

@media (max-width: 600px),
(orientation: portrait) {

  .menu-container.two-column {
    display: grid;
    grid-template-columns: auto;
    column-gap: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

    .separator,
    .span {
      grid-column: 1 span;
    }
  }

}