.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a.level {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        color: var(--ghs-color-darkgray);
        text-shadow: var(--ghs-outline);
        margin: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));

        &.active {
            color: var(--ghs-color-white);
        }

        &:hover {
            color: var(--ghs-color-gray);
        }
    }

}


.scroll-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: calc(var(--ghs-unit) * 85 * var(--ghs-text-factor));

    .container {
        position: relative;
        width: calc(var(--ghs-unit) * 37 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 49.95 * var(--ghs-text-factor));
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
        flex-shrink: 0;
        flex-grow: 0;

        ghs-ability {
            width: 100%;
            height: 100%;
        }

    }
}