.character-sheet {
  position: relative;
  background-color: var(--ghs-color-white);
  font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

  .denied.view-only {
    cursor: initial !important;
  }

  .container {
    width: calc(var(--ghs-unit) * 62 * var(--ghs-dialog-factor));
    height: 100%;
    background-image: url('~src/assets/images/character/character-sheet.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: calc(var(--ghs-unit) * 0.8 * var(--ghs-dialog-factor));

    .compact-separator {
      display: none;
    }

    .columns {
      display: flex;

      .column {
        display: flex;
        flex-direction: column;

        &.column-left {
          width: calc(var(--ghs-unit) * 33 * var(--ghs-dialog-factor));
        }

        &.column-right {
          margin-left: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
          width: calc(var(--ghs-unit) * 25 * var(--ghs-dialog-factor));
        }

        .row {
          display: flex;
        }
      }

    }

    label {
      display: flex;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
      white-space: nowrap;

      img {
        width: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
        height: auto;
        margin: 0 calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
      }

      &.headline {
        width: 100%;
        justify-content: center;

        &.absent {
          text-decoration: line-through;
        }
      }
    }

    .title {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

      img {
        width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        height: auto;
      }

      label {
        font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        padding-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        overflow: hidden;

        .character-title {
          display: table;
          align-self: center;
        }

        .absent {
          cursor: pointer;
        }
      }
    }

    .base {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 10 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

      .level-grid {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        display: grid;
        grid-template-columns: repeat(9, 1fr);


        .level-item {
          cursor: pointer;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
          border: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
          margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          z-index: 2;

          &.checked::before {
            opacity: 0.8;
          }
        }

        .xp-item {
          cursor: pointer;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: calc(var(--ghs-unit) * 2.8 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
          border-right: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
          margin-top: calc(var(--ghs-unit) * -1 * var(--ghs-dialog-factor));

          &:last-child {
            border-right: none;
          }

          &::before {
            content: ' ';
            position: absolute;
            top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            background-image: url('~src/assets/images/initiative.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          &.checked::after {
            content: " ";
            position: absolute;
            top: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            clip-path: polygon(10% 100%, 25% 100%, 85% 0, 70% 0);
            background-color: var(--ghs-color-black);
          }
        }
      }
    }

    .xp-gold-container {
      display: flex;
      flex-direction: column;
    }

    .xp-notes {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 10 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    }

    .gold-notes {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 10 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

      .donations {
        display: flex;
        align-items: center;
        line-height: 0.5em;
        margin-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor));
      }

      .donate {
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: var(--ghs-color-darkgray);
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

          &:hover {
            color: var(--ghs-color-black)
          }

          &.disabled {
            pointer-events: none;
            color: var(--ghs-color-gray);
          }

          .price {
            display: flex;
            align-items: center;
            color: var(--ghs-color-yellow);
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

            img {
              margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
              filter: var(--ghs-filter-yellow);
              width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            }
          }
        }
      }
    }

    .notes,
    ghs-character-items {
      height: calc(var(--ghs-unit) * 34 * var(--ghs-dialog-factor));
      width: 100%;
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

      .items {
        width: 100%;
      }

      .item-list {
        height: calc(var(--ghs-unit) * 27 * var(--ghs-dialog-factor));
        max-height: calc(var(--ghs-unit) * 27 * var(--ghs-dialog-factor));
        overflow: auto;
      }
    }

    .perks {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 67 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      .list {
        display: flex;
        flex-direction: column;
        height: calc(var(--ghs-unit) * 63.5 * var(--ghs-dialog-factor));
        overflow-y: auto;

        .perk {
          font-family: var(--ghs-font-normal);
          font-size: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
          line-height: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
          margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          display: flex;

          .checkboxes {
            display: flex;

            .checkbox {
              margin-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor));
              margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
              width: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor) * var(--ghs-text-factor)* var(--ghs-text-factor));
              height: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor) * var(--ghs-text-factor)* var(--ghs-text-factor));

              &.disabled {
                pointer-events: initial;
                cursor: not-allowed;
              }
            }

            &.combined {
              flex-direction: column;
              margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

              .checkbox {
                border-top-style: dashed;
                border-bottom-style: dashed;
                margin: 0;

                &:nth-child(1) {
                  border-top-style: solid;
                }

                &:nth-last-child(1) {
                  border-bottom-style: solid;
                }
              }
            }
          }

          ghs-perk-label {
            cursor: pointer;

            &.disabled {
              cursor: initial;
            }
          }
        }
      }

      .wip,
      .warning {
        flex-basis: 0;
      }
    }

    .battlegoals {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 9 * var(--ghs-dialog-factor));

      .battlegoals-grid {
        margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;

        img {
          width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
          height: auto;
        }

        .battlegoal {
          width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          margin-top: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
        }

        .checkmark {
          height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
          display: flex;
          align-items: center;
        }
      }
    }

    .personal-quest {
      flex-direction: column;

      .personal-quest-card {
        display: flex;
        align-items: center;

        .card-id {
          text-align: right;
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
          min-width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
        }

        .personal-quest-name {
          font-family: var(--ghs-font-title);
        }
      }

      .requirements {
        display: flex;
        flex-direction: column;
        margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

        .requirement {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

          &.disabled {
            pointer-events: none;
            opacity: 0.7;
          }

          .requirement-name {
            font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            line-height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          }

          .counter {
            display: flex;
            align-items: center;
            flex-grow: 1;

            .checkbox {
              margin: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }

            input[type="number"] {
              margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
              width: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              min-width: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              flex-grow: 1;
              text-align: right;
              border: none;
              border-bottom-width: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
              border-bottom-style: solid;
              border-bottom-color: var(--ghs-color-gray);
            }
          }
        }
      }

      .rewards {
        margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        margin-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
        border-top: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
      }

      .retire-button {
        cursor: pointer;
        font-family: var(--ghs-font-normal);
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
        display: flex;
        align-items: center;

        &:hover {
          opacity: 0.7;
        }

        &.disabled {
          cursor: initial;
          color: var(--ghs-color-gray);

          .ghs-svg {
            filter: var(--ghs-filter-gray);
          }
        }
      }
    }

    .trial {
      flex-direction: column;

      .trial-card {
        display: flex;
        align-items: center;

        .card-id {
          text-align: right;
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
          min-width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
        }

        .open {
          cursor: pointer;

          img {
            width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            height: auto;
          }
        }

      }

    }

    .notes {
      display: flex;
      flex-direction: column;
      height: calc(var(--ghs-unit) * 15 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));

      .columns {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        flex-grow: 1;
      }

      .column-right {
        justify-content: space-between;
      }

      .name {
        display: flex;
        justify-content: initial;
        align-items: center;

        a {
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .personal-quest,
      .trial,
      .extra-perks,
      .retirements,
      .player-number,
      .set-aside {
        margin-top: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        margin-bottom: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        display: flex;
        align-items: center;

        label {
          flex-shrink: 0;
          font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }

        input[type="number"] {
          flex-grow: 1;
          flex-basis: 0;
          min-width: auto;
        }

        .checkbox {
          flex-shrink: 0;
          margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        }

        &.set-aside label {
          cursor: pointer;
          font-family: var(--ghs-font-normal);
          font-size: calc(var(--ghs-unit) * 2.3 * var(--ghs-dialog-factor));

          &:hover {
            opacity: 0.7;
          }
        }

        &.personal-quest,
        &.trial {
          align-items: flex-start;
        }
      }
    }

    .import-export {

      display: flex;
      justify-content: space-around;

      label {
        cursor: pointer;

        input[type="file"] {
          width: 0;
          height: 0;
          margin: 0;
          padding: 0;
          visibility: hidden;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .wip,
    .warning {
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-red);

      &.warning {
        color: var(--ghs-color-yellow);
      }

      img {
        width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        height: auto;
        margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        filter: var(--ghs-filter-red);
      }

      &.warning {
        img {
          filter: var(--ghs-filter-yellow);
        }
      }
    }

    .checkbox {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
      border: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
      border-radius: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
      box-shadow: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor)) var(--ghs-color-gray);
      z-index: 2;

      &::before {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 115%;
        height: 115%;
        transform: scale(0);
        transform-origin: top left;
        transition: 120ms transform ease-in-out;
        z-index: 1;
        background-image: url('~src/assets/images/checkmark.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: var(--ghs-filter-darkgray);
      }

      &.checked::before {
        transform: scale(1) translate(-50%, -50%);
      }

      &.checked.check::before {
        transform: scale(1);
      }

      &.disabled {
        top: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
        left: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
        pointer-events: none;
        border-color: var(--ghs-color-gray);
        box-shadow: none;
      }
    }

    input[type="text"] {
      margin: 0;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      border-bottom-width: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
      border-bottom-style: solid;
      border-bottom-color: var(--ghs-color-gray);
      user-select: auto;
      -webkit-user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    }

    input[type="number"] {
      margin: 0;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      user-select: auto;
      -webkit-user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    }

    textarea {
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      user-select: auto;
      -webkit-user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      width: 100%;
      height: 100%;
    }

    .name {
      display: flex;
      align-items: center;

      img {
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        width: auto;
      }

      input[type="text"] {
        min-width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      }
    }

  }

  &.cs-sheet {
    .container {
      background-image: url('~src/assets/images/cs/character/character-sheet.svg');
    }

    .columns .column.column-right {

      .perks {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 70 * var(--ghs-dialog-factor));

        .list {
          height: calc(var(--ghs-unit) * 69.5 * var(--ghs-dialog-factor));
        }
      }
    }
  }

  .additional {
    margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .headline {
      margin-bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
    }
  }

  &.fh-sheet {
    .container {
      background-image: url('~src/assets/images/fh/character/character-sheet.svg');
    }

    .xp-gold-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

      .xp-notes,
      .gold-notes {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }
    }

    .notes {
      position: relative;
      height: calc(var(--ghs-unit) * 11 * var(--ghs-dialog-factor));

      .traits {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--ghs-font-normal);
        font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
        flex-grow: 1;

        .icon {
          width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

          .ghs-svg {
            height: 100%;
            width: auto;
          }
        }
      }
    }

    ghs-character-items {
      margin-top: 0;
      height: auto;

      .item-list {
        height: auto !important;
      }
    }

    .resources {
      position: relative;
      height: calc(var(--ghs-unit) * 19 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      flex-direction: column;

      .move {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--ghs-color-black);

        &:hover {
          opacity: 0.5;
        }
      }

      .resource-table {
        display: flex;
        flex-direction: column;
        margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

        .resource {
          display: flex;
          padding: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));

          img {
            width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
            height: auto;
          }

          input {
            min-width: 0;
            flex-grow: 1;
          }
        }

        .materials {
          display: grid;
          grid-template-columns: repeat(3, calc(var(--ghs-unit) * 11.1 * var(--ghs-dialog-factor)));

          .resource {
            flex-direction: column;
            height: calc(var(--ghs-unit) * 5.5 * var(--ghs-dialog-factor));

            input {
              width: 100%;
              margin-left: 0;
            }
          }
        }

        .herbs {
          display: grid;
          grid-template-columns: repeat(3, calc(var(--ghs-unit) * 11.1 * var(--ghs-dialog-factor)));

          .resource {

            height: calc(var(--ghs-unit) * 4.7 * var(--ghs-dialog-factor));
          }
        }
      }

    }

    .masteries {
      height: calc(var(--ghs-unit) * 14 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      display: flex;
      flex-direction: column;
      overflow: auto;

      .mastery {
        display: flex;

        .mastery-check {
          flex-shrink: 0;
          width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          margin-top: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }

        .checkmark {
          flex-shrink: 0;
          height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
          display: flex;
          align-items: center;

          img {
            width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            height: auto;
          }
        }

        .text {
          font-family: var(--ghs-font-normal);
          font-size: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor));
          line-height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }
      }
    }

    .columns .column.column-right {
      flex-direction: column-reverse;

      .battlegoals {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }

      .perks {
        margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 65 * var(--ghs-dialog-factor));

        .list {
          height: calc(var(--ghs-unit) * 65 * var(--ghs-dialog-factor));
        }
      }
    }

    .notes,
    .additional {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      .columns .column.column-right {
        flex-direction: column;
        justify-content: flex-start;
      }

    }

  }

  &.compact {

    .container {
      background-image: none;
      width: initial;
      max-width: calc(var(--ghs-unit) * 50 * var(--ghs-dialog-factor));

      .compact-separator {
        display: block;
        width: 100%;
        margin: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor)) 0;
      }

      label.headline {
        justify-content: flex-start;
      }

      .checkbox {
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor)) !important;
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor)) !important;
      }

      input[type="number"],
      input[type="text"] {
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
      }

      .notes {
        height: initial;
      }

      .columns {
        flex-direction: column;

        .column {
          width: auto !important;
          justify-content: center;

          &.column-right {
            margin-left: 0 !important;
          }

          .xp-gold-container {
            display: flex;
            flex-direction: column;

            .row {
              flex-direction: row;

              .donate {
                margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
              }
            }
          }

          .row {
            height: auto !important;
            margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) !important;

            &.perks .list {
              height: auto !important;
              overflow-y: initial;

              .perk {
                font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
                line-height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              }
            }

            label.headline {
              width: auto !important;
            }

            .resource-table {

              .materials,
              .herbs {
                grid-template-columns: repeat(3, 1fr);

                .resource {
                  display: grid;
                  grid-template-columns: 0.3fr 1fr;
                  align-items: center;

                  input {
                    width: 100%;
                    margin-left: 0;
                  }
                }
              }
            }
          }

          ghs-character-items .item-list {
            height: auto !important;
          }
        }
      }
    }

    .level {
      .columns {
        flex-direction: row;

        .column {
          width: auto !important;

          .level-item {
            width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            border-width: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
          }

          .xp-item {
            width: calc(var(--ghs-unit) * 2.8 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            border-right-width: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            margin-top: calc(var(--ghs-unit) * -1 * var(--ghs-dialog-factor) / var(--ghs-text-factor));

            &::before {
              top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              width: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              height: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            }

            &.checked::after {
              top: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
              height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
            }
          }
        }
      }
    }

    .battlegoals {
      .battlegoals-grid {
        grid-template-columns: repeat(12, calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor)));
      }
    }

    .masteries .mastery .text {
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
      line-height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor) * var(--ghs-text-factor));
    }
  }

  .scroll-container.denied {

    .export,
    .export * {
      pointer-events: initial;
    }
  }

  .toggle-fh-sheet {
    margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
  }

  .ability-cards {
    position: absolute;
    top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    left: calc(var(--ghs-unit) * 30.5 * var(--ghs-dialog-factor));
    cursor: pointer;
    width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    z-index: 1;

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: var(--ghs-character-color);
      mask-image: url('~src/assets/images/character/hand-size.svg');
      mask-size: 100%;
      mask-repeat: no-repeat;
      z-index: -1;
    }
  }
}