.move-resources-dialog {
    padding: 0.5em;

    .ghs-svg {
        height: 1em;
        width: auto;
        margin: 0 0.3em;
        filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        text-shadow: var(--ghs-outline);
        margin: 0 calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

        .name {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-family: var(--ghs-font-title);
            font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            color: var(--ghs-color-white);
            min-width: calc(var(--ghs-unit) * 44 * var(--ghs-dialog-factor));


            img.icon {
                height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
                width: auto;
                margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
                margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            }

            .character-title {

                display: flex;
                align-items: center;

                &.absent {
                    text-decoration: line-through;
                }
            }
        }
    }

    .values {
        display: grid;
        grid-template-columns: auto auto auto auto;
        font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

        label {
            color: var(--ghs-color-white);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            white-space: nowrap;

            .ghs-svg {
                filter: var(--ghs-filter-white);
                margin-right: 0.3em;
            }
        }

        .value {
            color: var(--ghs-color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3em;
            white-space: nowrap;
        }

        .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3em;

            &.disabled {
                pointer-events: none;
                color: var(--ghs-color-gray);

                .ghs-svg {
                    filter: var(--ghs-filter-gray) !important;
                }
            }
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            cursor: pointer;
            font-size: 2em;
            padding: 0.3em;

            &.cancel {
                color: var(--ghs-color-red);
            }

            &.apply {
                color: var(--ghs-color-green);
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}