.buildings-container {
  flex-direction: column;
  display: flex;

  .header {
    display: flex;

    label {
      display: flex;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));

      img {
        height: 0.8em;
        width: auto;
        margin: 0 calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
      }
    }

    img {
      cursor: pointer;
      height: 1.2em;
      width: auto;
    }
  }


  input {
    width: 0;
    min-width: initial;
    max-width: initial;
    margin: 0;
    color: var(--ghs-color-black);
    background-color: var(--form-background);
    border: none;
    border-bottom-width: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
    border-bottom-style: solid;
    border-bottom-color: var(--ghs-color-gray);
    user-select: auto;
    -webkit-user-select: auto;
    font-family: var(--ghs-font-text);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    flex-grow: 1;
    margin-left: calc(var(--ghs-unit) * 0.8 * var(--ghs-dialog-factor));
  }

}