.buildings-container {
  flex-direction: column;
  display: flex;

  .header {
    display: flex;

    label {
      display: flex;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));

      img {
        height: 0.8em;
        width: auto;
        margin: 0 calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
      }
    }

    img {
      cursor: pointer;
      height: 1.2em;
      width: auto;
    }
  }


  input {
    width: 0;
    min-width: initial;
    max-width: initial;
    margin: 0;
    color: var(--ghs-color-black);
    background-color: var(--form-background);
    border: none;
    border-bottom-width: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
    border-bottom-style: solid;
    border-bottom-color: var(--ghs-color-gray);
    user-select: auto;
    -webkit-user-select: auto;
    font-family: var(--ghs-font-text);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    flex-grow: 1;
    margin-left: calc(var(--ghs-unit) * 0.8 * var(--ghs-dialog-factor));
  }

  .buildings {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-top: calc(var(--ghs-unit) * 0.8 * var(--ghs-dialog-factor));
    font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));

    .building {
      position: relative;
      display: grid;
      grid-template-columns: 30% 5% 5% 10% 10% 20% 20%;
      align-items: center;
      margin: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) 0;
      transition: 300ms;

      &.buildable {
        margin-top: calc(var(--ghs-unit) * 2);
        border-top: solid calc(var(--ghs-unit) * 0.1) var(--ghs-color-darkgray);
      }

      &.buildable~.buildable {
        margin-top: 0;
        border-top: none;
      }

      &:nth-child(2n+1)::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ghs-color-gray);
        opacity: 0.35;
        z-index: 0;
      }

      &:hover::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ghs-color-yellow);
        opacity: 0.35;
        z-index: 1;
      }

      &>span {
        z-index: 2;
      }

      .name {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 0.2em;

        .state {
          width: 0;
          height: 1em;
          background-size: auto 90%;
          background-repeat: no-repeat;
          background-position: center center;
          display: none;

          &.normal {
            width: 1em;
            background-image: url('~src/assets/images/fh/buildings/damaged.svg');

          }

          &.damaged {
            width: 1em;
            background-image: url('~src/assets/images/fh/buildings/wrecked.svg');
          }
        }

        &:hover {
          opacity: 0.7;

          .state {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &.disabled {
          pointer-events: none;
        }
      }

      .id {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .level {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 0.7;
        }

        &.disabled {
          pointer-events: none;
        }
      }

      .effects,
      .interactions {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .toggle {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.1em;

          img {
            height: 1em;
            width: auto;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        .effect,
        .interaction {
          display: flex;
          justify-content: center;
          align-items: center;

          .text {
            display: none;
          }

          .icon {
            position: relative;
            cursor: help;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
            margin: 0 calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));

            img {
              height: calc(var(--ghs-unit) * 2.3 * var(--ghs-dialog-factor));
              width: auto;
            }

            &.unavailable {
              img {
                height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
                width: auto;
              }

              &::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('~src/assets/images/fh/buildings/unavailable.png');
                background-size: 100% 100%;
                background-position: center center;
                background-repeat: no-repeat;
              }
            }
          }

          &.stables,
          &.garden {

            .icon,
            .text {
              cursor: pointer;
            }
          }
        }
      }

      .costs {
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(5, calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor)));

        .cost {
          display: flex;
          align-items: center;

          img {
            height: 0.9em;
            width: auto;
            margin: 0 calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor));
          }
        }

        .repair {
          grid-column: span 5;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin: 0 calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor));
          }
        }

        &.disabled {
          opacity: 0.7;
          color: var(--ghs-color-darkgray);

          .cost img {
            filter: var(--ghs-filter-darkgray);
          }
        }
      }

      .action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

        .upgrade {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));

          img {
            height: 1em;
            width: auto;
            margin: 0 calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
          }

          &:hover {
            opacity: 0.7;
          }

          &.disabled {
            color: var(--ghs-color-gray);

            img {
              filter: var(--ghs-filter-gray);
            }
          }
        }
      }

      &.head {
        border-bottom: solid calc(var(--ghs-unit) * 0.1) var(--ghs-color-darkgray);

        .name,
        .level,
        .action {
          pointer-events: none;
        }

        .costs {
          display: flex;
          justify-content: flex-end;
          padding-right: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
        }

        &::before {
          opacity: 0.1;
        }
      }

      .remove {
        cursor: pointer;
        width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
        height: auto;
        filter: var(--ghs-filter-red);

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &.visible-effects .building {
      grid-template-columns: 20% 5% 5% 30% 10% 15% 15%;
      align-items: start;

      .effects {
        justify-content: flex-start;
        align-items: flex-start;

        .effect {
          justify-content: flex-start;
          align-items: flex-start;

          .text {
            display: inline-block;
          }

          .icon {
            margin: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
          }
        }
      }
    }

    &.visible-interactions .building {
      grid-template-columns: 20% 5% 5% 10% 30% 15% 15%;
      align-items: start;

      .interactions {
        justify-content: flex-start;
        align-items: flex-start;

        .interaction {
          justify-content: flex-start;
          align-items: flex-start;

          .text {
            display: inline-block;
          }

          .icon {
            margin: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
          }
        }
      }
    }

    &.visible-effects.visible-interactions .building {
      grid-template-columns: 20% 5% 5% 20% 20% 15% 15%;

    }
  }
}