header {
  height: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor));
  padding-bottom: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
  display: flex;
  flex-direction: row;
  position: relative;

  &::before {
    content: ' ';
    width: 100%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-image: url('~src/assets/images/header.png');
    background-position: bottom;
    position: absolute;
    height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    bottom: calc(var(--ghs-unit) * -0.5 * var(--ghs-text-factor));
  }

  a.server-connection {
    cursor: pointer;
  }

  .server-connection {

    display: flex;
    width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    margin-right: calc(var(--ghs-unit) * 1);
    align-self: center;

    &.connected {
      filter: var(--ghs-filter-green);
    }

    &.connecting {
      filter: var(--ghs-filter-blue);
    }

    &.closing {
      filter: var(--ghs-filter-yellow);
    }

    &.closed {
      filter: var(--ghs-filter-red);
    }

    &.disconnected {
      filter: var(--ghs-filter-darkgray);
    }
  }

  .hints {
    display: flex;
    align-items: center;
    color: var(--ghs-color-darkgray);
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-small-text-factor));
    opacity: 0;
    transition: opacity 500ms ease-in-out;

    &.visible {
      opacity: 1;
    }

    .menu-hint {
      cursor: pointer;
      font-family: 'ghs-title';
      color: var(--ghs-color-darkgray);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-small-text-factor));

      &:hover {
        color: var(--ghs-color-black);
      }
    }
  }


  .elements {
    display: flex;
    height: 100%;
    align-items: center;

    .element {
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
      cursor: pointer;

      span {
        height: 100%;
        width: 100%;
      }
    }
  }
}