header {
  height: calc(var(--ghs-unit) * 10);
  padding-bottom: calc(var(--ghs-unit) * 2);
  display: flex;
  flex-direction: row;
  position: relative;

  &::before {
    content: ' ';
    width: 100%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-image: url('~src/assets/images/header.png');
    background-position: bottom;
    position: absolute;
    height: calc(var(--ghs-unit) * 2.5);
    bottom: 0;
  }

  a.server-connection {
    cursor: pointer;
  }

  .server-connection {

    display: flex;
    width: calc(var(--ghs-unit) * 2.5);
    height: calc(var(--ghs-unit) * 2.5);
    align-self: center;

    &.connected {
      filter: var(--ghs-filter-green);
    }

    &.connecting {
      filter: var(--ghs-filter-blue);
    }

    &.closing {
      filter: var(--ghs-filter-yellow);
    }

    &.closed {
      filter: var(--ghs-filter-red);
    }

    &.disconnected {
      filter: var(--ghs-filter-darkgray);
    }
  }


  .elements {
    display: flex;
    height: 100%;
    align-items: center;

    .element {
      margin: calc(var(--ghs-unit) * 0.5);
      width: calc(var(--ghs-unit) * 6);
      height: calc(var(--ghs-unit) * 6);
      cursor: pointer;

      span {
        height: 100%;
        width: 100%;
      }
    }
  }
}