header {
  height: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor) * var(--ghs-barsize));
  display: flex;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~/src/assets/images/bar.jpg');
    background-size: 100% 105%;
    background-position: bottom left;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &.fh::before {
    background-image: url('~/src/assets/images/fh/bar.jpg');
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor) * var(--ghs-barsize));
    text-shadow: var(--ghs-outline);
    color: var(--ghs-color-gray);
    filter: var(--ghs-filter-gray);
    width: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    margin: calc(var(--ghs-unit) * 2.2 * var(--ghs-text-factor) * var(--ghs-barsize));
    cursor: pointer;


    &:hover,
    &.active-button {
      color: var(--ghs-color-white);
      filter: var(--ghs-filter-white);
    }

  }

  a.server-connection-status {
    display: flex;
    cursor: pointer;
  }

  .server-connection {

    width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    margin-right: calc(var(--ghs-unit) * 1);
    align-self: center;

    &.connected {
      filter: var(--ghs-filter-green);
    }

    &.connecting {
      filter: var(--ghs-filter-blue);
    }

    &.closing {
      filter: var(--ghs-filter-yellow);
    }

    &.closed {
      filter: var(--ghs-filter-red);
    }

    &.disconnected {
      filter: var(--ghs-filter-gray);
    }
  }

  .hints {
    display: flex;
    align-items: center;
    color: var(--ghs-color-gray);
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-small-text-factor) * var(--ghs-barsize));
    opacity: 0;
    transition: opacity 500ms ease-in-out;

    &.visible {
      opacity: 1;
    }

    span {
      margin: 0 calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    }

    .menu-hint {
      cursor: pointer;
      font-family: var(--ghs-font-title);
      color: var(--ghs-color-gray);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-small-text-factor) * var(--ghs-barsize));
      text-shadow: var(--ghs-outline);

      &:hover {
        color: var(--ghs-color-white);
      }
    }
  }


  .elements {
    display: flex;
    height: 100%;
    align-items: center;

    .element {
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor) * var(--ghs-barsize));
      height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor) * var(--ghs-barsize));
      cursor: pointer;

      span {
        height: 100%;
        width: 100%;
      }
    }
  }
}