.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &.inline {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
    text-align: right;
  }

  .divider {
    width: calc(var(--ghs-unit) * 5);
    border-top: calc(var(--ghs-unit) * 0.27) var(--ghs-color-white) dotted;
    margin: calc(var(--ghs-unit) * 0.5);
  }

  ghs-action {
    position: relative;

    &:first-child {
      margin-top: auto;
    }

    &:last-child {
      margin-bottom: auto;
    }
  }
}