.action {
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--ghs-color-white);
  line-height: 1em;
  filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));

  .action-default,
  .action-custom,
  .action-trigger,
  .action-specialTarget,
  .condition,
  .action-condition,
  .action-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .action-default {
    .value {
      white-space: nowrap;
    }
  }

  .custom-value {
    font-size: 82%;
    line-height: 82%;
    padding: 0 calc(var(--ghs-unit) * 2.5);
  }


  .action-custom {

    ghs-action {
      &.subaction-custom {
        .action-custom {
          .custom-value {
            font-size: 82%;
          }
        }
      }
    }
  }

  .action-trigger {

    .custom-value {
      position: relative;

      &::before,
      &::after {
        content: ' ';
        position: absolute;
        width: calc(var(--ghs-unit) * 3.5);
        height: calc(var(--ghs-unit) * 0.2);
        left: calc(var(--ghs-unit) * -2);
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(90deg, transparent 0%, var(--ghs-color-white) 100%);
      }

      &::after {
        left: auto;
        right: calc(var(--ghs-unit) * -2);
        background: linear-gradient(90deg, var(--ghs-color-white) 0%, transparent 100%);
      }
    }

  }

  .action-special {

    &>.type {
      flex-basis: 100%;
      margin-bottom: calc(var(--ghs-unit) * 0.5);
    }

    ghs-actions {
      flex-basis: 100%;
    }

  }

  .conditions {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
  }

  .action-specialTarget {
    display: block;
  }

  .action-card {

    display: flex;

    img {
      height: calc(var(--ghs-unit) * 3);
    }

    ghs-action {
      margin-left: calc(var(--ghs-unit) * 0.5);
    }
  }

  .condition-value {
    text-transform: uppercase;
  }

  .icon {
    margin: calc(var(--ghs-unit) * 0.5);
    margin-top: 0;
    height: 1em;
    width: auto;
  }

  .elite {
    color: var(--ghs-color-yellow);
  }


  .action-element {
    flex-wrap: unset;
    align-items: flex-start;
    margin-top: calc(var(--ghs-unit) * 1);

    .elements {
      display: flex;
      flex-wrap: unset;
      justify-content: center;
      align-items: center;


      .element {
        position: relative;
        margin: calc(var(--ghs-unit) * 0.25);
        width: calc(var(--ghs-unit) * 3);
        height: calc(var(--ghs-unit) * 3);
      }

      .element-half {
        position: absolute;
        width: calc(var(--ghs-unit) * 1.5);
        overflow: hidden;

        img {
          width: 200%;
        }

        &:nth-child(1) {
          left: 0;
        }

        &:nth-child(2) {
          right: 0;

          img {
            transform: translateX(-50%);
          }
        }

      }

      .minus {
        display: flex;
        align-items: center;
        width: calc(var(--ghs-unit) * 1);
        position: relative;
      }
    }
  }

  ghs-action {
    flex-basis: 100%;

    &.subaction-area:not(:nth-of-type(1)) {
      margin-top: calc(var(--ghs-unit) * 0.5);
    }

    &.subaction-area:nth-of-type(1) {
      flex-basis: 0;
      margin-left: calc(var(--ghs-unit) * 0.5);

      .action-area {

        ghs-action-hex {
          transform: translate(0, -50%);
          position: absolute;
        }
      }
    }

    .action-element {
      margin-top: 0;
    }

    .action {
      font-size: 82%;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.01) calc(var(--ghs-unit) * 0.01) calc(var(--ghs-unit) * 0.01) var(--ghs-color-black));

      .condition-value {
        font-size: 82%;
      }

      .custom-value {
        font-size: 100%;
        padding-left: calc(var(--ghs-unit) * 2);
      }

      img.icon {
        margin: calc(var(--ghs-unit) * 0.25);
        margin-top: 0;
      }
    }


    &.element-subaction {
      .action {
        .custom-value {
          padding: 0;
          font-size: 82%;
        }
      }
    }

    &.full {
      .action {
        font-size: 100%;

        .condition-value {
          font-size: 100%;
        }

        .action {
          font-size: 82%;

          .condition-value {
            font-size: 82%;
          }
        }
      }
    }
  }

  .action-custom {

    ghs-action {

      &.subaction-custom,
      &.subaction-specialTarget {

        .action-custom,
        .action-specialTarget {
          font-size: 82%;
        }
      }
    }

    ghs-action {

      &.element-subaction {

        .action-custom,
        .action-specialTarget {
          font-size: 100%;
        }
      }
    }
  }

  .element-subactions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 100%;
    justify-content: center;

    .element {
      margin-top: 0;
    }
  }

  .monster-type {
    text-transform: uppercase;

    &.monster-type-elite {
      color: var(--ghs-color-yellow);
    }
  }

  .monster-type-subactions {
    ghs-action {
      .action {
        font-size: 100%;

        .condition-value {
          font-size: 100%;
        }

        .action {
          font-size: 82%;

          .condition-value {
            font-size: 82%;
          }
        }
      }
    }
  }



  .additional-subactions {
    flex-basis: 100%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    ghs-action.subaction-monsterType {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &.inline {
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;

    .action-default,
    .action-custom,
    .action-trigger,
    .action-specialTarget,
    .action-condition,
    .action-element,
    .condition,
    .action-condition {
      display: inline-flex;
      gap: calc(var(--ghs-unit) * 0.25);
      justify-content: flex-start;
    }

    .custom-value {
      text-align: left;
      font-size: 100%;
      padding: 0 !important;
    }

    .conditions {
      flex-direction: column;

      .condition {
        .icon {
          margin: calc(var(--ghs-unit) * 0.1);
          margin-top: -0.1em;
          height: 1em;
          width: auto;
        }
      }
    }

    .element-subactions,
    ghs-action {
      flex-basis: unset;

      &.subaction-area~ghs-action {
        flex-basis: 100%;
        flex-shrink: 1;
        margin-left: calc(var(--ghs-unit) * 0.2);
      }
    }

    .action-element {
      flex-wrap: unset;
      margin-top: calc(var(--ghs-unit) * 0.5);

      .elements {
        .element {
          width: calc(var(--ghs-unit) * 2);
          height: calc(var(--ghs-unit) * 2);
          margin: calc(var(--ghs-unit) * 0.1);
        }
      }
    }

    .action-custom {
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .icon {
      margin: calc(var(--ghs-unit) * 0.1);
      margin-top: 0;
      height: 0.7em;
      width: auto;
    }
  }

  &.right {
    color: var(--ghs-color-black);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-white));
    justify-content: flex-end;
    text-align: right;

    .action-default,
    .action-custom,
    .action-trigger,
    .action-specialTarget,
    .action-condition,
    .action-element {
      justify-content: flex-end;
      text-align: right;
    }

    &.inline {
      .custom-value {
        text-align: right;
      }
    }

    .icon.invert {
      filter: invert(100%);
    }
  }
}