<span class="action" [ngSwitch]="action.type" [ngClass]="{'inline' : inline, 'right' : right}">
  <span *ngSwitchCase="ActionType.area">
    <ghs-action-hex [value]="action.value + ''" [size]="hexSize"></ghs-action-hex>
  </span>

  <span class="conditions" *ngSwitchCase="ActionType.condition">
    <span class="condition" *ngFor="let condition of getConditions(action); let index = index;">
      <span *ngIf="index > 0 && !inline">&nbsp;{{'and' | ghsLabel}}&nbsp;</span>
      <span class="condition-value">{{'game.condition.' + condition | ghsLabel}}</span>
      <img class="icon" src="./assets/images/condition/{{condition}}.svg" />
      <ghs-action [ngClass]="'subaction-' + subAction.type" *ngFor="let subAction of action.subActions"
        [action]="subAction" [monster]="monster" [relative]="true" [inline]="inline" [right]="right"
        [hexSize]="hexSize">
      </ghs-action>
    </span>
  </span>

  <span class="element" *ngSwitchCase="ActionType.element">
    <img src="./assets/images/element/{{action.value}}.svg" />
    <span class="minus" *ngIf="action.valueType == ActionValueType.minus">:</span>
    <ng-container *ngIf="action.subActions && action.subActions.length > 0">
      <div class="element-subactions">
        <ghs-action [ngClass]="'subaction-' + subAction.type" *ngFor="let subAction of action.subActions"
          [action]="subAction" [monster]="monster" [relative]="true" [inline]="inline" [right]="right"
          [hexSize]="hexSize">
        </ghs-action>
      </div>
    </ng-container>
  </span>

  <span class="specialTarget" *ngSwitchCase="ActionType.specialTarget">
    <span class="specialTarget-value">{{'game.action.specialTarget.' + action.value | ghsLabel}}</span>
  </span>

  <span class="custom" *ngSwitchCase="ActionType.custom">
    <span class="custom-value">{{action.value}}</span>
    <ng-container *ngIf="action.subActions && action.subActions.length > 0">
      <span>:</span>
      <ghs-action [ngClass]="'subaction-' + subAction.type" *ngFor="let subAction of action.subActions"
        [action]="subAction" [monster]="monster" [inline]="inline" [right]="right" [hexSize]="hexSize">
      </ghs-action>
    </ng-container>
  </span>

  <span class="default special" *ngSwitchCase="ActionType.special">
    <span class="type">{{'game.action.' + action.type | ghsLabel}} {{action.value}}:</span>
    <ghs-actions [actions]="getSpecial(action)" [monster]="monster" [inline]="inline" [right]="right"
      [hexSize]="hexSize">
    </ghs-actions>
  </span>

  <span class="default" [ngClass]="'action-' + action.type" *ngSwitchDefault>
    <span class="type">{{'game.action.' + action.type | ghsLabel}}</span>
    <img src="./assets/images/action/{{action.type}}.svg" class="icon" [ngClass]="{'invert' : isInvertIcon(action.type)}" />
    <span *ngIf="!relative" class="value">{{getNormalValue()}}<span *ngIf="getNormalValue() != getEliteValue()">/<span
          class="elite">{{getEliteValue()}}</span>
      </span>
    </span>
    <span *ngIf="relative" class="value">{{getNormalValue()}}<span *ngIf="getNormalValue() != getEliteValue()">/<span
          class="elite">{{getEliteValue()}}</span>
      </span>&nbsp;
    </span>
    <ghs-action [ngClass]="'subaction-' + subAction.type" *ngFor="let subAction of action.subActions"
      [action]="subAction" [monster]="monster" [inline]="inline" [right]="right" [hexSize]="hexSize">
    </ghs-action>
  </span>

</span>