.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &.inline {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
    text-align: right;

    ghs-action {
      margin-left: auto;
    }
  }

  ghs-action {
    position: relative;
  }

  .divider {
    width: calc(var(--ghs-unit) * 5);
    border-top: calc(var(--ghs-unit) * 0.27) var(--ghs-color-white) dotted;
    margin: calc(var(--ghs-unit) * 0.5);
  }

  .hint {
    position: relative;
    width: 60%;
    background: rgb(124, 210, 224);
    background: linear-gradient(90deg, rgba(124, 210, 224, 1) 0%, rgba(193, 236, 245, 1) 100%);
    color: var(--ghs-color-black);
    font-size: 70%;
    font-weight: bold;
    margin: calc(var(--ghs-unit) * 0.5);
    margin-top: calc(var(--ghs-unit) * 1);
    padding: calc(var(--ghs-unit) * 0.5);
  }

  :first-child {
    margin-top: auto;
  }

  :last-child {
    margin-bottom: auto;
  }
}