.action {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  color: var(--ghs-color-white);
  line-height: 0.8em;

  &.aoe {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.2em;
    align-items: center;
  }

  &.highlight {

    @keyframes highlight-animation {
      0% {
        background-position: 0% center;
        mask-position: 0% center;
      }

      65% {
        background-position: 0% center;
        mask-position: 0% center;
      }

      100% {
        background-position: 200% center;
        mask-position: 200% center;
      }
    }

    @keyframes highlight-image {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0.5;
      }
    }

    span {
      background-image: linear-gradient(-225deg,
          var(--ghs-color-white) 0%,
          var(--ghs-color-white) 50%,
          var(--ghs-color-darkgray) 75%,
          var(--ghs-color-white) 100%);

      background-position: 0% center;
      background-clip: border-box;
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: highlight-animation 3s linear infinite;
      animation-delay: -1.5s;
    }

    img {
      animation: highlight-image 3s ease-in-out infinite;
      animation-delay: -1.5s;
    }

    &.right {
      span {
        background-image: linear-gradient(-225deg,
            var(--ghs-color-black) 0%,
            var(--ghs-color-black) 50%,
            var(--ghs-color-white) 75%,
            var(--ghs-color-black) 100%);
      }
    }
  }

  .ghs-svg,
  .placeholder-action .icon {
    filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
  }

  .icon {
    margin: 0.1em;
    margin-top: 0;
    height: 1em;
    width: auto;

    &:not(.ghs-svg) {
      filter: var(--ghs-filter-shadow);
    }
  }

  .type,
  .value,
  .condition-value,
  .custom-value,
  .grant-value,
  .special-target-value,
  .monster-type,
  .summon-value {
    filter: var(--ghs-filter-shadow);

    &.small {
      filter: var(--ghs-filter-shadow-thin);
    }
  }

  .small {
    font-size: 82%;
    line-height: 82%;

    .type,
    .value,
    .condition-value,
    .custom-value,
    .grant-value,
    .special-target-value,
    .monster-type,
    .summon-value {
      filter: var(--ghs-filter-shadow-thin);
    }

    .ghs-svg,
    .placeholder-action .icon {
      filter: var(--ghs-filter-white) var(--ghs-filter-shadow-thin);
    }

    .icon:not(.ghs-svg) {
      filter: var(--ghs-filter-shadow-thin);
    }
  }

  .action-default,
  .action-custom,
  .action-grant,
  .action-summon,
  .action-trigger,
  .action-specialTarget,
  .action-condition,
  .action-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .action-default,
  .action-custom,
  .action-grant,
  .action-trigger,
  .action-specialTarget,
  .action-condition {
    filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
  }

  .action-monster-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .action-default {
    .main-action {
      display: flex;
      justify-content: center;
      align-items: center;

      .action-icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .value {
        white-space: nowrap;
      }
    }
  }

  .action-summon {
    width: 100%;

    ghs-action-summon {
      width: 100%;
    }
  }

  .action-area {
    margin-top: 0.3em;
  }

  .custom-value,
  .grant-value,
  ghs-action-summon {
    padding: 0 0.2em;
  }

  .action-trigger {

    .custom-value,
    .grant-value {
      position: relative;
      font-size: 82%;
      line-height: 82%;
      padding: 0 0.5em;

      &::before,
      &::after {
        content: ' ';
        position: absolute;
        width: 2em;
        height: 0.09em;
        left: -1.6em;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(90deg, transparent 0%, var(--ghs-color-white) 100%);
      }

      &::after {
        left: auto;
        right: -1.6em;
        background: linear-gradient(90deg, var(--ghs-color-white) 0%, transparent 100%);
      }
    }

  }

  .action-special {

    &>.type {
      margin-bottom: 0.1em;
    }

  }

  .special-type {
    color: var(--ghs-color-red);
    filter: var(--ghs-filter-shadow);
  }

  .condition {
    display: flex;
    justify-content: center;
    align-items: center;

    .condition-image {
      position: relative;
      width: 1em;
      height: 1em;
      margin: 0.1em;
      margin-top: 0;

      img.icon {
        width: 100%;
        height: auto;
        margin: 0;
        filter: var(--ghs-filter-shadow-thin);

        &.warning {
          filter: var(--ghs-filter-yellow) var(--ghs-filter-shadow-thin);
        }
      }

      .value {
        font-family: var(--ghs-font-title);
        font-size: 0.45em;
        line-height: 1em;
        color: var(--ghs-color-white);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
      }
    }
  }

  .action-specialTarget {
    display: block;
  }

  .action-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.15em 0;

    .card-value {
      position: relative;
      height: 1.2em;

      img {
        position: relative;
        height: 100%;
        width: auto;
        z-index: 1;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--ghs-font-title);
        font-size: 0.8em;
        filter: invert(1);
        z-index: 3;
      }

      &.slot,
      &.slotStart,
      &.slotEnd,
      &.slotXp {
        height: 2em;

        .overlay {
          background-color: var(--ghs-ability-color);
          mask-position: top left;
          mask-size: 100% 100%;
          mask-repeat: no-repeat;
        }

        .value {
          left: 42%;
        }

        &+.slot,
        &+.slotXp {
          margin-left: -0.1em;
        }
      }
    }

    ghs-action {
      margin-left: 0.1em;
    }
  }

  .condition-value {
    text-transform: uppercase;
  }

  .elite {
    color: var(--ghs-color-yellow);
  }


  .action-element {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.3em;
    align-items: flex-start;
    margin-top: 0.5%;

    .elements {
      display: flex;
      flex-wrap: unset;
      justify-content: center;
      align-items: center;



      .element {
        position: relative;
        width: 1.2em;
        height: 1.2em;
      }

      .minus {
        font-size: 1.5em;
      }

      &:not(.elements-half) {
        .element-half {
          position: relative;
          width: 0.6em;
          overflow: hidden;

          img {
            width: 200%;
          }

          &:nth-child(1) {
            left: 0;
            margin-right: -0.01em;

            &.highlight {
              animation: element-half-pulse 1200ms ease-in-out infinite;
              transform-origin: center right;

              &:hover {
                transform: scale(1) !important;
              }
            }

          }

          &:nth-child(2) {
            right: 0;
            margin-left: -0.01em;

            img {
              transform: translateX(-50%);
            }

            &::before {
              background-position: right;
            }

            &.highlight {
              animation: element-half-pulse-right 1200ms ease-in-out infinite;
              transform-origin: center left;

              &:hover {
                transform: scale(1) !important;
              }
            }
          }
        }
      }

      &.elements-half {
        width: 2.5em;
        height: 1.25em;
        margin-left: 0.3em;
      }

      .element-half-container {

        overflow: visible;

        .element-half {
          top: -50%;
          height: 200%;
        }

        &::after {
          filter: var(--ghs-filter-white);
        }
      }
    }
  }

  @keyframes highlight-text-pulse {
    0% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.9);
    }
  }

  @keyframes element-pulse {
    0% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.8);
    }
  }

  @keyframes element-half-pulse {
    0% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.8);
    }
  }

  @keyframes element-half-pulse-right {
    0% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.8);
    }
  }


  .action-interactive {

    &.condition,
    &.action-custom,
    &.main-action,
    &.elements .element,
    &.element-half-container .element-half {
      cursor: zoom-in;
    }

    &.action-interactive-highlight {

      &.condition,
      &.action-custom,
      &.main-action {
        cursor: zoom-out;
        animation: highlight-text-pulse 1200ms ease-in-out infinite;

        &:hover {
          transform: scale(1);
          opacity: 0.8;
          animation: none;
        }
      }

      &.elements .element {
        cursor: zoom-out;
        animation: element-pulse 1200ms ease-in-out infinite;

        &:hover {
          animation: none;
          transform: scale(1) !important;
          z-index: 5;
        }
      }

      &.element-half-container .element-half {
        cursor: zoom-out;

        &:nth-child(1) {
          animation: element-half-pulse 1200ms ease-in-out infinite;
          transform-origin: center right;

          &:hover {
            transform: scale(1) !important;
          }
        }

        &:nth-child(2) {
          animation: element-half-pulse-right 1200ms ease-in-out infinite;
          transform-origin: center left;

          &:hover {
            transform: scale(1) !important;
          }
        }
      }
    }
  }

  ghs-action {

    &.subaction-area:not(:nth-of-type(1)) {
      margin-top: 0.1%;
    }

    &.subaction-area:nth-of-type(1) {
      flex-basis: 0;

      .action-area {

        ghs-action-hex {
          position: relative;
        }
      }
    }

    .action-element {
      margin-top: 0;
    }

  }

  .element-subactions {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    flex: 1 0 auto;

    .element {
      margin-top: 0;
      margin-left: 5%;
    }
  }

  .custom-subactions,
  .grant-subactions {
    width: 100%;
  }

  .monster-type {
    text-transform: uppercase;

    &.monster-type-elite {
      color: var(--ghs-color-yellow);
    }

    &.monster-type-boss {
      color: var(--ghs-color-red);
    }
  }

  .action-concatenation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    ghs-action {
      flex-basis: auto;
      flex-shrink: 0;
    }

    .action-concatenation-item {
      margin: 0 0.15em;
    }
  }

  .action-grid {
    --ghs-grid-columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--ghs-grid-columns), auto);
    column-gap: 0.5em;
    margin: 0 0.5em;
    align-items: center;
  }

  .action-box-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    .action-box-label {
      color: var(--ghs-ability-color);
      text-align: left;
      padding: 0.3em 1em;
    }

    .action-box {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.2em 0.3em;

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--ghs-color-black);
        opacity: 0.5;
        z-index: 0;
      }
    }
  }

  .action-box-fh-subactions-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;

    .action-box-label {
      color: var(--ghs-ability-color);
      text-align: left;
      padding: 0.3em 1em;
    }

    .action-box {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.2em 0.3em;
      border: 0.04em dashed var(--ghs-color-white);
      border-top-left-radius: 2em 100%;
      border-top-right-radius: 2em 100%;
      border-bottom-left-radius: 2em 100%;
      border-bottom-right-radius: 2em 100%;

      &::after {
        content: ' ';
        position: absolute;
        z-index: -1;
        top: -0.04em;
        left: -0.02em;
        height: 100%;
        width: 100%;
        background-color: var(--ghs-color-white);
        opacity: 0.2;
        border: 0.04em solid var(--ghs-color-white);
        border-top-left-radius: 2em 100%;
        border-top-right-radius: 2em 100%;
        border-bottom-left-radius: 2em 100%;
        border-bottom-right-radius: 2em 100%;
        z-index: -1;
      }
    }
  }

  .action-box-container-forced {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 0.5em;

    .action-box-label {
      position: relative;
      top: 0.1em;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      padding: 0.3em;
      border-right: 0.1em solid var(--ghs-color-white);

      .value {
        font-size: 1.5em;
      }
    }

    .action-box {
      position: relative;
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: center;
      padding: 0.2em;
    }

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--ghs-color-black);
      opacity: 0.5;
      z-index: 0;
      border: 0.1em solid var(--ghs-color-white);
      border-radius: 0.5em;
    }
  }


  .special-target-value {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ghs-action.subaction-monsterType {
    flex-basis: 0;
    flex-grow: 1;
  }

  &.inline {
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;

    &:not(:nth-child(1)) {
      margin-top: 0.1em;
    }

    .action-default,
    .action-custom,
    .action-grant,
    .action-summon,
    .action-trigger,
    .action-specialTarget,
    .action-condition,
    .condition,
    .action-condition {
      display: flex;
      justify-content: flex-start;
    }

    .condition {
      align-self: flex-start;
    }


    .type,
    .value,
    .condition-value,
    .custom-value,
    .grant-value,
    .special-target-value,
    .monster-type,
    .summon-value {
      filter: none !important;
    }

    .special-target-value {
      display: block;
    }

    .main-action,
    .subactions,
    .condition-subactions {
      align-self: flex-start;
      justify-content: flex-start;
    }

    .custom-value,
    .grant-value,
    ghs-action-summon {
      text-align: left;
      padding: 0 !important;
    }

    .action-concatenation {
      justify-content: flex-start;
    }

    .element-subactions,
    ghs-action {
      flex-basis: unset;

      &.subaction-area~ghs-action {
        flex-basis: 100%;
        flex-shrink: 1;
        margin-left: 0.1%;
      }
    }

    .action-element {
      flex-wrap: unset;
    }

    .action-custom,
    .action-grant,
    .action-summon {
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .icon {
      height: 0.7em;
      width: auto;
    }

    .subactions,
    .action-specialTarget {
      align-items: flex-start;
    }
  }

  &.right {
    justify-content: flex-end;
    text-align: right;

    .action-default,
    .action-custom,
    .action-grant,
    .action-trigger,
    .action-specialTarget,
    .action-condition,
    .action-element {
      justify-content: flex-end;
      text-align: right;
    }

    .action-default {
      .main-action {
        justify-content: flex-end;
        text-align: right;
        width: 100%;
      }
    }


    &.inline {

      .custom-value,
      .grant-value,
      ghs-action-summon {
        text-align: right;
        width: 100%;
      }

      .subactions {
        align-items: flex-end;
        align-self: flex-end;
      }
    }
  }

  &.text-black {
    color: var(--ghs-color-black);
    filter: none !important;

    .ghs-svg,
    .placeholder-action .icon {
      filter: none !important;
    }

    .action-default,
    .action-custom,
    .action-grant,
    .action-trigger,
    .action-specialTarget,
    .action-condition {
      filter: none !important;
    }

    .type,
    .value,
    .condition-value,
    .custom-value,
    .grant-value,
    .special-target-value,
    .monster-type,
    .summon-value {
      filter: none !important;
    }

  }

  .subactions,
  .monster-type-subactions {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subaction-area {
      margin-top: 0.3em;
    }
  }

  &.fh {

    max-width: 100%;

    .action-default,
    .action-custom,
    .action-grant,
    .action-summon,
    .action-trigger,
    .action-specialTarget,
    .action-condition,
    .action-element {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .custom-value,
    .grant-value,
    .special-target-value {
      font-family: var(--ghs-font-text);
    }

    .main-action {
      font-size: 125%;
      line-height: 125%;

      &.small {
        font-size: 90%;
        line-height: 90%;

        .icon {
          height: 0.8em;
        }
      }
    }

    .type,
    .condition-value {
      display: none;
    }

    .action-monster-type,
    .element-subactions {
      flex-direction: row;
      align-items: center;

      &.action-monster-type {
        flex-wrap: wrap;
      }
    }

    .action-grid {
      column-gap: 0.1em;
      margin: 0;
    }

    .monster-type {
      text-transform: initial;
    }

    &:not(.inline) {
      .condition {
        .condition-image {
          width: 1.4em;
          height: 1.4em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .subactions {
        .condition {
          .condition-image {
            width: 1.2em;
            height: 1em;
            display: flex;
            justify-content: center;
            align-items: center;

            img.icon {
              width: 1.5em;
              height: 1.5em;
              margin: 0;
            }
          }
        }

        .action-push,
        .action-pull,
        .action-pierce {
          .action-icon {
            width: 1.7em;
            height: 1em;
            justify-content: flex-start;

            img.icon {
              width: 1.5em;
              height: 1.5em;
              margin: 0;
            }
          }
        }
      }
    }

    .subactions,
    .condition-subactions,
    .monster-type-subactions,
    .subaction-custom .custom-subactions,
    .subaction-grant .grant-subactions,
    .subaction-specialTarget .special-target-subactions {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 95%;
      padding: 0.1em;
      margin-left: 0.2em;
      width: auto;

      &::before {
        content: ' ';
        position: absolute;
        z-index: 0;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        background-color: var(--ghs-color-white);
        opacity: 0.2;
        border-top-left-radius: 1em 100%;
        border-top-right-radius: 1em 100%;
        border-bottom-left-radius: 1em 100%;
        border-bottom-right-radius: 1em 100%;
      }

      &.monster-type-subactions {
        &::before {
          display: none;
        }
      }

      ghs-action {
        margin: 0 0.1em;
      }
    }

    &.text-black {

      .subactions,
      .condition-subactions,
      .monster-type-subactions,
      .subaction-custom .custom-subactions,
      .subaction-grant .grant-subactions,
      .subaction-specialTarget .special-target-subactions {

        &::before {
          opacity: 0.5;
        }
      }
    }

    .action-concatenation {
      .action-concatenation-item {
        margin: 0;
      }
    }

    .special-type {
      flex-basis: 100%;
      flex-shrink: 0;
    }

    .elements {
      .minus {
        margin-left: 0.15em;
      }

      .element:not(:first-child) {
        margin-left: 0.3em;
      }
    }

    .element-subactions {
      .subaction-element {
        .action-element {
          padding: 0;
        }
      }
    }

    .element-actions {
      flex-basis: 100%;

      .action-element {

        margin-top: 0.5em;

        &::before {
          content: ' ';
          position: absolute;
          top: -0.4em;
          left: 50%;
          transform: translateX(-50%);
          width: 2em;
          height: 0.4em;
          color: radial-gradient(var(--ghs-color-white) 0%, transparent 100%);
          background: radial-gradient(var(--ghs-color-white) 0%, transparent 100%);
          background-clip: padding-box;
          clip-path: polygon(48% 100%, 52% 100%, 52% 15%, 100% 15%, 100% 0%, 0% 0%, 0% 15%, 48.5% 15%);
          z-index: -1;
        }
      }
    }

    .action-element {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2em;

      .elements {
        .element-half-container {
          .element-half {
            top: initial;
            height: 100%;
          }
        }
      }

      .element-subactions {
        margin-left: -0.2em;

        .custom-value,
        .grant-value {
          padding: 0;
        }

        .subactions,
        .condition-subactions,
        .monster-type-subactions,
        .custom-subactions,
        .grant-subactions,
        .special-target-subactions {
          margin-left: 0.1em;
        }
      }
    }

    .action-element-consume {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      border: 0.04em dashed var(--ghs-color-white);
      border-top-left-radius: 2em 100%;
      border-top-right-radius: 2em 100%;
      border-bottom-left-radius: 2em 100%;
      border-bottom-right-radius: 2em 100%;

      &::after {
        content: ' ';
        position: absolute;
        z-index: -1;
        top: -0.04em;
        left: -0.02em;
        height: 100%;
        width: 100%;
        background-color: var(--ghs-color-white);
        opacity: 0.2;
        border: 0.04em solid var(--ghs-color-white);
        border-top-left-radius: 2em 100%;
        border-top-right-radius: 2em 100%;
        border-bottom-left-radius: 2em 100%;
        border-bottom-right-radius: 2em 100%;
        z-index: -1;
      }
    }

    &.inline {
      width: 100%;

      .subactions::before {
        background-color: var(--ghs-color-darkgray);
        opacity: 0.3;
      }

      .subactions {
        justify-content: center;
        align-self: center;
      }
    }

  }
}