.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  &.inline {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
    text-align: right;

    ghs-action {
      margin-left: auto;
    }
  }

  ghs-action {
    position: relative;
    width: 100%;

    &.spacing {
      margin-top: 0.7em;
    }
  }

  .divider {
    width: 2em;
    border-top: 0.11em var(--ghs-color-white) dotted;
    margin: 0.1em;
  }

  :first-child {
    margin-top: auto;
  }

  :last-child {
    margin-bottom: auto;
  }

  &.fh {
    .divider {
      width: 3em;
      height: 0.06em;
      min-height: 0.06em;
      border-top: none;
      background: linear-gradient(90deg, transparent 0%, var(--ghs-color-white) 50%, transparent 100%);
      margin: 0.2em;
    }
  }
}