.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  color: var(--ghs-color-white);
  font-weight: bold;

  .default,
  .custom,
  .specialTarget,
  .condition,
  .element {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .specialTarget {
    display: block;
  }

  .condition-value {
    text-transform: uppercase;
  }

  .icon {
    margin: 0 calc(var(--ghs-column-unit) * 0.5);
    height: 1em;
    width: auto;
  }

  .elite {
    color: var(--ghs-color-yellow);
  }


  .element {
    flex-wrap: unset;
    margin-top: calc(var(--ghs-column-unit) * 1);

    >img {
      height: calc(var(--ghs-column-unit) * 3);
      width: auto;
      margin: calc(var(--ghs-column-unit) * 0.25);
    }

    .minus {
      display: flex;
      align-items: center;
      width: calc(var(--ghs-column-unit) * 1);
      position: relative;

      &:before {
        content: " ";
        display: block;
        position: absolute;
        left: calc(var(--ghs-column-unit) * -3.2);
        width: calc(var(--ghs-column-unit) * 3);
        height: calc(var(--ghs-column-unit) * 3);
        background-image: url('~src/assets/images/element/minus.svg');
        background-size: cover;
      }
    }

  }

  ghs-action-hex {
    position: relative;
    left: calc(var(--ghs-column-unit) * 1);
    top: 0;
    transform: translate(50%, -50%);
    display: block;
  }

  ghs-action {
    flex-basis: 100%;
    flex-shrink: 0;
    max-width: 80%;

    &.subaction-area {
      flex-basis: 0;
      width: 0;
      height: 0;
      overflow: visible;
    }

    .action {
      font-size: 80%;

      .condition-value {
        font-size: 80%;
      }

      img.icon {
        margin: 0 calc(var(--ghs-column-unit) * 0.25);
      }
    }
  }

  .element-subactions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-shrink: 0;
    max-width: calc(var(--ghs-column-unit) * 23);

    .subaction-area {
      height: auto;
    }

    ghs-action-hex {
      transform: translate(50%, 0);
    }

    .element {
      margin-top: 0;
    }
  }
}