<span class="feedback-dialog">
    <!--
    <a *ngIf="form != 'issue'" (click)="form = 'scenario'"
        [ngClass]="{'active' : form == 'scenario'}">{{'tools.feedback.submitScenario' |
        ghsLabel}}</a>

    <div class="form scenario-form" *ngIf="form == 'scenario'">
        <label>{{'tools.feedback.submitScenario.name' | ghsLabel}}</label>
        <input #scenarioName [value]="gameManager.game.scenario?.name">

        <label>{{'tools.feedback.submitScenario.index' | ghsLabel}}</label>
        <input #scenarioIndex [value]="gameManager.game.scenario?.index">

        <label>{{'tools.feedback.submitScenario.notes' | ghsLabel}}</label>
        <textarea #scenarioNotes></textarea>

        <p class="hint">{{'tools.feedback.submitScenario.notes.hint' | ghsLabel}}</p>

        <a class="button"
            [href]="scenarioMail(scenarioName.value, scenarioIndex.value, scenarioNotes.value)">{{'tools.feedback.submitScenario.send'
            | ghsLabel}}</a>
    </div>
-->

    <a (click)="form = 'issue'" [ngClass]="{'active' : form == 'issue'}">{{'tools.feedback.reportIssue' | ghsLabel}}</a>

    <div class="form issue-form" *ngIf="form == 'issue'">
        <label>{{'tools.feedback.reportIssue.type' | ghsLabel}}</label>
        <select #issueType>
            <option value="abilityCard">{{'tools.feedback.reportIssue.type.abilityCard' | ghsLabel}}</option>
            <option value="monsterStat">{{'tools.feedback.reportIssue.type.monsterStat' | ghsLabel}}</option>
            <option value="characterStat">{{'tools.feedback.reportIssue.type.characterStat' | ghsLabel}}</option>
            <option value="artwork">{{'tools.feedback.reportIssue.type.artwork' | ghsLabel}}</option>
            <option value="software">{{'tools.feedback.reportIssue.type.software' | ghsLabel}}</option>
        </select>

        <p class="hint">{{'tools.feedback.reportIssue.type.' + issueType.value + '.hint' | ghsLabel}}</p>
        <p class="hint">{{'tools.feedback.reportIssue.specify' | ghsLabel}}</p>

        <label>{{'tools.feedback.reportIssue.text' | ghsLabel}}</label>
        <textarea #issuerText></textarea>

        <div class="buttons">
            <a class="button" (click)="downloadGameData()">{{'tools.feedback.reportIssue.download' | ghsLabel}}</a>

            <a class="button" [ngClass]="{'disabled' : !issuerText.value}"
                [href]="issueMail(issueType.value, issuerText.value)">{{'tools.feedback.reportIssue.send' |
                ghsLabel}}</a>
        </div>
    </div>

    <!--
    <a *ngIf="form == 'issue'" (click)="form = 'scenario'">{{'tools.feedback.submitScenario' | ghsLabel}}</a>
    -->

    <a href="https://github.com/Lurkars/gloomhavensecretariat/issues/new/choose"
        target="_blank">{{'tools.feedback.githubIssue' | ghsLabel}}</a>
</span>