.feedback-dialog {
    font-size: 150%;

    display: flex;
    flex-direction: column;
    padding: 0.5em;

    a {
        cursor: pointer;
        text-decoration: underline;

        &.active {
            color: var(--ghs-color-white);
            font-weight: bold;
            pointer-events: none;
            text-decoration: none;
        }
    }

    .hint {
        font-family: var(--ghs-font-text);
        font-size: 0.9em;
        color: var(--ghs-color-yellow);
    }

    .settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9em;
        color: var(--ghs-color-gray);
    }

    .form {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: start;
        column-gap: 0.5em;
        row-gap: 0.5em;

        label {
            color: var(--ghs-color-gray);
            display: flex;
        }

        .hint {
            grid-column: 2;
            padding: 0;
            margin: 0;
            font-family: var(--ghs-font-text);
            font-size: 0.7em;
            color: var(--ghs-color-gray);
            opacity: 0.9;
        }

        .warning {
            grid-column: 2;
            padding: 0;
            margin: 0;
            font-family: var(--ghs-font-text);
            font-size: 0.9em;
            color: var(--ghs-color-yellow);
            width: calc(var(--ghs-unit) * 65 * var(--ghs-dialog-factor));
        }

        textarea {
            width: calc(var(--ghs-unit) * 65 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 20 * var(--ghs-dialog-factor));
            max-width: 60vw;
        }

        .button {
            cursor: pointer;
            grid-column: span 2;
            place-self: end;
            padding: 0.3em 0.7em;
            border-radius: 0.5em;
            background-color: var(--ghs-color-darkgray);
            color: var(--ghs-color-white);
            text-decoration: none;
            font-family: var(--ghs-font-title);

            &:hover {
                opacity: 0.8;
            }

            &.disabled {
                pointer-events: none;
                color: var(--ghs-color-gray);
                opacity: 0.8;
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            grid-column: span 2;
            place-self: end;

            .button {
                margin: 0 0.5em
            }
        }
    }
}