.button {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    top: 0;
    right: -30%;
    color: var(--ghs-color-blue);
    transition: right calc(var(--ghs-animation-speed) * 200ms) ease-in-out;

    img {
        height: 100%;
        width: auto;
        filter: var(--ghs-filter-blue) var(--ghs-filter-shadow);
    }

    .text {
        display: none;
        padding: 0.3em;
        font-size: 2em;

        &:hover {
            opacity: 0.8;
        }
    }

    &:hover {
        right: 0;
        width: auto;

        .text {
            display: inline-block;
        }

    }
}