.health-bar {
  width: 100%;
  height: calc(var(--ghs-unit) * 0.5);
  border: none;
  background-color: transparent;

  .health-bar-value {
    height: 100%;
    max-width: 1000%;
    transition: width 0.5s;
    background-color: var(--ghs-color-green);
    border-radius: calc(var(--ghs-unit) * 1);
  }

  &.critical {
    .health-bar-value {
      background-color: var(--ghs-color-red);
    }
  }
}