.level-status {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  min-width: 30vw;

  .values {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;

    .ghs-svg {
      filter: var(--ghs-filter-white);
      width: calc(var(--ghs-unit) * 3 * var(--ghs-barsize));
      height: calc(var(--ghs-unit) * 3 * var(--ghs-barsize));
      margin: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-barsize));
      display: inline-block;
    }

    span {
      display: flex;
      align-items: center;
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-barsize));
      color: var(--ghs-color-white);
      margin-right: calc(var(--ghs-unit) * 2 * var(--ghs-barsize));

      img {
        margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-barsize));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-barsize));
        width: auto;
      }
    }

    &:hover {

      .ghs-svg {
        filter: var(--ghs-filter-gray);
      }

      span {
        color: var(--ghs-color-gray);
      }
    }
  }
}