<div class="level-status"
  [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.level}">

  <span #button class="dialog-button"></span>

  <div #button class="values" (click)="toggle()">
    <span class="level" title="{{'game.level' | ghsLabel}}"><img class="ghs-svg" src="./assets/images/level.svg">
      {{gameManager.game.level}}</span>
    <span class="loot" title="{{'game.level.loot' | ghsLabel}}"><img class="ghs-svg" src="./assets/images/loot.svg">
      x{{loot}}</span>
    <span class="trap" title="{{'game.level.trap' | ghsLabel}}"><img class="ghs-svg" src="./assets/images/trap.svg">
      {{trap}}</span>
    <span class="experience" title="{{'game.experience' | ghsLabel}}"><img class="ghs-svg"
        src="./assets/images/experience.svg"> +{{experience}}</span>
    <span *ngIf="gameManager.hazardousTerrain()" class="terrain"
      title="{{'game.level.hazardousTerrain' | ghsLabel}}"><img class="ghs-svg" src="./assets/images/terrain.svg">
      +{{terrain}}</span>
  </div>
</div>

<div #dialog class="level-dialog">

  <label>
    <input type="checkbox" [checked]="gameManager.game.levelCalculation"
      (change)="setLevelCalculation(!gameManager.game.levelCalculation)">
    {{'settings.levelCalculation' | ghsLabel}}
  </label>

  <div class="level-container" [ngClass]="{'disabled' : gameManager.game.levelCalculation}">
    <span class="item"><img src="./assets/images/level.svg" /></span>
    <span class="item" *ngFor="let level of levels;"><a class="level"
        [ngClass]="{'active' : level == gameManager.game.level, 'scenariolevel' : level == gameManager.levelManager.scenarioLevel()}"
        (click)="setLevel(level)">{{level}}</a></span>
    <div class="solo">
      <label>
        <input type="checkbox" [checked]="gameManager.game.solo"
          (change)="setSolo(!gameManager.game.solo)">{{'game.solo' |
        ghsLabel}}
      </label>
    </div>
  </div>

</div>