.level-dialog {

  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

    label input[type="number"] {
      width: 2em;
    }
  }

  label {
    display: flex;
    align-items: center;
    font-family: var(--ghs-font-title);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-gray);
    text-shadow: var(--ghs-outline);

    &.player-count {
      font-size: calc(var(--ghs-unit) * 2.3 * var(--ghs-dialog-factor));
    }
  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
  }

  img {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: auto;
  }

  .level-container {
    display: grid;
    grid-template-columns: repeat(5, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) auto;


    .item img {
      filter: var(--ghs-filter-white);
    }

    .level {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      cursor: pointer;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);

      &.scenariolevel {
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-darkgray) solid;
        border-radius: 100%;
      }

      &.active {
        pointer-events: none;
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }
    }

    &.disabled {

      .item img {
        filter: var(--ghs-filter-gray);
      }

      .level {
        pointer-events: none;

        &:not(.active) {
          color: var(--ghs-color-darkgray);
        }
      }
    }
  }


  .solo {

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));

    label {
      display: flex;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
    }

    input[type="checkbox"] {
      cursor: pointer;
      appearance: none;
      background-color: var(--form-background);
      width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      border-width: calc(var(--ghs-unit) * 0.3);
      border-style: solid;
      display: grid;
      place-content: center;
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);

      &::before {
        left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        top: calc(var(--ghs-unit) * -0.5 * var(--ghs-dialog-factor));
        position: relative;
        content: ' ';
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        color: var(--ghs-color-gray);
        background-color: var(--ghs-color-gray);
      }

      &:checked::before {
        transform: scale(1);
      }

      &:hover::before {
        background-color: var(--ghs-color-white);
      }
    }

  }

  .values {
    display: flex;
    flex-direction: column;
    color: var(--ghs-color-gray);
    font-size: 1.6em;
    font-family: var(--ghs-font-normal);

    &>div {
      display: grid;
      grid-template-columns: 0.2fr 0.2fr 1fr;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.2em;
    }

    .value {
      text-align: center;
    }

    .hint {
      text-align: left;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 1.3em;
        height: auto;
        filter: var(--ghs-filter-gray);
      }
    }
  }

  .bb {
    display: flex;
    flex-direction: column;
    color: var(--ghs-color-gray);
    font-size: 1.6em;
    font-family: var(--ghs-font-normal);

    .title {
      display: flex;
      align-items: center;

      img {
        margin-right: 0.5em;
        width: 1.3em;
        height: auto;
        filter: var(--ghs-filter-gray);
      }
    }

    .level {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8em;
      margin: 0.2em;

      img {
        float: left;
        margin-left: 0.2em;
        width: 1em;
        height: auto;
        filter: var(--ghs-filter-white);
      }

      .scenario-level {
        width: 10em;
        text-align: center;
      }

      &.current {
        .scenario-level {
          width: 8.8em;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}