<div class="menu-container two-column sheets">

    <div class="line span" [ngClass]="{'disabled' : !gameManager.game.edition}">
        <label>
            <input type="checkbox" [checked]="!gameManager.game.edition" (change)="setEdition()">
            &lt;<span [ghs-label]="'edition.all'"></span>&gt;
        </label>
    </div>
    <div class="line" *ngFor="let edition of gameManager.editions()">
        <label [ngClass]="{'disabled' : gameManager.game.edition == edition}">
            <input type="checkbox" [checked]="gameManager.game.edition == edition" (change)="setEdition(edition)">
            <span [ghs-label]="'data.edition.' + edition"></span>
        </label>
    </div>
    <div class="line separator ">
        <label>
            <input type="checkbox" [checked]="gameManager.game.party.campaignMode" (change)="toggleCampaignMode()">
            <span [ghs-label]="'party.campaignMode'"></span>
        </label>
    </div>

    <div class="line title span">
        <label><span [ghs-label]="'sheets'"></span></label>
    </div>

    <div class="line span">
        <a (click)="openPartySheet()" [ghs-label]="'sheets.party'"></a>
    </div>

    <div class="line span">
        <a (click)="openCampaignSheet()" [ghs-label]="'sheets.campaign'"></a>
    </div>

    <div class="line span">
        <a (click)="openItems()" [ghs-label]="'sheets.items'"></a>
    </div>

    <div class="line" *ngIf="settingsManager.settings.battleGoals">
        <a (click)="openBattleGoalsSetup()" [ghs-label]="'sheets.battleGoals'"></a>
    </div>

    <div class="line title span" *ngIf="characters.length > 0">
        <label><span [ghs-label]="'sheets.character'"></span></label>
    </div>

    <div class="line" *ngFor="let character of characters">
        <a (click)="openCharacterSheet(character);">
            <img class="icon" [src]="character.iconUrl" />
            <span>{{gameManager.characterManager.characterName(character, true)}}</span>
            <span class="edition" *ngIf="gameManager.getEdition(character)">&nbsp;
                <span>[</span>
                <span [ghs-label]="'data.edition.' + gameManager.getEdition(character)"></span>
                <span>]</span>
            </span>
        </a>
    </div>
    
    <div class="line title span">
        <label><span [ghs-label]="'edition.conditions'"></span></label>
    </div>
    <div class="line">
        <div class="conditions">
            <span class="item" *ngFor="let condition of conditions">
                <span class="condition" (click)="toggleCondition(condition.name)"
                    [ghsTooltip]="'game.condition.' + condition.name +'.hint'" [originX]="'center'"
                    [overlayX]="'center'" [originY]="'top'" [overlayY]="'bottom'"
                    [ngClass]="{'disabled' : gameManager.game.conditions.indexOf(condition.name) == -1 &&  editionConditions.indexOf(condition.name) != -1, 'active' : gameManager.game.conditions.indexOf(condition.name) != -1 }">
                    <img
                        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + condition.name + '.svg'" />

                </span>
            </span>
        </div>
    </div>
</div>