.undo-dialog {
    position: relative;
    padding: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    min-width: calc(var(--ghs-unit) * 70);

    .menu {
        display: flex;
        justify-content: space-between;

        .state {
            cursor: pointer;
            font-family: var(--ghs-font-title);

            &.disabled {
                pointer-events: none;
                color: var(--ghs-color-darkgray);
            }
        }

        &.clear-menu {
            margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

            .state {
                font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
                font-family: var(--ghs-font-text);

                &.confirm {
                    color: var(--ghs-color-red);
                }
            }
        }
    }

    .container {
        padding: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        max-height: calc(var(--ghs-unit) * 76 * var(--ghs-dialog-factor));
        overflow: auto;
    }

    .list {
        display: flex;
        flex-direction: column;

        .entry {
            position: relative;
            display: flex;
            color: var(--ghs-color-white);

            .revision {
                display: flex;
                justify-content: flex-end;
                text-align: right;
                width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }
        }

        &.current {

            margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) 0;
            border-top: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid transparent;
            border-bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid transparent;

            .entry .info {
                font-style: italic;
            }

            &.has-undos {
                border-bottom-color: var(--ghs-color-gray);
            }

            &.has-redos {
                border-top-color: var(--ghs-color-gray);
            }
        }

        .warning {
            display: flex;
            align-items: center;
            color: var(--ghs-color-red);

            &.undo-offset {
                cursor: zoom-out;

                &:hover {
                    opacity: 0.7;
                }
            }

            img {
                filter: var(--ghs-filter-red);
                height: 0.8em;
                width: auto;
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }
        }
    }
}