<div class="undo-dialog">
    <img src="./assets/images/shuffle.svg" class="working" *ngIf="working">
    <ng-container *ngIf="!working">
        <a class="close" (click)="dialogRef.close()" [ghs-label]="'close'" [ghs-label-attribute]="'title'"><img
                src="./assets/images/close.svg"></a>
        <div class="menu">
            <a class="state undo"
                [ngClass]="{'disabled' : !gameManager.stateManager.undoPermission || (undoOffset && gameManager.stateManager.gameOffsetWarning)}"
                (click)="undo()"><span [ghs-label]="'state.undo'"></span></a>
            <a class="state redo" [ngClass]="{'disabled' : !gameManager.stateManager.redoPermission }"
                (click)="redo()"><span [ghs-label]="'state.redo'"></span></a>
        </div>

        <div class="container">
            <div class="list redos">
                <ng-container *ngFor="let i of [] | ghsRange:gameManager.stateManager.redoCount:true;">
                    <span class="entry">
                        <span class="revision">{{redoRevisions[i] + 1 }}.</span>
                        <span class="info text-white" *ngIf="getRedoInfo(i).length > 0"
                            [ghs-label]="'state.info.' + getRedoInfo(i)[0]"
                            [ghs-label-args]="(getRedoInfo(i) | slice:1:getRedoInfo(i).length)" [ghs-label-empty]="true"></span>
                    </span>
                    <span class="warning" *ngIf="i > 0 && redoRevisions[i] - redoRevisions[i-1] != 1">
                        <img src="./assets/images/warning.svg">
                        <span [ghs-label]="'state.missing'" [ghs-label-args]="['' + (redoRevisions[i] -
                    redoRevisions[i-1] - 1)]"></span>
                    </span>
                </ng-container>
            </div>

            <div class="list current" [autoscroll]="true"
                [ngClass]="{'has-undos' : gameManager.stateManager.undoCount > 0,'has-redos' : gameManager.stateManager.redoCount > 0}">
                <span class="entry">
                    <span class="revision">{{gameManager.game.revision - (gameManager.game.revisionOffset || 0) +
                        1}}.</span>
                    <span class="info" [ghs-label]="'state.currentGame'"></span>
                </span>
                <span class="warning undo-offset" *ngIf="undoOffset && gameManager.stateManager.gameOffsetWarning"
                    (click)="gameManager.stateManager.gameOffsetWarning = false">
                    <img src="./assets/images/warning.svg">
                    <span [ghs-label]="'state.missing'" [ghs-label-args]="['' + undoOffset]"></span>
                </span>
            </div>

            <div class="list undos">
                <ng-container *ngFor="let i of [] | ghsRange:gameManager.stateManager.undoCount:true;">
                    <span class="warning" *ngIf="!undoOffset && i == gameManager.stateManager.undoCount - 1 && ((gameManager.game.revision
                    - gameManager.game.revisionOffset) - undoRevisions[i] - 1)">
                        <img src="./assets/images/warning.svg">
                        <span [ghs-label]="'state.missing'" [ghs-label-args]="['' + ((gameManager.game.revision
                        - gameManager.game.revisionOffset) -  undoRevisions[i] - 1)]"></span>
                    </span>
                    <span class="warning"
                        *ngIf="i < gameManager.stateManager.undoCount - 1 &&  undoRevisions[i+1] -  undoRevisions[i] != 1">
                        <img src="./assets/images/warning.svg">
                        <span [ghs-label]="'state.missing'" [ghs-label-args]="['' + ( undoRevisions[i+1]
                    -  undoRevisions[i] - 1)]"></span>
                    </span>
                    <span class="entry">
                        <span class="revision">{{ undoRevisions[i] + 1}}.</span>
                        <span class="info text-white" *ngIf="getUndoInfo(i).length > 0"
                            [ghs-label]="'state.info.' + getUndoInfo(i)[0]"
                            [ghs-label-args]="(getUndoInfo(i) | slice:1:getUndoInfo(i).length)" [ghs-label-empty]="true"></span>
                        <span class="spacer"></span>
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="menu clear-menu">
            <span *ngIf="gameManager.stateManager.undoCount == 0"></span>

            <a class="state" *ngIf="gameManager.stateManager.undoCount > 0"
                [ngClass]="{'disabled' : !gameManager.stateManager.undoPermission, 'confirm' : confirm == 'clearUndos'}"
                (mouseleave)="confirm = ''" (click)="clearUndos()"><span [ghs-label]="'state.clear.undos'"></span>{{confirm ==
                'clearUndos' ? '!' :
                '?'}}</a>

            <a class="state" *ngIf="gameManager.stateManager.redoCount > 0"
                [ngClass]="{'disabled' : !gameManager.stateManager.redoPermission, 'confirm' : confirm == 'clearRedos'}"
                (mouseleave)="confirm = ''" (click)="clearRedos()"><span [ghs-label]="'state.clear.redos'"></span>{{confirm ==
                'clearRedos' ? '!' :
                '?'}}</a>
        </div>
    </ng-container>
</div>