.entity-menu-dialog {

  .name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);


    img.icon {
      height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      width: auto;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    }

    img.standee {
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      border-top-left-radius: 30%;
      border-top-right-radius: 30%;
      height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      width: auto;
    }

    .standee-number {
      font-family: 'ghs-normal';
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      &.normal {
        color: var(--ghs-color-gray);
      }

      &.elite {
        color: var(--ghs-color-yellow);
      }

      &.boss {
        color: var(--ghs-color-red);
      }
    }

    .summon-icon {
      position: relative;
      width: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      .summon-number {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 6%;
        left: 6%;
        height: 85%;
        width: 45%;
        color: var(--ghs-color-white);
        background-color: var(--ghs-color-darkgray);
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        z-index: 1;
        opacity: 0.9;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

    }

    small {
      flex-basis: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);

      img.icon {
        height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
        margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }
    }
  }

  .status-container {
    display: flex;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .entity-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
    }

    .condition {
      display: flex;
      position: relative;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

      &.disabled {
        filter: grayscale(70%);
      }
    }
  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
  }

  a {
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-gray);

      .ghs-svg {
        filter: var(--ghs-filter-gray) !important;
      }
    }
  }

  img {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: auto;
  }

  .max-health-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor));

    img {
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      width: auto;
    }
  }


  .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    text-shadow: var(--ghs-outline);
  }


  .marker-container {
    display: grid;
    grid-template-columns: repeat(6, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
    column-gap: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
    row-gap: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    align-items: center;
    justify-items: center;
    margin-bottom: auto;

    .item {

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

      &.active,
      &.new {
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

    }


  }

  .summon-button {
    grid-column: span 3;
    display: flex;
    justify-content: center;
  }

  .shield-value {
    grid-column: span 3;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      margin: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      width: auto;
      filter: none;
    }
  }

  .summon {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    filter: grayscale(70%);

    &.new::after,
    &:hover::after {
      content: ' ';
      display: block;
      position: absolute;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      background-image: url('~src/assets/images/summons/minus.svg');
      background-size: cover;
    }

    &.active,
    &.new {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
      filter: none;
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
      filter: none;
    }

    &.new:hover::after,
    &.active:hover::after {
      content: '';
      display: none;
    }

    &.active:hover {
      filter: grayscale(70%);
    }

  }

  .max-health-container {
    justify-content: space-evenly !important;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor)) !important;

    img {
      height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
      width: auto;
    }

    .badge {
      right: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }
  }

  .summon-stats-container {
    grid-column: span 3;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

    .stat {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-white);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      img {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }
    }
  }

  .objective-id {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    overflow: hidden;
    background-color: var(--ghs-color-red);
    color: var(--ghs-color-white);
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 5.5 * var(--ghs-dialog-factor));
    line-height: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
    border-radius: 100%;
    border-color: var(--ghs-color-white);
    border-style: solid;
    border-width: calc(var(--ghs-unit) * 0.6);
  }

  .objective-container {
    display: flex;
    align-items: center;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .max-health {
      right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }

    input {
      max-width: calc(var(--ghs-unit) * 20 * var(--ghs-dialog-factor));
      margin: 0 calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      background-color: var(--ghs-color-black);
      border-width: calc(var(--ghs-unit) * 0.1);
      border-style: solid;
      border-color: var(--ghs-color-gray);
      border-radius: calc(var(--ghs-unit) * 1);
      user-select: auto;
      font-family: 'ghs-text';
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }
  }

  .level-button {
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    display: flex;
    align-items: center;
  }

  .level-dialog {

    display: flex;
    flex-direction: column;

    .level-container {
      display: grid;
      grid-template-columns: repeat(5, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      .level {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
        cursor: pointer;
        font-family: 'ghs-title';
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        text-shadow: var(--ghs-outline);

        &:hover {
          border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
          border-radius: 100%;
        }

        &.active {
          pointer-events: none;
          border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
          border-radius: 100%;
        }

      }
    }

    .char-container {
      display: flex;
      align-items: center;
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      .max-health {
        right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      }

      input {
        max-width: calc(var(--ghs-unit) * 20 * var(--ghs-dialog-factor));
        margin: 0 calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        background-color: var(--ghs-color-black);
        border-width: calc(var(--ghs-unit) * 0.1);
        border-style: solid;
        border-color: var(--ghs-color-gray);
        border-radius: calc(var(--ghs-unit) * 1);
        user-select: auto;
        font-family: 'ghs-text';
        font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      }
    }

    .summon-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));

      img {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      }

      .badge {
        left: 50%;
        transform: translate(-50%, calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor)));
      }

    }
  }
}