.entity-menu-dialog {

  position: relative;

  ghs-entity-index-key {
    position: absolute;
    top: 0;
    left: 0;
  }

  .name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--ghs-font-title);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    min-width: calc(var(--ghs-unit) * 44 * var(--ghs-dialog-factor));


    img.icon {
      height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      width: auto;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    }

    img.standee {
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      border-top-left-radius: 30%;
      border-top-right-radius: 30%;
      height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      width: auto;
    }

    .character-icon {
      cursor: pointer;

      &:hover {
        opacity: 0.4;
      }
    }

    .character-title {

      display: flex;
      align-items: center;

      &.absent {
        text-decoration: line-through;
      }
    }

    img.absent {
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      cursor: pointer;
      filter: var(--ghs-filter-white);
    }

    .change-entity {
      cursor: w-resize;
    }

    .standee-number {
      font-family: var(--ghs-font-normal);
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

      &.normal {
        color: var(--ghs-color-white);
      }

      &.elite {
        color: var(--ghs-color-yellow);
      }

      &.boss {
        color: var(--ghs-color-red);
      }

      &.bb-1 {
        color: var(--ghs-color-bb-1);
      }

      &.bb-2 {
        color: var(--ghs-color-bb-2);
      }

      &.bb-3 {
        color: var(--ghs-color-bb-3);
      }

      &.bb-4 {
        color: var(--ghs-color-bb-4);
      }

      &.bb-5 {
        color: var(--ghs-color-bb-5);
      }

      &.bb-6 {
        color: var(--ghs-color-bb-6);
      }

      &.bb-7 {
        color: var(--ghs-color-bb-7);
      }

      &.bb-8 {
        color: var(--ghs-color-bb-8);
      }

      &.bb-9 {
        color: var(--ghs-color-bb-9);
      }

      &.bb-10 {
        color: var(--ghs-color-bb-10);
      }
    }

    .summon-icon {
      position: relative;
      width: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .summon-number {
        position: absolute;
        left: calc(var(--ghs-unit) * -0.1 * var(--ghs-dialog-factor));
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(var(--ghs-unit) * 2.25 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        background-color: var(--ghs-color-darkgray);
        border-top-left-radius: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
        border-bottom-left-radius: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
        z-index: 1;
        opacity: 0.9;
      }

      &.fh {
        .summon-number {
          width: calc(var(--ghs-unit) * 4.5 * var(--ghs-dialog-factor));
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: ghs-title;
          font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
          color: var(--ghs-color-white);
          border: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor)) solid var(--ghs-color-white);
          border-radius: 100%;
        }
      }

    }

    small {
      flex-basis: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);

      img.icon {
        height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
        margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }
    }
  }

  .status-container {
    display: flex;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .entity-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
      row-gap: calc(var(--ghs-unit) * 0.8 * var(--ghs-dialog-factor));
      align-items: center;
      justify-items: center;
      margin-bottom: auto;
    }
  }

  .ghs-svg {
    filter: var(--ghs-filter-white);
  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));

    &.column {
      flex-direction: column;
      justify-content: space-around;
    }
  }

  a,
  ghs-pointer-input {
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.button {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 0.4;
      }
    }

    &.disabled,
    &.disabled:hover {
      pointer-events: none;
      color: var(--ghs-color-gray) !important;
      opacity: initial;

      .ghs-svg {
        filter: var(--ghs-filter-gray) !important;
      }

      &.soft {
        cursor: initial;
        pointer-events: initial;
      }
    }

    &.small {
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

      img {
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
        width: auto;
      }
    }
  }

  .add-retaliate {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 60%);
  }

  .character-token {
    font-size: calc(var(--ghs-unit) * 3.25 * var(--ghs-dialog-factor));
  }

  img {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: auto;
  }

  .condition {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

    &.disabled {
      color: var(--ghs-color-gray);
      filter: brightness(0.5) grayscale(0.2);
    }
  }

  .max-health-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2 span;
    width: calc(var(--ghs-unit) * 14 * var(--ghs-dialog-factor));

    img {
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      width: auto;
    }
  }

  .badge {
    position: absolute;
    bottom: 0;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    text-shadow: var(--ghs-outline);
    text-align: center;

    img {
      height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      width: auto;
    }

    &.badge-left {
      left: 0;
    }

    &.badge-right {
      right: 0;
    }

    &.badge-center {
      bottom: calc(var(--ghs-unit) * -0.5 * var(--ghs-dialog-factor));
      left: 50%;
      transform: translateX(-50%);
    }

    &.badge-warning {
      img {
        filter: var(--ghs-filter-red);
      }
    }

    &.badge-character-icon {
      bottom: calc(var(--ghs-unit) * -0.5 * var(--ghs-dialog-factor));
      right: 40%;

      img {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      }
    }
  }

  input.badge {
    right: calc(var(--ghs-unit) * -1.5 * var(--ghs-dialog-factor));
    min-width: 0;
    border: none;
    width: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
    background: transparent;
  }


  .marker-container,
  .identities-container {

    &.marker-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
      row-gap: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      align-items: center;
      justify-items: center;
      margin-bottom: auto;
      grid-column: 1 / span 3;
    }

    &.identities-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

      &.deactivated {
        cursor: initial;
      }

      &.active,
      &.new {
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;

        &.deactivated {
          border: none;
        }
      }

      &.disabled,
      &.deactivated {
        img {
          filter: grayscale(0.7);
          opacity: 0.7;
        }
      }

    }
  }

  .item {
    &.active {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
    }
  }

  .separator {
    grid-column: span 3;
    width: 100%;
    border-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-darkgray);
    margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  }

  .action-hint {
    grid-column: span 3;
    font-size: 1.5em;
  }

  .shield-overlay {
    grid-column: span 3;
    font-size: 1.7em;
    height: 0.5em;
  }

  .exhausted,
  .condition.marker {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .summon {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    filter: grayscale(70%);

    &.new::after,
    &:hover::after {
      content: ' ';
      display: block;
      position: absolute;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      background-image: url('~src/assets/images/summons/minus.svg');
      background-size: cover;
    }

    &.active,
    &.new {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
      filter: none;
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
      filter: none;
    }

    &.new:hover::after,
    &.active:hover::after {
      content: '';
      display: none;
    }

    &.active:hover {
      filter: grayscale(70%);
    }

    &.fh {

      &.new::after,
      &:hover::after {
        right: calc(var(--ghs-unit) * -0.3 * var(--ghs-dialog-factor));
        top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
        background-image: url('~src/assets/images/fh/summons/minus.svg');
        z-index: 2;
      }

      .summon-number {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
        background-color: var(--ghs-color-darkgray);
        z-index: 1;
        opacity: 0.9;
        font-family: ghs-title;
        color: var(--ghs-color-white);
        border: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor)) solid var(--ghs-color-white);
        border-radius: 100%;
      }
    }

  }

  .max-health-container {
    justify-content: space-evenly !important;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor)) !important;

    img {
      height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
      width: auto;
    }

    .badge {
      right: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }
  }

  .remove {
    img {
      height: calc(var(--ghs-unit) * 3.2 * var(--ghs-dialog-factor));
      filter: var(--ghs-filter-red);
    }
  }

  .summon-stats-container {
    grid-column: span 3;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

    .stat {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-white);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      img {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }
    }
  }

  .objective-marker {
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
  }

  .map-marker {
    font-size: calc(var(--ghs-unit) * 4.7 * var(--ghs-dialog-factor));

    &.empty {
      filter: grayscale(0.7);
    }
  }

  input.title {
    max-width: calc(var(--ghs-unit) * 20 * var(--ghs-dialog-factor));
    margin: 0 calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    background-color: var(--form-background);
    border-width: calc(var(--ghs-unit) * 0.1);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-unit) * 1);
    user-select: auto;
    -webkit-user-select: auto;
    font-family: var(--ghs-font-text);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
  }

  .special-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .hint-container {

      img.hint-trigger {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        width: auto;
        margin-top: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
      }

      .special-action {
        height: auto;
        margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
      }

      .hint {
        min-width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));
      }
    }

    .special-action {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      opacity: 0.8;
      filter: grayscale(0.5);

      &::after {
        position: relative;
        content: " ";
        width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        color: var(--ghs-color-white);
        background-color: var(--ghs-color-white);
        margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }

      &.active-tag {
        opacity: 1;
        filter: none;

        &::after {
          transform: scale(1);
        }
      }
    }
  }

  .decks {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--ghs-unit) * 1) 0;

    .deck {
      font-family: "ghs-title";
      display: flex;
      justify-content: center;
      z-index: 2;
      width: calc(var(--ghs-unit) * 5);
      height: calc(var(--ghs-unit) * 5);
      color: var(--ghs-color-white);
      font-size: calc(var(--ghs-unit) * 3.5);
      line-height: calc(var(--ghs-unit) * 4.5);
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-image: url('~src/assets/images/attackmodifier/am-character-icon.png');
      margin: calc(var(--ghs-unit) * 1);
      cursor: pointer;

      img {
        margin-top: calc(var(--ghs-unit) * 0.8);
        filter: grayscale(100%) brightness(100) contrast(100%);
        height: 70%;
        width: auto;
      }

      &:hover {
        filter: brightness(0.7);
      }

      &.active {
        cursor: initial;
        filter: grayscale(0.5) brightness(0.5);
      }

      &.warning {
        border: calc(var(--ghs-unit) * 0.4) solid var(--ghs-color-red);
        border-radius: 100%;
        filter: brightness(0.7);
      }
    }

  }

  .objective-container {
    display: flex;
    align-items: center;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .max-health {
      right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }
  }

  .level-button {
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    display: flex;
    align-items: center;
  }

  .level-dialog {

    display: flex;
    flex-direction: column;
    align-items: center;

    .level-container {
      display: grid;
      grid-template-columns: repeat(5, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      &.bb {
        grid-template-columns: repeat(3, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));
      }

      .level {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
        cursor: pointer;
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        text-shadow: var(--ghs-outline);

        &:hover {
          border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
          border-radius: 100%;
        }

        &.active {
          pointer-events: none;
          border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
          border-radius: 100%;
        }

      }
    }

    .char-container {
      display: flex;
      align-items: center;
      margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      .titles-container {
        display: flex;
        flex-direction: column;

        .title-container {
          display: flex;
          align-items: center;
        }
      }

      .max-health {
        right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      }
    }

    .summon-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));

      img {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      }

      .badge {
        left: 50%;
        transform: translate(-50%, calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor)));
      }

    }
  }
}