.map {
    position: relative;
    width: 2958px;
    height: 2410px;

    display: grid;
    grid-template-columns: 106px repeat(19, 1fr);
    grid-template-rows: 80px repeat(15, 1fr) 80px;
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &.gh {
        background-image: url('~src/assets/images/maps/gh-map.jpg');
    }

    .scenario-container {
        position: relative;
        display: flex;

        .scenario {
            position: absolute;
            top: 0;
            left: 0;

            img {
                position: absolute;
                top: 0;
                left: 0;
                filter: brightness(1.3);
            }

            &:hover {
                cursor: pointer;
                z-index: 99;

                img {
                    filter: brightness(1.1);
                }
            }

            &.success,
            &.succes:hover {
                cursor: initial;

                img {
                    filter: none;
                }
            }
        }
    }
}