<div class="move-resources-dialog">
    <label class="title">
        <span class="name"><img class="ghs-svg"
                [src]="'./assets/images/' + (settingsManager.settings.fhStyle ? 'fh/' : '') +  'loot.svg'">
            {{'character.progress.selectGold' | ghsLabel}} </span>
        <span *ngIf="min > 0">{{gold}} / {{min}}</span>
    </label>
    <div class="values">
        <ng-container *ngFor="let character of characters; let i = index;">
            <label><img [src]="character.iconUrl">
                {{'game.loot.' | ghsLabel}}</label>
            <a class="button" [ngClass]="{'disabled' : characterGold[i] == 0 }" (click)="changeGold(i, -1)">
                <img class="ghs-svg" src="./assets/images/minus.svg">
            </a>
            <span class="value" title="{{'game.loot.'  | ghsLabel}}">
                {{characterGold[i] || '-'}} / {{character.progress.gold}}
            </span>
            <a class="button"
                [ngClass]="{'disabled' : character.progress.gold == characterGold[i] || max > 0 && gold == max}"
                (click)="changeGold(i,  1)">
                <img class="ghs-svg" src="./assets/images/plus.svg">
            </a>
        </ng-container>
    </div>
    <div class="menu">
        <a class="cancel" (click)="close()">{{'cancel' | ghsLabel}}</a>
        <a class="apply" [ngClass]="{'disabled' : min > 0 && gold < min }"
            (click)="moveGold()">{{'character.progress.selectGold.apply' | ghsLabel}}</a>
    </div>
</div>