.condition-container {
  margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  display: grid;
  grid-template-columns: repeat(var(--condition-columns), calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
  column-gap: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
  row-gap: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
  align-items: center;
  justify-items: center;
  margin-bottom: auto;
  margin-bottom: calc(var(--ghs-unit) / 4 * var(--ghs-dialog-factor));
  max-height: calc(var(--ghs-unit) * 65 * var(--ghs-dialog-factor));

  .separator {
    grid-column: span var(--condition-columns);
    width: 100%;
    border-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-darkgray);
  }
}

.item {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
  width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

  &.disabled {
    pointer-events: none;
    color: var(--ghs-color-gray);
    filter: brightness(0.5) grayscale(0.2);

    .ghs-svg {
      filter: var(--ghs-filter-gray) !important;
    }
  }

  .condition {
    cursor: pointer;
    position: relative;
    display: flex;
    position: relative;
    width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    z-index: 1;

    &.permanent-overlay {
      position: absolute;
      top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      pointer-events: none;
      z-index: 2;
    }

    &::after {
      pointer-events: none;
      content: ' ';
      height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      height: 100%;
      width: auto;
    }

    .value {
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 1.3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      position: absolute;
      bottom: 0;
      left: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      transform: translateX(-50%);

      &.stack {
        left: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
        bottom: calc(var(--ghs-unit) * -0.5 * var(--ghs-dialog-factor));
      }
    }

    &.active::after {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
    }

    &:hover::after {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }

    &.active:hover::after {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-red) solid;
    }

    &.toggle {
      justify-content: center;
      align-items: center;

      img {
        height: 70%;
        width: auto;
      }
    }

  }

  .dec,
  .inc {
    cursor: pointer;
    position: absolute;
    width: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    height: auto;
    filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
    top: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    transform: translateY(-50%);

    &.dec {
      left: 0;
    }

    &.inc {
      right: 0;
    }

    &.disabled {
      pointer-events: none;
      filter: var(--ghs-filter-darkgray);
    }
  }
}