.highlight-conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .condition {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    margin-top: calc(var(--ghs-unit) * 1);

    @keyframes condition-hightlight {

      0% {
        transform: scale(0) translateY(0);
      }

      25%,
      60% {
        transform: scale(1) translateY(-70%);
      }

      100% {
        transform: scale(0) translateY(0);
      }
    }

    &.animation {
      animation: condition-hightlight 1s ease-in-out;
    }

    &.apply {
      transform: scale(1);

      &:not(.animation)::before {
        content: ' ';
        position: absolute;
        top: calc(var(--ghs-unit) * -0.5);
        bottom: 0;
        left: calc(var(--ghs-unit) * -0.5);
        right: calc(var(--ghs-unit) * -0.5);
        background-color: var(--ghs-color-darkgray);
        border-radius: 30%;
        opacity: 0.5;
      }
    }

    .condition-image {
      position: relative;
      z-index: 1;

      img {
        height: calc(var(--ghs-unit) * 5);
        width: auto;
      }

      .value {
        position: absolute;
        top: calc(var(--ghs-unit) * 2.5);
        left: calc(var(--ghs-unit) * 2.5);
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 2);
        color: var(--ghs-color-white);
        text-shadow: none;
        transform: translateX(-50%);
      }
    }

    .close,
    .check {
      cursor: pointer;
      width: calc(var(--ghs-unit) * 4);
      height: auto;
      z-index: 2;
      margin-top: calc(var(--ghs-unit) * 0.8);

      &.animation {
        animation: hide-animation 0.95s ease-in-out;
      }

      img {
        width: 100%;
        height: auto;
      }

      &:hover {
        transition: all 100ms;
        transform: scale(1.2);
      }
    }

    .close {
      filter: var(--ghs-filter-red);
      margin-right: calc(var(--ghs-unit) * -0.8);
    }

    .check {
      filter: var(--ghs-filter-green);
      margin-left: calc(var(--ghs-unit) * -0.8);
    }
  }
}