.highlight-conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .condition {
    position: relative;

    &.animation {
      animation: condition-hightlight 1.1s ease-in-out;
    }

    img {
      height: calc(var(--ghs-unit) * 5);
      width: auto;
    }

    .value {
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 2);
      color: var(--ghs-color-white);
      position: absolute;
      top: calc(var(--ghs-unit) * 2.5);
      left: calc(var(--ghs-unit) * 2.5);
      text-shadow: none;
      transform: translateX(-50%);
    }

    .close,
    .check {
      cursor: pointer;
      position: absolute;
      top: calc(var(--ghs-unit) * 3.5);
      width: calc(var(--ghs-unit) * 1.8);
      height: auto;

      &.animation {
        animation: hide-animation 0.95s ease-in-out;
      }

      img {
        width: 100%;
        height: auto;
      }

      &:hover {
        transition: all 100ms;
        width: calc(var(--ghs-unit) * 2.7);
        transform: translate(calc(var(--ghs-unit) * -0.35), calc(var(--ghs-unit) * -0.35));
      }
    }

    .close {
      filter: var(--ghs-filter-red);
      left: calc(var(--ghs-unit) * -0.5);
    }

    .check {
      filter: var(--ghs-filter-green);
      left: calc(var(--ghs-unit) * 3.2);
    }
  }
}