.menu {
  display: flex;
}

.decks {
  width: 100%;
  overflow: auto;
  display: flex;

  .deck {
    display: flex;
    flex-direction: column;

    ghs-ability {
      width: 400px;
      height: 255px;
      margin: 10px;

      &.bottom-actions {
        height: 540px;
      }
    }
  }
}