.character {
  position: relative;
  z-index: 1;
  height: 100%;
  width: calc(var(--ghs-unit) * 98);
  height: calc(var(--ghs-unit) * 14);
  background-color: var(--ghs-character-color);
  background-image: url('~/src/assets/images/character/char-mat.png'), url('~/src/assets/images/character/char-mat.png');
  background-blend-mode: multiply, overlay;
  background-size: 100% 100%;
  display: flex;
  --ghs-character-color: #000;
  border-radius: calc(var(--ghs-unit) * 0.5);
  filter: var(--ghs-filter-outline);
  transition: background-color 150ms ease-in-out, background-image 150ms ease-in-out, background-blend-mode 150ms ease-in-out;

  &.dimmed {
    background-color: var(--ghs-color-gray);
    background-image: url('~/src/assets/images/character/char-mat.png');
    background-blend-mode: multiply;

    ghs-character-image,
    ghs-character-initiative,
    .title,
    .conditions,
    .experience,
    .loot,
    .icon-container,
    .stats .column {
      filter: grayscale(15%);
      opacity: 0.5;
    }
  }

  ghs-character-image {
    position: relative;
    width: calc(var(--ghs-unit) * 9.5);
    height: calc(var(--ghs-unit) * 9.5);
    margin: calc(var(--ghs-unit) * 2.1) calc(var(--ghs-unit) * 3.4);
    left: calc(var(--ghs-unit) * 2.4);
  }

  ghs-character-initiative,
  ghs-character-image {
    z-index: 2;
  }


  ghs-drag-click.drag-initiative {
    position: absolute;
    top: calc(var(--ghs-unit) * 2.1);
    left: calc(var(--ghs-unit) * 6);
    width: calc(var(--ghs-unit) * 9.5);
    height: calc(var(--ghs-unit) * 9.5);
    z-index: 4;

    &.dragging {
      left: 0;
      width: 100%;
    }
  }

  ghs-drag-click.drag-hp,
  ghs-drag-click.drag-xp,
  ghs-drag-click.drag-loot {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 1.5);
    left: calc(var(--ghs-unit) * 22);
    width: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5);
    z-index: 4;

    &.drag-xp {
      top: calc(var(--ghs-unit) * 1.5);
      left: calc(var(--ghs-unit) * 73);
      width: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
      bottom: initial;
    }

    &.drag-loot {
      left: calc(var(--ghs-unit) * 73);
      width: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
    }
  }

  ghs-highlight-conditions {
    position: absolute;
    left: calc(var(--ghs-unit) * 6);
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--ghs-unit) * 9.5);
    z-index: 5;
  }

  .attack-modifierdeck-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    ghs-attackmodifier-deck {
      position: absolute;
      display: flex;
      top: calc(var(--ghs-unit) * 1.5 / var(--ghs-text-factor) / var(--ghs-text-factor));
      left: calc(var(--ghs-unit) * 21.5);
      width: calc(var(--ghs-unit) * 37.5 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor));
      z-index: 3;
    }


    .attack-modifierdeck-close {
      position: absolute;
      cursor: zoom-out;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
  }

  .stats {
    height: 100%;
    display: flex;
    flex-basis: 100%;
    cursor: pointer;
    margin-left: calc(var(--ghs-unit) * 1);

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &.col-1 {
        max-width: calc(var(--ghs-unit) * 42);
      }

      &.col-2 {
        width: calc(var(--ghs-unit) * 8.5);
        justify-content: space-evenly;
      }
    }

    .title-bar {
      display: flex;
      align-items: center;
    }

    .title {
      pointer-events: none;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);
      display: flex;
      align-items: center;

      img.icon {
        height: calc(var(--ghs-unit) * 5.5 * var(--ghs-text-factor));
        width: auto;
        margin-left: calc(var(--ghs-unit) * -1.1 * var(--ghs-text-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
      }

      img.exhausted {
        margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
        width: auto;
      }
    }

    .status-bar {
      display: flex;
      align-items: center;
    }

    .health {
      display: flex;
      align-items: center;
      font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);


      img {
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        width: auto;
      }
    }

    .markers {
      position: relative;
      display: flex;
      justify-content: center;
      max-height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
      padding-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

      .marker {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        background-color: var(--ghs-color-darkgray);
        border-radius: 100%;
        height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        margin-right: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        border-width: calc(var(--ghs-unit) * 0.4);
        border-style: solid;
        border-color: var(--ghs-color-gray);

        img {
          width: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        }
      }
    }


    .conditions {
      position: relative;
      display: flex;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));

      .condition {
        position: relative;
        display: flex;
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

        img {
          width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
          margin: 0;

          &.stack {
            margin-left: calc(var(--ghs-unit) * -2 * var(--ghs-text-factor));
          }
        }

        .value {
          font-family: "ghs-title";
          font-size: calc(var(--ghs-unit) * 1.2 * var(--ghs-text-factor));
          color: var(--ghs-color-white);
          position: absolute;
          top: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
          left: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
          text-shadow: none;
          transform: translateX(-50%);
        }
      }
    }

    .attack-modifier-icon {
      display: flex;
      align-items: center;
      align-self: center;

      img {
        width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor) * var(--ghs-text-factor));
        height: auto;
        margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .experience,
    .loot {
      display: flex;
      align-items: center;
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
      filter: var(--ghs-filter-shadow);

      img {
        height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
        margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
      }
    }

    .experience {
      color: var(--ghs-color-blue);
    }

    .loot {
      color: var(--ghs-color-yellow);
    }

  }

  &.absent {
    cursor: initial;
    opacity: 0.6;

    .stats {
      cursor: initial;
    }
  }

  .summon-dialog {
    display: flex;
    align-items: center;
  }

  .summon-dialog-button {
    position: relative;
    display: flex;
    width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor));
    color: var(--ghs-color-gray);
    filter: var(--ghs-filter-gray);
    stroke: var(--ghs-color-black);
    stroke-width: calc(var(--ghs-unit) * 1.5);
    margin: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));

    &:hover {
      color: var(--ghs-color-white);
      filter: var(--ghs-filter-white);
    }

  }

  ghs-figure-errors {
    position: absolute;
    left: calc(var(--ghs-unit) * 14.5);
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }

  .character-sheet-button {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: calc(var(--ghs-unit) * 12);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(var(--ghs-unit) * 4);

    img {
      height: calc(var(--ghs-unit) * 8);
      width: auto;
      filter: var(--ghs-filter-shadow);
    }

    ghs-drag-click {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .title,
  .conditions,
  .experience,
  .loot,
  .icon-container,
  .attack-modifier-icon,
  .character-sheet-button,
  &::before {
    transition: filter 150ms ease-in-out;
  }

  &.off {
    background-color: var(--ghs-color-gray);
    background-image: url('~/src/assets/images/character/char-mat.png');
    background-blend-mode: multiply;

    .title,
    .experience,
    .loot,
    .icon-container,
    .character-sheet-button,
    &::before {
      filter: grayscale(1) !important;
    }
  }
}

.summons-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: max-height 2s ease-out;
  max-height: 100%;
  min-width: calc(var(--ghs-unit) * 7);
  max-width: calc(var(--ghs-unit) * 96);

  &.empty {
    max-height: 0;
  }


  .spacer {
    flex: none;
    width: calc(var(--ghs-unit) * 10.5);
    height: 100%;
  }

  .icon {
    display: block;
    width: calc(var(--ghs-unit) * 6);
    height: calc(var(--ghs-unit) * 6);
    margin-right: calc(var(--ghs-unit) * 1);

    img {
      width: 100%;
      height: auto;
      filter: var(--ghs-filter-shadow);
    }

    &:not(.empty) {
      opacity: 1;
      transform: translate(0%, 0%);
    }

    &.empty {
      opacity: 0;
      max-width: 0;
      transform: translate(0%, 100%);
    }
  }

  .summons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(var(--ghs-unit) * 77.5);
  }

  &.off {
    .icon {
      filter: grayscale(100%);
    }
  }
}