<div class="summons-container"
  [ngClass]="{'empty' : emptySummons(), 'off' : character.off || character.exhausted || character.health <= 0  }">
  <span class="spacer"></span>
  <span class="icon" [ngClass]="{'empty' : emptySummons()}" [entityAnimation]="emptySummons()">
    <img [src]="characterManager.characterIcon(character)" />
  </span>
  <div class="summons">
    <ghs-summon-entity *ngFor="let summon of character.summons" [character]="character" [summon]="summon">
    </ghs-summon-entity>
  </div>
</div>

<div class="character" [style.--ghs-character-color]="character.color"
  [ngClass]="{'off' : character.off || character.exhausted || character.health <= 0, 'denied' : !gameManager.stateManager.hasCharacterPermission(character), 'dimmed' : character.attackModifierDeckVisible}">

  <ghs-character-image (click)="close()" [character]="character"
    [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.round}">
  </ghs-character-image>

  <ghs-character-initiative (click)="close()" [character]="character"></ghs-character-initiative>

  <ghs-highlight-conditions [entity]="character"></ghs-highlight-conditions>

  <div class="stats">
    <div class="column col-1" (click)="toggle()">
      <div #button class="title"><img class="icon" [src]="characterManager.characterIcon(character)" />
        {{character.title || ('data.character.' + character.name | ghsLabel)}}
        <img class="ghs-svg exhausted" *ngIf="character.exhausted" src="./assets/images/status/exhausted.svg" />
      </div>
      <div class="status-bar">
        <div class="health" title="{{'game.health' | ghsLabel}}">
          <img src="./assets/images/status/health.svg" />
          {{character.health}}/{{character.maxHealth}} <span class="drag-hp"
            [ngClass]="{'health-negative' : dragHp < 0, 'health-positive' : dragHp > 0}" *ngIf="dragHp">{{dragHp |
            ghsValueSign}}</span>
        </div>
        <div class="conditions">
          <span class="condition" *ngFor="let entityCondition of gameManager.entityManager.activeConditions(character)">
            <img src="./assets/images/condition/{{entityCondition.name}}.svg" />
            <ng-container *ngIf="entityCondition.types.indexOf(ConditionType.stack) != -1">
              <img class="stack" *ngFor="let i of [] | ghsRange:(entityCondition.value - 1)"
                src="./assets/images/condition/{{entityCondition.name}}.svg" />
            </ng-container>
            <span class="value"
              *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="character.attackModifierDeckVisible" class="attack-modifierdeck-container">
      <ghs-attackmodifier-deck [character]="character" (change)="changeAttackModifierDeck($event)"></ghs-attackmodifier-deck>
      <div class="attack-modifierdeck-close" (click)="toggleAttackModifierDeckVisible()"></div>
    </div>

    <span class="spacer" (click)="toggle()"></span>

    <span *ngIf="!character.attackModifierDeckVisible" class="attack-modifier-icon"
      (click)="toggleAttackModifierDeckVisible()" title="{{'game.attackModifiers' | ghsLabel}}">
      <img src="./assets/images/attackmodifier/icon.png" />
    </span>

    <ghs-character-summondialog [character]="character"></ghs-character-summondialog>
    <div class="column col-2" (click)="toggle()">
      <span class="experience" title="{{'game.experience' | ghsLabel}}">{{character.experience}}
        <img src="./assets/images/status/experience.svg" />
      </span>
      <span class="loot" title="{{'game.loot' | ghsLabel}}">{{character.loot}}
        <img src="./assets/images/status/loot.svg" />
      </span>
    </div>

    <ghs-character-sheet [character]="character"></ghs-character-sheet>

  </div>

  <ghs-figure-errors [figure]="character"></ghs-figure-errors>
</div>

<div #dialog class="dialog">
  <div *ngIf="!levelDialog" class="status-container">
    <div class="entity-container">
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : character.health == 0}" (click)="changeHealth(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item" title="{{'game.health' | ghsLabel}}">
        <img src="./assets/images/status/health.svg" />
        <span class="badge health-count"
          [ngClass]="{'health-negative' : health < 0, 'health-positive' : health > 0}">{{health | ghsValueSign}}</span>
      </span>
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : character.health == character.maxHealth}" (click)="changeHealth(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>


      <span class="item">
        <a class="button" [ngClass]="{'disabled' : character.experience == 0}" (click)="changeExperience(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item" title="{{'game.experience' | ghsLabel}}">
        <img src="./assets/images/status/experience.svg" />
        <span class="badge">{{experience | ghsValueSign}}</span>
      </span>
      <span class="item">
        <a class="button" (click)="changeExperience(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <span class="item">
        <a class="button" [ngClass]="{'disabled' : character.loot == 0}" (click)="changeLoot(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item" title="{{'game.loot' | ghsLabel}}">
        <img src="./assets/images/status/loot.svg" />
        <span class="badge">{{loot | ghsValueSign}}</span>
      </span>
      <span class="item">
        <a class="button" (click)="changeLoot(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>


      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAttackModifier(AttackModifierType.bless) == countDrawnAttackModifier(AttackModifierType.bless)}"
          (click)="changeBless(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item" title="{{'game.condition.bless' | ghsLabel}}">
        <span class="condition">
          <img src="./assets/images/status/bless.svg" />
        </span>
        <span class="badge bless-count">{{countAttackModifier(AttackModifierType.bless)}}</span>
      </span>
      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAllAttackModifier(AttackModifierType.bless) >= 10}"
          (click)="changeBless(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAttackModifier(AttackModifierType.curse) == countDrawnAttackModifier(AttackModifierType.curse)}"
          (click)="changeCurse(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item" title="{{'game.condition.curse' | ghsLabel}}">
        <span class="condition">
          <img src="./assets/images/status/curse.svg" />
        </span>
        <span class="badge curse-count">{{countAttackModifier(AttackModifierType.curse)}}</span>
      </span>
      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAllAttackModifier(AttackModifierType.curse) >= 10}"
          (click)="changeCurse(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>


      <span class="item" title="{{'game.exhausted' | ghsLabel}}">
        <a class="condition" [ngClass]="{'active' : character.exhausted}" (click)="toggleExhausted()">
          <img src="./assets/images/status/exhausted.svg" />
        </a>
      </span>
      <span class="item" title="{{'game.level' | ghsLabel}}">
        <a class="button level-button" (click)="openLevelDialog()">
          {{character.level}} <img src="./assets/images/status/level.svg" />
        </a>
      </span>
      <span></span>
    </div>

    <ghs-conditions [entity]="character" [figure]="character" type="character"></ghs-conditions>
  </div>

  <div *ngIf="levelDialog" class="level-dialog">
    <div class="level-container">
      <span class="item"><img src="./assets/images/status/level.svg" /></span>
      <span class="item" *ngFor="let level of levels;"><a class="level"
          [ngClass]="{'active' : level == character.level}" (click)="setLevel(level)">{{level}}</a></span>
    </div>
    <div class="char-container">
      <input #charactertitle />
      <a class="button" (click)="changeMaxHealth(-1)">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </a>
      <span class="item" title="{{'game.maxHealth' | ghsLabel}}">
        <img src="./assets/images/status/health.svg" />
        <span class="badge max-health">{{character.health}}/{{character.maxHealth}}</span>
      </span>
      <a class="button" (click)="changeMaxHealth(1)">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </a>
    </div>
  </div>
</div>