<div class="summons-container" *ngIf="!character.absent"
  [ngClass]="{'empty' : emptySummons(), 'off' : character.off || character.exhausted || character.health <= 0 }">
  <span class="spacer"></span>
  <span class="icon" [ngClass]="{'empty' : emptySummons()}" [entityAnimation]="emptySummons()">
    <img [src]="characterManager.characterIcon(character)" />
  </span>
  <div class="summons">
    <ghs-summon-entity *ngFor="let summon of character.summons" [character]="character" [summon]="summon">
    </ghs-summon-entity>
  </div>
</div>

<div class="character" [style.--ghs-character-color]="character.color" *ngIf="!character.absent || !settingsManager.settings.hideAbsent"
  [ngClass]="{'off' : character.off || character.exhausted || character.health <= 0  || character.absent, 'denied' : !gameManager.stateManager.hasCharacterPermission(character), 'absent' : character.absent, 'dimmed' : character.attackModifierDeckVisible, 'fh' : settingsManager.settings.fhStyle}">

  <ghs-character-image [character]="character"
    [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.round}">
  </ghs-character-image>

  <ng-container *ngIf="!character.absent">
    <ghs-drag-click *ngIf="settingsManager.settings.dragValues && !character.attackModifierDeckVisible" class="drag-initiative"
      (dragMove)="dragInitiativeMove($event)" (dragEnd)="dragInitiativeEnd($event)" (singleClick)="toggleFigure($event)" (doubleClick)="openInitiativeDialog($event)">
    </ghs-drag-click>

    <ghs-drag-value *ngIf="settingsManager.settings.dragValues && !character.attackModifierDeckVisible" class="drag-hp" (dragMove)="dragHpMove($event)"
      (dragEnd)="dragHpEnd($event)" [relative]="true"></ghs-drag-value>

    <ghs-drag-value *ngIf="settingsManager.settings.dragValues && !character.attackModifierDeckVisible" class="drag-xp" (dragMove)="dragXpMove($event)"
      (dragEnd)="dragXpEnd($event)" [relative]="true"></ghs-drag-value>

    <ghs-drag-value *ngIf="settingsManager.settings.dragValues && !character.attackModifierDeckVisible" class="drag-loot" (dragMove)="dragLootMove($event)"
      (dragEnd)="dragLootEnd($event)" [relative]="true"></ghs-drag-value>

    <ghs-character-initiative [character]="character"></ghs-character-initiative>

    <ghs-highlight-conditions [entity]="character"></ghs-highlight-conditions>

    <div *ngIf="character.attackModifierDeckVisible" class="attack-modifierdeck-container">
      <ghs-attackmodifier-deck [character]="character" (before)="beforeAttackModifierDeck($event)"
        (after)="afterAttackModifierDeck($event)">
      </ghs-attackmodifier-deck>
      <div class="attack-modifierdeck-close" (click)="toggleAttackModifierDeckVisible()"></div>
    </div>
  </ng-container>

  <div class="stats">
    <ng-container *ngIf="!character.absent">
      <div class="column col-1" (click)="openEntityMenu($event)">
        <div class="title" #characterName><img class="icon" [src]="characterManager.characterIcon(character)" />
          {{character.title || ('data.character.' + character.name | ghsLabel)}}
          <img class="ghs-svg exhausted" *ngIf="character.exhausted" src="./assets/images/status/exhausted.svg" />

          <div class="markers">
            <span class="marker" *ngFor="let marker of character.markers;">
              <img src="./assets/images/character/icons/{{marker}}.svg" />
            </span>
          </div>
        </div>
        <div class="status-bar">
          <div class="health" title="{{'game.health' | ghsLabel}}">
            <img src="./assets/images/status/health.svg" />
            {{character.health + health}}/{{character.maxHealth}}
            <span *ngIf="health" class="value-overlay"
              [ngClass]="{'negative-value' : health < 0, 'positive-value' : health > 0}">
              <span class="value">{{health | ghsValueSign}}</span>
            </span>
          </div>
          <div class="conditions">
            <span class="condition"
              *ngFor="let entityCondition of gameManager.entityManager.activeConditions(character)">
              <img src="./assets/images/condition/{{entityCondition.name}}.svg"
                [style.z-index]="entityCondition.value" />
              <ng-container *ngIf="entityCondition.types.indexOf(ConditionType.stack) != -1">
                <img class="stack" *ngFor="let i of [] | ghsRange:(entityCondition.value - 1)"
                  [style.z-index]="entityCondition.value - i - 1"
                  src="./assets/images/condition/{{entityCondition.name}}.svg" />
              </ng-container>
              <span class="value"
                *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="character.absent">
      <div class="title" #characterName><img class="icon" [src]="characterManager.characterIcon(character)" />
        {{character.title || ('data.character.' + character.name | ghsLabel)}}
        <img class="ghs-svg exhausted" *ngIf="character.exhausted" src="./assets/images/status/exhausted.svg" />
      </div>
      <span class="spacer"></span>
    </ng-container>

    <ng-container *ngIf="!character.absent">
      <span class="spacer" (click)="openEntityMenu($event)"></span>

      <span *ngIf="!character.attackModifierDeckVisible" class="attack-modifier-icon"
        (click)="toggleAttackModifierDeckVisible()" title="{{'game.attackModifiers' | ghsLabel}}">
        <img src="./assets/images/attackmodifier/icon.png" />
      </span>

      <div class="summon-dialog">
        <a #summonButton class="summon-dialog-button" (click)="openSummonDialog($event)"
          title="{{'summon' | ghsLabel}}">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </div>

      <div class="column col-2" (click)="openEntityMenu($event)">
        <span class="experience" title="{{'game.experience' | ghsLabel}}">{{character.experience + experience}}
          <img src="./assets/images/status/experience.svg" />
          <span *ngIf="experience" class="value-overlay"
            [ngClass]="{'negative-value' : experience < 0, 'positive-value' : experience > 0}">
            <span class="value">{{experience | ghsValueSign}}</span>
          </span>
        </span>
        <span class="loot" title="{{'game.loot' | ghsLabel}}">{{character.loot + loot}}
          <img src="./assets/images/status/loot.svg" />
          <span *ngIf="loot" class="value-overlay"
            [ngClass]="{'negative-value' : loot < 0, 'positive-value' : loot > 0}">
            <span class="value">{{loot | ghsValueSign}}</span>
          </span>
        </span>
      </div>
    </ng-container>

    <a class="character-sheet-button" (click)="openCharacterSheet()" title="{{'character.progress' | ghsLabel}}">
      <img [src]="characterManager.characterIcon(character)" />
    </a>

  </div>

  <ghs-figure-errors [figure]="character"></ghs-figure-errors>
</div>