.loot-deck-standalone {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    ghs-header {
        z-index: 2;
        width: 100%;
    }

    ghs-loot-deck {
        margin-top: 100px;
        display: flex;
        width: 99vw;
        max-width: 600px;
        height: 100vw;
        max-height: 420px;
        z-index: 1;
        margin-top: 2em;
    }

    &.vertical {
        overflow-y: auto;
        overflow-x: hidden;

        ghs-loot-deck {
            width: 98vw;
            margin-right: 1%;
            height: 132vw;
            max-height: 800px;
            transform: none;
        }
    }

}