.dialog {
  display: none;
  position: fixed;
  z-index: 502;
  min-width: calc(var(--ghs-unit) * 10);
  min-height: calc(var(--ghs-unit) * 10);
  max-height: calc(100vh - var(--ghs-unit) * 3);
  max-width: 90vw;
  overflow: auto;
  text-align: center;
  padding: calc(var(--ghs-unit) * 1);
  border: calc(var(--ghs-unit) * 1) solid transparent;
  border-image-source: url('~src/assets/images/dialog_border.png');
  border-image-slice: 64;
  border-image-outset: calc(var(--ghs-unit) * -1);
  border-image-width: calc(var(--ghs-unit) * 6);
  background-color: var(--ghs-color-black);

  @keyframes dialog-open {
    0% {
      visibility: hidden;
      transform: scale(1);
      transform-origin: 0 0;
    }

    1% {
      visibility: visible;
      transform: scale(0);
      transform-origin: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }

    100% {
      transform: scale(1);
      transform-origin: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }
  }

  &.opened {
    display: block;
    animation: dialog-open 150ms ease-in-out;
  }

  .ghs-svg {
    color: var(--ghs-color-white);
    filter: var(--ghs-filter-white);
    width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    display: inline-block;
  }
}


.highlight {
  z-index: 501;
}

.active-button {
  z-index: 501;
  position: relative;

  /*
  &::before {
    position: absolute;
    width: calc(var(--ghs-unit) * 3.2);
    height: calc(var(--ghs-unit) * 4);
    top: calc(50% - var(--ghs-unit) * 1.5);
    right: calc(var(--ghs-unit) * -2);
    display: block;
    content: " ";
    background-image: url('~src/assets/images/dialog_arrow.png');
    background-size: auto;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%,25% 50%,100% 100%);
    background-color: var(--ghs-color-black);
    background-position: right center;
  }

  &.left::before {
    right: auto;
    left: calc(var(--ghs-unit) * -2);
    transform: scaleX(-1);
  }
  */

  &.active-outline::after {
    display: block;
    content: ' ';
    background-color: var(--ghs-color-gray);
    opacity: 0.1;
    position: absolute;
    top: calc(var(--ghs-unit) * -1);
    left: calc(var(--ghs-unit) * -1);
    bottom: calc(var(--ghs-unit) * -1);
    right: calc(var(--ghs-unit) * -1);
    border: 0px;
    border-radius: calc(var(--ghs-unit) * 1);
  }

}