.container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('~src/assets/images/bg.jpg');
  background-size: cover;
  overflow: auto;

  &.fh {
    background-image: url('~src/assets/images/fh/bg.jpg');
  }
}