.container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-image: url('~src/assets/images/bg.jpg');
  background-size: cover;
  overflow: auto;

  &.fh {
    background-image: url('~src/assets/images/fh/bg.jpg');
  }

  &.modern {
    background-image: url('~src/assets/images/modern/bg.jpg');
  }

  &.bb {
    background-image: url('~src/assets/images/bb/bg.jpg');
  }
}