.rules-dialog {

  font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
  color: var(--ghs-color-gray);
  font-family: var(--ghs-font-text);
  text-align: center;

  .hide {
    position: relative;
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
    color: var(--ghs-color-darkgray);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    margin-bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

    img {
      height: 1em;
      width: auto;
      margin: 0 0.2em;
      filter: var(--ghs-filter-darkgray);
    }

    &:hover {

      color: var(--ghs-color-gray);

      img {
        filter: var(--ghs-filter-gray);
      }
    }
  }

  .rule-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
    margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
    transition: all 100ms ease-in-out;
    overflow: hidden;
    width: 100%;

    .dialog-container {
      padding-bottom: 0;
    }

    .menu {

      display: flex;
      justify-content: center;
      margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

      a {

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        flex-grow: 1;
        padding-bottom: calc(var(--ghs-unit) * 2);

        &:hover {
          opacity: 0.7;
        }

        img {
          width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
          height: auto;
          margin: 0 0.2em;
        }

        &.apply {
          color: var(--ghs-color-green);

          img {
            filter: var(--ghs-filter-green);
          }
        }
      }
    }

    .close {
      position: absolute;
      top: calc(var(--ghs-unit) * 2);
      left: calc(var(--ghs-unit) * 2);
      right: calc(var(--ghs-unit) * 2);
      bottom: calc(var(--ghs-unit) * 2);
      z-index: 0;
      cursor: zoom-out;
    }

    &.closed {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      height: 0;
      min-height: initial;
      width: 100%;
    }

  }
}