.scenario-popup {
  position: relative;
  text-align: center;

  color: var(--ghs-color-white);
  min-width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));

  .scroll-container {
    padding: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
  }

  .title {
    display: flex;
    justify-content: center;
    font-family: var(--ghs-font-text);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));

    .treasures {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1em;
      width: auto;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      .ghs-svg {
        filter: var(--ghs-filter-yellow);
        height: 0.8em;
        width: auto;
      }
    }

    .scenario-level-container {
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 0.7 * var(--ghs-dialog-factor));
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    }
  }

  .favors {
    cursor: pointer;
    font-family: var(--ghs-font-text);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  }

  .index {
    margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;

    .ghs-svg {
      height: 1em;
      width: auto;
      filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
    }
  }


  .sections {
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .section {
      padding: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      &:not(:first-child) {
        border-left: calc(var(--ghs-unit) * 0.1 * var(--ghs-barsize)) solid var(--ghs-color-white);
      }
    }
  }

  .open-sections {
    margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    display: flex;
    flex-direction: column;

    .section:hover {
      cursor: pointer;
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline-thin);

      .ghs-svg {
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      }

      .marker {
        filter: grayscale(0.3);
      }
    }
  }

  .setup-checkbox {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

    input[type="checkbox"] {
      width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

      &::before {
        left: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));
        top: calc(var(--ghs-unit) * -0.25 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      }
    }
  }

  .additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      cursor: pointer;
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .menu {

    border-top: calc(var(--ghs-unit) * 0.2 * var(--ghs-barsize)) solid var(--ghs-color-white);
    margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    padding-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    font-family: var(--ghs-font-title);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));

    a {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    .buttons {
      display: flex;

      .failure {
        color: var(--ghs-color-red);
      }

      .success {
        color: var(--ghs-color-green);
      }
    }

    .cancel {
      display: flex;
      justify-content: space-between;
      font-family: var(--ghs-font-normal);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      a:not(:first-child) {
        margin-left: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      }
    }
  }

  .event-effects {
    cursor: pointer;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
    margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-barsize));
    padding-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-barsize));
    border-top: calc(var(--ghs-unit) * 0.2 * var(--ghs-barsize)) solid var(--ghs-color-white);

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      .ghs-svg {
        filter: var(--ghs-filter-white);
        height: 0.8em;
        width: auto;
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-barsize));
      }
    }
  }

}