.character-sheet-dialog {
  position: relative;
  background-color: var(--ghs-color-white);

  ghs-character-sheet {
    display: block;
  }

  .lock-toggle {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    z-index: 2;

    a {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--ghs-unit) * 3.2 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 3.2 * var(--ghs-dialog-factor));

      img {
        width: 100%;
        height: auto;
      }
    }

    &.permissive {
      opacity: 0.6;
    }
  }
}