<div class="light character-sheet-dialog" [ngClass]="{'fh-sheet' : fhSheet}">
  <a class="close" (click)="close()" [title]="'close' | ghsLabel"><img src="./assets/images/close.svg"></a>
  <div class="scroll-container">
    <div class="container">
      <div class="columns">
        <div class="column column-left">
          <div class="row title">
            <img [src]="characterManager.characterIcon(character)" />
            <label class="headline" [ngClass]="{'absent' : character.absent}" (click)="toggleCharacterAbsent()"
              [title]="(character.absent ? 'character.absent' : 'character.present') | ghsLabel">
              <div class="character-title" text-shrink>
                {{'character.progress.title' | ghsLabel:['data.character.' + character.name,
                character.characterClass ? 'character.class.' + (character.gender ? character.gender + '.' : '') +
                character.characterClass : '']}}
              </div>
              <img *ngIf="character.absent" src="./assets/images/status/exhausted.svg">
            </label>
          </div>
          <div class="row base">
            <div class="name">
              <label>{{'character.progress.name' | ghsLabel}}:</label>
              <input #charactertitle type="text" [value]="character.title">
            </div>
            <div class="level">
              <div class="columns">
                <div class="column">
                  <label>{{'character.progress.level' | ghsLabel}} <img src="./assets/images/level.svg">:</label>
                  <label>{{'character.progress.xp' | ghsLabel}} <img src="./assets/images/experience.svg">:</label>
                </div>
                <div class="column">
                  <div class="level-grid">
                    <ng-container *ngFor="let level of [] | ghsRange:9">
                      <div class="level-item" [ngClass]="{'checked' : character.level > level}"
                        (click)="setLevel(level + 1)">{{level +1 }}</div>
                    </ng-container>
                    <ng-container *ngFor="let level of [] | ghsRange:9">
                      <div class="xp-item"
                        [ngClass]="{'checked' : character.progress.experience >= characterManager.xpMap[level]}"
                        (click)="setLevel(level + 1)">
                        {{characterManager.xpMap[level]}}</div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="xp-gold-container">
            <div class="row xp-notes">
              <label>{{'character.progress.xp' | ghsLabel}} <img src="./assets/images/experience.svg">
                <span *ngIf="!fhSheet">{{'character.progress.notes' | ghsLabel}}</span>:</label>
              <input [value]="character.progress.experience" type="number" min="0" (change)="setXP($event)">
            </div>
            <div class="row gold-notes">
              <label *ngIf="!fhSheet">{{'character.progress.gold-notes' | ghsLabel}}:</label>
              <label *ngIf="fhSheet">{{'character.progress.gold' | ghsLabel}} <img
                  src="./assets/images/fh/loot.svg">:</label>
              <input [value]="character.progress.gold" type="number" min="0" (change)="setGold($event)">
              <span class="donations">
                {{'character.progress.donations' | ghsLabel}}: {{character.progress.donations}}</span>
              <span class="donate">
                {{'character.progress.donate'
                | ghsLabel}}:
                <a (click)="donate()"
                  [ngClass]="{'disabled' : character.progress.gold < 10 || gameManager.game.round > 0}"><span
                    class="price"><img src="./assets/images/loot.svg">10</span></a>
              </span>
            </div>
          </div>


          <div class="row resources" *ngIf="fhSheet">
            <label>{{'character.progress.resources' | ghsLabel}}:</label>

            <div class="resource-table">
              <div class="materials">
                <div class="resource lumber">
                  <img src="./assets/images/fh/loot/lumber.svg">
                  <input [value]="character.progress.loot.lumber" type="number" min="0"
                    (change)="setResource(LootType.lumber, $event)">
                </div>
                <div class="resource metal">
                  <img src="./assets/images/fh/loot/metal.svg">
                  <input [value]="character.progress.loot.metal" type="number" min="0"
                    (change)="setResource(LootType.metal, $event)">
                </div>
                <div class="resource hide">
                  <img src="./assets/images/fh/loot/hide.svg">
                  <input [value]="character.progress.loot.hide" type="number" min="0"
                    (change)="setResource(LootType.hide, $event)">
                </div>
              </div>

              <div class="herbs">
                <div class="resource arrowvine">
                  <img src="./assets/images/fh/loot/arrowvine.svg">
                  <input [value]="character.progress.loot.arrowvine" type="number" min="0"
                    (change)="setResource(LootType.arrowvine, $event)">
                </div>
                <div class="resource axenut">
                  <img src="./assets/images/fh/loot/axenut.svg">
                  <input [value]="character.progress.loot.axenut" type="number" min="0"
                    (change)="setResource(LootType.axenut, $event)">
                </div>
                <div class="resource corpsecap">
                  <img src="./assets/images/fh/loot/corpsecap.svg">
                  <input [value]="character.progress.loot.corpsecap" type="number" min="0"
                    (change)="setResource(LootType.corpsecap, $event)">
                </div>
                <div class="resource flamefruit">
                  <img src="./assets/images/fh/loot/flamefruit.svg">
                  <input [value]="character.progress.loot.flamefruit" type="number" min="0"
                    (change)="setResource(LootType.flamefruit, $event)">
                </div>
                <div class="resource rockroot">
                  <img src="./assets/images/fh/loot/rockroot.svg">
                  <input [value]="character.progress.loot.rockroot" type="number" min="0"
                    (change)="setResource(LootType.rockroot, $event)">
                </div>
                <div class="resource snowthistle">
                  <img src="./assets/images/fh/loot/snowthistle.svg">
                  <input [value]="character.progress.loot.snowthistle" type="number" min="0"
                    (change)="setResource(LootType.snowthistle, $event)">
                </div>
              </div>
            </div>

          </div>

          <div class="row items">
            <label *ngIf="!fhSheet">{{'character.progress.items' | ghsLabel}}:</label>
            <label *ngIf="fhSheet">{{'character.progress.notes' | ghsLabel}}:</label>
            <div class="item-list">
              <div class="item-entry" *ngFor="let item of items; let index = index;">
                <span class="icon"><img [src]="'./assets/images/items/slots/' + item.slot +'.svg'"></span>
                <span class="id">{{item.id}}.</span>
                <span class="name">{{item.name}}
                  <ng-container *ngIf="item.edition != character.edition">&nbsp;({{'data.edition.' + item.edition |
                    ghsLabel}})</ng-container>
                </span>
                <span class="spacer"></span>
                <a class="button loot" (click)="sellItem(item)"><img src="./assets/images/loot.svg">
                  {{item.cost && (item.cost / 2) || '?'}}
                </a>
                <a class="button remove" (click)="removeItem(item)"><img src="./assets/images/close.svg"></a>
              </div>
              <span class="spacer"></span>
              <div class="item-form">
                <span class="prev" [ngClass]="{'disabled' : itemName.value == '1'}"
                  (click)="itemName.value = (+itemName.value - 1) + '';itemChange()"><img
                    src="./assets/images/left.svg"></span>
                <input type="number" (change)="itemChange()" #itemName min="1" value="1"
                  [ngClass]="{'warn' : !itemCanAdd, 'error': !item}">
                <select #itemEdition (change)="itemChange()" [ngClass]="{'warn' : !itemCanAdd, 'error': !item}">
                  <option *ngFor="let edition of gameManager.editions()" [value]="edition">{{'data.edition.' + edition |
                    ghsLabel}}</option>
                </select>
                <a class="button add" (click)="addItem()" [ngClass]="{'disabled': !item || !itemCanAdd}"><img
                    src="./assets/images/plus.svg" [ngClass]="{'warn' : !itemCanAdd}"></a>
                <span class="next" (click)="itemName.value = (+itemName.value + 1) + '';itemChange()"> <img
                    src="./assets/images/right.svg"></span>
                <ng-container *ngIf="item">
                  <span class="icon"><img [src]="'./assets/images/items/slots/' + item.slot +'.svg'"></span>
                  <span class="name">{{item.name}}</span>
                  <a class="button loot" (click)="buyItem()"
                    [ngClass]="{'disabled' : !item || item.cost > character.progress.gold || !itemCanAdd}"><img
                      src="./assets/images/loot.svg">{{item && item.cost && (item.cost + priceModifier) || '?'}}</a>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row masteries" *ngIf="fhSheet">
            <label>{{'character.progress.masteries' | ghsLabel}}:</label>
            <div class="masteries-list">
              <div class="mastery" *ngFor="let mastery of character.masteries; let i = index">
                <span class="checkmark">
                  <img src="./assets/images/check.svg">:</span>
                <span class="mastery-check checkbox"
                  [ngClass]="{'checked' : character.progress.masteries.indexOf(i) != -1}"
                  (click)="toggleMastery(i)"></span>
                <span class="placeholder text" [i18n]="mastery"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="column column-right">
          <div class="row perks">
            <label *ngIf="!fhSheet" class="headline">{{'character.progress.perks' | ghsLabel}}</label>
            <div class="list">
              <div class="perk" *ngFor="let perk of character.perks; let i = index;">
                <div class="checkboxes" [ngClass]="{'combined' : perk.combined}">
                  <span class="checkbox" *ngFor="let count of []|ghsRange:perk.count"
                    [ngClass]="{'checked' : character.progress.perks[i] && character.progress.perks[i] > count, 'disabled' : gameManager.game.state == GameState.next || character.progress.perks[i] <= count && availablePerks < count - character.progress.perks[i] + 1}"
                    (click)="addPerk(i, count+1)"></span>
                </div>
                <span class="text capitalize">
                  <ng-container *ngIf="perk.custom"><span [i18n]="perk.custom"></span> <ng-container
                      *ngIf="perk.type != PerkType.custom"> {{'and' | ghsLabel}} </ng-container>&nbsp;</ng-container>
                  <ng-container *ngIf="perk.type != PerkType.custom">
                    <span class="label" [i18n]="'character.progress.perks.type.' + perk.type"
                      [i18n-args]="perkLabel(perk)"></span>
                  </ng-container>
                </span>
              </div>
            </div>
            <div class="warning" title="{{'character.progress.perks.warning' | ghsLabel}}" *ngIf="availablePerks < 0">
              <img class="ghs-svg" src="./assets/images/warning.svg"> {{'character.progress.perks.warning' | ghsLabel}}
            </div>
            <div *ngIf="perksWip" class="wip" title="{{'wip' | ghsLabel}}">
              <img class="ghs-svg" src="./assets/images/warning.svg"> {{'character.progress.perks.wip' | ghsLabel}}
            </div>
          </div>
          <div class="row battlegoals">
            <label *ngIf="!fhSheet" class="headline">{{'character.progress.battlegoals' | ghsLabel}}</label>
            <label *ngIf="fhSheet" class="headline">{{'character.progress.perks' | ghsLabel}}</label>
            <div class="battlegoals-grid">
              <ng-container *ngFor="let item of [] | ghsRange:18">
                <span class="checkmark" *ngIf="item % 3 == 0">
                  <img src="./assets/images/check.svg">:</span>
                <span class="battlegoal checkbox" [ngClass]="{'checked' : character.progress.battleGoals >= item + 1}"
                  (click)="setBattleGoals(item + 1)"></span>
              </ng-container>
            </div>
          </div>
        </div>

      </div>

      <div class="notes">
        <label class="headline">{{'character.progress.notes' | ghsLabel}}</label>
        <div class="columns">
          <div class="column column-left">
            <textarea [value]="character.progress.notes" (change)="setNotes($event)"
              placeholder="{{'character.progress.notes' | ghsLabel}}"></textarea>
          </div>
          <div class="column column-right">
            <div class="personal-quest">
              <label>{{'character.progress.personalQuest' | ghsLabel}}:</label>
              <input [value]="character.progress.personalQuest" type="number" min="0"
                (change)="setPersonalQuest($event)">
              <span class="retired checkbox check" [ngClass]="{'checked' : character.progress.retired}"
                (click)="toggleRetired()" title="{{'character.progress.retired' | ghsLabel}}"></span>
            </div>
            <div class="retirements">
              <label>{{'character.progress.retirements' | ghsLabel}}:</label>
              <input [value]="character.progress.retirements" type="number" min="0" (change)="setRetirements($event)"
                (keyup)="setRetirements($event)">
            </div>
            <div class="import-export">
              <label (click)="exportCharacter()" title="{{'character.progress.export' |
        ghsLabel}}"><img src="./assets/images/export.svg">{{'character.progress.export' |
                ghsLabel}}</label>
              <label title="{{'character.progress.import' | ghsLabel}}" (click)="ghsInputFullScreenCheck()">
                <input type="file" accept="application/json" (change)="importCharacter($event)" /><img
                  src="./assets/images/import.svg">{{'character.progress.import' | ghsLabel}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>