.character-sheet-dialog {
  position: relative;
  background-color: var(--ghs-color-white);

  .close {
    position: absolute;
    top: calc(var(--ghs-unit) * -1 * var(--ghs-dialog-factor));
    right: calc(var(--ghs-unit) * -1 * var(--ghs-dialog-factor));
    z-index: 1;
    cursor: pointer;

    img {
      width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      height: auto;
    }

    &:hover {
      filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
    }
  }

  .container {
    width: calc(var(--ghs-unit) * 62 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 94 * var(--ghs-dialog-factor));
    background-image: url('~/src/assets/images/character/character-sheet.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: calc(var(--ghs-unit) * 1.2 * var(--ghs-dialog-factor));

    .columns {
      display: flex;

      .column {
        display: flex;
        flex-direction: column;

        &.column-left {
          width: calc(var(--ghs-unit) * 32 * var(--ghs-dialog-factor));
        }

        &.column-right {
          margin-left: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
          width: calc(var(--ghs-unit) * 25 * var(--ghs-dialog-factor));
        }

        .row {
          display: flex;
        }
      }

    }

    label {
      display: flex;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));

      img {
        width: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
        height: auto;
        margin: 0 calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
      }

      &.headline {
        width: 100%;
        justify-content: center;

        &.absent {
          text-decoration: line-through;
        }
      }
    }

    .title {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

      img {
        width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        height: auto;
      }

      label {
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        padding-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        overflow: hidden;

        .character-title {
          display: table;
          align-self: center;
          cursor: pointer;
        }
      }
    }

    .base {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 10 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

      .level-grid {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        display: grid;
        grid-template-columns: repeat(9, 1fr);


        .level-item {
          cursor: pointer;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
          border: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
          margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          z-index: 2;

          &.checked::before {
            content: ' ';
            position: absolute;
            top: 0;
            width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
            background-color: var(--ghs-color-black);
            z-index: 1;
          }
        }

        .xp-item {
          cursor: pointer;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: calc(var(--ghs-unit) * 2.8 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
          border-right: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
          margin-top: calc(var(--ghs-unit) * -1 * var(--ghs-dialog-factor));

          &:last-child {
            border-right: none;
          }

          &::before {
            content: ' ';
            position: absolute;
            top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
            background-image: url('~/src/assets/images/initiative.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          &.checked::after {
            content: " ";
            position: absolute;
            top: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
            clip-path: polygon(10% 100%, 25% 100%, 85% 0, 70% 0);
            background-color: var(--ghs-color-black);
          }
        }
      }
    }

    .xp-notes {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 10 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    }

    .gold-notes {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 10 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

      .donations {
        display: flex;
        align-items: center;
        line-height: 0.5em;
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      }

      .donate {
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: var(--ghs-color-darkgray);
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

          &:hover {
            color: var(--ghs-color-black)
          }

          &.disabled {
            pointer-events: none;
            color: var(--ghs-color-gray);
          }

          .price {
            display: flex;
            align-items: center;
            color: var(--ghs-color-yellow);
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

            img {
              margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
              filter: var(--ghs-filter-yellow) var(--ghs-filter-shadow);
              width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            }
          }
        }
      }
    }

    .items {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 34 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

      .item-list {
        font-family: var(--ghs-font-text);
        display: flex;
        flex-direction: column;
        height: 100%;

        .button {
          cursor: pointer;
          display: flex;

          &.add img {
            filter: var(--ghs-filter-green) var(--ghs-filter-shadow);
          }


          &.remove img {
            filter: var(--ghs-filter-red) var(--ghs-filter-shadow);
          }

          &.loot {
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-yellow);

            img {
              filter: var(--ghs-filter-yellow) var(--ghs-filter-shadow);
              width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            }
          }

          &.disabled {
            pointer-events: none;
            color: var(--ghs-color-darkgray);

            img {
              filter: var(--ghs-filter-darkgray) var(--ghs-filter-shadow);
            }
          }
        }

        .item-entry {
          display: flex;
          align-items: center;
          margin: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));

          .id {
            text-align: right;
            width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            margin-right: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          }

          .id,
          .name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ghs-font-title);
            font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
          }

          .edition {
            font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
          }

          .action-icon {
            width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
              width: auto;
            }
          }
        }

        .item-form {
          display: grid;
          border-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) dashed var(--ghs-color-black);
          grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
          row-gap: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          padding-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) 0;
          max-width: calc(var(--ghs-unit) * 33 * var(--ghs-dialog-factor));

          input {
            width: auto;
            min-width: 0;
          }

          .button,
          select {
            display: flex;
            border: none;
            background: none;
          }

          .button {
            justify-self: center;
          }

          .prev {
            grid-column: 1;
          }

          .next {
            grid-column: 5;
          }

          .next,
          .prev {
            cursor: pointer;
            grid-row-start: 1;
            grid-row-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;

            &.disabled {
              pointer-events: none;

              img {
                filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
              }
            }
          }
        }

        img {
          width: auto;
          height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }
      }
    }

    .perks {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 67 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      .list {
        display: flex;
        flex-direction: column;
        height: calc(var(--ghs-unit) * 63.5 * var(--ghs-dialog-factor));
        overflow-y: auto;

        .perk {
          font-family: var(--ghs-font-normal);
          font-size: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor));
          line-height: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
          margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          display: flex;

          .checkbox {
            margin-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor));
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            min-width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));

            &.disabled {
              pointer-events: initial;
              cursor: not-allowed;
            }
          }

          &.combined {
            .checkbox {
              border-left-style: dashed;
              border-right-style: dashed;
              margin-right: 0;

              &:nth-child(1) {
                border-left-style: solid;
              }

              &:nth-last-child(2) {
                border-right-style: solid;
                margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
              }
            }
          }

          .text {
            display: inline-block;

            &::first-letter {
              text-transform: uppercase;
            }
          }

          .attack-modifier-effect {
            position: relative;
            margin-left: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));


            img.action-icon {
              position: relative;
              height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
              margin-left: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));
              width: auto;
              vertical-align: middle;

              &.sw {
                filter: invert(1) contrast(1) grayscale(1) brightness(2.5);
                filter: none; // disabled
              }

              &.circled {
                border: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
                border-radius: 100%;
              }
            }

            &.rolling,
            &.condition,
            &.target,
            &.pierce,
            &.pull,
            &.push,
            &.element,
            &.element-half {
              img.action-icon {
                height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
              }
            }

            .value {
              margin-left: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));
            }

            &.condition,
            &.target,
            &.pierce {
              text-transform: uppercase;
            }

            &.element {
              img {
                margin: 0;
              }
            }

            &.element-half-placeholder {
              display: inline-block;
              position: relative;
              width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
              height: 0;

              .element-half-container {
                position: absolute;
                width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
                height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
                top: calc(var(--ghs-unit) * -1.6 * var(--ghs-dialog-factor));
              }
            }

            &.element-half-placeholder.fh {
              width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

              .element-half-container {
                width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                top: calc(var(--ghs-unit) * -2.5 * var(--ghs-dialog-factor));
              }
            }
          }

          .attack-modifier-icon {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ghs-font-title);
            font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 2.3 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 2.3 * var(--ghs-dialog-factor));
            margin-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            margin-right: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
            vertical-align: middle;

            &::before {
              content: ' ';
              position: absolute;
              left: 0;
              top: calc(var(--ghs-unit) * -0.15 * var(--ghs-dialog-factor));
              width: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
              height: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
              border: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
              border-radius: 100%;
            }
          }
        }
      }

      .wip,
      .warning {
        flex-basis: 0;
      }
    }

    .battlegoals {
      flex-direction: column;
      height: calc(var(--ghs-unit) * 9 * var(--ghs-dialog-factor));

      .battlegoals-grid {
        margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        img {
          width: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
          height: auto;
        }

        .battlegoal {
          width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
          margin-top: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
        }

        .checkmark {
          height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
          display: flex;
          align-items: center;
        }
      }
    }

    .notes {
      display: flex;
      flex-direction: column;
      height: calc(var(--ghs-unit) * 15 * var(--ghs-dialog-factor));
      margin-top: calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor));

      .columns {
        margin-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        flex-grow: 1;
      }

      .column-right {
        justify-content: space-between;
      }

      .personal-quest,
      .retirements {
        margin-top: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        margin-bottom: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        display: flex;
        align-items: center;

        label {
          flex-shrink: 0;
          font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }

        input[type="number"] {
          flex-grow: 1;
          flex-basis: 0;
          min-width: auto;
        }

        .checkbox {
          flex-shrink: 0;
          margin-left: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
        }
      }

      .import-export {

        display: flex;
        justify-content: space-around;

        label {
          cursor: pointer;

          input[type="file"] {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            visibility: hidden;
          }
        }
      }
    }

    .wip,
    .warning {
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: var(--ghs-color-red);

      &.warning {
        color: var(--ghs-color-yellow);
      }

      img {
        width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        height: auto;
        margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        filter: var(--ghs-filter-red);
      }

      &.warning {
        img {
          filter: var(--ghs-filter-yellow);
        }
      }
    }

    .checkbox {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 1.6 * var(--ghs-dialog-factor));
      border: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor)) solid var(--ghs-color-black);
      border-radius: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
      box-shadow: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor)) var(--ghs-color-gray);
      z-index: 2;

      &::before {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 1.9 * var(--ghs-dialog-factor));
        clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
        background-color: var(--ghs-color-black);
        transform: scale(0);
        transform-origin: top left;
        transition: 120ms transform ease-in-out;
        z-index: 1;
      }

      &.checked::before {
        transform: scale(1) translate(-50%, -50%);
      }

      &.check {
        width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        box-shadow: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 0.25 * var(--ghs-dialog-factor)) var(--ghs-color-gray);
      }

      &.check::before {
        left: 0;
        top: calc(var(--ghs-unit) * -0.6 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform-origin: bottom left;
      }

      &.checked.check::before {
        transform: scale(1);
      }

      &.disabled {
        top: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
        left: calc(var(--ghs-unit) * 0.15 * var(--ghs-dialog-factor));
        pointer-events: none;
        border-color: var(--ghs-color-gray);
        box-shadow: none;
      }


    }

    .name {
      display: flex;
    }

    input[type="text"] {
      margin: 0;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      border-bottom-width: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));
      border-bottom-style: solid;
      border-bottom-color: var(--ghs-color-gray);
      user-select: auto;
      -webkit-user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    }

    input[type="number"] {
      margin: 0;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      user-select: auto;
      -webkit-user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    }

    textarea {
      color: var(--ghs-color-black);
      background-color: transparent;
      border: none;
      user-select: auto;
      -webkit-user-select: auto;
      font-family: var(--ghs-font-text);
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      line-height: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      width: 100%;
      height: 100%;
    }

  }
}