.loot-cards-dialog {
    position: relative;

    .menu {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: calc(var(--ghs-unit) * 60 * var(--ghs-dialog-factor));

        a {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-family: var(--ghs-font-title);
            font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
            color: var(--ghs-color-gray);
            text-shadow: var(--ghs-outline);
            margin: 0 calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

            &:hover {
                color: var(--ghs-color-white);
            }
        }
    }

    .loot-cards {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(var(--ghs-unit) * 57 * var(--ghs-dialog-factor));
        margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

        .loot-container {
            position: relative;
            display: flex;
            transition: none;
            width: calc(var(--ghs-unit) * 25.5 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 38.25 * var(--ghs-dialog-factor));
            margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) 0;
            flex-shrink: 0;
            flex-grow: 0;

            ghs-loot {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }
}