<div class="loot-cards-dialog">
    <a class="close" (click)="dialogRef.close()" [ghs-label]="'close'" [ghs-label-attribute]="'title'">
        <img src="./assets/images/close_dialog.svg">
    </a>
    <div class="scroll-container">
        <div class="menu">
            <a (click)="sort()"><span
                    [ghs-label]="(sorted ? 'character.lootCards.drawn' : 'character.lootCards.sort')"></span></a>
        </div>
        <div class="loot-cards" *ngIf="character.lootCards">
            <div class="loot-container" *ngFor="let loot of lootCards">
                <ghs-loot [loot]="loot" [flipped]="true" [disableFlip]="true"></ghs-loot>
            </div>
        </div>
    </div>
</div>