<div class="move-resources-dialog">
    <label class="title">{{'character.progress.resources.move' | ghsLabel}}</label>
    <div class="values">
        <ng-container *ngFor="let type of lootTypes">
            <ng-container class="loot" *ngIf="character.progress.loot[type]">
                <label><img class="ghs-svg"
                        [src]="'./assets/images/fh/loot/' + (type == LootType.special1 || type == LootType.special2 ? LootType.money : type) + '.svg'">
                    {{'game.loot.' + type | ghsLabel}}</label>
                <a class="button" [ngClass]="{'disabled' : !loot[type] || loot[type] == 0}"
                    (click)="changeLoot(type, -1)">
                    <img class="ghs-svg" src="./assets/images/minus.svg">
                </a>
                <span class="value" title="{{'game.loot.' + type | ghsLabel}}">
                    {{loot[type] || '-'}} / {{character.progress.loot[type]}}
                </span>
                <a class="button" [ngClass]="{'disabled' : loot[type] == character.progress.loot[type]}"
                    (click)="changeLoot(type,  1)">
                    <img class="ghs-svg" src="./assets/images/plus.svg">
                </a>
            </ng-container>
        </ng-container>
    </div>
    <div class="menu">
        <a class="cancel" (click)="close()">{{'cancel' | ghsLabel}}</a>
        <a class="apply" (click)="moveLoot()">{{'character.progress.resources.apply' | ghsLabel}}</a>
    </div>
</div>