.button {
  position: relative;
  display: flex;
  width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
  height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
  cursor: pointer;
  font-size: calc(var(--ghs-unit) * 10 * var(--ghs-text-factor));
  color: var(--ghs-color-gray);
  filter: var(--ghs-filter-gray);
  stroke: var(--ghs-color-black);
  stroke-width: calc(var(--ghs-unit) * 1.5);
  margin: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));

  &:hover {
    color: var(--ghs-color-white);
    filter: var(--ghs-filter-white);
  }

}

.container {

  display: grid;
  grid-template-columns: repeat(4, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));


  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
  }

  .summon-button {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));

    &.active {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }


    img {
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      width: auto;
    }
  }

  .number-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-gray);
    text-shadow: var(--ghs-outline);

    &:hover {
      color: var(--ghs-color-white);
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-darkgray);
    }
  }

  .custom {
    cursor: pointer;
    grid-column: span 4;
    display: flex;
    align-items: center;

    label {
      cursor: pointer;
      margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);
    }

    &:hover {
      .summon-button {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

      label {
        color: var(--ghs-color-white);
      }
    }
  }
}