<div class="summon-dialog">
  <div class="title">
    <small>
      <img class="icon" [src]="gameManager.characterManager.characterIcon(character)" />
      {{character.title || ('data.character.' + character.name | ghsLabel)}}
      <span *ngIf="character.title">&nbsp;({{('data.character.' + character.name | ghsLabel)}})</span>
    </small>
    {{'summon' | ghsLabel}}
  </div>

  <div class="container">
    <div class="color-container">
      <span *ngFor="let color of summonColors" class="summon-button" (click)="selectColor(color)"
        [ngClass]="{'active' : color == summonColor}">
        <span class="image">
          <img src="./assets/images/summons/{{color}}.png">
        </span>
      </span>
      <span *ngFor="let number of [1,2,3,4]" class="number-button" (click)="pickNumber(number)"
        [ngClass]="{'disabled' : summonNumber == number}">
        <span class="number">{{number}}</span>
      </span>
    </div>
    <div class="scroll-container summons">
      <span *ngFor="let summonData of summonData()" class="summon" (click)="addSummon(summonData)"
        [ngClass]="{'disabled' : !available(summonData)}">
        <span class="summon-button">
          <span class="image">
            <img *ngIf="summonData.special" src="./assets/images/summons/custom.png">
            <img *ngIf="!summonData.special" src="./assets/images/summons/{{summonColor}}.png">
            <span class="summon-number">{{summonNumber}}</span>
          </span>
        </span>
        <label>{{'data.summon.' + summonData.name | ghsLabel}} <span
            *ngIf="showLevel(summonData)">({{'character.summon.level' | ghsLabel}} {{summonData.level}})</span></label>
      </span>
      <span class="summon" *ngIf="!summonFilter">
        <span class="summon-button" (click)="addCustomSummon()" [ngClass]="{'disabled' : customDisabled()}">
          <span class="image">
            <img src="./assets/images/summons/{{summonColor}}.png">
            <span class="summon-number">{{summonNumber}}</span>
          </span>
        </span>
        <input type="text" [value]="summonName" (change)="setSummonName($event)" (keyup)="setSummonName($event)"
          placeholder="{{'summon.name' | ghsLabel}}" />
        <span class="add-summon-button" (click)="addCustomSummon()" [ngClass]="{'disabled' : customDisabled()}">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </span>
      </span>
    </div>
  </div>
</div>