.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--ghs-unit) * 9);
  height: calc(var(--ghs-unit) * 13);
  cursor: pointer;
  font-size: calc(var(--ghs-unit) * 10);
  color: var(--ghs-color-gray);
  text-shadow: var(--ghs-outline);

  &:hover {
    color: var(--ghs-color-white);
  }

}

.container {

  display: grid;
  grid-template-columns: calc(var(--ghs-unit) * 8) calc(var(--ghs-unit) * 8) calc(var(--ghs-unit) * 8) calc(var(--ghs-unit) * 8);


  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
  }

  .summon-button {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);

    &.active {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }


    img {
      height: calc(var(--ghs-unit) * 4);
      width: auto;
    }
  }

  .number-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-gray);
    text-shadow: var(--ghs-outline);

    &:hover {
      color: var(--ghs-color-white);
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }
  }

  .custom {
    cursor: pointer;
    grid-column: span 4;
    display: flex;
    align-items: center;

    label {
      cursor: pointer;
      margin-left: calc(var(--ghs-unit) * 1);
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 3);
      color: var(--ghs-color-gray);
    }

    &:hover {
      .summon-button {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

      label {
        color: var(--ghs-color-white);
      }
    }
  }
}