.level-dialog {


  display: flex;
  flex-direction: column;

  .title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ghs-title';
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    text-align: center;
    width: 100%;

    .name {
      color: var(--ghs-color-gray);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    }
  }

  .level-container {
    display: grid;
    grid-template-columns: repeat(5, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));

    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    span.item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    }

    img {
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      width: auto;
    }

    .level {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      cursor: pointer;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);

      &:hover,
      &.current {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

      &.active {
        pointer-events: none;
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

    }

    .max-health {
      right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }
  }
}