.level-dialog {


  display: flex;
  flex-direction: column;

  .title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    text-align: center;
    width: 100%;

    .name {
      color: var(--ghs-color-gray);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    }
  }

  .level-container {
    display: grid;
    grid-template-columns: repeat(5, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));

    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    span.item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    }

    img {
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      width: auto;
    }

    .level {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      cursor: pointer;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);

      &:hover,
      &.current {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

      &.active {
        pointer-events: none;
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

    }

    .max-health {
      right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    }

    .toggle-ally {
      position: relative;
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;

      img {
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        height: auto;
      }

      &.ally::after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        transform: translate(-50%, -50%);
        background-color: var(--ghs-color-red);
        clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
      }
    }
  }
}