.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: calc(var(--ghs-unit) * 8);
  line-height: calc(var(--ghs-unit) * 4);
  color: var(--ghs-color-gray);
  fill: var(--ghs-color-gray);
  text-shadow: var(--ghs-outline);
  font-weight: bold;
  width: calc(var(--ghs-unit) * 5);
  height: calc(var(--ghs-unit) * 5);
  text-align: center;

  ghs-svg {
    width: 80%;
    height: 80%;
  }

  stroke: var(--ghs-color-black);
  stroke-width: calc(var(--ghs-unit) * 2);

  &.elite {
    color: var(--ghs-color-yellow);
    fill: var(--ghs-color-yellow);
  }

  &.boss {
    color: var(--ghs-color-red);
    fill: var(--ghs-color-red);
  }

  &:hover,
  &.active-button {
    color: var(--ghs-color-white);
    fill: var(--ghs-color-white);
  }

  &.disabled {
    pointer-events: none;
    color: var(--ghs-color-gray);
    fill: var(--ghs-color-gray);
    opacity: 0.5;
  }

}

.number-container {

  display: grid;
  grid-template-columns: repeat(4, calc(var(--ghs-unit) * 8));

  .number-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    cursor: pointer;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.elite {
      color: var(--ghs-color-yellow);
    }  
    
    &.boss {
      color: var(--ghs-color-red);
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-gray);
    }
  }

  .summon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);

    img.summon {
      height: calc(var(--ghs-unit) * 3);
      width: calc(var(--ghs-unit) * 3);
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }

    &.active {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-white) solid;
      border-radius: 100%;
    }
  }
}