.header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--ghs-font-title);
  color: var(--ghs-color-white);
  font-size: calc(var(--ghs-unit) * 4* var(--ghs-text-factor));

  .failure {
    color: var(--ghs-color-red);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
  }

  .success {
    color: var(--ghs-color-green);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
  }

  margin-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

}


.table {

  display: flex;
  flex-direction: column;
  --ghs-summary-columns: 5;
  min-width: calc(var(--ghs-unit) * 10 * var(--ghs-summary-columns) * var(--ghs-dialog-factor));

  .row {
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
    display: grid;
    grid-template-columns: 3fr repeat(var(--ghs-summary-columns), 1fr);
    margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    border-top: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-white);

    .ghs-svg {
      width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      height: auto;
      filter: var(--ghs-filter-white);
    }

    .name {
      cursor: pointer;
    }

    .absent {
      text-decoration: line-through;
    }

    .gold,
    .xp {
      font-size: 1.3em;
      margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

      &.gold {
        color: var(--ghs-color-yellow);
      }

      &.xp {
        color: var(--ghs-color-blue);
      }
    }

    &>span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    }

    &.header {
      border: none;
      font-weight: bold;

      &>span {
        font-size: 0.7em;
      }
    }

    >span:nth-child(6n-5) {
      justify-content: flex-start;
      text-align: left;
    }

    &:not(:first-child) {
      >span:nth-child(6n-5) {
        font-size: 1.3em;

        img {
          height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }
      }
    }

  }
}

.buttons {
  display: flex;
  margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
  font-family: var(--ghs-font-title);
  font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  justify-content: space-evenly;

  a {
    cursor: pointer;
    width: 33%;
    display: flex;
    justify-content: center;

    &:hover {
      opacity: 0.6;
    }
  }

  .cancel {
    color: var(--ghs-color-red);
  }

  .apply {
    color: var(--ghs-color-green);
  }
}