<div class="scenario-summary">
  <div class="header">
    <span class="title">{{'scenario.summary' | ghsLabel}}</span>
    <span *ngIf="success" class="success">{{'scenario.finish.success' | ghsLabel}}</span>
    <span *ngIf="!success" class="failure">{{'scenario.finish.failure' | ghsLabel}}</span>
  </div>

  <div class="table" [style.--ghs-summary-columns]="5 + lootColumns.length">
    <div class="row header">
      <span>{{'scenario.summary.name' | ghsLabel}}</span>
      <span>{{'scenario.summary.loot' | ghsLabel}}</span>
      <span>{{'scenario.summary.gold' | ghsLabel}}</span>
      <span *ngFor="let lootType of lootColumns"><img class="ghs-svg" [src]="'./assets/images/fh/loot/' + lootType + '.svg'"></span>
      <span>{{'scenario.summary.xpGained' | ghsLabel}}</span>
      <span>{{'scenario.summary.xpBonus' | ghsLabel}}</span>
      <span>{{'scenario.summary.xp' | ghsLabel}}</span>
    </div>

    <div class="row" *ngFor="let character of characters;">
      <span>
        <img class="icon" [src]="gameManager.characterManager.characterIcon(character)" />
        <a class="name" (click)="character.absent = !character.absent" [ngClass]="{'absent' : character.absent}">
          {{character.title || ('data.character.' + character.name | ghsLabel)}}
          <span *ngIf="character.title">&nbsp;({{('data.character.' + character.name | ghsLabel)}})</span>
        </a>
      </span>

      <span>
        {{character.loot | ghsValueSign}}
      </span>

      <span *ngIf="!character.absent">
        <span class="gold">{{(character.loot * gameManager.levelManager.loot()) | ghsValueSign}}</span>
        ({{character.progress.gold + character.loot * gameManager.levelManager.loot()}})
      </span>

      <span *ngIf="character.absent">
        <span class="gold">/</span>
        ({{character.progress.gold}})
      </span>

      <span *ngFor="let lootType of lootColumns">
        <span *ngIf="!character.absent">
          <span class="loot">{{lootValue(character, lootType) | ghsValueSign}}</span>
          ({{(character.progress.loot[lootType] || 0) + lootValue(character, lootType)}})
        </span>
      </span>

      <span>
        {{character.experience | ghsValueSign}}
      </span>

      <span>
        <span *ngIf="success && !character.absent">{{gameManager.levelManager.experience() | ghsValueSign}}</span>
        <span *ngIf="!success || character.absent">/</span>
      </span>

      <span *ngIf="!character.absent">
        <span class="xp" *ngIf="success">{{(character.experience + gameManager.levelManager.experience()) |
          ghsValueSign}}</span>
        <span class="xp" *ngIf="!success">{{character.experience | ghsValueSign}}</span>
        ({{character.progress.experience + character.experience + (success ? gameManager.levelManager.experience() :
        0)}})
      </span>

      <span *ngIf="character.absent">
        <span class="xp">/</span>
        ({{character.progress.experience}})
      </span>
    </div>
  </div>

  <div class="buttons">
    <a class="cancel" (click)="close('cancel')">{{'scenario.summary.cancel' | ghsLabel}}</a>
    <a class="apply" (click)="close('apply')">{{'scenario.summary.apply' | ghsLabel}}</a>
    <a class="restart" *ngIf="!success" (click)="close('restart')">{{'scenario.summary.restart' | ghsLabel}}</a>
  </div>
</div>