ghs-header,
ghs-footer {
  z-index: 2;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.columns {
  display: flex;
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.figures {
  display: flex;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

}

.figure {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transition: transform 250ms ease-in-out, width 100ms ease-in-out, height 250ms ease-in-out;
  transform: scale(0);
  overflow: unset;

  &.column {
    width: 50%;
  }

  .cdk-drag {
    position: relative;
    width: calc(var(--ghs-unit) * 98);
    margin: calc(var(--ghs-unit) * 0.5) auto;

    :nth-child(2) {
      position: relative;
      display: block;
    }
  }
}

.handle {
  position: absolute;
  cursor: grab;
  top: 0;
  left: calc(var(--ghs-unit) * -2.5);
  width: calc(var(--ghs-unit) * 8);
  height: 100%;
  z-index: 2;

  &:hover {
    &::before {
      display: block;
      content: ' ';
      position: absolute;
      left: calc(var(--ghs-unit) * 1);
      width: calc(var(--ghs-unit) * 1);
      height: 100%;
      background-color: var(--ghs-color-darkgray);
      opacity: 0.5;
      border-radius: calc(var(--ghs-unit) * 1);
    }
  }

  &.character,
  &.objective {
    top: initial;
    bottom: 0;
    height: calc(var(--ghs-unit) * 14);
  }

  &.monster {
    height: calc(var(--ghs-unit) * 21.5);
  }

  &.right {
    right: calc(var(--ghs-unit) * -2.5);
    left: auto;

    &:hover {
      &::before {
        right: calc(var(--ghs-unit) * 1);
        left: auto;
      }
    }
  }
}


.cdk-drag-preview {

  padding: calc(var(--ghs-unit) * 0.5) calc(var(--ghs-unit) * 1);

  .handle {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0.5;
  transform: initial;
  margin-bottom: calc(var(--ghs-unit) * 0.5);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging,
.cdk-drop-list-receiving {
  .handle {
    display: none;
  }
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}