<main>
  <div class="figures" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListAutoScrollStep]="20">
    <div class="figure" *ngFor="let figure of gameManager.game.figures" cdkDrag>
      <ghs-character [character]="gameManager.toCharacter(figure)" *ngIf="gameManager.isCharacter(figure)" >
      </ghs-character>
      <ghs-objective [objective]="gameManager.toObjective(figure)" *ngIf="gameManager.isObjective(figure)">
      </ghs-objective>
      <ghs-monster [monster]="gameManager.toMonster(figure)" *ngIf="gameManager.isMonster(figure)">
      </ghs-monster>
    </div>
  </div>
</main>