<ghs-header></ghs-header>
<main [ngClass]="{'compact' : footer.compact}">
  <div *ngIf="!fullviewChar" class="figures" cdkDropListGroup cdkScrollable
    [ngClass]="{'loot-deck' : gameManager.game.lootDeck.active, 'ally-deck' : !gameManager.game.lootDeck.active && footer.hasAllyAttackModifierDeck}">
    <div class="figure" *ngFor="let figure of gameManager.game.figures; let i = index;" [figure-autoscroll]="figure"
      [cdkDropListData]="i" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListAutoScrollStep="20"
      (cdkDropListEntered)="entered($event)" (cdkDropListExited)="exited($event)"
      [cdkDropListDisabled]="gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters && !gameManager.stateManager.permissions.monsters"
      [ngClass]="{'column' : columns > 1}">
      <div cdkDrag>
        <div cdkDragHandle class="handle" (click)="handleClick($event)"
          [ngClass]="{'character' : gameManager.isCharacter(figure), 'monster' : gameManager.isMonster(figure), 'objective' : gameManager.isObjective(figure), 'monster-full' : settingsManager.settings.showFullAbilityCard}"
          *ngIf="!gameManager.stateManager.permissions || gameManager.stateManager.permissions.characters || gameManager.stateManager.permissions.monsters">
        </div>
        <ghs-character [character]="gameManager.toCharacter(figure)" *ngIf="gameManager.isCharacter(figure)">
        </ghs-character>
        <ghs-objective [objective]="gameManager.toObjective(figure)" *ngIf="gameManager.isObjective(figure)">
        </ghs-objective>
        <ghs-monster [monster]="gameManager.toMonster(figure)" *ngIf="gameManager.isMonster(figure)">
        </ghs-monster>
        <div cdkDragHandle class="handle right" (click)="handleClick($event)"
          [ngClass]="{'character' : gameManager.isCharacter(figure), 'monster' : gameManager.isMonster(figure), 'objective' : gameManager.isObjective(figure), 'monster-full' : settingsManager.settings.showFullAbilityCard}"
          *ngIf=" !gameManager.stateManager.permissions || gameManager.stateManager.permissions.characters ||
          gameManager.stateManager.permissions.monsters">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="fullviewChar">
    <ghs-character-fullview [character]="fullviewChar"></ghs-character-fullview>
  </div>
</main>
<ghs-footer #footer></ghs-footer>