.challenge-deck-dialog {
  position: relative;

  .menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: calc(var(--ghs-unit) * 90 * var(--ghs-dialog-factor));

    a,
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      margin: 0 calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

      &.disabled {
        pointer-events: none;
        color: var(--ghs-color-darkgray);
      }

      &:hover {
        color: var(--ghs-color-white);
      }

      &:hover {
        .ghs-svg {
          filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
        }
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
      appearance: none;
      background-color: var(--form-background);
      width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      border-width: calc(var(--ghs-unit) * 0.3);
      border-style: solid;
      display: grid;
      place-content: center;
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);

      &::before {
        left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        top: calc(var(--ghs-unit) * -0.5 * var(--ghs-dialog-factor));
        position: relative;
        content: ' ';
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        color: var(--ghs-color-gray);
        background-color: var(--ghs-color-gray);
      }

      &:checked::before {
        transform: scale(1);
      }

      &:hover::before {
        background-color: var(--ghs-color-white);
      }
    }

  }

  .hint {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ghs-font-normal);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    margin: 0 calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

  }

  .ghs-svg {
    height: 1em;
    width: auto;
    margin: 0 0.3em;
    filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
  }

  .drop-list {
    position: relative;
  }

  .challenge-deck-container {
    display: flex;
    width: calc(var(--ghs-unit) * 90 * var(--ghs-dialog-factor));
    overflow: auto;

    &.has-removed {
      width: calc(var(--ghs-unit) * 120 * var(--ghs-dialog-factor));
    }

    .upcoming,
    .discarded,
    .finished,
    .removed {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      overflow-x: hidden;
      width: calc(var(--ghs-unit) * 30 * var(--ghs-dialog-factor));
      margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

      .title {
        position: sticky;
        top: 0;
        background-image: url('~src/assets/images/dialog_background.png');
        display: none;
        justify-content: center;
        align-items: center;
        width: calc(var(--ghs-unit) * 30 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        font-family: var(--ghs-font-text);
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        z-index: 2;
      }

      &.edit {
        .title {
          display: flex;
        }
      }

      &.upcoming,
      &.finished,
      &.removed {
        display: none;

        &.edit {
          display: flex;
        }
      }

      &.discarded {
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(var(--ghs-unit) * 90 * var(--ghs-dialog-factor));
        min-height: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));

        .empty {
          top: calc(var(--ghs-unit) * 0.4 * var(--ghs-dialog-factor));
          left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }

        &.edit {
          flex-direction: column;
          flex-wrap: initial;
          width: calc(var(--ghs-unit) * 30 * var(--ghs-dialog-factor));

          .empty {
            top: calc(var(--ghs-unit) * 4.2 * var(--ghs-dialog-factor));
            left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
          }
        }
      }

      .challenge-container,
      .empty {
        position: relative;
        display: flex;
        transition: none;
        width: calc(var(--ghs-unit) * 25.5 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 38.25 * var(--ghs-dialog-factor));
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        flex-shrink: 0;
        flex-grow: 0;
        border: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) solid transparent;
        border-radius: 5%;

        ghs-challenge-card {
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &.keep {
          border-color: var(--ghs-color-blue);
        }

      }

      .empty {
        position: absolute;
        top: calc(var(--ghs-unit) * 4.2 * var(--ghs-dialog-factor));
        left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        display: block;
        border-style: dashed;
        border-width: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
        border-color: var(--ghs-color-white);
        width: calc(var(--ghs-unit) * 24 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 37 * var(--ghs-dialog-factor));
        border-radius: 5%;
      }

      .button-remove,
      .button-restore {
        z-index: 1;
        position: absolute;
        display: flex;
        cursor: pointer;
        top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        justify-content: center;
        align-items: center;
        width: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
        color: var(--ghs-filter-white) var(--ghs-filter-shadow);

        .ghs-svg {
          height: 100%;
          filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
        }

        &.button-remove:hover .ghs-svg {
          filter: var(--ghs-filter-red) var(--ghs-filter-shadow);
        }

        &.button-restore:hover .ghs-svg {
          filter: var(--ghs-filter-green) var(--ghs-filter-shadow);
        }
      }

      &.discarded .challenge-container.active {
        cursor: pointer;
      }

      &.finished .challenge-container {
        filter: grayscale(0.9);
      }

      .drag-handle {
        position: absolute;
        cursor: grab;
        left: 50%;
        top: 65%;
        width: 60%;
        height: 70%;
        transform: translate(-50%, -50%);
      }
    }

    &.fh {

      .upcoming,
      .discarded,
      .finished,
      .removed {

        .title {
          background-image: url('~src/assets/images/fh/dialog_background_fh.png');
        }
      }
    }

    &.modern {

      .upcoming,
      .discarded,
      .finished,
      .removed {

        .title {
          background-image: url('~src/assets/images/modern/dialog_background_modern.png');
        }
      }
    }
  }
}


.cdk-drag-preview {
  opacity: 0;
  cursor: grabbing;
  z-index: 999;
}

.cdk-drag-placeholder {
  opacity: 0.5;
  cursor: grabbing;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}