.challenge-deck-fullscreen {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;

  ghs-challenge-deck {
    display: flex;
    width: 99vw;
    max-width: 600px;
    height: 100vw;
    max-height: 420px;
    z-index: 4;
    margin-top: 2em;
    margin-left: 1%;
  }

  &.vertical {
    overflow-y: auto;
    overflow-x: hidden;

    ghs-challenge-deck {
      width: 98vw;
      margin-right: 1%;
      height: 132vw;
      max-height: 800px;
      transform: none;
    }
  }


  .close-container {
    cursor: zoom-out;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

}