.scenario-popup {

  text-align: center;

  color: var(--ghs-color-white);
  min-width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));
  padding: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

  .title {
    font-family: 'ghs-text';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  }

  .index {
    margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  }

  .sections {
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

    .section {
      padding: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));    
      
      &:not(:first-child) {
        border-left: calc(var(--ghs-unit) * 0.1 * var(--ghs-barsize)) solid var(--ghs-color-white);
      }
    }
  }

  .menu {

    margin-top: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));

    .buttons {
      display: flex;

      a {
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }

      .failure {
        color: var(--ghs-color-red);
      }

      .success {
        color: var(--ghs-color-green);
      }
    }
  }

}