.sections {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  flex-shrink: 0;
  font-size: calc(var(--ghs-unit) * 2 * var(--ghs-barsize));

  .section {
    padding: 0 calc(var(--ghs-unit) * 0.5 * var(--ghs-barsize));

    &:not(:first-child) {
      border-left: calc(var(--ghs-unit) * 0.1 * var(--ghs-barsize)) solid var(--ghs-color-gray);
    }
  }
}

.button {
  cursor: pointer;
  font-family: var(--ghs-font-normal);
  font-size: calc(var(--ghs-unit) * 2.8 * var(--ghs-barsize));
  text-shadow: var(--ghs-outline-thin);
  color: var(--ghs-color-gray);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .index {
    margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-barsize));
  }

  &:hover {
    color: var(--ghs-color-white);

    .sections {
      .section {
        border-color: var(--ghs-color-white);
      }
    }
  }
}
