.items-brew-dialog {
    img {
        height: 1em;
        width: auto;
        margin: 0 0.3em;

        &.ghs-svg {
            filter: var(--ghs-filter-gray) var(--ghs-filter-shadow);
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        text-shadow: var(--ghs-outline);
        margin-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));

        .brewing-disabled {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-white);
            margin: 0.5em;

            img {
                margin: 0 0.2em;
                height: 1em;
                width: auto;
                filter: var(--ghs-filter-red);
            }
        }
    }

    .table {
        --ghs-summary-columns: 5;
        font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        display: grid;
        grid-template-columns: repeat(var(--ghs-summary-columns), auto);
        padding-bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
        margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        color: var(--ghs-color-white);
        overflow: auto;

        .ghs-svg {
            width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            height: auto;
            filter: var(--ghs-filter-white);
        }

        &>span {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
            border-bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-white);
            border-right: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor)) solid var(--ghs-color-darkgray);
        }

        .head-col {
            font-family: var(--ghs-font-title);
            font-weight: bold;
            font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
            flex-direction: row;
            justify-content: flex-end;
            background-image: url('/assets/images/dialog_background.png');
            position: sticky;
            left: 0;
            z-index: 1;

            &.calc-col {
                span {
                    opacity: 0.6;
                }
            }
        }

        .toggle {
            cursor: pointer;

            &:hover {

                .ghs-svg {
                    filter: var(--ghs-filter-gray);
                    opacity: 0.6;
                }
            }

            &.active {
                .ghs-svg {
                    filter: var(--ghs-filter-green);
                }
            }

            &.spent {

                .ghs-svg {
                    filter: var(--ghs-filter-yellow);
                    opacity: 0.6;
                }
            }

            &.disabled {
                pointer-events: none;

                .ghs-svg {
                    filter: var(--ghs-filter-red);
                    opacity: 0.4;
                }
            }
        }

        .calc-col {
            span {
                opacity: 0.6;
            }
        }

        .first {
            font-family: var(--ghs-font-title);
            border-top: none;
        }

        img {
            height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
            margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }

        .value {
            color: var(--ghs-color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.15em;
            white-space: nowrap;
        }

        .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.15em;

            .ghs-svg {
                height: 1em;
                width: auto;
            }
        }

    }

    &.fh {
        .table .head-col {
            background-image: url('/assets/images/fh/dialog_background_fh.png');
        }
    }

    &.modern {
        .table .head-col {
            background-image: url('/assets/images/modern/dialog_background_modern.png');
        }
    }

    .receipe {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        color: var(--ghs-color-white);

        .herb {
            display: flex;
            align-items: center;

            .ghs-svg {
                height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                filter: var(--ghs-filter-white);
            }
        }


        .item {
            margin-left: 0.5em;
        }


        .already {
            color: var(--ghs-color-yellow);
        }
    }

    .characters {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .character {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0.25em;
            padding: 0.25em;
            border: 1px solid transparent;

            .name {
                font-family: var(--ghs-font-title);
                font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
                color: var(--ghs-color-gray);
                text-shadow: var(--ghs-outline);
            }

            .icon {
                width: 1.5em;
                height: auto;
                margin-right: 0.2em;
                filter: grayscale(0.7);
            }

            &:hover {
                color: var(--ghs-color-darkgray);
                border-color: var(--ghs-color-darkgray);

                .icon {
                    filter: grayscale(0.3);
                }
            }

            &.selected {
                color: var(--ghs-color-white);
                border-color: var(--ghs-color-gray);

                .icon {
                    filter: none;
                }
            }
        }
    }

    .brewed {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        ghs-item {
            position: relative;
            margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 27 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 40.5 * var(--ghs-dialog-factor));
        }
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            cursor: pointer;
            font-size: 2em;
            padding: 0.3em;

            &.cancel {
                color: var(--ghs-color-red);
            }

            &.apply {
                color: var(--ghs-color-green);
            }

            &.disabled {
                pointer-events: none;
                color: var(--ghs-color-gray);

                .ghs-svg {
                    filter: var(--ghs-filter-gray) !important;
                }
            }

            &.unavailable {
                cursor: initial;
                color: var(--ghs-color-gray);

                .ghs-svg {
                    filter: var(--ghs-filter-gray) !important;
                }
            }
        }
    }
}