<span *ngIf="!summonData" class="summon-value" [ngClass]="{'text-white' : !right, 'small' : action.small}">
  <span class="summon-label">{{(spawn ? 'game.action.spawn' : 'game.action.summon') | ghsLabel}}&nbsp;</span>
  <ng-container *ngFor="let spawn of monsters; let i = index;">
    <span [ngClass]="{'spawn-highlight' : spawnHightlight(spawn,i) && !settingsManager.settings.disableAnimations}"
      *ngIf="spawn.monster.type" (tap)="spawnSummons($event,spawn, i)">
      <span [i18n]="'game.summon.spawnType'"
        [i18n-args]="[spawn.monster.name, spawn.monster.type, spawn.count ? '' + spawn.count : '']"></span>
      <span *ngIf="spawn.monster.health">
        (<span [value-calc]="spawn.monster.health"></span>&nbsp;{{'game.hp' | ghsLabel}})&nbsp;
      </span>
      <span *ngIf="i < monsters.length - 1 && monsters.length > 1">&nbsp;{{'and' | ghsLabel}}&nbsp;</span>
    </span>
  </ng-container>
</span>

<ghs-summon-sheet *ngIf="summonData" [summon]="getSummon()" [action]="true" [additional]="additional"
  [right]="right"></ghs-summon-sheet>