<span *ngIf="!summon" class="summon-value" [ngClass]="{'text-white' : !right, 'small' : action.small}">
  <span class="summon-label">{{'game.action.summon' | ghsLabel}}&nbsp;</span>
  <ng-container *ngFor="let spawn of monsters; let i = index;">
    <span [ngClass]="{'spawn' : spawns.indexOf(i) == -1}"
      *ngIf="spawn.monster.type && settingsManager.settings.calculate" (tap)="spawnSummons($event,spawn, i)">
      <span [i18n]="'game.summon.spawnType'"
        [i18n-args]="[spawn.monster.name, spawn.monster.type, spawn.count ? '' + spawn.count : '']"></span>
      <span *ngIf="i < monsters.length - 1 && monsters.length > 1">&nbsp;{{'and' | ghsLabel}}&nbsp;</span>
    </span>
    <span *ngIf="!settingsManager.settings.calculate">
      <span [i18n]="'game.summon.spawn'"
        [i18n-args]="[spawn.monster.name,spawn.count ? '' + spawn.count : '']"></span>&nbsp;
      <span [i18n]="getSummonLabel(spawn)"></span>
    </span>
  </ng-container>
</span>

<div class="summon-container" *ngIf="summon" [ngClass]="{'additional' : summon.additionalAction || additional}">
  <span class="name"><span class="summon-label">{{'game.action.summon' |
      ghsLabel}}&nbsp;</span><span [i18n]="'data.summon.' + summon.name"
      [ngClass]="{'text-white' : !right}"></span></span>
  <div class="grid">
    <span class="item health">
      <img class="ghs-svg" src="./assets/images/action/heal.svg" />
      <span>:</span>
      <span [value-calc]="summon.health" [empty]="true"></span>
    </span>
    <span class="item move">
      <img class="ghs-svg" src="./assets/images/action/move.svg" />
      <span>:</span>
      <span [value-calc]="summon.movement" [empty]="true"></span>
    </span>
    <span class="action">
      <ghs-action *ngIf="summon.action" [action]="summon.action"></ghs-action>
    </span>
    <span class="item attack">
      <img class="ghs-svg" src="./assets/images/action/attack.svg" />
      <span>:</span>
      <span [value-calc]="summon.attack" [empty]="true"></span>
    </span>
    <span class="item range">
      <img class="ghs-svg" src="./assets/images/action/range.svg" />
      <span>:</span>
      <span [value-calc]="summon.range" [empty]="true"></span>
    </span>
    <span class="additionalAction" *ngIf="summon.additionalAction">
      <ghs-action [action]="summon.additionalAction"></ghs-action>
    </span>
  </div>
</div>