<div class="scenario-chart-container">
    <div #chart class="scenario-chart" id="chart"></div>
    <div class="menu">
        <a *ngIf="worldMap" (click)="openWorldMap()" [ghs-tooltip]="'party.campaign.map'">
            <img src="./assets/images/map.svg">
        </a>
        <a *ngIf="!gameManager.bbRules()" (click)="openCampaignSheet()" [ghs-tooltip]="'party.campaign.manage'">
            <img src="./assets/images/sheet.svg">
        </a>
        <div *ngIf="gameManager.game.party.campaignMode" class="checkbox-container"
            [ghs-tooltip]="'scenario.chart.campaign.' + (campaignMode ? 'force' : 'back')" [originY]="'top'"
            [overlayY]="'bottom'" ghs-pointer-input (singleClick)="toggleCampaignMode($event)"
            (doubleClick)="toggleCampaignMode($event, true)">
            <input type="checkbox" [checked]="campaignMode">
            <span [ghs-label]="'scenario.chart.campaign'"></span>
        </div>
    </div>
</div>