.scenario-chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .scenario-chart {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        background: none;
        line-height: initial !important;
        z-index: 1;

        svg {
            cursor: grab;

            .node {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }

                &.success,
                &.locked:not(.blocked),
                &.blocked {
                    cursor: initial;
                }
            }
        }
    }



    .menu {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        color: var(--ghs-color-gray);
        display: flex;
        align-items: center;
        z-index: 2;
        background-color: var(--ghs-color-darkgray);
        border-top-right-radius: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

        a,
        .checkbox-container {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0 calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

            img {
                filter: var(--ghs-filter-gray);
                height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
                width: auto;
            }

            &:hover {
                color: var(--ghs-color-white);

                img {
                    filter: var(--ghs-filter-white);
                }
            }
        }
    }
}