.image-container {
  position: relative;
  display: block;
  width: calc(var(--ghs-unit) * 9.5);
  height: calc(var(--ghs-unit) * 9.5);
  margin: calc(var(--ghs-unit) * 2.1) calc(var(--ghs-unit) * 3.4);
  cursor: pointer;
  border-radius: calc(var(--ghs-unit) * 1);
  left: calc(var(--ghs-unit) * 2.4);
  overflow: hidden;
  transition: box-shadow 100ms ease-in-out;

  &.disabled {
    pointer-events: none;
  }

  &:not(.active-border) {
    border: calc(var(--ghs-unit) * 0.01) solid transparent;
  }

  .image {
    width: auto;
    height: 100%;
  }

  ghs-healthbar {
    position: absolute;
    bottom: 0;
    width: calc(var(--ghs-unit) * 9.5);
    height: calc(var(--ghs-unit) * 0.5);
    left: 0;
  }
}

.number-container {

  display: grid;
  grid-template-columns: repeat(3, calc(var(--ghs-unit) * 8));


  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
  }

  .number-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    cursor: pointer;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-gray);
    text-shadow: var(--ghs-outline);

    &:hover {
      color: var(--ghs-color-white);
    }

  }
}