<div class="initiative-dialog">

  <div class="title">
    <span class="character" *ngIf="gameManager.isCharacter(character)">
      <img class="icon" [src]="gameManager.toCharacter(character).iconUrl" />
      {{character.title || ('data.character.' + character.name | ghsLabel)}}
      <span *ngIf="character.title">&nbsp;({{'data.character.' + character.name | ghsLabel}})</span>
    </span>
    <span class="character" *ngIf="gameManager.isObjective(character)">
      <img class="icon"
        [src]="'./assets/images/objective/' + (gameManager.toObjective(character).escort ? 'escort' : 'objective') + '.svg'" />
      {{character.title ? character.title : ((character.name ? ('data.objective.' + character.name) :
      (gameManager.toObjective(character).escort ? 'escort' : 'objective')) |
      ghsLabel)}}
      <span *ngIf="character.title">&nbsp;({{(gameManager.toObjective(character).escort ? 'escort' :
        'objective') | ghsLabel}})</span>
    </span>
    {{'game.figure.setInitiative' | ghsLabel}}
  </div>

  <div class="number-container">
    <span></span>
    <span class="value">{{value}}</span>
    <span></span>
    <span *ngFor="let number of [1,2,3,4,5,6,7,8,9]" class="number-button" (click)="pickNumber(number)">
      <span class="number">{{number}}</span>
    </span>
    <span *ngIf="gameManager.isCharacter(character)" class="long-rest-button" title="{{'game.figure.longRest' | ghsLabel}}" (click)="longRest();">
      <img class="ghs-svg" src="./assets/images/long-rest.svg">
    </span>
    <span *ngIf="!gameManager.isCharacter(character)"></span>
    <span class="number-button" (click)="pickNumber(0)">
      <span class="number">0</span>
    </span>
    <span></span>
  </div>
</div>