<div #overlay>
  <div class="overlay" *ngIf="showOverlay()" (click)="open($event)" title="{{'game.figure.setInitiative' | ghsLabel}}">
  </div>
</div>

<div class="initiative"
  [ngClass]="{'empty' : character.initiative <= 0 && !settingsManager.settings.initiativeRequired}"
  title="{{'game.figure.setInitiative' | ghsLabel}}">
  <img (click)="open($event)" class="ghs-svg" src="./assets/images/initiative.svg" />
  <input
    [value]="character.initiative > 0 ? (character.initiative < 10 ? '0' + character.initiative : character.initiative) || '' : ''"
    (change)="updateInitiative($event)" type="number" min="1" max="99" maxlength="2"
    *ngIf="character.initiative <= 0 || !initiativeHidden()">
  <span *ngIf="character.initiative > 0 && initiativeHidden()">??</span>
</div>