.overlay {
  position: absolute;
  left: calc(var(--ghs-unit) * 2);
  top: 0;
  display: block;
  width: calc(var(--ghs-unit) * 9);
  height: calc(var(--ghs-unit) * 9);
  margin: calc(var(--ghs-unit) * 3);
  cursor: pointer;
}

.initiative {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ghs-title';
  font-size: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor));
  color: var(--ghs-color-white);
  text-shadow: var(--ghs-outline);
  transition: width 500ms ease-in-out;
  width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));

  img {
    cursor: pointer;
    width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    height: auto;
    filter: var(--ghs-filter-white);

    &:hover {
      filter: var(--ghs-filter-gray);
    }
  }

  input {
    cursor: pointer;
    text-align: center;
    border: none;
    background: none;
    width: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor));
    font-family: 'ghs-title';
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
    font-size: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor));

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus-visible,
    &:active,
    &:hover {
      border: none;
      outline: none !important;
    }

    -moz-appearance: textfield;
  }


  &.empty {
    width: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));

    img,
    input {
      visibility: hidden;
      opacity: 0;
      transition: opacity 500ms ease-in-out;
    }

    &:hover {
      width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));

      img,
      input {
        visibility: visible;
        opacity: 1;
      }
    }
  }

}

.number-container {

  display: grid;
  grid-template-columns: repeat(3, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));


  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
  }

  .number-button,
  .long-rest-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    cursor: pointer;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    color: var(--ghs-color-gray);
    text-shadow: var(--ghs-outline);

    &:hover {
      color: var(--ghs-color-white);
    }

    &.long-rest-button {

      &.disabled {
        pointer-events: none;

        img {
          filter: var(--ghs-filter-darkgray);
        }
      }

    }

  }
}