.treasure-label {
    display: inline-block;
    line-height: 1em;

    &::first-letter {
        text-transform: uppercase;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        ghs-item {
            position: relative;
            margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 20 * var(--ghs-dialog-factor));
        }
    }
}