<div class="buildings-container">
    <form class="header" (submit)="unlockBuilding(building)">
        <label><img src="./assets/images/fh/buildings/build.svg"><span
                [ghs-label]="'party.campaign.sheet.buildings'"></span></label>
        <input type="text" #building [ghs-label]="'party.campaign.sheet.buildings.unlock'" [ghs-label-attribute]="'placeholder'">
        <img src="./assets/images/plus.svg" (click)="unlockBuilding(building)">
    </form>
    <div class="buildings">
        <div class="building head">
            <span class="name"><span [ghs-label]="'party.campaign.sheet.buildings.name'"></span></span>
            <span class="id"><span [ghs-label]="'party.campaign.sheet.buildings.id'"></span></span>
            <span class="level"><span [ghs-label]="'party.campaign.sheet.buildings.level'"></span></span>
            <span class="costs"><span [ghs-label]="'party.campaign.sheet.buildings.costs'"></span></span>
            <span class="action"><span [ghs-label]="'party.campaign.sheet.buildings.action'"></span></span>
        </div>
        <div class="building" *ngFor="let building of buildings; let index = index"
            [ngClass]="{'buildable' : !building.model.level}">
            <span class="name" [ngClass]="{'disabled': !building.model.level || !building.data.repair}" ghs-drag-click
                (singleClick)="toggleState(building)" (doubleClick)="toggleState(building, true )">
                <span class="state {{building.model.state}}"></span>
                <span [ghs-label]="'data.buildings.' + building.model.name"></span>
            </span>
            <span class="id"><span *ngIf="building.data.id">({{building.data.id}})</span></span>
            <span class="level" ghs-drag-click (doubleClick)="downgrade(building)">{{building.model.level ||
                '-'}}</span>
            <span class="costs" [ngClass]="{'disabled' : !upgradeable(building)}">
                <ng-container *ngIf="!building.model.level">
                    <span class="cost"><img src="./assets/images/fh/buildings/prosperity.svg">
                        {{building.data.costs.prosperity|| '-'}}</span>
                    <span class="cost"><img src="./assets/images/fh/loot/lumber.svg">
                        {{building.data.costs.lumber|| '-'}}</span>
                    <span class="cost"><img src="./assets/images/fh/loot/metal.svg">
                        {{building.data.costs.metal|| '-'}}</span>
                    <span class="cost"><img src="./assets/images/fh/loot/hide.svg">
                        {{building.data.costs.hide|| '-'}}</span>
                    <span class="cost"><img src="./assets/images/fh/loot.svg">
                        {{building.data.costs.gold || '-'}}</span>
                </ng-container>
                <ng-container *ngIf="building.model.level > 0">
                    <ng-container
                        *ngIf="building.model.state == 'normal' && building.model.level < building.data.upgrades.length + 1">
                        <span class="cost"><img src="./assets/images/fh/buildings/prosperity.svg">
                            {{building.data.upgrades[building.model.level - 1].prosperity|| '-'}}</span>
                        <span class="cost"><img src="./assets/images/fh/loot/lumber.svg">
                            {{building.data.upgrades[building.model.level - 1].lumber|| '-'}}</span>
                        <span class="cost"><img src="./assets/images/fh/loot/metal.svg">
                            {{building.data.upgrades[building.model.level - 1].metal|| '-'}}</span>
                        <span class="cost"><img src="./assets/images/fh/loot/hide.svg">
                            {{building.data.upgrades[building.model.level - 1].hide|| '-'}}</span>
                    </ng-container>
                    <ng-container *ngIf="building.model.state == 'damaged' && building.data.repair">
                        <span class="repair">
                            <span [ghs-label]="'party.campaign.sheet.buildings.repair.costs'"
                                [ghs-label-args]="['' +building.data.repair[building.model.level - 1] ]"></span>
                            <span class="cost"><img src="./assets/images/fh/loot/lumber.svg"></span>
                            <span class="cost"><img src="./assets/images/fh/loot/metal.svg"></span>
                            <span class="cost"><img src="./assets/images/fh/loot/hide.svg"></span>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="building.model.state == 'wrecked'">
                        <span></span>
                        <span class="cost"><img src="./assets/images/fh/loot/lumber.svg">
                            {{building.data.rebuild[building.model.level - 1].lumber|| '-'}}</span>
                        <span class="cost"><img src="./assets/images/fh/loot/metal.svg">
                            {{building.data.rebuild[building.model.level - 1].metal|| '-'}}</span>
                        <span class="cost"><img src="./assets/images/fh/loot/hide.svg">
                            {{building.data.rebuild[building.model.level - 1].hide|| '-'}}</span>
                    </ng-container>
                </ng-container>
            </span>
            <span class="action">
                <span
                    *ngIf="(building.model.level < building.data.upgrades.length +1 || building.model.level < building.data.manualUpgrades + 1) && building.model.state == 'normal'"
                    [ngClass]="{'disabled' : !upgradeable(building)}" class="button upgrade" ghs-drag-click
                    (singleClick)="upgrade(building)" (doubleClick)="upgrade(building, true)"
                    [ghs-label]="('party.campaign.sheet.buildings.' + (building.model.level > 0 ? 'upgrade' : 'build'))"
                    [ghs-label-attribute]="'title'">
                    <span
                        [ghs-label]="('party.campaign.sheet.buildings.' + (building.model.level > 0 ? 'upgrade' : 'build'))"></span>
                    <img
                        [src]="'./assets/images/fh/buildings/' + (building.model.level > 0 ? 'upgrade' : 'build')  + '.svg'">
                </span>
                <span *ngIf="building.model.state == 'damaged'" [ngClass]="{'disabled' : !upgradeable(building)}"
                    class="button upgrade" ghs-drag-click (singleClick)="repair(building)"
                    (doubleClick)="repair(building, true)" [ghs-label]="('party.campaign.sheet.buildings.repair')"
                    [ghs-label-attribute]="'title'">
                    <span [ghs-label]="'party.campaign.sheet.buildings.repair'"></span>
                    <img src="./assets/images/fh/buildings/damaged.svg">
                </span>
                <span *ngIf="building.model.state == 'wrecked'" [ngClass]="{'disabled' : !upgradeable(building)}"
                    class="button upgrade" ghs-drag-click (singleClick)="rebuild(building)"
                    (doubleClick)="rebuild(building, true)" [ghs-label]="('party.campaign.sheet.buildings.rebuild')"
                    [ghs-label-attribute]="'title'">
                    <span [ghs-label]="'party.campaign.sheet.buildings.rebuild'"></span>
                    <img src="./assets/images/fh/buildings/wrecked.svg">
                </span>
            </span>
        </div>
    </div>
</div>