.button {
  cursor: pointer;
  font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));

  display: flex;
  width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  filter: var(--ghs-filter-yellow);

  a {
    display: flex;
    width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  }

}