<div class="stat">
  <label>MonsterType</label>
  <select type="number" [(ngModel)]="stat.type" disabled placeholder="MonsterType">
    <option *ngFor="let type of monsterTypes" [value]="type">{{type}}</option>
  </select>
  <label>Level</label>
  <input type="number" [(ngModel)]="stat.level" disabled placeholder="level">
  <label>Health</label>
  <input [(ngModel)]="stat.health" (change)="statChange.emit(stat)">
  <label>Movement</label>
  <input type="number" [(ngModel)]="stat.movement" (change)="statChange.emit(stat)">
  <label>Attack</label>
  <input [(ngModel)]="stat.attack" (change)="statChange.emit(stat)">
  <label>Range</label>
  <input type="number" [(ngModel)]="stat.range" (change)="statChange.emit(stat)">
  <label>Actions</label>
  <div class="actions">
    <div class="action" *ngFor="let action of stat.actions; let i = index">
      <ghs-monster-action-tool [(action)]="stat.actions[i]"></ghs-monster-action-tool>
      <a (click)="removeAction(i)">Remove Action</a>
    </div>
    <a (click)="addAction()">Add Action</a>
  </div>
  <label>Specials</label>
  <div class="specials">
    <div class="special" *ngFor="let special of stat.special; let i = index">
      <div class="special-actions" *ngFor="let specialAction of stat.special[i]; let j = index">
        <ghs-monster-action-tool [(action)]="stat.special[i][j]"></ghs-monster-action-tool>
        <a (click)="removeSpecialAction(i,j)">Remove Special Action</a>
      </div>
      <a (click)="addSpecialAction(i)">Add Special Action</a>
      <a (click)="removeSpecial(i)">Remove Special</a>
    </div>
    <a (click)="addSpecial()">Add Special</a>
  </div>
</div>