<div class="menu-container scenario">
  <div class="columns">
    <div class="column custom-container">
      <div class="line custom-check">
        <label>
          <input type="checkbox" [checked]="gameManager.game.scenario && gameManager.game.scenario.custom"
            (change)="customScenario()">
          &lt;{{'scenario.custom' | ghsLabel}}&gt;
        </label>
      </div>
      <div class="line" *ngIf="gameManager.game.scenario && gameManager.game.scenario.custom">
        <input type="text" [value]="gameManager.game.scenario.name" (change)="customScenarioName($event)"
          [placeholder]="'scenario.title' | ghsLabel">
      </div>
    </div>
    <div class="column" *ngIf="gameManager.game.scenario && !gameManager.game.scenario.custom">
      <div class="line">
        <a (click)="resetScenario()">&lt;{{'scenario.reset' | ghsLabel}}!&gt;</a>
      </div>
    </div>
  </div>
  <div class="line editions">
    <label *ngFor="let e of (gameManager.game.edition ? [gameManager.game.edition] : editions());">
      <input type="radio" name="radio" [value]="e" (change)="edition = e" [checked]="edition == e">
      {{'data.edition.' + e | ghsLabel}}
    </label>
  </div>
  <ng-container *ngFor="let group of groups()">
    <div *ngIf="group" class="line title"><label>{{'data.scenario.group.' + group | ghsLabel}}</label></div>
    <div class="line scenarios">
      <span (click)="setScenario(scenario)" class="scenario"
        [ngClass]="{'disabled' : hasScenario(scenario), 'blocked' : gameManager.scenarioManager.isBlocked(scenario)}"
        [title]="('data.scenario.' + scenario.name | ghsLabel) + (gameManager.scenarioManager.isBlocked(scenario) ? ' [' + ('scenario.locked' | ghsLabel) + ']' : '')"
        *ngFor="let scenario of scenarios(group)">

        <ng-container *ngIf="!scenario.solo">
          <span *ngIf="maxScenario(group) > 2 && scenario.index.length < 3">0</span><span
            *ngIf="maxScenario(group) > 1 && scenario.index.length < 2">0</span>{{scenario.index}}
        </ng-container>
        <ng-container *ngIf="scenario.solo">
          <img class="ghs-svg solo"
            [src]="characterIcon(scenario.solo)" />
        </ng-container>
        <span *ngIf="scenarioSuccess(scenario)" class="state success"><img class="ghs-svg"
            src="./assets/images/check.svg" /></span>
        <span *ngIf="gameManager.scenarioManager.isBlocked(scenario)" class="state blocked"><img class="ghs-svg"
            src="./assets/images/close.svg" /></span>
      </span>
    </div>
    <div class="line" *ngIf="hasSpoilers(group)">
      <a (click)="settingsManager.addSpoilers(notSpoiled(group))">{{'spoiler.all' | ghsLabel}}</a>
    </div>
    <ng-container *ngIf="gameManager.game.party.campaignMode">
      <div class="line title">
        <label>{{'scenario.manual.add' | ghsLabel}}
        </label>
      </div>
      <div class="line">
        <span class="input-button">
          <input #manualScenarioIndex type="text" placeholder="{{'scenario.manual.index' | ghsLabel}}"
            (keyup)="manualScenarioIndex.classList.remove('error')"
            (keyup.enter)="manualScenario(manualScenarioIndex, group)">
          <span class="add-button" (click)="manualScenario(manualScenarioIndex, group)"
            title="{{'scenario.manual.add' | ghsLabel}}"
            [ngClass]="{'disabled' : !manualScenarioIndex.value || manualScenarioIndex.classList.contains('error')}">
          </span>
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>