.scroll-container {
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
}

li {
    display: flex;
    align-items: center;

    kbd {
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
    }

    .hint {
        margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        font-style: italic;
        font-size: 0.8em;
    }
}