.summon-border {
  position: relative;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(var(--ghs-column-unit) * 0.8);
    left: calc(var(--ghs-column-unit) * 4);
    bottom: calc(var(--ghs-column-unit) * 0.8);
    right: calc(var(--ghs-column-unit) * 1.8);
    border-width: calc(var(--ghs-column-unit) * 0.4);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-column-unit) * 1);
  }
}


.summon {
  position: relative;
  display: flex;
  cursor: pointer;
  height: calc(var(--ghs-column-unit) * 6);
  text-align: center;
  background-image: url('~src/assets/images/monster/entity.png');
  background-size: calc(var(--ghs-column-unit) * 8) AUTO;
  background-repeat: no-repeat;
  color: var(--ghs-color-white);
  text-shadow: var(--ghs-outline);
  width: 100%;
  margin-right: calc(var(--ghs-column-unit) * 1);
  margin-bottom: calc(var(--ghs-column-unit) * 1);

  .number,
  .health {
    display: flex;
    width: calc(var(--ghs-column-unit) * 4);
    height: calc(var(--ghs-column-unit) * 4);
    justify-content: center;
    align-items: center;
    font-family: "ghs-title";
    font-size: calc(var(--ghs-column-unit) * 2.6);
    flex-shrink: 0;
  }

  .health {
    height: calc(var(--ghs-column-unit) * 5);
  }

  .conditions {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    max-height: calc(var(--ghs-column-unit) * 6);
    padding-left: calc(var(--ghs-column-unit) * 0.5);

    .condition,
    .summon-state {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--ghs-column-unit) * 2);

      img {
        width: calc(var(--ghs-column-unit) * 2.5);
        height: calc(var(--ghs-column-unit) * 2.5);
        margin: calc(var(--ghs-column-unit) * 0.1);
      }

      &.center {
        grid-row: span 2;
      }
    }

    .summon-state {
      &.new:after {
        content: " ";
        display: block;
        position: absolute;
        width: calc(var(--ghs-column-unit) * 2.5);
        height: calc(var(--ghs-column-unit) * 2.5);
        background-image: url('~src/assets/images/summons/minus.svg');
        background-size: cover;
      }
    }
  }

  .health-bar {
    position: absolute;
    bottom: calc(var(--ghs-column-unit) * 0);
    width: calc(var(--ghs-column-unit) * 7);
    left: calc(var(--ghs-column-unit) * 0.5);
    height: calc(var(--ghs-column-unit) * 0.5);
    border: none;
    background-color: transparent;

    &::-webkit-progress-value {
      background-color: var(--ghs-color-green) !important;
    }

    &::-moz-progress-bar {
      background-color: var(--ghs-color-green) !important;
    }

    color: var(--ghs-color-green);

    &.critical {
      &::-webkit-progress-value {
        background-color: var(--ghs-color-red) !important;
      }

      &::-moz-progress-bar {
        background-color: var(--ghs-color-red) !important;
      }

      color: var(--ghs-color-red);
    }
  }
}

.dialog {
  .status-container {
    display: flex;
    flex-direction: row;
    margin: calc(var(--ghs-unit) * 0.5);

    .summon-container {
      display: grid;
      grid-template-columns: calc(var(--ghs-unit) * 7) calc(var(--ghs-unit) * 7) calc(var(--ghs-unit) * 7);
    }

    .stats-container {
      grid-column: span 3;
      grid-row: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .stat {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ghs-color-white);
        font-size: calc(var(--ghs-unit) * 2.5);
        margin: calc(var(--ghs-unit) * 0.5);

        img {
          height: calc(var(--ghs-unit) * 3);
          margin-right: calc(var(--ghs-unit) * 0.5);
        }
      }
    }

    .condition-container {
      display: grid;
      grid-template-columns: calc(var(--ghs-unit) * 7) calc(var(--ghs-unit) * 7) calc(var(--ghs-unit) * 7);
    }

    .condition,
    .summon {

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7);
      width: calc(var(--ghs-unit) * 7);

      &.active,
      &.new {
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }
    }

    .level-button {
      font-size: calc(var(--ghs-unit) * 2);
      display: flex;
      align-items: center;
    }
  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
  }

  a {
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 7);
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-gray);
    }
  }

  img {
    height: calc(var(--ghs-unit) * 4);
    width: auto;
  }

  .health-positive {
    color: var(--ghs-color-green) !important;
  }

  .health-negative {
    color: var(--ghs-color-red) !important;
  }

  .max-health-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--ghs-unit) * 12);

    img {
      height: calc(var(--ghs-unit) * 3);
      width: auto;
    }
  }


  .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2);
    text-shadow: var(--ghs-outline);
  }

  .level-dialog {
    .summon-container {
      display: grid;
      grid-template-columns: calc(var(--ghs-unit) * 7) calc(var(--ghs-unit) * 7) calc(var(--ghs-unit) * 7);

      img {
        height: calc(var(--ghs-unit) * 3);
        width: calc(var(--ghs-unit) * 3);
      }

      .badge {
        left: 50%;
        transform: translateX(-50%);
      }

    }
  }

}