<div class="summon-border"
  [ngClass]="{'dead' : summon.dead, 'off' : character.off, 'active' : summon.active, 'fh' : settingsManager.settings.fhStyle}"
  [entityAnimation]="summon.dead">
  <div class="summon">
    <div #standee class="standee">
      <div class="sheet">
        <ghs-summon-sheet *ngIf="summon.active" [summon]="summon"></ghs-summon-sheet>

        <div class="background-image-container"
          *ngIf="!settingsManager.settings.disableArtwork && (summon.thumbnail && !summon.noThumbnail || summon.thumbnailUrl)">
          <div class="background-image"
            [style.background-image]="summon.thumbnailUrl ? 'url(' +  summon.thumbnailUrl + ')' : 'url(./assets/images/summons/thumbnail/' + summon.thumbnail + '.png)'">
          </div>
        </div>
      </div>

      <span class="image"
        [ngClass]="{'active' : summon.state == SummonState.true, 'new' : summon.state == SummonState.new, 'center' : (summon.entityConditions.length % 2) == 0}">
        <img src="./assets/images/summons/{{summon.color}}.png">
        <span class="summon-number">
          <span *ngIf="summon.number == 0">-</span>
          <span *ngIf="summon.number > 0">{{summon.number}}</span></span>
      </span>

      <span class="health">{{(summon.health + health) | ghsMinZero}}
        <span class="value-overlay" [value-sign]="health" [hideEmpty]="true" [container]="true"></span>
      </span>
    </div>

    <div class="markers">
      <span class="marker" *ngFor="let marker of summon.markers;">
        <img src="./assets/images/character/icons/{{marker}}.svg" />
      </span>
    </div>

    <ghs-highlight-conditions [entity]="summon" [figure]="character"></ghs-highlight-conditions>

    <div class="conditions">
      <span class="condition-container" *ngFor="let entityCondition of activeConditions; let index = index"
        [ngClass]="{'expired' : entityCondition.expired, 'center' : ((activeConditions).length % 2) == 1 && (activeConditions).length == index + 1}">
        <span class="condition">
          <img
            [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + entityCondition.name + '.svg'"
            [style.z-index]="index * 10 + entityCondition.value" />
          <ng-container *ngIf="entityCondition.types.indexOf(ConditionType.stack) != -1">
            <img class="stack" *ngFor="let i of [] | ghsRange:(entityCondition.value - 1)"
              [style.z-index]="index * 10 + entityCondition.value - i - 1"
              [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + entityCondition.name + '.svg'" />
          </ng-container>
          <span class="value" [style.z-index]="index * 10 + entityCondition.value +1"
            *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1 && entityCondition.types.indexOf(ConditionType.stack) == -1">{{entityCondition.value}}</span>
          <span *ngIf="summon.immunities.indexOf(entityCondition.name) != -1"
            class="condition immunity condition-overlay"
            [style.z-index]="index * 10 + entityCondition.value + 2"></span>
          <span *ngIf="entityCondition.permanent" class="condition permanent condition-overlay"
            [style.z-index]="index * 10 + entityCondition.value + 3"></span>
        </span>
      </span>
    </div>
    <ghs-healthbar [entity]="summon" [diff]="health"></ghs-healthbar>
  </div>

  <ghs-pointer-input class="drag-hp" (singleClick)="open()" (doubleClick)="toggleActive()"
    (dragMove)="dragHpMove($event)" (dragEnd)="dragHpEnd($event)" (dragCancel)="dragHpCancel($event)" [relative]="true"
    [screenWidth]="true"></ghs-pointer-input>
</div>