.summon-border {
  position: relative;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(var(--ghs-unit) * 0.8 * var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    bottom: calc(var(--ghs-unit) * 0.8 * var(--ghs-text-factor));
    right: calc(var(--ghs-unit) * 1.8 * var(--ghs-text-factor));
    border-width: calc(var(--ghs-unit) * 0.4 * var(--ghs-text-factor));
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-unit) * 1);
  }

  &:not(.dead) {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  &.dead {
    max-width: 0;
    opacity: 0;
    transform: translate(0%, 100%);
  }
}


.summon {
  position: relative;
  display: flex;
  cursor: pointer;
  height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
  text-align: center;
  background-image: url('~src/assets/images/monster/entity.png');
  background-size: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor)) AUTO;
  background-repeat: no-repeat;
  color: var(--ghs-color-white);
  text-shadow: var(--ghs-outline);
  width: 100%;
  margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
  margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));

  .number,
  .health {
    display: flex;
    width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    justify-content: center;
    align-items: center;
    font-family: "ghs-title";
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    flex-shrink: 0;
  }

  .health {
    position: relative;
    top: calc(var(--ghs-unit) * 0.8 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));

    &::before {
      content: " ";
      position: absolute;
      left: 50%;
      top: calc(var(--ghs-unit) * -0.2 * var(--ghs-text-factor));
      width: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
      background-image: url('~src/assets/images/status/health.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
  }

  ghs-highlight-conditions {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor));
  }

  .conditions {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    max-height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
    padding-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

    .condition,
    .summon-state {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));

      img {
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        margin: calc(var(--ghs-unit) * 0.1 * var(--ghs-text-factor));
      }

      .value {
        font-family: 'ghs-title';
        font-size: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
        color: var(--ghs-color-white);
        position: absolute;
        top: 48%;
        left: calc(var(--ghs-unit) * 1.1 * var(--ghs-text-factor));
        text-shadow: none;
        transform: translateX(-50%);
      }

      &.center {
        grid-row: span 2;
      }
    }

    .summon-state {
      &.new::after {
        content: " ";
        display: block;
        position: absolute;
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        background-image: url('~src/assets/images/summons/minus.svg');
        background-size: cover;
      }
    }
  }

  .health-bar {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 0);
    width: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
    border: none;
    background-color: transparent;

    &::-webkit-progress-value {
      background-color: var(--ghs-color-green) !important;
    }

    &::-moz-progress-bar {
      background-color: var(--ghs-color-green) !important;
    }

    color: var(--ghs-color-green);

    &.critical {
      &::-webkit-progress-value {
        background-color: var(--ghs-color-red) !important;
      }

      &::-moz-progress-bar {
        background-color: var(--ghs-color-red) !important;
      }

      color: var(--ghs-color-red);
    }
  }
}

.dialog {
  .status-container {
    display: flex;
    flex-direction: row;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .summon-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
    }

    .stats-container {
      grid-column: span 3;
      grid-row: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: auto;

      .stat {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ghs-color-white);
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

        img {
          height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }
      }
    }

    .condition-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
      column-gap: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
      row-gap: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
      align-items: center;
      justify-items: center;
      margin-bottom: auto;
    }

    .condition,
    .summon {

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

      &.active,
      &.new {
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }
    }

    .level-button {
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      display: flex;
      align-items: center;
    }
  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
  }

  a {
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-gray);

      .ghs-svg {
        filter: var(--ghs-filter-gray) !important;
      }
    }
  }

  img {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: auto;
  }

  .health-positive {
    color: var(--ghs-color-green) !important;
  }

  .health-negative {
    color: var(--ghs-color-red) !important;
  }

  .max-health-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor));

    img {
      height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      width: auto;
    }
  }

  .summon-state {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    position: relative;
    display: flex;

    &.new::after {
      content: " ";
      display: block;
      position: absolute;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      background-image: url('~src/assets/images/summons/minus.svg');
      background-size: cover;
    }
  }


  .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    text-shadow: var(--ghs-outline);
  }

  .level-dialog {
    .summon-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));

      img {
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      }

      .badge {
        left: 50%;
        transform: translate(-50%, calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor)));
      }

    }
  }

}