.summon-border {
  position: relative;
  height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(var(--ghs-unit) * 1.4 * var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
    right: calc(var(--ghs-unit) * 1.8 * var(--ghs-text-factor));
    border-width: calc(var(--ghs-unit) * 0.4);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-unit) * 0.7);
  }

  &:not(.dead) {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  &.dead {
    opacity: 0;
    max-width: 0;
    transform: translate(0%, 100%);
  }

  .summon {
    position: relative;
    display: flex;
    cursor: pointer;
    height: calc(var(--ghs-unit) * 6.5 * var(--ghs-text-factor));
    text-align: center;
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
    width: 100%;
    margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
    margin-bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
    transition: height 500ms ease-out;

    .standee {
      position: relative;
      display: flex;
      height: 100%;
      width: calc(var(--ghs-unit) * 9 * var(--ghs-text-factor));
      background-color: var(--ghs-color-darkgray);
      border: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor)) solid var(--ghs-color-black);
      border-bottom-width: calc(var(--ghs-unit) * 0.35 * var(--ghs-text-factor));
      border-top-left-radius: 25%;
      border-top-right-radius: 25%;
      filter: var(--ghs-filter-outline);
      transition: width 500ms ease-out;

      .background-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        overflow: hidden;
        z-index: 0;
        transition: height 500ms ease-out, width 500ms ease-out, top 500ms ease-out, left 500ms ease-out;

        .background-image {
          position: absolute;
          top: calc(var(--ghs-unit) * -1.3 * var(--ghs-text-factor));
          left: calc(var(--ghs-unit) * -0.8 * var(--ghs-text-factor));
          width: calc(var(--ghs-unit) * 9.5 * var(--ghs-text-factor));
          height: 150%;
          background-size: 100% AUTO;
          background-repeat: no-repeat;
          filter: brightness(70%);
          transition: height 500ms ease-out, width 500ms ease-out, top 500ms ease-out, left 500ms ease-out;
        }
      }

      .sheet {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--ghs-unit) * 5.5 * var(--ghs-text-factor));
        transition: height 500ms ease-out, width 500ms ease-out;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .health {
      display: flex;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      justify-content: center;
      align-items: center;
      font-family: "ghs-normal";
      flex-shrink: 0;
      z-index: 1;
    }

    .image {
      position: absolute;
      top: calc(var(--ghs-unit) * 0.5);
      left: 0;
      width: calc(var(--ghs-unit) * 4);
      height: calc(var(--ghs-unit) * 4);
      transition: top 500ms ease-out, left 500ms ease-out;

      &.new::before {
        content: " ";
        display: block;
        position: absolute;
        width: calc(var(--ghs-unit) * 4);
        height: calc(var(--ghs-unit) * 4);
        background-image: url('~/src/assets/images/summons/minus.svg');
        background-size: cover;
        z-index: 2;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .summon-number {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: calc(var(--ghs-unit) * -0.1);
        height: calc(var(--ghs-unit) * 4);
        width: calc(var(--ghs-unit) * 2);
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 2.5);
        color: var(--ghs-color-white);
        background-color: var(--ghs-color-darkgray);
        border-top-left-radius: calc(var(--ghs-unit) * 4);
        border-bottom-left-radius: calc(var(--ghs-unit) * 4);
        z-index: 3;
        opacity: 0.9;
      }
    }

    .health {
      font-size: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor));
      position: absolute;
      top: calc(var(--ghs-unit) * 1.2 * var(--ghs-text-factor));
      left: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
      transition: top 500ms ease-out, left 500ms ease-out;

      &::before {
        content: " ";
        position: absolute;
        left: 50%;
        top: calc(var(--ghs-unit) * -0.9 * var(--ghs-text-factor));
        width: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
        background-image: url('~/src/assets/images/status/health.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(-50%);
      }

      .value-overlay {
        position: absolute;
        left: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        bottom: calc(var(--ghs-unit) * -3 * var(--ghs-text-factor));
        font-size: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
        width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
      }
    }

    .markers {
      position: relative;
      display: flex;
      justify-content: center;
      max-height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
      padding-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

      .marker {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        background-color: var(--ghs-color-darkgray);
        border-radius: 100%;
        height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        margin-top: calc(var(--ghs-unit) * 0.8 * var(--ghs-text-factor));
        margin-left: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        margin-right: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        border-width: calc(var(--ghs-unit) * 0.4);
        border-style: solid;
        border-color: var(--ghs-color-gray);

        img {
          width: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        }
      }
    }

    ghs-highlight-conditions {
      z-index: 5;
      position: absolute;
      bottom: 0;
      width: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor));
    }

    .conditions {
      position: relative;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;

      .condition {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));

        &.expired {
          opacity: 0.6;
        }

        img {
          width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        }

        .value {
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 1.2 * var(--ghs-text-factor));
          color: var(--ghs-color-white);
          position: absolute;
          top: 48%;
          left: calc(var(--ghs-unit) * 1.3 * var(--ghs-text-factor));
          text-shadow: none;
          transform: translateX(-50%);
        }

        &.center {
          grid-row: span 2;
        }
      }
    }

    ghs-healthbar {
      position: absolute;
      bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-text-factor));
      left: calc(var(--ghs-unit) * 0.4 * var(--ghs-text-factor));
      width: calc(var(--ghs-unit) * 8.2 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 0.75 * var(--ghs-text-factor));
      z-index: 0;
      border-radius: 15%;
      overflow: hidden;
      transition: width 500ms ease-out;
    }
  }

  ghs-pointer-input.drag-hp {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor));
    height: 100%;
    z-index: 4;
  }

  &.active {

    z-index: 15;

    .summon {
      height: calc(var(--ghs-unit) * 12 * var(--ghs-text-factor));

      .standee {
        position: relative;
        width: calc(var(--ghs-unit) * 30 * var(--ghs-text-factor));
        font-size: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));

        .sheet {
          height: calc(var(--ghs-unit) * 11 * var(--ghs-text-factor));
        }

        .background-image-container {
          top: 5%;
          left: 0;
          height: 75%;
          width: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor));

          .background-image {
            top: 8%;
            left: -35%;
            width: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
          }

        }

        ghs-summon-sheet {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        .image {
          top: calc(var(--ghs-unit) * -1);
          left: calc(var(--ghs-unit) * -2);
        }

        .health {
          top: calc(var(--ghs-unit) * 6.5 * var(--ghs-text-factor));
          left: calc(var(--ghs-unit) * 1);

          .value-overlay {
            left: 100%;
            bottom: calc(var(--ghs-unit) * 0.6);
          }
        }
      }

      ghs-healthbar {
        left: calc(var(--ghs-unit) * 0.4 * var(--ghs-text-factor));
        width: calc(var(--ghs-unit) * 29.2 * var(--ghs-text-factor));
      }
    }

    ghs-pointer-input.drag-hp {
      width: calc(var(--ghs-unit) * 30 * var(--ghs-text-factor));
    }


    &.fh {
      .summon .standee {

        .background-image-container {
          top: 25%;
          height: 85%;
          width: calc(var(--ghs-unit) * 9.5 * var(--ghs-text-factor));

          .background-image {
            top: 0;
            left: -10%;
            width: calc(var(--ghs-unit) * 9.5 * var(--ghs-text-factor));
          }
        }


        .health {
          left: calc(var(--ghs-unit) * 2);
        }
      }
    }
  }

  &.off {

    .summon .standee .image {
      opacity: 0.7;
    }
  }
}