<div class="summon-border" [ngClass]="{'dead' : summon.dead}" [entityAnimation]="summon.dead">
  <div #button class="summon" title="{{'data.summon.' + summon.name | ghsLabel}}">
    <div class="standee">
      <span class="number"><span *ngIf="summon.number == 0">-</span><span
          *ngIf="summon.number > 0">{{summon.number}}</span></span>
      <span class="health">{{summon.health}}</span>
    </div>

    <div class="markers">
      <span class="marker" *ngFor="let marker of summon.markers;">
        <img src="./assets/images/character/icons/{{marker}}.svg" />
      </span>
    </div>

    <ghs-highlight-conditions [entity]="summon"></ghs-highlight-conditions>

    <div class="conditions">
      <span class="condition" *ngFor="let entityCondition of gameManager.entityManager.activeConditions(summon)">
        <img src="./assets/images/condition/{{entityCondition.name}}.svg" />
        <span class="value"
          *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
      </span>

      <span class="summon-state"
        [ngClass]="{'active' : summon.state == SummonState.true, 'new' : summon.state == SummonState.new, 'center' : (summon.entityConditions.length % 2) == 0}">
        <img src="./assets/images/summons/{{summon.color}}.png">
      </span>

    </div>
    <ghs-healthbar [entity]="summon"></ghs-healthbar>
  </div>
</div>

<div #dialog>
  <div class="name">{{'data.summon.' + summon.name | ghsLabel}}</div>
  <div *ngIf="!levelDialog" class="status-container">
    <div class="summon-container">
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : summon.health == 0}" (click)="changeHealth(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item">
        <img src="./assets/images/status/health.svg" />
        <span class="badge health-count"
          [ngClass]="{'negative-value' : health < 0, 'positive-value' : health > 0}">{{health | ghsValueSign}}</span>
      </span>
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : summon.health == summon.maxHealth}" (click)="changeHealth(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <div class="stats-container">
        <span class="stat" (click)="openLevelDialog()">
          <img src="./assets/images/action/move.svg" />
          <span [value-calc]="summon.movement" [empty]="true">></span>
        </span>

        <span class="stat" (click)="openLevelDialog()">
          <img src="./assets/images/action/attack.svg" />
          <span [value-calc]="summon.attack" [empty]="true">></span>
        </span>

        <span class="stat" (click)="openLevelDialog()">
          <img src="./assets/images/action/range.svg" />
          <span [value-calc]="summon.range" [empty]="true">></span>
        </span>
      </div>

      <span class="item">
        <a class="condition" (click)="dead()">
          <img src="./assets/images/status/dead.svg" />
        </a>
      </span>
      <span class="item">
        <a class="button level-button" (click)="openLevelDialog()">
          {{character.level}} <img src="./assets/images/status/level.svg" />
        </a>
      </span>
      <span class="item">
        <a class="summon-state"
          [ngClass]="{'active' : summon.state == SummonState.true, 'new' : summon.state == SummonState.new }"
          (click)="toggleStatus()">
          <img src="./assets/images/summons/{{summon.color}}.png">
        </a>
      </span>
    </div>

    <ghs-conditions [entity]="summon" [figure]="character" type="monster"></ghs-conditions>
  </div>

  <div *ngIf="levelDialog" class="level-dialog">
    <div class="summon-container">
      <a class="button" (click)="changeMaxHealth(-1)">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </a>
      <span class="item">
        <img src="./assets/images/status/health.svg" />
        <span class="badge max-health">{{summon.health}}/{{summon.maxHealth}}</span>
      </span>
      <a class="button" (click)="changeMaxHealth(1)">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </a>

      <a class="button" (click)="changeMovement(-1)">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </a>
      <span class="item">
        <img src="./assets/images/action/move.svg" />
        <span class="badge" [value-calc]="summon.movement" [empty]="true">></span>
      </span>
      <a class="button" (click)="changeMovement(1)">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </a>

      <a class="button" (click)="changeAttack(-1)">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </a>
      <span class="item">
        <img src="./assets/images/action/attack.svg" />
        <span class="badge" [value-calc]="summon.attack" [empty]="true">></span>
      </span>
      <a class="button" (click)="changeAttack(1)">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </a>

      <a class="button" (click)="changeRange(-1)">
        <img class="ghs-svg" src="./assets/images/minus.svg">
      </a>
      <span class="item">
        <img src="./assets/images/action/range.svg" />
        <span class="badge" [value-calc]="summon.range" [empty]="true">></span>
      </span>
      <a class="button" (click)="changeRange(1)">
        <img class="ghs-svg" src="./assets/images/plus.svg">
      </a>

    </div>
  </div>
</div>