.attack-modifier {
  position: relative;
  width: 100%;
  height: 100%;
  transition: filter 2s linear, transform 0.8s cubic-bezier(0.75, 0, 0.85, 1), top 0.5s linear, left 0.5s linear;

  .back {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~src/assets/images/attackmodifier/am-back.png');
    border-radius: 5%;
  }

  .front {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;

    .type {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &.custom {
        &.new-style {
          filter: none;
        }

        &.new-style~.overlay.custom {
          display: inline-block;
        }

        &.fh~.overlay.custom {
          display: none;
        }

        &.fh~.overlay.custom-fh {
          display: inline-block;
        }
      }

      &.multiple {
        background-image: url('~src/assets/images/attackmodifier/am-front.png');
        background-size: 100%;

        &.multiple-mixed-element {
          &:not(:nth-child(1)) {
            mask-image: conic-gradient(from 90deg at 50% 50%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 75%);
          }

          &.multiple-mixed-element-or {
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0) 100%);
          }
        }

        &.multiple-1 {

          &:nth-child(2) {
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0) 55%, rgba(0, 0, 0) 100%);
          }

          &.fh:nth-child(2) {
            mask-image: conic-gradient(from 110deg at 50% 50%, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 75%);
          }
        }

        &.multiple-2 {
          &:nth-child(2) {
            mask-image: conic-gradient(from 90deg at 50% 50%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 95%);
          }
        }

        &.multiple-3 {
          &:nth-child(2) {
            mask-image: conic-gradient(from 90deg at 50% 50%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 45%);
          }

          &:nth-child(3) {
            mask-image: conic-gradient(from 90deg at 50% 50%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 75%);
          }
        }

        &.wild {
          &.air {
            mask-image: conic-gradient(from 90deg at 50% 20%, rgba(0, 0, 0, 0) 45%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 80%);
          }

          &.ice {
            mask-image: conic-gradient(from 180deg at 50% 20%, rgba(0, 0, 0, 0) 45%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 80%);
          }

          &.fire {
            mask-image: conic-gradient(from 270deg at 66% 30%, rgba(0, 0, 0, 0) 35%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 70%);
          }

          &.earth {
            mask-image: conic-gradient(from 290deg at 50% 80%, rgba(0, 0, 0, 0) 35%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 70%)
          }

          &.light {
            mask-image: conic-gradient(from 30deg at 50% 80%, rgba(0, 0, 0, 0) 35%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 70%)
          }

          &.dark {
            mask-image: conic-gradient(from 40deg at 33% 30%, rgba(0, 0, 0, 0) 35%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 70%);
          }
        }
      }

      &.air {
        filter: hue-rotate(160deg) saturate(80%);
      }

      &.dark {
        filter: hue-rotate(180deg) saturate(20%) brightness(85%);
      }

      &.earth {
        filter: hue-rotate(60deg) saturate(160%);
      }

      &.fire {
        filter: hue-rotate(355deg) saturate(250%);
      }

      &.ice {
        filter: hue-rotate(165deg) saturate(250%) brightness(120%);
      }

      &.light {
        filter: hue-rotate(20deg) saturate(200%) brightness(110%);
      }

      &.bless {
        filter: hue-rotate(20deg) saturate(250%) brightness(100%);
      }

      &.brittle {
        filter: hue-rotate(175deg) saturate(90%);
      }

      &.curse {
        filter: hue-rotate(254deg) saturate(110%) brightness(90%);
      }

      &.disarm {
        filter: hue-rotate(200deg) saturate(50%) sepia(10%);
      }

      &.immobilize {
        filter: hue-rotate(330deg) saturate(200%) brightness(80%);
      }

      &.invisible {
        filter: hue-rotate(200deg) saturate(20%) brightness(70%) contrast(110%);
      }

      &.muddle {
        filter: hue-rotate(335deg) saturate(170%) sepia(40%) brightness(80%);
      }

      &.poison {
        filter: hue-rotate(80deg) saturate(90%);
      }

      &.regenerate {
        filter: hue-rotate(290deg) saturate(200%);
      }

      &.ward {
        filter: hue-rotate(290deg) saturate(200%) brightness(60%);
      }

      &.strengthen {
        filter: hue-rotate(165deg) saturate(100%);
      }

      &.stun {
        filter: hue-rotate(168deg) saturate(150%);
      }

      &.wound:not(.heal) {
        filter: hue-rotate(355deg) saturate(250%);
      }

      &.chill {
        filter: hue-rotate(165deg) saturate(90%) brightness(120%);
      }

      &.push {
        filter: grayscale(80%);
      }

      &.pull {
        filter: grayscale(80%);
      }

      &.pierce {
        filter: hue-rotate(10deg) saturate(180%);
      }

      &.retaliate {
        filter: hue-rotate(160deg) grayscale(30%);
      }

      &.target {
        filter: hue-rotate(330deg) saturate(350%) brightness(80%);
      }

      &.refreshItem {
        filter: hue-rotate(330deg) saturate(130%);
      }

      &.custom {
        filter: hue-rotate(330deg) saturate(250%);
      }
    }

    img.overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;

      &.custom,
      &.custom-fh {
        display: none;
      }

      &.side {
        top: 50%;
        width: 18%;
        height: auto;
        left: 5%;
        transform: translateY(-50%);
      }
    }

    img.rolling {
      position: absolute;
      z-index: 3;
      width: auto;
      height: 28%;
      top: 36%;
      right: 5%;
    }

    .bb-index {
      position: absolute;
      z-index: 4;
      width: 30%;
      height: 15%;
      top: 15%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &.character {
        right: 0;
        left: initial;
      }

      img {
        width: 100%;
        height: auto;
        filter: var(--ghs-filter-white) var(--ghs-filter-outline);
      }
    }
  }

  .front .numeration {
    position: absolute;
    left: 9.6%;
    top: 74%;
    font-family: "ghs-title";
    font-size: 0.8em;
    line-height: 0.8em;
    color: var(--ghs-color-white);
    z-index: 2;
    width: 8%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.character-curse-icon {
      font-size: 1.8em;
      top: 80%;
    }

    img {
      filter: grayscale(100%) brightness(100) contrast(100%);
      width: 90%;
      height: auto;
    }
  }

  .front .character-icon {
    position: absolute;
    left: 7.5%;
    top: 67%;
    z-index: 2;
    width: 14%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~src/assets/images/attackmodifier/am-character-icon.png');

    img {
      filter: grayscale(100%) brightness(100) contrast(100%);
      height: 70%;
      width: auto;
    }
  }

  .front .shuffle-icon {
    position: absolute;
    right: 8.5%;
    top: 67.5%;
    z-index: 2;
    width: 14%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~src/assets/images/attackmodifier/am-shuffle-icon.png');

    img {
      filter: var(--ghs-filter-white);
      height: 70%;
      width: auto;
    }
  }

  .front .town-guard-icon {
    position: absolute;
    left: 7.5%;
    top: 67%;
    z-index: 2;
    width: 16%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~src/assets/images/attackmodifier/am-town-guard-icon.png');

    img {
      filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      height: 70%;
      width: auto;
    }
  }

  .front .effects {
    position: absolute;
    width: 18%;
    top: 35%;
    left: 6%;
    z-index: 3;

    &>ghs-attackmodifier-effect {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &.multiple {


      &.multiple-2 {
        &>ghs-attackmodifier-effect:nth-child(1) {
          transform: translate(0, -110%);
        }
      }

    }

    &.town-guard {
      top: 56%;
      left: 43%;
      width: 15%;
    }

    &.center {
      top: 22%;
      left: 31%;
      width: 37%;

      &.multiple {

        &>ghs-attackmodifier-effect:nth-child(1) {
          transform: translate(-70%, -70%) scale(0.5);
        }

        &>ghs-attackmodifier-effect:nth-child(2) {
          transform: translate(-30%, -30%) scale(0.5);
        }

        &>ghs-attackmodifier-effect:nth-child(3) {
          transform: translate(-30%, -70%) scale(0.5);
        }

        &>ghs-attackmodifier-effect:nth-child(4) {
          transform: translate(-70%, -30%) scale(0.5);
        }

        &.multiple-2 {
          &>ghs-attackmodifier-effect:nth-child(1) {
            transform: translate(-18%, -18%) scale(0.5);
          }

          &>ghs-attackmodifier-effect:nth-child(2) {
            transform: translate(18%, 18%) scale(0.5);
          }
        }

        &.multiple-3 {
          &>ghs-attackmodifier-effect:nth-child(1) {
            transform: translate(-25%, -15%) scale(0.4);
          }

          &>ghs-attackmodifier-effect:nth-child(2) {
            transform: translate(0%, 25%) scale(0.4);
          }

          &>ghs-attackmodifier-effect:nth-child(3) {
            transform: translate(25%, -15%) scale(0.4);
          }
        }
      }
    }
  }

  .front .am-value {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 49.5%;
    width: 34%;
    height: 52%;
    transform: translate(-50%, -50%);
    font-family: ghs-title;
    color: var(--ghs-color-white);
    font-size: 3.5em;
    z-index: 1;
    text-shadow: 1px 0px var(--ghs-color-darkgray), 0px 1px var(--ghs-color-darkgray), 1px 0px var(--ghs-color-darkgray), 0px 1px var(--ghs-color-darkgray);
    filter: drop-shadow(1px 1px 1px var(--ghs-color-darkgray));

    &.side {
      left: 13%;
      width: 15%;
      height: 25%;
      font-size: 1.6em;
      z-index: 4;
    }
  }

  .front .mixed-element {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 16%;
    height: 25%;
    z-index: 3;
  }

  &.bless .front::before {
    display: none;
  }

  &.draw {
    z-index: 0;
  }

  .confirm {
    .revealed {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-white);
      font-size: 1.3em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));

      .text {
        text-align: center;
      }
    }
  }

  &.town-guard {
    .back {
      background-image: url('~src/assets/images/attackmodifier/town-guard/back.png');
    }

    .front .am-value.effects {
      top: 43%;
    }
  }
}