.attack-modifiers {
  position: relative;
  width: 100%;
  height: 100%;

  .draw {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 40%;
    height: 83%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~src/assets/images/attackmodifier/back.png');
    border-radius: 5%;

    .number {
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      position: absolute;
      font-size: 2.3em;
      right: 6%;
      bottom: 0;
      z-index: 500;
      cursor: help;

      img {
        width: 2.5%;
        height: auto;
      }

      &:hover {
        color: var(--ghs-color-white);
      }
    }

    .shuffle {
      height: 22%;
      width: auto;
      position: absolute;
      right: 5%;
      bottom: 5%;
      filter: var(--ghs-filter-white);
      cursor: help;

      &:hover {
        filter: var(--ghs-filter-gray);
      }
    }

    .fullscreen {
      width: calc(15% * var(--ghs-text-factor));
      height: auto;
      position: absolute;
      left: 2.5%;
      top: 2.5%;
      filter: var(--ghs-filter-gray);
      cursor: zoom-in;

      &:hover {
        filter: var(--ghs-filter-white);
      }
    }


    &.open-dialog {
      cursor: help;
    }
  }

  ghs-attackmodifier {
    position: absolute;
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;

    width: 40%;
    height: 83%;

    @keyframes attackmodifier-draw {
      0% {
        transform: scale(1) translate(-102%, 16.5%);
      }

      35%,
      70% {
        transform: scale(1.1) translate(-51%, 25%);
      }

      100% {
        transform: scale(1) translate(0, 0);
      }
    }

    @keyframes attackmodifier-draw-bottom {
      0% {
        transform: scale(1) translate(-102%, -16.5%);
      }

      35%,
      70% {
        transform: scale(2) translate(-80%, -166.5%);
      }

      100% {
        transform: scale(1) translate(0, 0);
      }
    }

    @keyframes attackmodifier-last {
      0% {
        top: 0;
        left: calc(42%);
        transform: rotate(0);
      }

      70% {
        top: 0;
        left: calc(42%);
        transform: rotate(0);
      }

      100% {
        top: calc(16.5%);
        left: calc(68.5%);
        transform: rotate(25deg);
      }
    }

    &.current {
      position: absolute;
      top: 0;
      left: 42%;
      z-index: 1;
    }

    &.disgarded,
    &.last {
      position: absolute;
      top: 16.5%;
      left: 68.5%;
      transform: rotate(25deg);
      z-index: 0;
    }

    &.open-dialog {
      cursor: help;
    }
  }


  &.disabled {

    ghs-attackmodifier {
      filter: grayscale(100%);

      &:hover {
        transition: filter 250ms linear, transform 0.8s cubic-bezier(0.75, 0, 0.85, 1), top 0.5s linear, left 0.5s linear;
        filter: grayscale(15%);
      }
    }
  }

  &.drawing {

    .draw,
    ghs-attackmodifier {
      cursor: wait !important;
    }

    ghs-attackmodifier.current {
      cursor: wait !important;
      animation: attackmodifier-draw 1000ms ease-in-out;
      animation-iteration-count: 1;

      &.bottom {
        animation: attackmodifier-draw-bottom 1000ms ease-in-out;
      }

    }

    ghs-attackmodifier.last {
      cursor: wait !important;
      animation: attackmodifier-last 1000ms ease-in-out;
      animation-iteration-count: 1;
    }
  }

}