.attack-modifiers-fullscreen {
  width: 100vw;
  height: 90vh;

  .attack-modifierdeck-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      cursor: initial;
      z-index: 2;

      .icon {
        height: 2.5em;
        width: auto;
        margin-right: 0.2em;
      }

      margin-bottom: calc(var(--ghs-unit) * 2);
    }

    ghs-attackmodifier-deck {
      display: flex;
      width: 99vw;
      max-width: 800px;
      height: 31vw;
      max-height: 252.5px;
      z-index: 2;
      margin-left: 1%;
    }

    .close-container {
      cursor: zoom-out;
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

}