<div class="attack-modifier {{attackModifier.type}}">
  <div class="card" [ngClass]="{'flipped' : flipped || attackModifier.revealed, 'no-animations' : !animate}" card-reveal
    (change)="onChange($event)" [disabled]="!reveal" #card [style.fontSize]="card.offsetWidth * 0.08 + 'px'">
    <div class="card-back back">
      <span class="revealed">{{'game.cards.confirmReveal' | ghsLabel}}</span>
    </div>
    <div class="card-front front">
      <div class="type" [ngClass]="effectClasses">
        <img [src]="'./assets/images/attackmodifier/' + (defaultType ? attackModifier.type : 'am-front') + '.png'" />
      </div>
      <img class="overlay" [ngClass]="{'side' : newStyle}"
        *ngIf="attackModifier.effects && attackModifier.effects.length > 0 && (attackModifier.type != AttackModifierType.plus0 && attackModifier.type != AttackModifierType.plus && attackModifier.type != AttackModifierType.minus || newStyle)"
        [src]="'./assets/images/attackmodifier/' + (newStyle ? 'icons/' : 'overlays/') + attackModifier.type + '.png'" />
      <img class="rolling" *ngIf="attackModifier.rolling" src="./assets/images/attackmodifier/rolling.svg" />
      <span *ngIf="(!characterIcon || !attackModifier.character && attackModifier.type !=
      AttackModifierType.curse) && attackModifier.type != AttackModifierType.bless"
        class="numeration">{{numeration}}</span>
      <span *ngIf="characterIcon && attackModifier.type ==
        AttackModifierType.curse" class="numeration character-curse-icon">
        *
      </span>
      <span class="value" *ngIf="attackModifier.type == AttackModifierType.plus">+{{attackModifier.value}}</span>
      <span class="value" *ngIf="attackModifier.type == AttackModifierType.minus">-{{attackModifier.value}}</span>
      <span *ngIf="characterIcon && attackModifier.character" class="character-icon">
        <img [src]="characterIcon" />
      </span>
      <ng-container *ngIf="attackModifier.effects">
        <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="attackModifier.effects"
          [offsetWidth]="card.offsetWidth" [newStyle]="newStyle"></ghs-attackmodifier-effects>
      </ng-container>
    </div>
  </div>
</div>