<div class="attack-modifiers-fullscreen">
  <div class="header">
    <div class="title">
      <ng-container *ngIf="character">
        <img class="icon" [src]="gameManager.characterManager.characterIcon(character)" />
        {{character.title || ('data.character.' + character.name | ghsLabel)}}
      </ng-container>

      <ng-container *ngIf="!character">
        <img *ngIf="numeration == 'm'" class="icon" src="./assets/images/monster/enemy.png" />
        <span *ngIf="numeration == 'm'">{{'monster' | ghsLabel}}&nbsp;</span>
        <span *ngIf="numeration == 'A'">{{'game.ally' | ghsLabel}}&nbsp;</span>
      </ng-container>
      {{'game.attackModifiers' | ghsLabel}}
      <span *ngIf="!character && numeration != 'm' && numeration != 'A'">&nbsp;{{numeration}}</span>
    </div>
  </div>
  <div class="attack-modifierdeck-container" [ngClass]="{'vertical'  : vertical()}">
    <ghs-attackmodifier-deck [deck]="deck" [character]="character" [ally]="ally" [numeration]="numeration"
      [fullscreen]="false" [vertical]="vertical()" (before)="beforeAttackModifierDeck($event)"
      (after)="afterAttackModifierDeck($event)">
    </ghs-attackmodifier-deck>
    <div class="close-container" (click)="dialogRef.close()"></div>
  </div>
  <div class="close-container" (click)="dialogRef.close()"></div>
</div>