<span class="effects" *ngIf="effects">
  <span *ngFor="let effect of effects; let index = index;" class="effect {{effect.type}}"
    [ngClass]="{'center' : (attackModifier.type == AttackModifierType.plus0 || newStyle) && index == 0, 'new-style' : newStyle}">

    <ng-container [ngSwitch]="effect.type">

      <img *ngSwitchCase="AttackModifierEffectType.condition"
        [src]="'./assets/images/' + (settingsManager.settings.fhStyle ? 'fh/' : '')  + 'condition/' + effect.value + '.svg'" />
      <img *ngSwitchCase="AttackModifierEffectType.element"
        [src]="'./assets/images/' + (settingsManager.settings.fhStyle ? 'fh/' : '') + 'element/' + effect.value + '.svg'" />

      <div class="effect-container heal-container" *ngSwitchCase="AttackModifierEffectType.heal"
        [style.border-width]="offsetWidth * ( attackModifier.type == AttackModifierType.plus0 && index == 0 ? 0.020 : 0.010)  + 'px'"
        [ngClass]="{'target' : getTarget(effect)}">
        <img [ngClass]="{'ghs-svg' : isGhsSvg(effect.type)}" [src]="'./assets/images/action/' + effect.type + '.svg'" />
        <span class="value" *ngIf="effect.value">{{+effect.value | ghsValueSign}}</span>
        <span class="target-value-container" *ngIf="getTarget(effect)">
          <span class="target-value" text-shrink><span class="text-white" [i18n]="getTarget(effect)"
              [fh-style]="newStyle"></span></span>
        </span>
        <div class="sub-effects" *ngIf="effect.effects && !getTarget(effect)">
          <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
            [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
        </div>
      </div>

      <div class="effect-container shield-container" *ngSwitchCase="AttackModifierEffectType.shield"
        [style.border-width]="offsetWidth * ( attackModifier.type == AttackModifierType.plus0 && index == 0 ? 0.020 : 0.010)  + 'px'"
        [ngClass]="{'target' : getTarget(effect)}">
        <img [ngClass]="{'ghs-svg' : isGhsSvg(effect.type)}"
          [src]="'./assets/images/' + (settingsManager.settings.fhStyle ? 'fh/' : '') + 'action/' + effect.type + '.svg'" />
        <span class="value" *ngIf="effect.value">{{+effect.value}}</span>
        <span class="target-value-container" *ngIf="getTarget(effect)">
          <span class="target-value" text-shrink>{{'game.specialTarget.'
            + getTarget(effect) | ghsLabel}}</span>
        </span>
        <div class="sub-effects" *ngIf="effect.effects && !getTarget(effect)">
          <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
            [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
        </div>
      </div>

      <ng-container *ngSwitchCase="AttackModifierEffectType.target">
        <img [src]="'./assets/images/attackmodifier/target.svg'" />

        <div class="sub-effects" *ngIf="effect.effects">
          <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
            [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="AttackModifierEffectType.refreshItem">
        <span class="card-action">
          <img class="ghs-svg" src="./assets/images/action/card/refresh.svg" />
          <img class="overlay" src="./assets/images/action/card/overlay/refresh.svg" />
        </span>
        <div class="sub-effects" *ngIf="effect.effects">
          <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
            [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="AttackModifierEffectType.refreshSpentItem">
        <div class="card-action-container">
          <span class="card-action">
            <img class="ghs-svg" src="./assets/images/action/card/refresh.svg" />
            <img class="overlay" src="./assets/images/action/card/overlay/refresh.svg" />
          </span>
          <span class="label">{{'game.attackModifiers.effects.refreshSpentItem' | ghsLabel}}</span>

          <div class="sub-effects" *ngIf="effect.effects">
            <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
              [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="AttackModifierEffectType.recoverRandomDiscard">
        <span class="card-action">
          <img class="ghs-svg" src="./assets/images/action/card/recover.svg" />
          <img class="overlay" src="./assets/images/action/card/overlay/recover.svg" />
        </span>
        <div class="sub-effects" *ngIf="effect.effects">
          <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
            [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="AttackModifierEffectType.custom">
        <ng-container *ngIf="!effect.icon">
          <span class="type">{{attackModifier.value < 0 ? '-' : '+' }}{{attackModifier.value}}</span>
              <span class="custom-value-container">
                <span class="custom-value text-white" [i18n]="effect.value + ''" text-shrink></span>
              </span>
        </ng-container>
        <ng-container *ngIf="effect.icon">
          <span class="effect-icon">
            <img [src]="'./assets/images/action/custom/' + effect.value + '.svg'" />
          </span>
        </ng-container>

        <div class="sub-effects" *ngIf="effect.effects">
          <ghs-attackmodifier-effects [attackModifier]="attackModifier" [effects]="effect.effects"
            [offsetWidth]="offsetWidth"></ghs-attackmodifier-effects>
        </div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <img [ngClass]="{'ghs-svg' : isGhsSvg(effect.type)}"
          [src]="'./assets/images/' + (settingsManager.settings.fhStyle ? 'fh/' : '') + 'action/'  + effect.type + '.svg'" />
        <span class="value" *ngIf="effect.value">{{+effect.value}}</span>
      </ng-container>

    </ng-container>
  </span>
</span>