.effects {
  position: absolute;
  width: 100%;
  height: 100%;

  .effect {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 18%;
    height: 28%;
    top: 35%;
    left: 6%;

    &:nth-child(2) {
      top: 5%;
    }

    img {

      &.full {
        width: 100%;
        height: auto;
      }

      &.ghs-svg {
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      }
    }

    .value {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      font-family: var(--ghs-font-title);
      font-size: 0.6em;
      color: var(--ghs-color-white);
    }

    &.condition {
      .value {
        top: 55%;
      }
    }

    .target-value-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 40%;
      bottom: 5%;
      font-family: var(--ghs-font-title);
      font-size: 0.6em;
      line-height: 0.8em;
      color: var(--ghs-color-white);
      left: 50%;
      transform: translateX(-50%);

      .target-value {
        display: inline;
        text-align: center;
      }
    }

    &.fh .target-value-container {
      font-family: var(--ghs-font-normal);
      font-size: 0.7em;

      &.target-self,
      &.target-allyShort {
        font-size: 1.3em;
      }
    }

    .effect-container {
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid var(--ghs-color-white);
      border-radius: 100%;

      &.target {
        img {
          top: 8%;
          width: 40%;
        }

        .value {
          top: 22%;
          font-size: 0.8em;
        }
      }


      img {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: auto;
      }

      .value {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        font-family: "ghs-title";
        font-size: 0.6em;
        color: var(--ghs-color-black);
      }

      &.heal-container {
        background-color: #a11f1a;

        .sub-effects {
          display: none;
        }

        &.sub-effects {

          img,
          .value {
            left: 35%;
          }

          .sub-effects {
            display: block;
            position: absolute;
            top: 15%;
            left: 40%;
            width: 100%;
            height: 100%;

            .divider {
              position: absolute;
              top: 10%;
              left: 10%;
              color: var(--ghs-color-white);
              margin-left: 5%;
              margin-right: 3%;
              font-size: 1.5em;
            }

            .effect {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: none;
            }
          }
        }
      }

      &.shield-container {
        background-color: #6e4e34;

        img {
          top: 10%;
          width: 80%;
        }

        .value {
          font-size: 1em;
          top: 35%;
        }

        &.target {

          img {
            top: 15%;
            width: 48%;
          }

          .value {
            top: 17%;
            font-size: 0.8em;
          }
        }
      }

      &.retaliate-container {
        background-color: #384c5a;
        position: relative;

        img {
          width: 50%;
          left: 42%;
          top: 20%;
        }

        .value {
          color: var(--ghs-color-white);
          font-size: 1em;
          top: 25%;
          left: 80%;
        }

        &.target {

          img {
            top: 15%;
            width: 48%;
          }

          .value {
            top: 17%;
            font-size: 0.8em;
          }
        }
      }
    }

    .card-action-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card-action {
      position: relative;
      width: 80%;

      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;

        &.overlay {
          position: absolute;
          width: 100%;
          height: auto;
        }
      }
    }

    .label {
      color: var(--ghs-color-white);
      text-transform: uppercase;
    }

    .custom-value-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--ghs-font-normal);

      .custom-value {
        display: block;
        text-align: center;
        font-size: 0.8em;
        line-height: 0.8em;
        text-shadow: var(--ghs-outline-thin);
        white-space: break-spaces;
      }
    }

    &.elementConsume {

      .element.consume {
        width: 50%;
        height: auto;
        display: flex;
      }

      .divider {
        margin-left: 5%;
        margin-right: 3%;
      }

      .sub-effects {
        width: 50%;

        ghs-attackmodifier-effects {
          position: relative;
          display: block;
          width: 100%;

          .effect.center.element {
            width: 100%;
            height: auto;
            display: flex;
          }
        }
      }
    }

    .effect-icon {
      img {
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      }
    }


    &.pull,
    &.push {
      .value {
        top: 60%;
      }
    }

    &.pierce {

      .value {
        left: 30%;
        background-color: #c6833f;
      }

      &.fh .value {
        background-color: #c88c4e;
        font-size: 1.2em;
        left: 25%;
        font-family: ghs-title;
        top: 32%;
      }
    }

    &.push.fh .value {
      font-family: ghs-title;
      top: 12%;
      color: #4f504f;
    }

    &.pull.fh .value {
      font-family: ghs-title;
      top: 40%;
      color: #4f504f;
    }

    &.loot {
      img {
        width: 60%;
        height: auto;
        filter: var(--ghs-filter-white);
      }

      .value {
        color: var(--ghs-color-black);
      }
    }

    .element-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/assets/images/attackmodifier/am-front.png');
      background-size: 100%;
    }

    &.center {
      top: 50%;
      left: 49.5%;
      width: 34%;
      height: 52%;
      transform: translate(-50%, -50%);

      &.multiple {

        &.condition,
        &.pull,
        &.push,
        &.pierce,
        &.heal {
          &:nth-child(1) {
            transform: translate(-70%, -70%) scale(0.5);
          }

          &:nth-child(2) {
            transform: translate(-30%, -30%) scale(0.5);
          }

          &:nth-child(3) {
            transform: translate(-30%, -70%) scale(0.5);
          }

          &:nth-child(4) {
            transform: translate(-70%, -30%) scale(0.5);
          }

          &.multiple-2 {
            &:nth-child(1) {
              transform: translate(-67.5%, -67.5%) scale(0.6);
            }

            &:nth-child(2) {
              transform: translate(-32.5%, -32.5%) scale(0.6);
            }
          }

          .heal-container {
            border: none;
            background: none;
          }
        }
      }

      &.multiple.element {
        &:nth-child(1) {
          transform: translate(-72.5%, -75%) scale(0.4);
        }

        &:nth-child(2) {
          transform: translate(-27.5%, -25%) scale(0.4);
        }

        &:nth-child(3) {
          transform: translate(-27.5%, -75%) scale(0.4);
        }

        &:nth-child(4) {
          transform: translate(-72.5%, -25%) scale(0.4);
        }

        &.multiple-3 {
          &:nth-child(2) {
            transform: translate(-50%, -25%) scale(0.4);
          }
        }
      }

      &.heal,
      &.shield,
      &.retaliate {
        width: 46%;
        height: 68%;
      }

      &.element {
        width: 38%;
        height: 50%;
      }

      &.custom {
        width: 46%;
        height: 68%;

        .type {
          position: absolute;
          top: -2%;
          left: 20%;
          font-family: "ghs-title";
          font-size: 3em;
          color: var(--ghs-color-white);
          text-shadow: var(--ghs-outline-thin);
        }

        .custom-value-container {
          width: 80%;
          height: 40%;
          top: 20%;
        }


        &.new-style {

          .type {
            display: none;
          }

          .custom-value-container {
            top: 0;
            width: 70%;
            height: 70%;
          }
        }

        &.fh {
          .custom-value-container .custom-value {
            text-shadow: none;
          }
        }
      }

      &.changeType,
      &.element,
      &.elementHalf {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;

        ghs-attackmodifier-effects {
          position: absolute;
          top: 40%;
          left: -15%;
          width: 135%;
          height: 50%;
        }

        &.element img {
          position: absolute;
          top: 21%;
          left: 31%;
          width: 38%;

          &.sub-effects {
            top: 25%;
            left: 40%;
            width: 20%;
          }
        }

        &.elementHalf .element-half-container {
          position: absolute;
          top: 21%;
          left: 31%;
          width: 38%;
        }
      }

      &.or {
        width: 100%;
        height: 100%;

        .or-label {
          font-size: 0.8em;
          color: var(--ghs-color-white);
          position: relative;

          &.new-style {
            &::before {
              content: ' ';
              position: absolute;
              top: -1em;
              left: 0.75em;
              right: -1.25em;
              bottom: 1em;
              color: var(--ghs-color-white);
              background-color: var(--ghs-color-white);
              clip-path: polygon(100% 0%, 95% 0%, 0% 95%, 0% 100%, 5% 100%, 100% 5%);
            }


            &::after {
              content: ' ';
              position: absolute;
              top: 1em;
              left: -1.25em;
              right: 0.75em;
              bottom: -1em;
              color: var(--ghs-color-white);
              background-color: var(--ghs-color-white);
              clip-path: polygon(100% 0%, 95% 0%, 0% 95%, 0% 100%, 5% 100%, 100% 5%);
            }
          }
        }

        ghs-attackmodifier-effects {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .effect:nth-child(1) {
            transform: translate(-70%, -70%) scale(0.5);
          }

          .effect:nth-child(2) {
            transform: translate(-30%, -30%) scale(0.5);
          }
        }
      }

      .value {
        font-size: 1em;
      }

      &.condition {

        flex-direction: column;

        .value {
          font-size: 1.3em;
        }

        img.full.target {
          width: 60%;
          top: 0;
          position: absolute;
        }

        .target-value-container {
          width: 90%;
          height: 40%;
          bottom: 5%;
        }

      }

      .effect-container {
        width: 80%;
        height: 80%;

        .value {
          font-size: 2em;
          top: 25%;
        }

        .target-value-container {
          width: 80%;
          height: 30%;
          bottom: 10%;

          &.target-self,
          &.target-allyShort {
            font-size: 1.2em;
          }
        }

        &.target {

          img {
            top: 8%;
            width: 35%;
          }

          .value {
            top: 20%;
            font-size: 1.4em;
          }

          &.shield-container,
          &.retaliate-container {
            img {
              top: 10%;
              width: 50%;
            }

            .value {
              top: 15%;
            }
          }
        }
      }
    }

    &.town-guard {
      top: 70%;
      left: 49.5%;
      width: 34%;
      height: 22%;
      transform: translate(-50%, -50%);

      &.custom .custom-value-container {

        .custom-value {
          font-family: ghs-title;
          font-size: 0.8em;
        }
      }

      &.center {
        top: 50%;
        left: 49.5%;
        width: 34%;
        height: 52%;
        transform: translate(-50%, -50%);

        &.custom .custom-value-container {
          min-width: 130%;
          width: auto;
          height: auto;
          top: initial;

          .custom-value {
            font-family: ghs-title;
            font-size: 2.6em;
            text-shadow: var(--ghs-outline-thin);
          }
        }
      }
    }
  }
}