.attack-modifier {
  position: relative;
  width: 100%;
  height: 100%;
  transition: filter 2s linear, transform 0.8s cubic-bezier(0.75, 0, 0.85, 1), top 0.5s linear, left 0.5s linear;

  .back {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~/src/assets/images/attackmodifier/back.png');
    border-radius: 5%;
  }

  .front {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;

    .type {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &.air {
        filter: hue-rotate(160deg) saturate(80%);
      }

      &.dark {
        filter: hue-rotate(180deg) saturate(20%) brightness(85%);
      }

      &.earth {
        filter: hue-rotate(60deg) saturate(160%);
      }

      &.fire {
        filter: hue-rotate(355deg) saturate(250%);
      }

      &.ice {
        filter: hue-rotate(165deg) saturate(250%) brightness(120%);
      }

      &.light {
        filter: hue-rotate(20deg) saturate(200%) brightness(110%);
      }

      &.curse {
        filter: hue-rotate(254deg) saturate(110%) brightness(90%);
      }

      &.disarm {
        filter: hue-rotate(200deg) saturate(50%) sepia(10%);
      }

      &.immobilize {
        filter: hue-rotate(330deg) saturate(200%) brightness(80%);
      }

      &.invisible {
        filter: hue-rotate(200deg) saturate(20%) brightness(70%) contrast(110%);
      }

      &.muddle {
        filter: hue-rotate(335deg) saturate(170%) sepia(40%) brightness(80%);
      }

      &.poison {
        filter: hue-rotate(80deg) saturate(90%);
      }

      &.regenerate {
        filter: hue-rotate(290deg) saturate(200%);
      }

      &.stun {
        filter: hue-rotate(168deg) saturate(150%);
      }

      &.wound {
        filter: hue-rotate(355deg) saturate(250%);
      }

      &.push {
        filter: grayscale(80%);
      }

      &.pull {
        filter: grayscale(80%);
      }

      &.pierce {
        filter: hue-rotate(10deg) saturate(180%);
      }

      &.target {
        filter: hue-rotate(330deg) saturate(350%) brightness(80%);
      }

      &.refreshItem {
        filter: hue-rotate(330deg) saturate(130%);
      }

      &.custom {
        filter: hue-rotate(330deg) saturate(250%);
      }

      &.fire.light {
        filter: none;

        &::before {
          content: ' ';
          position: absolute;
          left: 0;
          top: 0;
          width: 50%;
          height: 100%;
          filter: hue-rotate(355deg) saturate(250%);
        }

        &::after {
          content: ' ';
          position: absolute;
          left: 50%;
          top: 0;
          width: 50%;
          height: 100%;
          filter: hue-rotate(20deg) saturate(200%) brightness(110%);
        }
      }

    }

    img.overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    img.rolling {
      position: absolute;
      z-index: 3;
      width: auto;
      height: 28%;
      top: 36%;
      right: 5%;
    }

  }

  .front .numeration {
    position: absolute;
    left: 9.6%;
    top: 74%;
    font-family: "ghs-title";
    font-size: 0.8em;
    color: var(--ghs-color-white);
    z-index: 2;
    width: 8%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.character-curse-icon {
      font-size: 1.8em;
      top: 80%;
    }

    img {
      filter: grayscale(100%) brightness(100) contrast(100%);
      width: 90%;
      height: auto;
    }
  }

  .front .character-icon {
    position: absolute;
    left: 7.5%;
    top: 67%;
    z-index: 2;
    width: 14%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~/src/assets/images/attackmodifier/am-character-icon.png');

    img {
      filter: grayscale(100%) brightness(100) contrast(100%);
      height: 70%;
      width: auto;
    }
  }

  &.bless .front::before {
    display: none;
  }

  &.draw {
    z-index: 0;
  }

  .confirm {
    .revealed {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-white);
      font-size: 1.3em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    }
  }
}