<div class="attack-modifiers"
  [ngClass]="{'disabled' : !standalone && (!townGuard && gameManager.game.state == GameState.draw || townGuard && gameManager.game.scenario), 'vertical' : vertical}">

  <div #drawCard class="am-container draw"
    [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.attackModifiers && (!character || !gameManager.stateManager.characterPermissions[character.name + '|' + character.edition])}"
    [style.z-index]="deck.cards.length + 1" [style.fontSize]="drawCard.offsetWidth * 0.08 + 'px'">
    <div class="am" (click)="draw($event)"
      [ghs-label]="deck.current == deck.cards.length -1 ? 'game.cards.shuffle' : 'game.cards.draw'"
      [ghs-label-attribute]="'title'"
      [ngClass]="{'town-guard' : townGuard, 'disabled' : !standalone && (!townGuard && gameManager.game.state == GameState.draw || townGuard && gameManager.game.scenario) }">
      <span class="number" [ngClass]="{'has-shuffle' : deck.current == deck.cards.length -1}"> {{ deck.current <
          deck.cards.length -1 ? deck.cards.length - deck.current - 1 : '' }} </span>
      <img *ngIf="deck.current == deck.cards.length -1" class="shuffle" [ghs-label]="'game.cards.openDialog'"
        [ghs-label-attribute]="'title'" src="./assets/images/shuffle.svg">

      <span *ngIf="!characterIcon && !townGuard && !bottom" class="numeration">{{numeration}}</span>
      <span *ngIf="characterIcon && !bottom" class="character-icon">
        <img [src]="characterIcon" />
      </span>
    </div>

    <span class="fullscreen" [ghs-label]="'game.cards.fullscreen'" [ghs-label-attribute]="'title'"
      *ngIf="fullscreen && !compact" [ngClass]="{'vertical' : vertical, 'minimize' : !deck.active}"
      (click)="openFullscreen($event)">
      <img src="./assets/images/fullscreen.svg">
    </span>

    <span class="settings" [ghs-label]="'game.cards.openDialog'" [ghs-label-attribute]="'title'" (click)="open($event)"
      *ngIf="!compact || vertical"
      [ngClass]="{'vertical' : vertical, 'without-fullscreen' : !fullscreen, 'minimize' : !deck.active}">
      <img class="ghs-svg" src="./assets/images/settings.svg">
    </span>
  </div>
  <ng-container *ngFor="let attackModifier of deck.cards; let index = index;">
    <div class="am-container"
      *ngIf="index <= current + 1 && (rollingIndex[index] > 0 || index > current - 3 || index >= current && attackModifier.active && deck.disgarded.indexOf(index) == -1)"
      [style.z-index]="index > current ? deck.cards.length - index : deck.cards.length + index + 1"
      [ngClass]="{'disgarded' : index < current - 1, 'current' : index == current, 'last' : index == current - 1, 'bottom' : bottom, 'rolling' : attackModifier.rolling && index <= current, 'active' : attackModifier.active && index <= current && deck.disgarded.indexOf(index) == -1, 'disgard-active': deck.disgarded.indexOf(index) != -1, 'animate' : index < current - 1 && rollingIndex[index] > rollingIndexPrev[index], 'animate-reverse' : index < current - 1 && rollingIndex[index] < rollingIndexPrev[index], 'disabled' : !standalone && (!townGuard && gameManager.game.state == GameState.draw || townGuard && gameManager.game.scenario)}"
      [style.left]="attackModifier.rolling && !vertical && rollingIndex[index] ?  'calc(75% + ' + (rollingIndex[index] - 1) + ' * 25%)' : ''"
      [style.top]="attackModifier.rolling && vertical && rollingIndex[index] ?  'calc(' + (rollingIndex[index] - 1) * (drawCard.offsetHeight / 1.3) + 'px)' : ''"
      [ghs-label]="'game.cards.openDialog'" [ghs-label-attribute]="'title'" (click)="clickCard(index, $event)">
      <ghs-attackmodifier class="am" [attackModifier]="attackModifier" [numeration]="numeration"
        [characterIcon]="characterIcon" [ally]="ally" [flipped]="index <= current"
        [disableFlip]="!drawing || index != current" [newStyle]="newStyle" [townGuard]="townGuard">
      </ghs-attackmodifier>
    </div>
  </ng-container>
</div>