.items-dialog {
    position: relative;

    .scroll-container {
        overflow-x: hidden;
        max-height: calc(90vh - var(--ghs-unit) * 6);
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font-family: var(--ghs-font-title);
            font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-white);
        }

        .filter {
            display: flex;
            flex-wrap: wrap;
            font-family: var(--ghs-font-title);
            font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
            justify-content: space-evenly;
            align-items: center;
            z-index: 1;

            input[type="text"] {
                max-width: 100%;
                min-width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: var(--ghs-color-white);
                margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            }
        }

        .editions {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

            .edition {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: var(--ghs-color-gray);
                font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
                margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

                &.disabled {
                    pointer-events: none;
                    color: var(--ghs-color-disabled);

                    input[type="checkbox"],
                    input[type="radio"] {

                        color: var(--ghs-color-disabled);

                        &::before {
                            background-color: var(--ghs-color-disabled) !important;
                        }
                    }
                }
            }
        }
    }

    .menu {
        position: sticky;
        top: 0;
        left: 0;
        height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
        max-width: 100%;
        display: flex;
        font-family: var(--ghs-font-title);
        font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        justify-content: space-evenly;
        align-items: center;
        background-image: url('~src/assets/images/dialog_background.png');
        z-index: 10;

        &.small {
            margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor)) 0;
            font-family: var(--ghs-font-text);
            font-size: calc(var(--ghs-unit) * 2.7 * var(--ghs-dialog-factor));
        }

        a {
            cursor: pointer;
            min-width: 33%;
            display: flex;
            justify-content: center;
            margin: 0 calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

            &.cancel {
                color: var(--ghs-color-red);
            }

            &.primary {
                color: var(--ghs-color-green);
            }

            &.secondary {
                color: var(--ghs-color-gray);
            }

            &:hover {
                opacity: 0.6;
            }

            &.disabled {
                pointer-events: none;
                color: var(--ghs-color-darkgray);
            }
        }

        @media (max-width: 600px),
        (orientation: portrait) {
            flex-direction: column-reverse;
            height: calc(var(--ghs-unit) * 14 * var(--ghs-dialog-factor));

            a {
                min-width: initial;
            }
        }
    }

    .item-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        min-height: calc(var(--ghs-unit) * 40.5 * var(--ghs-dialog-factor));

        .empty {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ghs-font-text);
            font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
            color: var(--ghs-color-yellow);
        }

        .item {
            position: relative;
            margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
            width: calc(var(--ghs-unit) * 27 * var(--ghs-dialog-factor));
            height: calc(var(--ghs-unit) * 40.5 * var(--ghs-dialog-factor));

            ghs-item {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border: calc(var(--ghs-unit) * 0.35 * var(--ghs-dialog-factor)) solid transparent;
                border-radius: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
                overflow: hidden;

                &.disabled {
                    cursor: initial;
                    opacity: 0.5;
                }

                &.unavailable {
                    cursor: not-allowed;
                    border-color: var(--ghs-color-darkgray);
                    filter: grayscale(0.3);

                }

                &.filtered {
                    cursor: initial;
                    border-color: var(--ghs-color-red);

                }

                &.selected {
                    cursor: pointer;
                    border-color: var(--ghs-color-green);
                }
            }

            .overlay-text {
                cursor: pointer;
                z-index: 1;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
                left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
                right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
                width: 100%;
                font-family: var(--ghs-font-title);
                font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
                color: var(--ghs-color-darkgray);
            }


            .button-remove {
                z-index: 1;
                position: absolute;
                display: flex;
                cursor: pointer;
                top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
                left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
                justify-content: center;
                align-items: center;
                width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
                height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
                color: var(--ghs-filter-white) var(--ghs-filter-shadow);

                .ghs-svg {
                    filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
                }

                &:hover .ghs-svg {
                    filter: var(--ghs-filter-red) var(--ghs-filter-shadow);
                }
            }

            .button-equip {
                z-index: 1;
                position: absolute;
                display: flex;
                cursor: pointer;
                bottom: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
                left: calc(var(--ghs-unit) * 11.8 * var(--ghs-dialog-factor));
                justify-content: center;
                align-items: center;
                width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
                opacity: 0.6;

                .ghs-svg {
                    width: 100%;
                    height: auto;
                    filter: var(--ghs-filter-white);
                }

                &.equipped {
                    opacity: 1;

                    .ghs-svg {
                        filter: var(--ghs-filter-green);
                    }
                }

                &:hover {
                    opacity: 0.6;

                    .ghs-svg {
                        filter: var(--ghs-filter-green);
                    }

                    &.equipped {

                        .ghs-svg {
                            filter: var(--ghs-filter-red);
                        }
                    }
                }
            }
        }

        @media (max-width: 600px),
        (orientation: portrait) {
            flex-direction: column;
            align-items: center;
        }
    }

    &.fh {
        .menu {
            background-image: url('~src/assets/images/fh/dialog_background_fh.png');
        }
    }

    &.modern {
        .menu {
            background-image: url('~src/assets/images/modern/dialog_background_modern.png');
        }
    }
}