.stats-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('~/src/assets/images/monster/stats/standard.png');
  border-radius: 1em;

  * {
    transition: opacity 1s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  .name-container {
    position: absolute;
    top: 2.8%;
    right: 7.5%;
    width: 75%;
    display: flex;
    align-items: center;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: 2.1em;
    filter: drop-shadow(0.1em 0.1em 0.1em var(--ghs-color-black));
    text-align: left;
    white-space: nowrap;
    overflow: auto;
    z-index: 4;

    .edition {
      margin-left: 1.25%;
    }

    .flying {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-left: 1.25%;

      img {
        height: 1em;
        width: auto;
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      }
    }

    .catching {
      position: absolute;
      right: 3%;
      top: 50%;
      display: none;
      width: 1.2em;
      height: auto;
      filter: var(--ghs-filter-white);
      transform: translateY(-50%);
    }

    &:hover {
      cursor: pointer;
      color: var(--ghs-color-gray);

      .flying {
        img {
          filter: var(--ghs-filter-gray);
        }
      }

      .catching {
        display: block;
        filter: var(--ghs-filter-gray);
      }
    }
  }

  .entity-menu {
    position: absolute;
    top: 0;
    left: 38%;
    right: 38%;
    bottom: 0;
    z-index: 3;

    &.boss {
      left: 25%;
      right: 55%;
    }
  }

  .toggle-ally {
    position: absolute;
    top: 0.5%;
    right: 2.5%;
    height: 18.5%;
    width: 6.25%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    img {
      width: 100%;
      height: auto;
    }

    &.ally::after {
      content: ' ';
      position: absolute;
      top: 15%;
      left: 1%;
      bottom: 15%;
      right: 1%;
      background-color: var(--ghs-color-red);
      clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    }
  }

  .level {
    position: absolute;
    top: 2.3%;
    left: 6.25%;
    font-family: "ghs-title";
    font-size: 3em;
    text-shadow: var(--ghs-outline);
    color: var(--ghs-color-gray);
    cursor: pointer;
    z-index: 4;

    &:hover,
    &.active-button {
      color: var(--ghs-color-white);
    }
  }

  .stats {
    position: absolute;
    top: 27%;
    left: 49.5%;
    width: 26%;
    height: 64%;
    display: grid;
    grid-template-columns: 50% 0 50%;
    grid-template-rows: repeat(3, 33%);
    filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
    z-index: 1;
    transform: translateX(-50%);

    &.boss {
      top: 29%;
      left: 30%;
      grid-template-columns: 8em 0;
    }

    .stat {
      font-size: 2.4em;
      line-height: 1.7em;
      padding-top: 0;
      width: 100%;

      &.normal,
      &.boss {
        position: relative;
        justify-self: end;
        text-align: right;
        filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-white));
        padding-right: 0.8em;

        &.bordered::before {
          content: ' ';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 1px;
          width: 100%;
          background: linear-gradient(to right, transparent, var(--ghs-color-darkred));
        }
      }

      &.elite {
        justify-self: start;
        text-align: left;
        color: var(--ghs-color-white);
        filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
        padding-left: 0.8em;

        &.bordered::before {
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background: linear-gradient(to right, var(--ghs-color-white), transparent);
        }
      }
    }

    .stat-icon {
      position: relative;
      justify-self: center;
      align-self: center;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;


      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2em;
        height: 2em;
        background-color: var(--ghs-color-darkgray);
        border: 0.25em solid var(--ghs-color-white);
        z-index: 1;
        transform: translate(-50%, -50%) rotate(45deg);
        filter: var(--ghs-filter-outline-thin);
      }

      img {
        filter: var(--ghs-filter-white);
        height: 1.4em;
        width: auto;
        z-index: 2;
      }
    }

    &.range {
      grid-template-rows: repeat(4, 25%);

      &.boss {
        top: 29%;
      }

      .stat {
        line-height: 1.3em;

        &.normal,
        &.boss {
          padding-right: 0.7em;
        }

        &.elite {
          padding-left: 0.6em;
        }
      }

      .stat-icon {

        &::before {
          width: 1.4em;
          height: 1.4em;
        }

        img {
          height: 1em;
        }
      }
    }
  }

  &.boss {
    background-image: url('~/src/assets/images/monster/stats/boss.png');
  }

  .extra {
    position: absolute;
    top: 27%;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    height: 74.5%;
    z-index: 2;
    overflow-x: unset;
    overflow-y: auto;

    &.normal {
      right: 64%;
      text-align: right;

      .condition {
        justify-content: end;
      }

      .placeholder {
        filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-gray));
      }
    }

    &.elite {
      right: 1.25%;
      color: var(--ghs-color-white);
    }

    &.boss {
      width: 51%;
      height: 70%;
      right: 1.5%;
      color: var(--ghs-color-white);
    }

    .notes {
      margin-top: 2.3%;
      line-height: 0.8em;
      filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
    }

    .additional,
    .specials {
      display: flex;
      align-items: baseline;

      ghs-actions {
        flex-basis: 0;
        flex-grow: 1;

        &:first-child {
          margin-top: 2.3%;
        }
      }

      &.specials .special {
        margin-right: 0.5%;
      }

    }
  }

  .immunities {
    position: absolute;
    top: 31%;
    left: 4%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 2.25em);
    grid-template-rows: repeat(8, 1.125em);
    column-gap: 0.4em;
    row-gap: 0.2em;

    .immunity {

      position: relative;
      display: block;
      width: 2.25em;
      height: 2.25em;

      &:nth-child(1) {
        grid-column: 1;
        grid-row: 2;
      }

      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
      }

      &:nth-child(3) {
        grid-column: 2;
        grid-row: 4;
      }

      &:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 5;
      }

      &:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
      }

      &:nth-child(6) {
        grid-column: 2;
        grid-row: 2;
      }

      &:nth-child(7) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 3;
      }

      &:nth-child(8) {
        grid-column: 3;
        grid-row: 4;
      }

      &:nth-child(9) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 1;
      }

      &:nth-child(10) {
        grid-column: 3;
        grid-row: 2;
      }

      &:nth-child(11) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 3;
      }

      &:nth-child(12) {
        grid-column-start: 3;
        grid-row: 1;
        grid-column-end: 5;
      }
    }

    &.normal {

      .immunity {

        &:nth-child(5) {
          grid-column: 3;
          grid-row: 6;
        }

        &:nth-child(6) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 7;

        }

        &:nth-child(7) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 1;
        }

        &:nth-child(8) {
          grid-column: 2;
          grid-row: 2;
        }

        &:nth-child(9) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 3;
        }

        &:nth-child(10) {
          grid-column: 3;
          grid-row: 4;
        }

        &:nth-child(11) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 5;
        }

        &:nth-child(12) {
          grid-column: 4;
          grid-row: 6;
        }
      }
    }

    &.elite {
      left: initial;
      right: 4.5%;

      .immunity {

        &:nth-child(1) {
          grid-column: 5;
          grid-row: 2;
        }

        &:nth-child(2) {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row: 3;
        }

        &:nth-child(3) {
          grid-column: 4;
          grid-row: 4;
        }

        &:nth-child(4) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 5;
        }

        &:nth-child(5) {
          grid-column: 3;
          grid-row: 6;
        }

        &:nth-child(6) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 7;

        }

        &:nth-child(7) {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row: 1;
        }

        &:nth-child(8) {
          grid-column: 4;
          grid-row: 2;
        }

        &:nth-child(9) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 3;
        }

        &:nth-child(10) {
          grid-column: 3;
          grid-row: 4;
        }

        &:nth-child(11) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 5;
        }

        &:nth-child(12) {
          grid-column: 2;
          grid-row: 6;
        }
      }
    }
  }

  &.no-click {

    .level,
    .toggle-ally {
      pointer-events: none;
    }

    .name-container {
      cursor: initial;
    }

    .entity-menu {
      display: none;
    }
  }

  &.full-ability {
    background-size: 100% 100%;

    .level {
      top: 4.1%;
    }

    .name-container {
      top: 5%;
    }

    .toggle-ally {
      top: 0.8%;
    }

    .stats {

      .stat {
        line-height: 1.9em;

      }

      .stat-icon {

        &::before {
          width: 2.2em;
          height: 2.2em;
        }

        img {
          height: 1.5em;
        }
      }

      &.range {
        .stat {
          line-height: 1.4em;
        }

        .stat-icon {

          &::before {
            width: 1.5em;
            height: 1.5em;
          }

          img {
            height: 1.2em;
          }
        }
      }
    }

    .extra {
      top: 27.1%;
      height: 72.9%;
    }

    .immunities {

      grid-template-columns: repeat(5, 2.4em);
      grid-template-rows: repeat(8, 1.4em);

      &.normal {
        left: 5%;
      }

      &.elite {
        right: 5%;
      }

      .immunity {
        width: 2.5em;
        height: 2.5em;
      }
    }
  }

  .filter-stats {
    display: none; // TODO: improve look
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ghs-color-darkgray);
    opacity: 0.4;
    z-index: 3;

    &.normal {
      right: 50%;
    }

    &.elite {
      left: 50%;
      right: 0;
    }
  }
}

:host.stats-editor {

  .extra,
  .name-container {
    display: none !important;
  }
}