.stats-dialog {
  position: relative;
  width: calc(var(--ghs-unit) * 46 * var(--ghs-dialog-factor));
  display: flex;
  flex-direction: column;

  .name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    text-align: center;
    width: 100%;
  }

  .stat-effect {
    margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ghs-color-white);

    .title {
      font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-dialog-factor));
    }

    .stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));

      .stat {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor)) 0;

        .type {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.5em;
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
          margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
        }

        img {
          height: 1.2em;
          width: auto;
          filter: var(--ghs-filter-white);
        }
      }
    }

    .immunities {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .immunity {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        width: 1.5em;
        height: 1.5em;
        margin: calc(var(--ghs-unit) * 0.3 * var(--ghs-dialog-factor));

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .deck {
      cursor: pointer;
      font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      text-align: center;
    }
  }

  .menu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      cursor: pointer;
      font-family: var(--ghs-font-text);
      color: var(--ghs-color-white);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

      .ally {
        text-decoration: line-through;
      }
    }
  }

  .stats-container {
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;

    .stats {
      cursor: pointer;
      position: relative;
      width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));
      min-height: calc(var(--ghs-unit) * 21.5 * var(--ghs-dialog-factor));
      margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    }

    ghs-monster-stats {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: top left;
    }
  }
}