<div class="stats-container"
  [ngClass]="{'boss' : monster.boss, 'fh' : settingsManager.settings.fhStyle, 'full-ability': fullAbility, 'no-click': noClick, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.monsterPermissions[monster.name + '|' + monster.edition]}"
  #card [style.fontSize]="card.offsetWidth * 0.03 + 'px'">
  <div #levelButton (click)="openLevelDialog()" class="level" title="{{'game.level' | ghsLabel}}">{{monster.level}}
  </div>

  <div class="name-container" ghs-drag-click (singleClick)="openStatsPopup()" (doubleClick)="openStatPopup()"
    [disabled]="noClick">
    <span class="name">
      {{'data.monster.' + monster.name | ghsLabel}}
      <span *ngIf="monster.isAlly">({{'game.ally' | ghsLabel}})</span>
    </span>
    <span *ngIf="monster.flying" class="flying"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/action/fly.svg'" /></span>
    <span class="edition" *ngIf="getEdition()">[{{'data.edition.' + getEdition()| ghsLabel}}]</span>
    <span class="catching" *ngIf="monster.catching"><img class="ghs-svg" src="./assets/images/fh/catching.svg"></span>
  </div>

  <span class="toggle-ally" [ngClass]="{'ally' : monster.isAlly}" (click)="toggleAlly()"><img
      src="./assets/images/monster/enemy.png" /></span>

  <div class="stats boss" *ngIf="monster.boss"
    [ngClass]="{'hidden' : hideStats(MonsterType.boss), 'range' : hideStats(MonsterType.boss) || statsForType(MonsterType.boss).range}">
    <span class="stat boss bordered" [ngClass]="{'hidden' : hideStats(MonsterType.boss)}"
      [value-calc]="statsForType(MonsterType.boss).health" [level]="monster.level" [empty]="true"></span>
    <span class="stat-icon"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/hp.svg'" /></span>

    <span class="stat boss bordered" [ngClass]="{'hidden' : hideStats(MonsterType.boss)}"
      [value-calc]="statsForType(MonsterType.boss).movement" [level]="monster.level" [empty]="true"></span>
    <span class="stat-icon"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/' + (monster.flying ? 'fly' : 'move') + '.svg'" /></span>

    <span class="stat boss"
      [ngClass]="{'hidden' : hideStats(MonsterType.boss), 'bordered' : hideStats(MonsterType.boss) || statsForType(MonsterType.boss).range }"
      [value-calc]="statsForType(MonsterType.boss).attack" [level]="monster.level" [empty]="true"></span>
    <span class="stat-icon"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/attack.svg'" /></span>

    <ng-container *ngIf="hideStats(MonsterType.boss)  || statsForType(MonsterType.boss).range">
      <span class="stat boss" [ngClass]="{'hidden' : hideStats(MonsterType.boss)}"
        [value-calc]="statsForType(MonsterType.boss).range" [level]="monster.level" [empty]="true"></span>
      <span class="stat-icon"><img
          [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/range.svg'" /></span>
    </ng-container>
  </div>

  <ghs-drag-click *ngIf="settingsManager.settings.disableStandees && gameManager.gameplayFigure(monster)"
    class="entity-menu" (singleClick)="openEntityMenu($event)">
  </ghs-drag-click>

  <div class="stats" *ngIf="!monster.boss"
    [ngClass]="{'range' : hideStats(MonsterType.normal) && hideStats(MonsterType.elite) || statsForType(MonsterType.normal).range || statsForType(MonsterType.elite).range}">
    <span class="stat normal bordered" [ngClass]="{'hidden' : hideStats(MonsterType.normal)}"
      [value-calc]="statsForType(MonsterType.normal).health" [level]="monster.level" [empty]="true"></span>
    <span class="stat-icon"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/hp.svg'" /></span>
    <span class="stat elite bordered" [ngClass]="{'hidden' : hideStats(MonsterType.elite)}"
      [value-calc]="statsForType(MonsterType.elite).health" [level]="monster.level" [empty]="true"></span>

    <span class="stat normal bordered" [ngClass]="{'hidden' : hideStats(MonsterType.normal)}"
      [value-calc]="statsForType(MonsterType.normal).movement" [level]="monster.level" [empty]="true"></span>
    <span class="stat-icon"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/' + (monster.flying ? 'fly' : 'move') + '.svg'" /></span>
    <span class="stat elite bordered" [ngClass]="{'hidden' : hideStats(MonsterType.elite)}"
      [value-calc]="statsForType(MonsterType.elite).movement" [level]="monster.level" [empty]="true"></span>

    <span class="stat normal"
      [ngClass]="{'hidden' : hideStats(MonsterType.normal), 'bordered' : hideStats(MonsterType.normal) && hideStats(MonsterType.normal) || statsForType(MonsterType.normal).range || statsForType(MonsterType.elite).range}"
      [value-calc]="statsForType(MonsterType.normal).attack" [level]="monster.level" [empty]="true"></span>
    <span class="stat-icon"><img
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/attack.svg'" /></span>
    <span class="stat elite"
      [ngClass]="{'hidden' : hideStats(MonsterType.elite), 'bordered' : hideStats(MonsterType.normal) && hideStats(MonsterType.normal) || statsForType(MonsterType.normal).range || statsForType(MonsterType.elite).range}"
      [value-calc]="statsForType(MonsterType.elite).attack" [level]="monster.level" [empty]="true"></span>

    <ng-container
      *ngIf="hideStats(MonsterType.normal) && hideStats(MonsterType.elite) || statsForType(MonsterType.normal).range || statsForType(MonsterType.elite).range">
      <span class="stat normal" [ngClass]="{'hidden' : hideStats(MonsterType.normal)}"
        [value-calc]="statsForType(MonsterType.normal).range" [level]="monster.level" [empty]="true"></span>
      <span class="stat-icon"><img
          [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/stats/range.svg'" /></span>
      <span class="stat elite" [ngClass]="{'hidden' : hideStats(MonsterType.elite)}"
        [value-calc]="statsForType(MonsterType.elite).range" [level]="monster.level" [empty]="true"></span>
    </ng-container>
  </div>

  <ng-container *ngIf="!monster.boss">
    <div class="extra normal" [ngClass]="{'hidden' : hideStats(MonsterType.normal)}">
      <div class="notes" [i18n]="statsForType(MonsterType.normal).note"></div>
      <div class="additional">
        <ghs-actions [actions]="statsForType(MonsterType.normal).actions" [inline]="true" [statsCalculation]="false"
          [relative]="relative" [right]="true" [hexSize]="0.5" [highlightActions]="highlightActions"
          [monster]="monster">
        </ghs-actions>
      </div>
      <div class="specials" *ngFor="let special of (statsForType(MonsterType.normal).special); let index = index;">
        <span class="special">{{index+1}}:</span>
        <ghs-actions [actions]="special" [inline]="true" [statsCalculation]="false" [relative]="relative" [right]="true"
          [hexSize]="0.5" [monster]="monster">
        </ghs-actions>
      </div>
    </div>

    <div class="immunities normal" [ngClass]="{'hidden' : hideStats(MonsterType.normal)}">
      <span class="immunity" *ngFor="let immunity of statsForType(MonsterType.normal).immunities">
        <img class="icon"
          [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + immunity+ '.svg'" />
      </span>
    </div>

    <div class="extra elite" [ngClass]="{'hidden' : hideStats(MonsterType.elite)}">
      <div class="notes text-white" [i18n]="statsForType(MonsterType.elite).note"></div>
      <div class="additional">
        <ghs-actions [actions]="statsForType(MonsterType.elite).actions" [inline]="true" [statsCalculation]="false"
          [relative]="relative" [hexSize]="0.5" [highlightActions]="highlightActions" [monster]="monster">
        </ghs-actions>
      </div>
      <div class="specials" *ngFor="let special of (statsForType(MonsterType.elite).special); let index = index;">
        <span class="special">{{index+1}}:</span>
        <ghs-actions [actions]="special" [inline]="true" [statsCalculation]="false" [relative]="relative"
          [hexSize]="0.5" [monster]="monster">
        </ghs-actions>
      </div>
    </div>

    <div class="immunities elite" [ngClass]="{'hidden' : hideStats(MonsterType.elite)}">
      <span class="immunity" *ngFor="let immunity of statsForType(MonsterType.elite).immunities">
        <img class="icon"
          [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + immunity+ '.svg'" />
      </span>
    </div>
  </ng-container>

  <div class="extra boss" *ngIf="monster.boss" [ngClass]="{'hidden' : hideStats(MonsterType.boss)}">
    <div class="notes text-white" [i18n]="statsForType(MonsterType.boss).note"></div>
    <div class="additional">
      <ghs-actions [actions]="statsForType(MonsterType.boss).actions" [inline]="true" [statsCalculation]="false"
        [relative]="relative" [hexSize]="0.5" [highlightActions]="highlightActions" [monster]="monster">
      </ghs-actions>
    </div>
    <div class="specials" *ngFor="let special of (statsForType(MonsterType.boss).special); let index = index;">
      <span class="special">{{index+1}}:</span>
      <ghs-actions [actions]="special" [inline]="true" [statsCalculation]="false" [relative]="relative" [hexSize]="0.5"
        [monster]="monster">
      </ghs-actions>
    </div>
  </div>

  <div class="immunities boss" *ngIf="monster.boss" [ngClass]="{'hidden' : hideStats(MonsterType.boss)}">
    <span class="immunity" *ngFor="let immunity of statsForType(MonsterType.boss).immunities">
      <img class="icon"
        [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + immunity+ '.svg'" />
    </span>
  </div>
</div>