.stats-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-radius: 1em;

  * {
    transition: opacity 1s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('~src/assets/images/monster/stats/standard.png');
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 1em;
    z-index: 0;
  }

  &::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('~src/assets/images/monster/stats/standard_repeat.png');
    background-position: top;
    background-size: 100% auto;
    background-repeat: repeat-y;
    border-radius: 1em;
    z-index: -1;
  }

  .name-container {
    position: absolute;
    top: 0.4em;
    right: 1.8em;
    width: 11.3em;
    display: flex;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: 2.1em;
    filter: drop-shadow(0.1em 0.1em 0.1em var(--ghs-color-black));
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 4;

    .name {
      display: flex;
      align-items: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .edition {
      margin-left: 0.1em;
    }

    .flying {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-left: 0.3em;

      img {
        height: 1em;
        width: auto;
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      }
    }

    .catching {
      position: absolute;
      right: 1em;
      top: 50%;
      width: 1.2em;
      height: auto;
      filter: var(--ghs-filter-white);
      transform: translateY(-50%);

      &.catched {
        filter: var(--ghs-filter-green) brightness(0.7);
      }
    }

    .stat-effect {
      display: flex;
      justify-content: center;
      width: calc(var(--ghs-unit) * 2);
      height: calc(var(--ghs-unit) * 2);
      position: relative;
      top: calc(var(--ghs-unit) * -0.6);
      left: calc(var(--ghs-unit) * -0.3);
      font-family: ghs-title;
      color: var(--ghs-color-white);
      font-size: calc(var(--ghs-unit) * 4.5);
      line-height: calc(var(--ghs-unit) * 4);
      background-color: var(--ghs-color-darkgray);
      border: 2px solid var(--ghs-color-gray);
      border-radius: 100%;
    }

    &:hover {
      cursor: pointer;
      color: var(--ghs-color-gray);

      .flying {
        img {
          filter: var(--ghs-filter-gray);
        }
      }

      .catching {
        filter: var(--ghs-filter-gray);

        &.catched {
          filter: var(--ghs-filter-green);
        }
      }

      .stat-effect {
        filter: brightness(0.4);
      }
    }
  }

  .entity-menu {
    position: absolute;
    top: 0;
    left: 38%;
    right: 38%;
    bottom: 0;
    z-index: 3;

    &.boss,
    &.bb {
      left: 25%;
      right: 55%;
    }
  }

  .toggle-ally {
    position: absolute;
    top: 0.2em;
    right: 0.8em;
    height: 3.4em;
    width: 2.4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    img {
      width: 100%;
      height: auto;
    }

    &.is-ally::after {
      content: ' ';
      position: absolute;
      top: 0.5em;
      left: 0.1em;
      bottom: 0.5em;
      right: 0.1em;
      background-color: var(--ghs-color-red);
      clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    }

    &.bb {
      top: 0.1em;
      left: 1em;
      right: initial;

      img {
        filter: var(--ghs-filter-white) var(--ghs-filter-shadow) brightness(0.8);
      }
    }
  }

  .level {
    position: absolute;
    top: 0.2em;
    left: 0.7em;
    font-family: "ghs-title";
    font-size: 3em;
    text-shadow: var(--ghs-outline);
    color: var(--ghs-color-gray);
    cursor: pointer;
    z-index: 4;

    &:hover,
    &.active-button {
      color: var(--ghs-color-white);
    }
  }

  .stats {
    position: absolute;
    top: 4.8em;
    left: 16.5em;
    width: calc(8.4em * var(--ghs-fontsize));
    height: 11.4em;
    display: grid;
    grid-template-columns: 50% 0 50%;
    grid-template-rows: repeat(3, 33%);
    filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
    z-index: 1;
    transform: translateX(-50%);

    &.boss,
    &.bb {
      top: 5.2em;
      left: 9.6em;
      grid-template-columns: 8em 0;
    }

    .stat {
      position: relative;
      font-size: 2.4em;
      line-height: 1.7em;
      padding-top: 0;
      width: 100%;
      display: flex;

      .value {
        font-size: calc(1em * var(--ghs-fontsize));
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
      }

      &.normal,
      &.boss,
      &.bb {
        justify-self: end;
        justify-content: flex-end;
        filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-white));
        padding-right: 0.8em;

        .value {
          text-align: right;
        }

        &.bordered::before {
          content: ' ';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 1px;
          width: calc(100% / var(--ghs-fontsize));
          background: linear-gradient(to right, transparent, var(--ghs-color-darkred));
        }
      }

      &.elite {
        justify-self: start;
        color: var(--ghs-color-white);
        filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
        padding-left: 0.8em;

        &.bordered::before {
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: calc(100% / var(--ghs-fontsize));
          background: linear-gradient(to right, var(--ghs-color-white), transparent);
        }
      }
    }

    .stat-icon {
      position: relative;
      justify-self: center;
      align-self: center;
      width: 2.5em;
      height: 2.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;


      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2em;
        height: 2em;
        background-color: var(--ghs-color-darkgray);
        border: 0.25em solid var(--ghs-color-white);
        z-index: 1;
        transform: translate(-50%, -50%) rotate(45deg);
        filter: var(--ghs-filter-outline-thin);
      }

      img {
        filter: var(--ghs-filter-white);
        height: 1.4em;
        width: auto;
        z-index: 2;
      }
    }

    &.range {
      grid-template-rows: repeat(4, 25%);

      &.boss,
      &.bb {
        top: 29%;
      }

      .stat {
        line-height: 1.3em;

        &.normal,
        &.boss,
        &.bb {
          padding-right: 0.7em;
        }

        &.elite {
          padding-left: 0.6em;
        }
      }

      .stat-icon {

        &::before {
          width: 1.4em;
          height: 1.4em;
        }

        img {
          height: 1em;
        }
      }
    }
  }

  &.boss::before {
    background-image: url('~src/assets/images/monster/stats/boss.png');
  }

  &.bb::before {
    background-image: url('~src/assets/images/bb/monster/stats/bb-standard.png');
  }

  &.boss::after {
    background-image: url('~src/assets/images/monster/stats/boss_repeat.png');
  }

  .extra {
    position: relative;
    margin-top: 3em;
    padding-bottom: 0.4em;
    width: 7.5em;
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    min-height: 8.2em;
    z-index: 2;
    overflow: auto;

    &.normal {
      left: 0;
      text-align: right;

      .condition {
        justify-content: end;
      }

      .placeholder {
        filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-gray));
      }
    }

    &.elite {
      left: 5.6em;
      color: var(--ghs-color-white);
    }

    &.boss,
    &.bb {
      width: 10.7em;
      height: auto;
      left: 10em;
      color: var(--ghs-color-white);
    }

    .notes {
      margin-top: 2.3%;
      line-height: 0.8em;
      filter: drop-shadow(0.01em 0.01em 0.01em var(--ghs-color-black));
    }

    .additional,
    .specials {
      display: flex;
      align-items: baseline;
      font-size: calc(1em * var(--ghs-fontsize));

      ghs-actions {
        flex-basis: 0;
        flex-grow: 1;

        &:first-child {
          margin-top: 2.3%;
        }
      }

      &.specials .special {
        margin-right: 0.5%;
      }

    }
  }

  .immunities {
    position: absolute;
    top: calc(5.6em + 2.25em - 2.25em * var(--ghs-fontsize));
    left: calc(1.4em + 1.125em - 1.125em * var(--ghs-fontsize));
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, calc(2.25em * var(--ghs-fontsize)));
    grid-template-rows: repeat(8, calc(1.125em * var(--ghs-fontsize)));
    column-gap: calc(0.4em * var(--ghs-fontsize));
    row-gap: calc(0.2em * var(--ghs-fontsize));
    z-index: 0;

    .immunity {

      position: relative;
      display: block;
      width: calc(2.25em * var(--ghs-fontsize));
      height: calc(2.25em * var(--ghs-fontsize));

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      &:nth-child(1) {
        grid-column: 1;
        grid-row: 2;
      }

      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
      }

      &:nth-child(3) {
        grid-column: 2;
        grid-row: 4;
      }

      &:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 5;
      }

      &:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
      }

      &:nth-child(6) {
        grid-column: 2;
        grid-row: 2;
      }

      &:nth-child(7) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 3;
      }

      &:nth-child(8) {
        grid-column: 3;
        grid-row: 4;
      }

      &:nth-child(9) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 1;
      }

      &:nth-child(10) {
        grid-column: 3;
        grid-row: 2;
      }

      &:nth-child(11) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 3;
      }

      &:nth-child(12) {
        grid-column-start: 3;
        grid-row: 1;
        grid-column-end: 5;
      }
    }

    &.normal {

      .immunity {

        &:nth-child(5) {
          grid-column: 3;
          grid-row: 6;
        }

        &:nth-child(6) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 7;

        }

        &:nth-child(7) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 1;
        }

        &:nth-child(8) {
          grid-column: 2;
          grid-row: 2;
        }

        &:nth-child(9) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 3;
        }

        &:nth-child(10) {
          grid-column: 3;
          grid-row: 4;
        }

        &:nth-child(11) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 5;
        }

        &:nth-child(12) {
          grid-column: 4;
          grid-row: 6;
        }
      }
    }

    &.elite {
      left: initial;
      right: 1.4em;

      .immunity {

        &:nth-child(1) {
          grid-column: 5;
          grid-row: 2;
        }

        &:nth-child(2) {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row: 3;
        }

        &:nth-child(3) {
          grid-column: 4;
          grid-row: 4;
        }

        &:nth-child(4) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 5;
        }

        &:nth-child(5) {
          grid-column: 3;
          grid-row: 6;
        }

        &:nth-child(6) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 7;

        }

        &:nth-child(7) {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row: 1;
        }

        &:nth-child(8) {
          grid-column: 4;
          grid-row: 2;
        }

        &:nth-child(9) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 3;
        }

        &:nth-child(10) {
          grid-column: 3;
          grid-row: 4;
        }

        &:nth-child(11) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 5;
        }

        &:nth-child(12) {
          grid-column: 2;
          grid-row: 6;
        }
      }
    }

    &.boss,
    &.bb {
      z-index: 1;
    }
  }

  &.no-click {

    .level,
    .toggle-ally {
      pointer-events: none;
    }

    .entity-menu {
      display: none;
    }
  }

  .filter-stats {
    display: none; // TODO: improve look
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ghs-color-darkgray);
    opacity: 0.4;
    z-index: 3;

    &.normal {
      right: 50%;
    }

    &.elite {
      left: 50%;
      right: 0;
    }
  }
}

:host.stats-editor {

  .extra,
  .name-container {
    display: none !important;
  }
}