.ability {
  width: calc(var(--ghs-unit) * 40);
  height: calc(var(--ghs-unit) * 21.5);
  color: var(--ghs-color-white);
}

.ability-back,
.ability-front {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: calc(var(--ghs-unit) * 1);
}

.ability-front {
  background-image: url('~src/assets/images/monster/abilities/monster-ability-front.png');
  background-position: bottom;
  --hover-animation: all 0.3s ease-in-out;
  transition: var(--hover-animation);

  ghs-actions {
    position: absolute;
    top: 0; // calc(var(--ghs-unit) * 5); 
    left: 0;
    height: calc(var(--ghs-unit) * 20.5);
    width: 100%;
    font-size: calc(var(--ghs-unit) * 2.5);
    transition: var(--hover-animation);
    overflow: auto;
    z-index: 1;
  }

  .name {
    display: block;
    position: absolute;
    top: calc(var(--ghs-unit) * -3);
    left: 0;
    width: 100%;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 2.5);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    text-align: center;
    transition: var(--hover-animation);
  }

  .initiative {
    position: absolute;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3.5);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    top: calc(var(--ghs-unit) * 0.3);
    left: calc(var(--ghs-unit) * 1.6);
    text-align: center;
    width: calc(var(--ghs-unit) * 4.5);
    height: calc(var(--ghs-unit) * 4.5);
    transition: var(--hover-animation);
  }

  .shuffle {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 0.5);
    right: calc(var(--ghs-unit) * 1);
    transition: var(--hover-animation);
    z-index: 0;
    filter: var(--ghs-filter-white);

    img {
      width: calc(var(--ghs-unit) * 3);
      height: auto;
    }
  }

  .index {
    position: absolute;
    font-size: calc(var(--ghs-unit) * 1.5);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    bottom: calc(var(--ghs-unit) * 2);
    left: calc(var(--ghs-unit) * 2);
    transition: var(--hover-animation);
  }


  &.hoverable:hover {
    background-position-y: calc(var(--ghs-unit) * -1);

    .name {
      top: calc(var(--ghs-unit) * 0.5);
    }

    .initiative {
      top: calc(var(--ghs-unit) * 4.5);
    }

    .shuffle {
      bottom: calc(var(--ghs-unit) * -1);
    }

    .index {
      bottom: calc(var(--ghs-unit) * -0.2);
      font-size: calc(var(--ghs-unit) * 2);
    }

    ghs-actions {
      position: absolute;
      top: calc(var(--ghs-unit) * 5.5);
      height: calc(var(--ghs-unit) * 15);
    }
  }

  &.bottom-actions {
    background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
    background-position: top;
    background-attachment: local;

    .name {
      top: calc(var(--ghs-unit) * 2.2);
    }

    .initiative {
      top: calc(var(--ghs-unit) * 26.5);
      left: 50%;
      transform: translateX(-50%);
    }

    .level {
      position: absolute;
      top: calc(var(--ghs-unit) * 6.2);
      left: 50%;
      transform: translateX(-50%);
      color: var(--ghs-color-black);
      font-size: calc(var(--ghs-unit) * 2);
      font-family: ghs-title;
    }

    .shuffle {
      bottom: calc(var(--ghs-unit) * -1.1);
    }

    .index {
      bottom: auto;
      top: calc(var(--ghs-unit) * 48);
      left: calc(50% + var(--ghs-unit) * 3.2);
    }

    overflow-x: unset;
    overflow-y: auto;

    ghs-actions {
      position: relative;
      top: calc(var(--ghs-unit) * 15.5);
      left: calc(var(--ghs-unit) * 4.3);
      width: calc(var(--ghs-unit) * 29);
      min-height: calc(var(--ghs-unit) * 15);
      max-height: calc(var(--ghs-unit) * 15);
    }

    ghs-actions:nth-of-type(2) {
      top: calc(var(--ghs-unit) * 23.2);
      margin-bottom: calc(var(--ghs-unit) * 3.2);
    }

    .bottom-scroll {
      display: block;
      position: absolute;
      top: calc(var(--ghs-unit) * 51.5);
    }
  }

}

.ability-back {
  background-image: url('~src/assets/images/monster/abilities/monster-ability-back.png');

  .name {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 1.3);
    left: 0;
    width: 100%;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 2.2);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    text-align: center;
  }

}


.button-remove {
  display: none;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
  right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
  justify-content: center;
  align-items: center;
  width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
  height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
  filter: var(--ghs-filter-white);

  &:hover {
    filter: var(--ghs-filter-red);
  }
}

.flipped {
  .button-remove {
    display: flex;
  }
}

.left-abilities {
  font-size: calc(var(--ghs-unit) * 2);
  position: absolute;
  right: calc(var(--ghs-unit) * 1);
  bottom: calc(var(--ghs-unit) * 0.5);
}

ghs-action {
  width: 100%;
}


.abilities-popup {

  width: calc(var(--ghs-unit) * 84 * var(--ghs-text-factor));
  max-width: initial;

  .menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    a,
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);

      &:hover {
        color: var(--ghs-color-white);
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
      appearance: none;
      background-color: var(--form-background);
      width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
      border-width: calc(var(--ghs-unit) * 0.3);
      border-style: solid;
      display: grid;
      place-content: center;
      margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
      color: var(--ghs-color-gray);

      &:before {
        left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
        top: calc(var(--ghs-unit) * -0.5 * var(--ghs-text-factor));
        position: relative;
        content: ' ';
        width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        color: var(--ghs-color-gray);
        background-color: var(--ghs-color-gray);
      }

      &:checked::before {
        transform: scale(1);
      }

      &:hover::before {
        background-color: var(--ghs-color-white);
      }
    }

    .insert-menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-basis: 100%;
      flex-shrink: 0;
    }
  }

  .abilities-container {
    display: flex;
    margin: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
    max-height: 80vh;

    .upcoming,
    .disgarded {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      padding: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));

      .ability,
      .empty {
        width: calc(var(--ghs-unit) * 37 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 23.7 * var(--ghs-text-factor));
        margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
        flex-shrink: 0;
        flex-grow: 0;
        background-position: top;

        .ability-back {
          .name {
            font-size: calc(var(--ghs-unit) * 2.2 * var(--ghs-text-factor));
            bottom: calc(var(--ghs-unit) * 3.2 * var(--ghs-text-factor));
          }
        }

        .ability-front {
          .name {
            font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
            top: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));
          }

          .initiative {
            font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
            top: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
            left: calc(var(--ghs-unit) * 1.4 * var(--ghs-text-factor));
            width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
            height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
          }

          ghs-actions {
            position: absolute;
            font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
            top: calc(var(--ghs-unit) * 5.5 * var(--ghs-text-factor));
            height: calc(var(--ghs-unit) * 18 * var(--ghs-text-factor));
          }

          .index {
            position: absolute;
            font-size: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
            bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
            left: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
          }

          &:hover {
            pointer-events: none;
          }

          &.bottom-actions {
            background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
            background-position: top;
            background-attachment: local;
            height: 100%;

            .name {
              top: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
            }

            .initiative {
              top: calc(var(--ghs-unit) * 24.5 * var(--ghs-text-factor));
              left: 50%;
              transform: translateX(-50%);
            }

            .level {
              position: absolute;
              top: calc(var(--ghs-unit) * 5.7 * var(--ghs-text-factor));
              left: 50%;
              transform: translateX(-50%);
              color: var(--ghs-color-black);
              font-size: calc(var(--ghs-unit) * 1.8 * var(--ghs-text-factor));
              font-family: ghs-title;
            }

            .shuffle {
              bottom: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
            }

            .index {
              bottom: auto;
              top: calc(var(--ghs-unit) * 44.5 * var(--ghs-text-factor));
              left: calc(50% + var(--ghs-unit) * 3 * var(--ghs-text-factor));
            }

            overflow-x: unset;
            overflow-y: auto;

            ghs-actions {
              position: relative;
              top: calc(var(--ghs-unit) * -0.3 * var(--ghs-text-factor));
              left: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
              width: calc(var(--ghs-unit) * 27 * var(--ghs-text-factor));
              min-height: calc(var(--ghs-unit) * 14 * var(--ghs-text-factor));
              max-height: calc(var(--ghs-unit) * 14 * var(--ghs-text-factor));
            }

            ghs-actions:nth-of-type(2) {
              top: calc(var(--ghs-unit) * 6.5 * var(--ghs-text-factor));
            }
          }
        }

        &.bottom-ability {
          height: calc(var(--ghs-unit) * 50 * var(--ghs-text-factor));

          .ability-back {
            background-image: url('~src/assets/images/monster/abilities/monster-ability-back-botton.png');

            .name {
              bottom: calc(var(--ghs-unit) * 12.5 * var(--ghs-text-factor));
              font-size: calc(var(--ghs-unit) * 1.9 * var(--ghs-text-factor));
            }
          }
        }

      }

      .ability {
        .confirm {
          .revealed {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--ghs-color-white);
            font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
            filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
          }
        }
      }

      .empty {
        display: block;
        border-style: dashed;
        border-width: calc(var(--ghs-unit) * 0.2);
        border-color: var(--ghs-color-white);
      }
    }
  }

  .cdk-drag-placeholder {
    opacity: 0.5;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}