:host {
  position: relative;
}

.container {
  position: relative;
  width: calc(var(--ghs-unit) * 40);
  height: calc(var(--ghs-unit) * 21.5);
  overflow: hidden;
  border-radius: calc(var(--ghs-unit) * 1);
  cursor: help;

  ghs-ability {
    display: inline-block;
    position: relative;
    top: calc(var(--ghs-unit) * -3);
    left: 0;
    width: calc(var(--ghs-unit) * 40);
    height: calc(var(--ghs-unit) * 25.5);
    transition: top calc(var(--ghs-animation-speed) * 250ms) ease-in-out;
    z-index: 3;
  }

  ghs-pointer-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  ghs-manual-draw {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
  }

  &.disabled {
    pointer-events: none;
  }

  &.flipped {

    ghs-ability {
      top: calc(var(--ghs-unit) * -4);
    }

    &.fh {
      ghs-ability {
        top: calc(var(--ghs-unit) * -3.5);
      }
    }

    .hover-effect {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;

      &.initiative {
        width: calc(var(--ghs-unit) * 8.5);
        height: calc(var(--ghs-unit) * 5);
      }

      &.title {
        width: 100%;
        height: calc(var(--ghs-unit) * 1.5);
      }

      &:hover {

        &.initiative {
          height: calc(var(--ghs-unit) * 9);
        }

        &.title {
          height: calc(var(--ghs-unit) * 4);
        }

        &~ghs-ability {
          top: 0;
        }
      }
    }
  }

  &.second-ability {

    display: flex;

    ghs-ability {
      top: 0;
      width: calc(var(--ghs-unit) * 20);
      height: calc(var(--ghs-unit) * 10.75);
    }

    ghs-pointer-input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 50%;

      &:nth-of-type(2) {
        left: 50%;
        right: 0;
      }
    }
  }

  &.bottom-actions {

    overflow-y: auto;

    ghs-ability {
      top: 0;
      height: calc(var(--ghs-unit) * 54);
    }

    &.second-ability {

      ghs-ability {
        height: calc(var(--ghs-unit) * 27);
      }
    }
  }

  &.full-ability {
    width: calc(var(--ghs-unit) * 37);
    height: calc(var(--ghs-unit) * 24);

    ghs-ability {
      top: 0;
      width: calc(var(--ghs-unit) * 37);
      height: calc(var(--ghs-unit) * 24);
    }

    &.fh {
      ghs-ability {
        top: 0;
      }
    }


    &.second-ability {

      ghs-ability {
        width: calc(var(--ghs-unit) * 18.5);
        height: calc(var(--ghs-unit) * 12);
      }
    }

    &.bottom-actions {
      ghs-ability {
        height: calc(var(--ghs-unit) * 38.2);
      }

      &.second-ability {

        ghs-ability {
          height: calc(var(--ghs-unit) * 25);
        }
      }
    }
  }

  &.expanded-ability {
    width: calc(var(--ghs-unit) * 37);
    height: auto;
    min-height: calc(var(--ghs-unit) * 24);

    ghs-ability {
      top: 0;
      width: calc(var(--ghs-unit) * 37);
      height: auto;
      min-height: calc(var(--ghs-unit) * 24);
    }

    &.fh {
      ghs-ability {
        top: 0;
      }
    }

    &.bottom-actions {
      height: calc(var(--ghs-unit) * 38.2);

      ghs-ability {
        height: calc(var(--ghs-unit) * 38.2);
      }

      &.second-ability {

        ghs-ability {
          height: calc(var(--ghs-unit) * 25);
        }
      }
    }

    &.second-ability {
      height: calc(var(--ghs-unit) * 25);

      ghs-ability {
        width: calc(var(--ghs-unit) * 18.5);
        height: calc(var(--ghs-unit) * 12);
        min-height: initial;
      }
    }
  }

}

.left-abilities {
  font-size: calc(var(--ghs-unit) * 2);
  position: absolute;
  color: var(--ghs-color-gray);
  right: calc(var(--ghs-unit) * 0.5);
  bottom: calc(var(--ghs-unit) * 0);
  z-index: 4;
}