.ability {
  width: calc(var(--ghs-unit) * 35);
  height: calc(var(--ghs-unit) * 19);
  color: var(--ghs-color-white);
}

.ability-front,
.ability-back {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.ability-back {
  background-image: url('~src/assets/images/monster/abilities/card.png');
  background-position: bottom;
  --hover-animation: all 0.3s ease-in-out;
  transition: var(--hover-animation);

  ghs-actions {
    position: absolute;
    top: 0; // calc(var(--ghs-unit) * 5); 
    left: 0;
    height: calc(var(--ghs-unit) * 19);
    width: 100%;
    font-size: calc(var(--ghs-unit) * 2.5);
    transition: var(--hover-animation);
    overflow: auto;
    z-index: 1;
  }

  .name {
    display: block;
    position: absolute;
    top: calc(var(--ghs-unit) * -3);
    left: 0;
    width: 100%;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 2.5);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    text-align: center;
    transition: var(--hover-animation);
  }

  .initiative {
    position: absolute;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3.5);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    top: calc(var(--ghs-unit) * 0.5);
    left: calc(var(--ghs-unit) * 1.4);
    text-align: center;
    width: calc(var(--ghs-unit) * 4);
    height: calc(var(--ghs-unit) * 4);
    transition: var(--hover-animation);
  }

  .shuffle {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 1.5);
    right: calc(var(--ghs-unit) * 2.5);
    transition: var(--hover-animation);
    z-index: 0;

    img {
      width: calc(var(--ghs-unit) * 3);
      height: auto;
    }
  }

  .index {
    position: absolute;
    font-size: calc(var(--ghs-unit) * 1.2);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    bottom: calc(var(--ghs-unit) * 2);
    left: calc(var(--ghs-unit) * 2);
    transition: var(--hover-animation);
  }


  &:hover {
    background-position: top;

    .name {
      top: calc(var(--ghs-unit) * 1.7);
    }

    .initiative {
      top: calc(var(--ghs-unit) * 4.5);
    }

    .shuffle {
      bottom: calc(var(--ghs-unit) * -2.5);
    }

    .index {
      bottom: calc(var(--ghs-unit) * -2);
    }

    ghs-actions {
      position: absolute;
      top: calc(var(--ghs-unit) * 6);
      height: calc(var(--ghs-unit) * 13);
    }
  }

}

.ability-front {
  background-image: url('~src/assets/images/monster/abilities/none.png');

  .name {
    position: absolute;
    bottom: calc(var(--ghs-unit) * 1);
    left: 0;
    width: 100%;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 2.2);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    text-align: center;
  }

}

.left-abilities {
  font-size: calc(var(--ghs-unit) * 2);
  position: absolute;
  right: calc(var(--ghs-unit) * 1);
  bottom: calc(var(--ghs-unit) * 0.5);
}

ghs-action {
  width: 100%;
}


.abilities-popup {

  .menu {
    display: flex;
    justify-content: space-evenly;

    a {
      cursor: pointer;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 4);
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);

      &:hover {
        color: var(--ghs-color-white);
      }
    }
  }

  .abilities-container {
    display: flex;
    flex-direction: row;
    margin: calc(var(--ghs-unit) * 1);
    max-height: 80vh;
    overflow: auto;

    .upcoming,
    .disgarded {
      display: flex;
      flex-direction: column;

      .ability,
      .empty {
        width: calc(var(--ghs-unit) * 35);
        height: calc(var(--ghs-unit) * 23.7);
        margin: calc(var(--ghs-unit) * 0.5);
        flex-shrink: 0;
        flex-grow: 0;
        background-position: top;


        .ability-back {
          .name {
            top: calc(var(--ghs-unit) * 1.7);
          }

          .initiative {
            top: calc(var(--ghs-unit) * 4.5);
          }

          ghs-actions {
            position: absolute;
            top: calc(var(--ghs-unit) * 5.5);
            height: calc(var(--ghs-unit) * 18);
          }

          .index {
            position: absolute;
            font-size: calc(var(--ghs-unit) * 1.2);
            bottom: calc(var(--ghs-unit) * 2);
            left: calc(var(--ghs-unit) * 2);
          }


          &:hover {
            pointer-events: none;
          }
        }

        .ability-front {
          .name {
            bottom: calc(var(--ghs-unit) * 3.5);
          }
        }

      }

      .ability {
        .confirm {
          .revealed {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--ghs-color-white);
            font-size: calc(var(--ghs-unit) * 2.5);
            filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
          }
        }
      }

      .empty {
        display: block;
        border-style: dashed;
        border-width: calc(var(--ghs-unit) * 0.2);
        border-color: var(--ghs-color-white);
      }
    }
  }
}