:host {
  position: relative;
}

.container {
  position: relative;
  width: calc(var(--ghs-unit) * 40);
  height: calc(var(--ghs-unit) * 21.5);
  overflow: hidden;
  border-radius: calc(var(--ghs-unit) * 1);
  cursor: help;

  ghs-ability {
    position: absolute;
    top: calc(var(--ghs-unit) * -3);
    left: 0;
    width: calc(var(--ghs-unit) * 40);
    height: calc(var(--ghs-unit) * 25.5);
    transition: top 250ms ease-in-out;
    z-index: 3;
  }

  ghs-drag-click {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  &.flipped {

    ghs-ability {
      top: calc(var(--ghs-unit) * -4);
    }

    .hover-effect {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;

      &.initiative {
        width: calc(var(--ghs-unit) * 8.5);
        height: calc(var(--ghs-unit) * 5);
      }

      &.title {
        width: 100%;
        height: calc(var(--ghs-unit) * 1.5);
      }

      &:hover {

        &.initiative {
          height: calc(var(--ghs-unit) * 9);
        }

        &.title {
          height: calc(var(--ghs-unit) * 4);
        }

        &~ghs-ability {
          top: 0;
        }
      }
    }
  }

  &.second-ability {

    ghs-ability {
      top: 0;
      width: calc(var(--ghs-unit) * 20);
      height: calc(var(--ghs-unit) * 10.75);

      &:nth-of-type(2) {
        left: 50%;
      }
    }

    ghs-drag-click {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 50%;

      &:nth-of-type(2) {
        left: 50%;
        right: 0;
      }
    }
  }

  &.bottom-actions {

    overflow-y: auto;

    ghs-ability {
      top: 0;
      height: calc(var(--ghs-unit) * 54);

    }

    &.second-ability {

      ghs-ability {
        height: calc(var(--ghs-unit) * 27);
      }
    }
  }
}

.left-abilities {
  font-size: calc(var(--ghs-unit) * 2);
  position: absolute;
  color: var(--ghs-color-white);
  right: calc(var(--ghs-unit) * 0.3);
  bottom: calc(var(--ghs-unit) * 0);
  z-index: 4;
}