:host {
  position: relative;
}

.container {
  position: relative;
  width: calc(var(--ghs-unit) * 40);
  height: calc(var(--ghs-unit) * 21.5);
  overflow: hidden;
  border-radius: calc(var(--ghs-unit) * 1);
  cursor: help;

  ghs-ability {
    position: absolute;
    top: calc(var(--ghs-unit) * -3);
    left: 0;
    width: calc(var(--ghs-unit) * 40);
    height: calc(var(--ghs-unit) * 25.5);
    transition: top 250ms ease-in-out;
    z-index: 1;
  }

  &.flipped {

    ghs-ability {
      top: calc(var(--ghs-unit) * -4);
    }

  }

  &.bottom-actions {

    overflow-y: auto;

    ghs-ability {
      top: 0;
      height: calc(var(--ghs-unit) * 54);
    }

  }


  .hover-effect {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &.initiative {
      width: calc(var(--ghs-unit) * 8.5);
      height: calc(var(--ghs-unit) * 5);
    }

    &.title {
      width: 100%;
      height: calc(var(--ghs-unit) * 1.5);
    }

    &:hover {

      &.initiative {
        height: calc(var(--ghs-unit) * 9);
      }

      &.title {
        height: calc(var(--ghs-unit) * 4);
      }

      &~ghs-ability {
        top: 0;
      }
    }
  }
}

.left-abilities {
  font-size: calc(var(--ghs-unit) * 2);
  position: absolute;
  color: var(--ghs-color-white);
  right: calc(var(--ghs-unit) * 0.3);
  bottom: calc(var(--ghs-unit) * 0);
}