.image {
  position: relative;
  display: flex;
  width: calc(var(--ghs-unit) * 14);
  height: calc(var(--ghs-unit) * 14);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: calc(var(--ghs-unit) * 1);
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    transition: box-shadow 100ms ease-in-out;
  }

  &.disabled {
    pointer-events: none;
  }

}