.image {
  position: relative;
  display: flex;
  width: calc(var(--ghs-unit) * 16);
  height: calc(var(--ghs-unit) * 16);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    transition: box-shadow 100ms ease-in-out;

    &:not(.active-border) {
      box-shadow: 0px 0px calc(var(--ghs-unit) * 0.5) calc(var(--ghs-unit) * 0.1) var(--ghs-color-darkgray);
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.full-ability {
    width: calc(var(--ghs-unit) * 17.5);
    height: calc(var(--ghs-unit) * 17.5);
  }

}