.stats-popup {

  width: calc(var(--ghs-unit) * 46 * var(--ghs-dialog-factor));

  display: flex;
  flex-direction: column;

  .name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    text-align: center;
    width: 100%;
    border-bottom-color: var(--ghs-color-gray);
    border-bottom-style: solid;
    border-bottom-width: calc(var(--ghs-unit) * 0.2);
  }

  .stats-container {
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    .stats {
      position: relative;
      width: calc(var(--ghs-unit) * 40 * var(--ghs-dialog-factor));
      min-height: calc(var(--ghs-unit) * 21.5 * var(--ghs-dialog-factor));
      margin: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
    }

    ghs-monster-stats {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transform: scale(var(--ghs-dialog-factor));
      transform-origin: top left;
    }
  }
}