<div class="stats-container" [ngClass]="{'boss' : monster.boss}">

  <div class="name">{{'data.monster.' + monster.name | ghsLabel}}</div>

  <div #button class="level">{{monster.level}}</div>

  <div class="stats" *ngIf="monster.boss">
    <div class="stat end">{{statsForType(MonsterType.boss).health | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.boss).movement | ghsValueCalc}}</div>

    <div class="stat end">{{(statsForType(MonsterType.boss).attack) | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.boss).range | ghsValueCalc}}</div>
  </div>

  <div class="stats" *ngIf="!monster.boss">
    <div class="stat end">{{statsForType(MonsterType.normal).health | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).health  | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.normal).movement | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).movement | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.normal).attack  | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).attack | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.normal).range | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).range | ghsValueCalc}}</div>
  </div>

  <ng-container *ngIf="!monster.boss">
    <div class="extra normal">
      <div class="additional" *ngFor="let special of (statsForType(MonsterType.normal).special); let index = index;">
        {{index}}: <ghs-monster-action [action]="special" [monster]="monster"></ghs-monster-action>
      </div>
      <div class="condition" *ngFor="let condition of (statsForType(MonsterType.normal).conditions)">
        {{'game.condition.' + condition | ghsLabel}} <img src="./assets/images/condition/{{condition}}.svg" /></div>
    </div>
    <div class="extra elite">
      <div class="additional" *ngFor="let special of (statsForType(MonsterType.elite).special); let index = index;">
        {{index}}: <ghs-monster-action [action]="special" [monster]="monster"></ghs-monster-action>
      </div>
      <div class="condition" *ngFor="let condition of (statsForType(MonsterType.elite).conditions)">
        {{'game.condition.' + condition | ghsLabel}} <img src="./assets/images/condition/{{condition}}.svg" /> </div>
    </div>
  </ng-container>
  <div class="extra boss" *ngIf="monster.boss">
    <div class="additional" *ngFor="let special of (statsForType(MonsterType.boss).special); let index = index;">
      <span>{{index}}:</span><ghs-monster-action [action]="special" [monster]="monster"></ghs-monster-action>
    </div>
    <div class="condition" *ngFor="let condition of (statsForType(MonsterType.boss).conditions)">
      {{'game.condition.' + condition | ghsLabel}} <img src="./assets/images/condition/{{condition}}.svg" /> </div>
  </div>

  <div class="entities" *ngIf="!monster.boss">
    <ghs-monster-numberpicker class="normal" [monster]="monster" [type]="MonsterType.normal" [max]="monster.count"
      [ngClass]="{'disabled' : monster.entities.length >= monster.count}">
    </ghs-monster-numberpicker>
    <ghs-monster-numberpicker class="elite" [monster]="monster" [type]="MonsterType.elite" [max]="monster.count"
      [left]="true" [ngClass]="{'disabled' : monster.entities.length >= monster.count}">
    </ghs-monster-numberpicker>
  </div>

  <div class="entities" *ngIf="monster.boss">
    <ghs-monster-numberpicker class="boss" [monster]="monster" [type]="MonsterType.boss" [max]="monster.count"
      [ngClass]="{'disabled' : monster.entities.length >= monster.count}">
    </ghs-monster-numberpicker>
  </div>
</div>


<div #dialog class="dialog">
  <div class="level-container">
    <span class="item"><img src="./assets/images/status/level.svg" /></span>
    <span *ngFor="let level of levels;"><a class="level" [ngClass]="{'active' : level == monster.level}"
        (click)="setLevel(level)">{{level}}</a></span>
  </div>
</div>
