.stats-container {
  width: calc(var(--ghs-unit) * 40);
  height: calc(var(--ghs-unit) * 21.5);
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('~src/assets/images/monster/stats/standard.png');
  border-radius: calc(var(--ghs-unit) * 1);

  * {
    transition: opacity 1s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  .name-container {
    position: absolute;
    top: calc(var(--ghs-unit) * 0.6);
    right: calc(var(--ghs-unit) * 3);
    width: calc(var(--ghs-unit) * 30);
    display: flex;
    align-items: center;
    font-family: var(--ghs-font-title);
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    text-align: left;
    white-space: nowrap;
    overflow: auto;

    .edition {
      margin-left: calc(var(--ghs-unit) * 0.5);
    }

    .flying {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin-left: calc(var(--ghs-unit) * 0.5);

      img {
        height: 1em;
        width: auto;
      }
    }
  }

  .toggle-ally {
    position: absolute;
    top: calc(var(--ghs-unit) * 0.1);
    right: calc(var(--ghs-unit) * 1);
    height: calc(var(--ghs-unit) * 4);
    width: calc(var(--ghs-unit) * 2.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    &.ally::after {
      content: ' ';
      position: absolute;
      top: calc(var(--ghs-unit) * 0.6);
      left: calc(var(--ghs-unit) * 0.1);
      bottom: calc(var(--ghs-unit) * 0.6);
      right: calc(var(--ghs-unit) * 0.1);
      background-color: var(--ghs-color-red);
      clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    }
  }

  .level {
    position: absolute;
    top: calc(var(--ghs-unit) * 0.5);
    left: calc(var(--ghs-unit) * 2.5);
    font-family: "ghs-title";
    font-size: calc(var(--ghs-unit) * 3);
    text-shadow: var(--ghs-outline);
    color: var(--ghs-color-gray);
    cursor: pointer;

    &:hover,
    &.active-button {
      color: var(--ghs-color-white);
    }
  }

  .stats {
    position: absolute;
    top: calc(var(--ghs-unit) * 6.2);
    left: calc(var(--ghs-unit) * 15.1);
    width: calc(var(--ghs-unit) * 9.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--ghs-unit) * 4.4);
    filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
    z-index: 1;

    .stat {
      font-size: calc(var(--ghs-unit) * 2.7 * var(--ghs-fontsize));
      padding-top: calc(var(--ghs-unit) * 0);
      line-height: calc(var(--ghs-unit) * 3.40);

      &.end {
        justify-self: end;
        text-align: right;
        filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-white));
      }

      &.start {
        justify-self: start;
        text-align: left;
        color: var(--ghs-color-white);
        filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
      }
    }

  }

  &.boss {
    background-image: url('~src/assets/images/monster/stats/boss.png');

    .stats {
      top: calc(var(--ghs-unit) * 6.3);
      left: calc(var(--ghs-unit) * 4.1);
      width: calc(var(--ghs-unit) * 10);
      grid-template-columns: 1fr;
      top: calc(var(--ghs-unit) * 6.5);
    }
  }

  .extra {
    position: absolute;
    top: calc(var(--ghs-unit) * 5.5);
    width: calc(var(--ghs-unit) * 14);
    display: flex;
    flex-direction: column;
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-fontsize));
    height: calc(100% - calc(var(--ghs-unit) * 5.5));

    .extra-container {
      overflow-x: unset;
      overflow-y: auto;
      height: 100%;
    }

    .immunities {
      position: absolute;
      top: calc(var(--ghs-unit) * 1.6);
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(6, calc(var(--ghs-unit) * 2.8));
      grid-template-rows: repeat(6, calc(var(--ghs-unit) * 1.25));
      column-gap: calc(var(--ghs-unit) * 0.4);
      row-gap: calc(var(--ghs-unit) * 0.4);

      .immunity {

        position: relative;
        display: block;
        width: calc(var(--ghs-unit) * 2.5);
        height: calc(var(--ghs-unit) * 2.5);

        &:nth-child(1) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 1;
        }

        &:nth-child(2) {
          grid-column: 2;
          grid-row: 2;
        }

        &:nth-child(3) {
          grid-column: 3;
          grid-row: 2;
        }

        &:nth-child(4) {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 3;
        }

        &:nth-child(5) {
          grid-column: 3;
          grid-row: 4;
        }

        &:nth-child(6) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 3;
        }

        &:nth-child(7) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row: 5;
        }

        &:nth-child(8) {
          grid-column: 4;
          grid-row: 4;
        }

        &:nth-child(9) {
          grid-column: 4;
          grid-row: 6;
        }

        &:nth-child(10) {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row: 5;
        }

        &:nth-child(11) {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row: 7;
        }

        &:nth-child(12) {
          grid-column: 5;
          grid-row: 6;
        }
      }
    }

    &.normal {
      right: calc(var(--ghs-unit) * 25.5);
      text-align: right;

      .immunities {
        left: calc(var(--ghs-unit) * -2);
        width: calc(var(--ghs-unit) * 13);
      }

      .condition {
        justify-content: end;
      }
    }

    &.elite {
      right: calc(var(--ghs-unit) * 0.5);
      color: var(--ghs-color-white);

      .immunities {
        width: calc(var(--ghs-unit) * 13);
      }
    }

    &.boss {
      width: calc(var(--ghs-unit) * 22);
      right: calc(var(--ghs-unit) * 0.5);
      color: var(--ghs-color-white);

      .extra-container {
        height: calc(var(--ghs-unit) * 15);
      }

      .immunities {
        top: calc(var(--ghs-unit) * 1);
        left: calc(var(--ghs-unit) * -19);
      }
    }

    .notes {
      margin-top: calc(var(--ghs-unit) * 0.5);
      line-height: 0.8em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.01) var(--ghs-color-black));
    }

    .additional,
    .specials {
      display: flex;
      align-items: baseline;

      ghs-actions {
        flex-basis: 0;
        flex-grow: 1;

        &:first-child {
          margin-top: calc(var(--ghs-unit) * 0.5);
        }
      }

      &.specials .special {
        margin-right: calc(var(--ghs-unit) * 0.2);
      }

    }
  }

}