<div class="stats-container" [ngClass]="{'boss' : monster.boss}">
  <div #button class="level">{{monster.level}}</div>

  <div class="stats" *ngIf="monster.boss">
    <div class="stat end">{{statsForType(MonsterType.boss).health | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.boss).movement | ghsValueCalc}}</div>

    <div class="stat end">{{(statsForType(MonsterType.boss).attack) | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.boss).range | ghsValueCalc}}</div>
  </div>

  <div class="stats" *ngIf="!monster.boss">
    <div class="stat end">{{statsForType(MonsterType.normal).health | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).health | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.normal).movement | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).movement | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.normal).attack | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).attack | ghsValueCalc}}</div>

    <div class="stat end">{{statsForType(MonsterType.normal).range | ghsValueCalc}}</div>
    <div class="stat start">{{statsForType(MonsterType.elite).range | ghsValueCalc}}</div>
  </div>

  <ng-container *ngIf="!monster.boss">
    <div class="extra normal">
      <div class="immunities">
        <span class="immunity" *ngFor="let immunity of statsForType(MonsterType.normal).immunities">
          <img class="icon" src="./assets/images/condition/{{immunity}}.svg" />
        </span>
      </div>
      <div class="additional">
        <ghs-actions [actions]="statsForType(MonsterType.normal).actions" [monster]="monster" [inline]="true"
          [right]="true" [hexSize]="hexSize()">
        </ghs-actions>
      </div>
      <div class="specials" *ngFor="let special of (statsForType(MonsterType.normal).special); let index = index;">
        {{index+1}}: <ghs-actions [actions]="special" [monster]="monster" [inline]="true" [right]="true"
          [hexSize]="hexSize()"></ghs-actions>
      </div>
      <div class="notes">{{statsForType(MonsterType.normal).note}}</div>
    </div>
    <div class="extra elite">
      <div class="immunities">
        <span class="immunity" *ngFor="let immunity of statsForType(MonsterType.elite).immunities">
          <img class="icon" src="./assets/images/condition/{{immunity}}.svg" />
        </span>
      </div>
      <div class="additional">
        <ghs-actions [actions]="statsForType(MonsterType.elite).actions" [monster]="monster" [inline]="true"
          [hexSize]="hexSize()">
        </ghs-actions>
      </div>
      <div class="additional" *ngFor="let special of (statsForType(MonsterType.elite).special); let index = index;">
        {{index+1}}: <ghs-actions [actions]="special" [monster]="monster" [inline]="true" [hexSize]="hexSize()">
        </ghs-actions>
      </div>
      <div class="notes">{{statsForType(MonsterType.elite).note}}</div>
    </div>
  </ng-container>
  <div class="extra boss" *ngIf="monster.boss">
    <div class="immunities">
      <span class="immunity" *ngFor="let immunity of statsForType(MonsterType.boss).immunities">
        <img class="icon" src="./assets/images/condition/{{immunity}}.svg" />
      </span>
    </div>
    <div class="additional">
      <ghs-actions [actions]="statsForType(MonsterType.boss).actions" [monster]="monster" [inline]="true"
        [hexSize]="hexSize()">
      </ghs-actions>
    </div>
    <div class="additional" *ngFor="let special of (statsForType(MonsterType.boss).special); let index = index;">
      <span>{{index+1}}:</span>
      <ghs-actions [actions]="special" [monster]="monster" [inline]="true" [hexSize]="hexSize()"></ghs-actions>
    </div>
    <div class="notes">{{statsForType(MonsterType.boss).note}}</div>
  </div>
</div>


<div #dialog class="dialog">
  <div class="level-container">
    <span class="item"><img src="./assets/images/status/level.svg" /></span>
    <span *ngFor="let level of levels;"><a class="level" [ngClass]="{'active' : level == monster.level}"
        (click)="setLevel(level)">{{level}}</a></span>
  </div>
</div>