.name-container {
  position: absolute;
  top: calc(var(--ghs-unit) * 0.6);
  right: 0;
  width: calc(var(--ghs-unit) * 28);
  display: flex;
  align-items: center;
  font-family: 'ghs-title';
  color: var(--ghs-color-white);
  font-size: calc(var(--ghs-unit) * 2.5);
  filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
  text-align: left;
  white-space: nowrap;
  overflow: auto;

  .name {
    cursor: pointer;

    &:hover {
      color: var(--ghs-color-gray);
    }
  }
  
  .edition {
    margin-left: calc(var(--ghs-unit) * 0.5);
  }

  .flying {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: calc(var(--ghs-unit) * 0.5);

    img {
      height: 1em;
      width: auto;
    }
  }
}

.stats-popup {

  width: calc(var(--ghs-unit) * 42);

  display: flex;
  flex-direction: column;

  .name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'ghs-title';
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 3.5);
    text-align: center;
    width: 100%;
    border-bottom-color: var(--ghs-color-gray);
    border-bottom-style: solid;
    border-bottom-width: calc(var(--ghs-unit) * 0.2);
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    margin: calc(var(--ghs-unit) * 1);
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    ghs-monster-stats {
      pointer-events: none;
      margin: calc(var(--ghs-unit) * 1.5);
    }
  }
}