.overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: calc(var(--ghs-unit) * 9);
  height: calc(var(--ghs-unit) * 9);
  margin: calc(var(--ghs-unit) * 3);
  cursor: pointer;
}

.initiative {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ghs-title';
  font-size: calc(var(--ghs-unit) * 4.5);
  margin-right: calc(var(--ghs-unit) * 1);
  color: var(--ghs-color-white);
  text-shadow: var(--ghs-outline);

  img {
    width: calc(var(--ghs-unit) * 4);
    height: auto;
  }

  span {
    cursor: pointer;
  }
}

.number-container {

  display: grid;
  grid-template-columns: calc(var(--ghs-unit) * 8) calc(var(--ghs-unit) * 8) calc(var(--ghs-unit) * 8);


  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
  }

  .number-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7);
    width: calc(var(--ghs-unit) * 7);
    cursor: pointer;
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 3);
    color: var(--ghs-color-gray);
    text-shadow: var(--ghs-outline);

    &:hover {
      color: var(--ghs-color-white);
    }

  }
}