<div class="back" *ngIf="active != SubMenu.main" (click)="setActive(SubMenu.main)"
  title="{{'menu.backToMain' | ghsLabel}}">
  <img class="ghs-svg" src="./assets/images/left.svg">
</div>

<div class="scroll-container" [ngSwitch]="active">
  <div *ngSwitchCase="SubMenu.main" class="menu-container main">
    <div class="line">
      <div class="state">
        <a class="undo" [ngClass]="{'disabled' : !gameManager.stateManager.hasUndo()}"
          (click)="gameManager.stateManager.undo()">
          {{'state.undo' | ghsLabel}}
          <span class="info" *ngIf="undoInfo.length > 0" [i18n]="'state.info.' + undoInfo[0]"
            [i18n-args]="(undoInfo | slice:1:undoInfo.length)"></span> </a>
        <a class="redo" [ngClass]="{'disabled' :!gameManager.stateManager.hasRedo()}"
          (click)="gameManager.stateManager.redo()">
          {{'state.redo' | ghsLabel}}
          <span class="info" *ngIf="redoInfo.length > 0" [i18n]="'state.info.' + redoInfo[0]"
            [i18n-args]="(redoInfo | slice:1:redoInfo.length)"></span>
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column separator">
        <div class="line"
          [ngClass]="{'disabled' : !hasScenarios(), 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.scenario}">
          <a (click)="setActive(SubMenu.scenario)">{{'scenario' | ghsLabel}}</a>
        </div>
        <div class="line"
          [ngClass]="{'disabled' : hasAllMonster(), 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.monsters}">
          <a (click)="setActive(SubMenu.monster_add)">{{'monster.add' | ghsLabel}}</a>
        </div>
      </div>
      <div class="column separator">
        <div class="line"
          [ngClass]="{'disabled' : !hasSections(), 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.scenario}">
          <a (click)="setActive(SubMenu.section)">{{'section' | ghsLabel}}</a>
        </div>
        <div class="line"
          [ngClass]="{'disabled' : monsters().length == 0, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.monsters}">
          <a (click)="setActive(SubMenu.monster_remove)">{{'monster.remove' | ghsLabel}}</a>
        </div>
      </div>
    </div>

    <div class="columns separator">
      <div class="column">
        <div class="line"
          [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters}">
          <a (click)="setActive(SubMenu.character_add)">{{'character.add' | ghsLabel}}</a>
        </div>
        <div class="line"
          [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters}">
          <a (click)="setActive(SubMenu.objective_add)">{{'objective.add' | ghsLabel}}</a>
        </div>
      </div>
      <div class="column">
        <div class="line"
          [ngClass]="{'disabled' : characters().length == 0,'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters}">
          <a (click)="setActive(SubMenu.character_remove)">{{'character.remove' | ghsLabel}}</a>
        </div>
        <div class="line"
          [ngClass]="{'disabled' : objectives().length == 0, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.characters}">
          <a (click)="setActive(SubMenu.objective_remove)">{{'objective.remove' | ghsLabel}}</a>
        </div>
      </div>
    </div>

    <div class="columns separator">
      <div class="column">
        <div class="line">
          <a (click)="setActive(SubMenu.settings)">{{'settings' | ghsLabel}}</a>
        </div>
      </div>
      <div class="column">
        <div class="line">
          <a (click)="setActive(SubMenu.server)" [ngSwitch]="gameManager.stateManager.wsState()">
            <span *ngSwitchCase="WebSocket.OPEN">{{'server.menu.connected' | ghsLabel}}</span>
            <span *ngSwitchCase="WebSocket.CONNECTING">{{'server.connecting' | ghsLabel}}</span>
            <span *ngSwitchDefault>{{'server.menu.connect' | ghsLabel}}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="columns separator">
      <div class="column">
        <div class="line"
          [ngClass]="{'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.scenario}">
          <a (click)="setActive(SubMenu.edition)">{{'edition' | ghsLabel}}</a>
        </div>
      </div>
      <div class="column">
        <div class="line">
          <a (click)="setActive(SubMenu.datamanagement)">{{'datamanagement' | ghsLabel}}</a>
        </div>
      </div>
    </div>

    <div class="columns separator">
      <div class="column">
        <div class="line">
          <a (click)="setActive(SubMenu.about)">{{'about' | ghsLabel}}</a>
        </div>
      </div>
      <div class="column">
        <div class="line">
          <a href="https://help.gloomhaven-secretary.de" target="_blank">{{'help' | ghsLabel}}</a>
        </div>
      </div>
    </div>

    <div class="line separator" *ngIf="isUpdateAvailable()">
      <a (click)="update()">&lt;{{'update' | ghsLabel}}(!)&gt;</a>
    </div>
  </div>

  <ghs-edition-menu *ngSwitchCase="SubMenu.edition"></ghs-edition-menu>

  <ghs-scenario-menu *ngSwitchCase="SubMenu.scenario"></ghs-scenario-menu>

  <ghs-section-menu *ngSwitchCase="SubMenu.section"></ghs-section-menu>

  <div *ngSwitchCase="SubMenu.character_add" class="menu-container character-add">
    <div class="level-container">
      <span class="item"><img src="./assets/images/status/level.svg" /></span>
      <span class="item" *ngFor="let level of [] | ghsRange:9"><a class="level"
          [ngClass]="{'active' : level + 1 == characterLevel}" (click)="characterLevel = level+1">{{level
          +1}}</a></span>
    </div>
    <div class="columns">
      <ng-container *ngFor="let edition of gameManager.currentEditions()">
        <div class="column spoilers" *ngIf="characterData(edition).length > 0">
          <div class="line title sticky" *ngIf="gameManager.currentEditions().length > 1">
            <label>{{'data.edition.' + edition | ghsLabel}}</label>
          </div>
          <div class="line" *ngFor="let characterData of characterData(edition)"
            [ngClass]="{'disabled' : hasCharacter(characterData), 'spoiler' : characterData.spoiler}">
            <a (click)="addCharacter(characterData);" *ngIf="isSpoiled(characterData)">
              <img class="icon" [src]="gameManager.characterManager.characterIcon(characterData)" />{{'data.character.'
              + characterData.name | ghsLabel}}
            </a>
            <a (click)="settingsManager.addSpoiler(characterData.name);" *ngIf="!isSpoiled(characterData)">
              <img class="icon" [src]="gameManager.characterManager.characterIcon(characterData)" />
              <span class="name">
                {{'spoiler.placeholder' | ghsLabel}}</span>
              <span class="add">{{'spoiler.add' | ghsLabel}}</span>
            </a>
          </div>
          <div class="line separator" *ngIf="hasSpoilers(characterData(edition))">
            <a (click)="settingsManager.addSpoilers(notSpoiled(characterData(edition)))">{{'spoiler.all' |
              ghsLabel}}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.character_remove" class="menu-container character-remove">
    <div class="line">
      <a (click)="removeAllCharacters()">
        &lt;{{'character.removeAll' | ghsLabel}}&gt;
      </a>
    </div>
    <div class="line" *ngFor="let character of characters()">
      <a (click)="removeCharacter(character);">
        <img class="icon" [src]="gameManager.characterManager.characterIcon(character)" /><span
          *ngIf="character.title">{{character.title}} (</span>
        {{'data.character.' + character.name | ghsLabel}}
        <span *ngIf="character.title">)</span><span class="edition"
          *ngIf="gameManager.getEdition(character)">&nbsp;[{{'data.edition.' + gameManager.getEdition(character) |
          ghsLabel}}]</span>
      </a>
    </div>
  </div>


  <div *ngSwitchCase="SubMenu.objective_add" class="menu-container objective-add">
    <div class="line">
      <a (click)="addObjective();">
        <img class="icon" src="./assets/images/objective/objective.svg" />
        {{'objective.add' | ghsLabel}}
      </a>
    </div>
    <div class="line">
      <a (click)="addEscort();">
        <img class="icon" src="./assets/images/objective/escort.svg" />
        {{'escort.add' | ghsLabel}}
      </a>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.objective_remove" class="menu-container objective-remove">
    <div class="line">
      <a (click)="removeAllObjectives()">
        &lt;{{'objective.removeAll' | ghsLabel}}&gt;
      </a>
    </div>
    <div class="line" *ngFor="let objective of objectives()">
      <a (click)="removeObjective(objective);">
        <img class="icon" src="./assets/images/objective/objective.svg" *ngIf="!objective.escort" />
        <img class="icon" src="./assets/images/objective/escort.svg" *ngIf="objective.escort" />
        <span *ngIf="objective.title || objective.name">{{objective.title ? objective.title : ('data.objective.' +
          objective.name | ghsLabel)}}
          (</span>
        {{(objective.escort ? 'escort' : 'objective') | ghsLabel}}
        <span *ngIf="objective.name">)</span>
        <span class="spacer"></span>
        <span class="objective-id">{{objective.id + 1}}</span>
      </a>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.monster_add" class="menu-container monster-add">
    <div class="line hidden-monster-menu" *ngIf="hasHiddenMonster()">
      <label>
        <input type="checkbox" [checked]="showHiddenMonster" (change)="showHiddenMonster=!showHiddenMonster">
        {{'monster.showHidden' | ghsLabel}}
      </label>
    </div>
    <div class="columns">
      <ng-container *ngFor="let edition of gameManager.currentEditions()">
        <div class="column spoilers bosses" *ngIf="monsterData(edition).length > 0">
          <div class="line title sticky" *ngIf="gameManager.currentEditions().length > 1">
            <label>{{'data.edition.' + edition | ghsLabel}}</label>
          </div>
          <div class="line" *ngFor="let monsterData of monsterData(edition)"
            [ngClass]="{'disabled' : hasMonster(monsterData), 'spoiler' : monsterData.spoiler, 'boss' : monsterData.boss, 'hidden-monster' : monsterData.hidden}">
            <a (click)="addMonster(monsterData);" *ngIf="isSpoiled(monsterData)">
              {{'data.monster.' + monsterData.name | ghsLabel}}
            </a>
            <a (click)="settingsManager.addSpoiler(monsterData.name);" *ngIf="!isSpoiled(monsterData)">
              <span class="name">{{'spoiler.placeholder' | ghsLabel}}</span>
              <span class="add">{{'spoiler.add' | ghsLabel}}</span>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="line" *ngIf="hasSpoilers(monsterData())">
      <a (click)="settingsManager.addSpoilers(notSpoiled(monsterData()))">{{'spoiler.all' | ghsLabel}}</a>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.monster_remove" class="menu-container monster-remove">
    <div class="line">
      <a (click)="removeAllMonsters()">
        &lt;{{'monster.removeAll' | ghsLabel}}&gt;
      </a>
    </div>
    <div class="line" *ngFor="let monster of monsters()">
      <a (click)="removeMonster(monster);">
        {{'data.monster.' + monster.name | ghsLabel}}<span class="edition"
          *ngIf="gameManager.getEdition(monster)">&nbsp;[{{'data.edition.' + gameManager.getEdition(monster) |
          ghsLabel}}]</span>
      </a>
    </div>
  </div>

  <ghs-settings-menu *ngSwitchCase="SubMenu.settings"></ghs-settings-menu>

  <ghs-server-menu *ngSwitchCase="SubMenu.server"></ghs-server-menu>

  <ghs-datamanagement-menu *ngSwitchCase="SubMenu.datamanagement"></ghs-datamanagement-menu>

  <div *ngSwitchCase="SubMenu.about" class="menu-container about">
    <div class="line">
      <p class="placeholder" [i18n]="'about.ip'"
        [i18n-args]="['<a href=\'https:\/\/cephalofair.com\' target=\'_blank\'>Cephalofair Games</a>']">
      </p>
    </div>
    <div class="columns">
      <div class="column">
        <div class="line">
          <label>Gloomhaven Secretary v{{version}}</label>
        </div>
      </div>
      <div class="column">
        <div class="line">
          <p>
            <a (click)="update(true)">{{'about.forceUpdate' | ghsLabel}}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="columns">
        <div class="column">
          <p>
            <a href="https://ko-fi.com/lurkars" target="_blank">{{'about.support' | ghsLabel}}</a>
          </p>
        </div>
        <div class="column">
          <p><a href="https://github.com/Lurkars/gloomhavensecretary" target="_blank">{{'about.sourceCode' |
              ghsLabel}}</a></p>
        </div>
        <div class="column">
          <p class="placeholder" [i18n]="'about.license'"
            [i18n-args]="['<a href=\'https:\/\/\github.com\/Lurkars\/gloomhavensecretary\/blob\/main\/LICENSE\'  target=\'_blank\'> AGPL3</a>']">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>