:host {
  position: relative;
  z-index: 9999;
}

.hint-container .hint .text {
  white-space: break-spaces;
}

.back {
  cursor: pointer;
  position: absolute;
  top: calc(var(--ghs-unit) * 2);
  left: 0;
  width: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
  height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  z-index: 2;

  .ghs-svg {
    filter: var(--ghs-filter-gray) var(--ghs-filter-shadow) !important;
  }

  &:hover {
    .ghs-svg {
      filter: var(--ghs-filter-white) var(--ghs-filter-shadow) !important;
    }
  }

  &.disabled {
    pointer-events: none;

    .ghs-svg {
      filter: var(--ghs-filter-darkgray) var(--ghs-filter-shadow) !important;
    }
  }
}

.scroll-container {
  z-index: 1;
}

.menu-container {

  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
  padding-bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
  z-index: 1;

  .separator {
    border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
    margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  }

  &.two-column {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));

    .separator,
    .span {
      grid-column: 2 span;
    }
  }

  .columns {
    display: flex;

    .column {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      padding-right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      flex-grow: 1;

      &.no-grow {
        flex-grow: 0;
      }
    }
  }

  .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

    &.hidden {
      display: none;
    }

    p {
      margin: 0;
      padding: 0 calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);
      word-wrap: break-word;
      white-space: wrap;

      a {
        display: inline;
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      }
    }

    .ghs-svg {
      width: 1em;
      height: auto;
      filter: var(--ghs-filter-white);
    }


    button {
      border: 0;
      box-shadow: none;
      outline: none;
      background-color: transparent;
    }

    .hint-container {
      width: 100%;

      &.inline {
        width: initial;
        margin-right: 1em;
      }
    }

    .input-container {
      flex-wrap: nowrap;

      input,
      select {
        flex-basis: 0;
        flex-grow: 1;
      }
    }

    a,
    label,
    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: var(--ghs-font-title);
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      white-space: nowrap;

      &:hover {
        color: var(--ghs-color-white);
      }

      img.icon {
        width: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        height: auto;

        &.spoiler {
          filter: brightness(0) var(--ghs-filter-gray);
        }
      }

      &.disabled {
        pointer-events: none;
        color: var(--ghs-color-disabled);
      }

      &.confirm {
        color: var(--ghs-color-yellow);
      }

      &.confirm-delete {
        color: var(--ghs-color-red);
      }

      &~input,
      &~select {
        margin-left: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      }
    }

    &>a {
      text-decoration: none;
    }

    &.state-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .state {
        display: flex;
        flex-direction: column;

        &.undo {
          align-items: flex-start;

          .undo-text {
            display: flex;
            align-items: center;
          }
        }

        &.redo {
          align-items: flex-end;
        }

        .info {
          font-family: var(--ghs-font-normal);
          font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }

        &.disabled {
          .info {
            color: var(--ghs-color-disabled);
          }
        }
      }

      .warning {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: var(--ghs-font-normal);
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
        color: var(--ghs-color-red);
        cursor: zoom-out;

        img {
          filter: var(--ghs-filter-red);
          height: 0.8em;
          width: auto;
          margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        }

        &:hover {
          opacity: 0.7;
        }
      }

      .undo-dialog {
        display: flex;
        align-items: center;
        margin: 0 calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));

        img.ghs-svg {
          width: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
          height: auto;
          filter: var(--ghs-filter-gray) !important;
          opacity: 0.8;
        }

        &:hover {
          cursor: pointer;

          img.ghs-svg {
            filter: var(--ghs-filter-white) !important;
            opacity: 1;
          }
        }

        &.disabled {
          img.ghs-svg {
            filter: var(--ghs-filter-darkgray) !important;
          }
        }
      }
    }

    &.title {
      cursor: initial;
      border-bottom: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
      margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      white-space: nowrap;

      a,
      label {
        cursor: initial;
        color: var(--ghs-color-disabled);
      }

      &.hide-title {
        border-bottom: none;
        margin-bottom: 0;

        label {
          display: none;
        }
      }
    }

    &.sticky {
      position: sticky;
      top: 0;
      background-image: url('~src/assets/images/dialog_background.png');
      z-index: 1;

      &.fh {
        background-image: url('~src/assets/images/fh/dialog_background_fh.png');
      }

      &.modern {
        background-image: url('~src/assets/images/modern/dialog_background_modern.png');
      }
    }

  }

  .disabled {
    pointer-events: none;
    color: var(--ghs-color-disabled);

    a,
    label {
      color: var(--ghs-color-disabled);
    }

    input[type="checkbox"],
    input[type="radio"] {

      color: var(--ghs-color-disabled);

      &::before {
        background-color: var(--ghs-color-disabled) !important;
      }
    }
  }

  .denied {

    a,
    label {
      color: var(--ghs-color-disabled);
    }
  }

  .objective-marker {
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
  }

  .spoilers {
    &>.spoiler {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);

      .add {
        display: none;
      }

      &:hover {
        .name {
          display: none;
        }

        .add {
          display: inherit;
        }
      }
    }

    &>.spoiler~.spoiler {
      margin-top: 0;
      border-top: none;
    }
  }

  .input-button {
    display: flex;
    cursor: pointer;

    .add-button {
      &::after {
        content: ' ';
        position: relative;
        display: block;
        left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
        background-color: var(--ghs-color-gray);
      }

      &:hover::after {
        background-color: var(--ghs-color-white);
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;

        &::after {
          background-color: var(--ghs-color-disabled);
        }
      }
    }
  }

  select {
    min-width: calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor));
    margin: 0;
    color: var(--ghs-color-white);
    background-color: var(--form-background);
    border-width: calc(var(--ghs-unit) * 0.1);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    font-family: var(--ghs-font-text);
    font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    option {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      color: var(--ghs-color-white);
      background-color: var(--ghs-color-darkgray);
    }
  }

}

@media (max-width: 600px),
(orientation: portrait) {

  .menu-container.two-column {
    .span-xs {
      grid-column: 2 span;
    }
  }

  .menu-container .columns.columns-break {
    flex-wrap: wrap;
  }
}