<a #button class="button menu-button active-outline">
  ☰
</a>
<div #dialog [ngSwitch]="active">
  <div *ngSwitchCase="SubMenu.main" class="menu-container main">
    <div class="line">
      <div class="state">
        <a [ngClass]="{'disabled' : !gameManager.stateManager.hasUndo()}"
          (click)="gameManager.stateManager.undo()">{{'state.undo' | ghsLabel}} </a>
        <a [ngClass]="{'disabled' :!gameManager.stateManager.hasRedo()}"
          (click)="gameManager.stateManager.redo()">{{'state.redo' | ghsLabel}}</a>
      </div>
    </div>

    <div class="line separator">
      <a (click)="active = SubMenu.edition">{{'edition' | ghsLabel}}</a>
    </div>

    <div class="line separator">
      <a (click)="active = SubMenu.scenario">{{'scenario' | ghsLabel}}</a>
    </div>
    <div class="line disabled">
      <a (click)="active = SubMenu.section">{{'section' | ghsLabel}}</a>
    </div>

    <div class="line separator" [ngClass]="{'disabled' : hasAllMonster()}">
      <a (click)="active = SubMenu.monster_add">{{'monster.add' | ghsLabel}}</a>
    </div>
    <div class="line" [ngClass]="{'disabled' : monsters().length == 0}">
      <a (click)="active = SubMenu.monster_remove">{{'monster.remove' | ghsLabel}}</a>
    </div>

    <div class="line separator" [ngClass]="{'disabled' : hasAllCharacter()}">
      <a (click)="active = SubMenu.character_add">{{'character.add' | ghsLabel}}</a>
    </div>
    <div class="line" [ngClass]="{'disabled' : characters().length == 0}">
      <a (click)="active = SubMenu.character_remove">{{'character.remove' | ghsLabel}}</a>
    </div>

    <div class="line separator">
      <a (click)="active = SubMenu.settings">{{'settings' | ghsLabel}}</a>
    </div>

    <div class="line separator">
      <a (click)="active = SubMenu.datamanagement">{{'datamanagement' | ghsLabel}}</a>
    </div>

    <div class="line separator">
      <a (click)="active = SubMenu.about">{{'about' | ghsLabel}}</a>
    </div>

    <div class="line separator" *ngIf="hasUpdate">
      <a (click)="update()">{{'update' | ghsLabel}} (!)</a>
    </div>
  </div>

  <ghs-edition-menu *ngSwitchCase="SubMenu.edition"></ghs-edition-menu>

  <ghs-scenario-menu *ngSwitchCase="SubMenu.scenario"></ghs-scenario-menu>

  <div *ngSwitchCase="SubMenu.character_add" class="menu-container character-add">
    <div class="columns">
      <div class="column spoilers"
        *ngFor="let edition of (gameManager.game.edition ? [gameManager.game.edition] : gameManager.editions);">
        <div class="line title sticky" *ngIf="!gameManager.game.edition">
          <label>{{'data.edition.' + edition  | ghsLabel}}</label>
        </div>
        <div class="line" *ngFor="let characterData of characterData(edition)"
          [ngClass]="{'disabled' : hasCharacter(characterData), 'spoiler' : characterData.spoiler}">
          <a (click)="addCharacter(characterData);" *ngIf="isSpoiled(characterData)">
            <img class="icon"
              [src]="gameManager.characterManager.characterIcon(characterData)" />{{'data.character.' + characterData.name | ghsLabel}}
          </a>
          <a (click)="settingsManager.addSpoiler(characterData.name);" *ngIf="!isSpoiled(characterData)">
            <img class="icon" [src]="gameManager.characterManager.characterIcon(characterData)" />
            <span class="name">
              {{'spoiler.placeholder' | ghsLabel}}</span>
            <span class="add">{{'spoiler.add' | ghsLabel}}</span>
          </a>
        </div>
        <div class="line separator" *ngIf="hasSpoilers(characterData(edition))">
          <a (click)="settingsManager.addSpoilers(notSpoiled(characterData(edition)))">{{'spoiler.all' | ghsLabel}}</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.character_remove" class="menu-container character-remove">
    <div class="line">
      <a (click)="removeAllCharacters()">
        &lt;{{'character.removeAll' | ghsLabel}}&gt;
      </a>
    </div>
    <div class="line" *ngFor="let character of characters()">
      <a (click)="removeCharacter(character);">
        <img class="icon" [src]="gameManager.characterManager.characterIcon(character)" /><span
          *ngIf="character.title">{{character.title}} (</span>
        {{'data.character.' + character.name | ghsLabel}}
        <span *ngIf="character.title">)</span>
      </a>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.monster_add" class="menu-container monster-add">
    <div class="columns">
      <div class="column spoilers"
        *ngFor="let edition of (gameManager.game.edition ? [gameManager.game.edition] : gameManager.editions);">
        <div class="line title sticky" *ngIf="!gameManager.game.edition">
          <label>{{'data.edition.' + edition  | ghsLabel}}</label>
        </div>
        <div class="line" *ngFor="let monsterData of monsterData() | ghsEditionFilter:edition"
          [ngClass]="{'disabled' : hasMonster(monsterData), 'spoiler' : monsterData.spoiler}">
          <a (click)="addMonster(monsterData);" *ngIf="isSpoiled(monsterData)">
            {{'data.monster.' + monsterData.name | ghsLabel}}
          </a>
          <a (click)="settingsManager.addSpoiler(monsterData.name);" *ngIf="!isSpoiled(monsterData)">
            <span class="name">{{'spoiler.placeholder' | ghsLabel}}</span>
            <span class="add">{{'spoiler.add' | ghsLabel}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="line" *ngIf="hasSpoilers(monsterData())">
      <a (click)="settingsManager.addSpoilers(notSpoiled(monsterData()))">{{'spoiler.all' | ghsLabel}}</a>
    </div>
  </div>

  <div *ngSwitchCase="SubMenu.monster_remove" class="menu-container monster-remove">
    <div class="line">
      <a (click)="removeAllMonsters()">
        &lt;{{'monster.removeAll' | ghsLabel}}&gt;
      </a>
    </div>
    <div class="line" *ngFor="let monster of monsters() | ghsSort">
      <a (click)="removeMonster(monster);">
        {{'data.monster.' + monster.name | ghsLabel}}
      </a>
    </div>
  </div>

  <ghs-settings-menu *ngSwitchCase="SubMenu.settings" [setDialogPosition]="setDialogPositionFunc"></ghs-settings-menu>

  <ghs-datamanagement-menu *ngSwitchCase="SubMenu.datamanagement"></ghs-datamanagement-menu>

  <div *ngSwitchCase="SubMenu.about" class="menu-container about">
    <div class="line">
      <p
        [innerHTML]="'about.ip' | ghsHtmlLabel:'<a href=\'https:\/\/cephalofair.com\' target=\'_blank\'>Cephalofair Games</a>'">
      </p>
    </div>
    <div class="line">
      <label>Gloomhaven Secretary v{{version}}</label>
    </div>
    <div class="line">
      <div class="columns">
        <div class="column">
          <p><a href="https://github.com/Lurkars/gloomhavensecretary" target="_blank">{{'about.sourceCode' | ghsLabel}}</a></p>
        </div>
        <div class="column">
          <p
            [innerHTML]="'about.license' | ghsHtmlLabel:'<a href=\'https:\/\/\github.com\/Lurkars\/gloomhavensecretary\/blob\/main\/LICENSE\'  target=\'_blank\'> AGPL3</a>'">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>