.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: calc(var(--ghs-unit) * 6);
  text-shadow: var(--ghs-outline);
  color: var(--ghs-color-gray);
  width: calc(var(--ghs-unit) * 6);
  height: calc(var(--ghs-unit) * 6);
  margin: calc(var(--ghs-unit) * 1);
  cursor: pointer;

  &:hover,
  &.active-button {
    color: var(--ghs-color-white);
  }

}

.menu-container {

  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--ghs-unit) * 7);
  overflow: auto;

  .separator {
    border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
    margin-top: calc(var(--ghs-unit) * 1);
  }



  .columns {
    display: flex;

    .column {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      padding-right: calc(var(--ghs-unit) * 2);
      flex-grow: 1;
    }
  }

  .line {
    display: block;
    width: 100%;
    text-align: left;
    padding: calc(var(--ghs-unit) * 1);

    p {
      margin: 0;
      padding: 0 calc(var(--ghs-unit) * 2);
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 2.5);
      color: var(--ghs-color-gray);
      word-wrap: break-word;
      white-space: wrap;

      a {
        display: inline;
        font-size: calc(var(--ghs-unit) * 2.5);
      }
    }

    a,
    label {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 3);
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      white-space: nowrap;

      &:hover {
        color: var(--ghs-color-white);
      }

      img.icon {
        width: calc(var(--ghs-unit) * 5);
        margin-right: calc(var(--ghs-unit) * 0.5);
        height: auto;
      }

      &.disabled {
        pointer-events: none;
        color: var(--ghs-color-darkgray);
      }
    }

    &.title {
      pointer-events: none;
      border-bottom: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
      margin-bottom: calc(var(--ghs-unit) * 1);
      white-space: nowrap;

      a,
      label {
        color: var(--ghs-color-darkgray);
      }

      &.sticky {
        position: sticky;
        top: 0;
        background-color: var(--ghs-color-black);
      }
    }



    &.disabled {
      pointer-events: none;

      a,
      label {
        color: var(--ghs-color-darkgray);

        input[type="checkbox"]:before {
          background-color: var(--ghs-color-darkgray);
        }
      }
    }

    .state {
      display: flex;
      justify-content: space-between;

      >a {
        margin-right: calc(var(--ghs-unit) * 1);
      }
    }


    &.hidden-monster a {
      font-style: italic;
    }
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    margin: 0;
    color: var(--ghs-color-white);
    background-color: var(--ghs-color-black);
    border-width: calc(var(--ghs-unit) * 0.1);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-unit) * 1);
    user-select: auto;
    font-family: 'ghs-normal';
    font-size: calc(var(--ghs-unit) * 3);
  }


  input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    background-color: var(--form-background);
    width: calc(var(--ghs-unit) * 3);
    height: calc(var(--ghs-unit) * 3);
    border-width: calc(var(--ghs-unit) * 0.3);
    border-style: solid;
    display: grid;
    place-content: center;
    margin-right: calc(var(--ghs-unit) * 1);
    color: var(--ghs-color-gray);

    &:before {
      left: calc(var(--ghs-unit) * 0.5);
      top: calc(var(--ghs-unit) * -0.5);
      position: relative;
      content: ' ';
      width: calc(var(--ghs-unit) * 3);
      height: calc(var(--ghs-unit) * 3);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      color: var(--ghs-color-gray);
      background-color: var(--ghs-color-gray);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:hover::before {
      background-color: var(--ghs-color-white);
    }
  }

  input[type="radio"] {
    appearance: none;
    background-color: var(--form-background);
    width: calc(var(--ghs-unit) * 3);
    height: calc(var(--ghs-unit) * 3);
    border-width: calc(var(--ghs-unit) * 0.3);
    border-style: solid;
    display: grid;
    place-content: center;
    margin-right: calc(var(--ghs-unit) * 1);
    color: var(--ghs-color-gray);

    &:before {
      left: calc(var(--ghs-unit) * 0.5);
      top: calc(var(--ghs-unit) * -0.5);
      position: relative;
      content: ' ';
      width: calc(var(--ghs-unit) * 3);
      height: calc(var(--ghs-unit) * 3);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      color: var(--ghs-color-gray);
      background-color: var(--ghs-color-gray);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:hover::before {
      background-color: var(--ghs-color-white);
    }
  }

  .bosses {
    &>.boss {
      margin-top: calc(var(--ghs-unit) * 1);
      border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
    }

    &>.boss~.boss {
      margin-top: 0;
      border-top: none;
    }
  }

  .objective-id {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(var(--ghs-unit) * 5);
    height: calc(var(--ghs-unit) * 5);
    overflow: hidden;
    background-color: var(--ghs-color-red);
    color: var(--ghs-color-white);
    font-family: 'ghs-title';
    font-size: calc(var(--ghs-unit) * 5);
    line-height: calc(var(--ghs-unit) * 3.5);
    border-radius: 100%;
    border-color: var(--ghs-color-white);
    border-style: solid;
    border-width: calc(var(--ghs-unit) * 0.4);
    margin-right: calc(var(--ghs-unit) * 0.4);
  }

  .spoilers {
    &>.spoiler {
      margin-top: calc(var(--ghs-unit) * 1);
      border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);

      .add {
        display: none;
      }

      &:hover {
        .name {
          display: none;
        }

        .add {
          display: inherit;
        }
      }
    }

    &>.spoiler~.spoiler {
      margin-top: 0;
      border-top: none;
    }
  }




}