:host {
  position: relative;
}

.back {
  cursor: pointer;
  position: absolute;
  top: calc(var(--ghs-unit) * 5);
  left: 0;
  width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
  z-index: 1000;

  .ghs-svg {
    filter: var(--ghs-filter-gray) !important;
  }

  &:hover {
    .ghs-svg {
      filter: var(--ghs-filter-white) !important;
    }
  }

  &.disabled {
    pointer-events: none;

    .ghs-svg {
      filter: var(--ghs-filter-darkgray) !important;
    }
  }
}

.menu-container {

  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
  padding-bottom: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

  .separator {
    border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
    margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
  }

  .columns {
    display: flex;

    .column {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      padding-right: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      flex-grow: 1;

      &.no-grow {
        flex-grow: 0;
      }
    }
  }

  .line {
    display: block;
    width: 100%;
    text-align: left;
    padding: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

    p {
      margin: 0;
      padding: 0 calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);
      word-wrap: break-word;
      white-space: wrap;

      a {
        display: inline;
        font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
      }
    }

    a,
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-gray);
      text-shadow: var(--ghs-outline);
      white-space: nowrap;

      &:hover {
        color: var(--ghs-color-white);
      }

      img.icon {
        width: calc(var(--ghs-unit) * 5 * var(--ghs-dialog-factor));
        margin-right: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        height: auto;
      }

      &.disabled {
        pointer-events: none;
        color: var(--ghs-color-darkgray);
      }
    }


    .state {

      flex-wrap: wrap;

      a {
        display: flex;
        flex-direction: column;

        &.undo {
          align-items: flex-start;
        }

        &.redo {
          align-items: flex-end;
        }

        .info {
          font-family: 'ghs-normal';
          font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
        }
      }

    }

    &.title {
      pointer-events: none;
      border-bottom: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);
      margin-bottom: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      white-space: nowrap;

      a,
      label {
        color: var(--ghs-color-darkgray);
      }
    }

    &.sticky {
      position: sticky;
      top: 0;
      background-color: var(--ghs-color-black);
    }

    .state {
      display: flex;
      justify-content: space-between;

      >a {
        margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      }
    }


    &.hidden-monster a {
      font-style: italic;
      font-size: calc(var(--ghs-unit) * 2.7 * var(--ghs-dialog-factor));
    }

  }

  .disabled {
    pointer-events: none;
    color: var(--ghs-color-darkgray);

    a,
    label {
      color: var(--ghs-color-darkgray);
    }

    input[type="checkbox"],
    input[type="radio"] {

      color: var(--ghs-color-darkgray);

      &::before {
        background-color: var(--ghs-color-darkgray) !important;
      }
    }
  }

  .denied {

    a,
    label {
      color: var(--ghs-color-darkgray);
    }
  }

  .bosses {
    &>.boss {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      border-top: calc(var(--ghs-unit) * 0.1 * var(--ghs-dialog-factor)) solid var(--ghs-color-gray);
    }

    &>.boss~.boss {
      margin-top: 0;
      border-top: none;
    }
  }

  .objective-id {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    overflow: hidden;
    background-color: var(--ghs-color-red);
    color: var(--ghs-color-white);
    font-family: "ghs-title";
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    line-height: calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    border-radius: 100%;
    border-color: var(--ghs-color-white);
    border-style: solid;
    border-width: calc(var(--ghs-unit) * 0.2);
    margin-left: calc(var(--ghs-unit) * 0.2 * var(--ghs-dialog-factor));
    text-shadow: none;
  }

  .spoilers {
    &>.spoiler {
      margin-top: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));
      border-top: calc(var(--ghs-unit) * 0.1) solid var(--ghs-color-gray);

      .add {
        display: none;
      }

      &:hover {
        .name {
          display: none;
        }

        .add {
          display: inherit;
        }
      }
    }

    .line:nth-child(2) {
      margin-top: 0;
      border-top: none;
    }

    &>.spoiler~.spoiler {
      margin-top: 0;
      border-top: none;
    }
  }

  .input-button {
    display: flex;
    cursor: pointer;

    .add-button {
      &::after {
        content: ' ';
        position: relative;
        display: block;
        left: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        top: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
        width: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        height: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
        clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
        background-color: var(--ghs-color-gray);
      }

      &:hover::after {
        background-color: var(--ghs-color-white);
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;

        &::after {
          background-color: var(--ghs-color-darkgray);
        }
      }
    }
  }

  &.character-add {
    min-width: calc(var(--ghs-unit) * 45 * var(--ghs-dialog-factor));
  }

  &.monster-add {
    min-width: calc(var(--ghs-unit) * 30 * var(--ghs-dialog-factor));
  }


  .level-container {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(5, calc(var(--ghs-unit) * 8 * var(--ghs-dialog-factor)));
    padding: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor)) calc(var(--ghs-unit) * 2.5 * var(--ghs-dialog-factor));
    background-color: var(--ghs-color-black);
    z-index: 1;

    span.item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    }

    img {
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      width: auto;
    }

    .level {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
      cursor: pointer;
      font-family: 'ghs-title';
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
      color: var(--ghs-color-white);
      text-shadow: var(--ghs-outline);

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

      &.active {
        pointer-events: none;
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }
    }

    &+.columns .column .line.sticky, &+.columns .column .line:not(sticky):first-child {
      padding-top: calc(var(--ghs-unit) * 15 * var(--ghs-dialog-factor));
    }

  }

  .hidden-monster-menu {
    position: fixed;
    background-color: var(--ghs-color-black);
    z-index: 1;
    width: inherit;

    &+.columns .column .line.sticky, &+.columns .column .line:not(sticky):first-child  {
      padding-top: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    }
  }

}