@font-face {
  font-family: 'ghs-normal';
  src: url('./assets/font/nyala.ttf') format('truetype');
}

@font-face {
  font-family: 'ghs-title';
  src: url('./assets/font/PirataOne-Gloomhaven.ttf') format('truetype');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'ghs-normal';
  --ghs-width: 100px;
  --ghs-factor: 100;
  --ghs-unit: calc(var(--ghs-width) / var(--ghs-factor));
  --ghs-color-white: #fff;
  --ghs-color-black: #000;
  --ghs-color-gray: #98b0b5;
  --ghs-color-darkgray: #202830;
  --ghs-color-yellow: #eca610;
  --ghs-color-blue: #56c8ef;
  --ghs-color-green: #7da82a;
  --ghs-color-red: #e2421f;
  --ghs-outline: calc(var(--ghs-unit) * -0.2) 0px var(--ghs-color-black), 0px calc(var(--ghs-unit) * 0.2) var(--ghs-color-black), calc(var(--ghs-unit) * 0.2) 0px var(--ghs-color-black), 0px calc(var(--ghs-unit) * -0.2) var(--ghs-color-black);
  --ghs-outline-thin: calc(var(--ghs-unit) * -0.1) 0px var(--ghs-color-black), 0px calc(var(--ghs-unit) * 0.1) var(--ghs-color-black), calc(var(--ghs-unit) * 0.1) 0px var(--ghs-color-black), 0px calc(var(--ghs-unit) * -0.1) var(--ghs-color-black);

  &.working {
    cursor: progress;

    * {
      pointer-events: none;
    }
  }
}


@media (max-width: 500px) {
  body {
    --ghs-width: 100vw;
  }
}

@media (min-width: 500px) {
  body {
    --ghs-width: 500px;
  }
}

@media (min-width: 800px) {
  body {
    --ghs-width: 800px;
  }
}

@media (min-width: 1000px) {
  body {
    --ghs-width: 1000px;
  }
}

app-root,
ghs-main {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

ghs-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inactive {
  filter: grayscale(100%);
}

.active-border {
  box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.5) var(--ghs-color-blue);
}

.outline {
  color: var(--ghs-color-white);
  text-shadow: var(--ghs-outline);
}

.card-container {
  background-color: transparent;
  height: 100%;
  max-height: 100%;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateX(180deg);
  }

  &.reveal {
    cursor: pointer;
  }

  .revealed {
    display: none;
  }

  &.confirm {
    .revealed {
      display: inline-block;
    }
  }


  .card-front,
  .card-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    overflow: hidden;
  }

  .card-back {
    transform: rotateX(180deg);
  }
}

.spacer {
  flex: 1 1 auto;
}

.dialog-backdrop,
.popup-backdrop {
  z-index: 1000;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.entity-animation {
  transition: opacity 1.5s linear, transform 1.5s ease-out;
  opacity: 1;
  transform: translate(0, 0);
  overflow: visible;
  filter: none;

  &.hidden {
    opacity: 0;
    transform: translate(0%, 100%);
    filter: grayscale(100%);
  }
}

@keyframes shake-animation {

  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }

  25%,
  58% {
    -webkit-transform: translateX(10px);
  }

  75% {
    -webkit-transform: translateX(-5px);
  }

  92% {
    -webkit-transform: translateX(5px);
  }

  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}