<div class="menu-container character-add">
  <div class="level-container">
    <span class="item"><img src="./assets/images/status/level.svg" /></span>
    <span class="item" *ngFor="let level of [] | ghsRange:9"><a class="level"
        [ngClass]="{'active' : level + 1 == characterLevel}" (click)="characterLevel = level+1">{{level
        +1}}</a></span>
    <div class="line search">
      <input [(ngModel)]="filter" type="text" [placeholder]="'character.filter' | ghsLabel">
      <label *ngIf="gameManager.game.edition">
        <input type="checkbox" [checked]="allEditions" (change)="allEditions = !allEditions">
        {{'character.filter.allEditions' | ghsLabel}}
      </label>
    </div>
  </div>
  <div class="columns">
    <ng-container *ngFor="let edition of (allEditions ? gameManager.editions() : gameManager.currentEditions(true))">
      <div class="column spoilers" *ngIf="characterData(filter, edition).length > 0">
        <div class="line title sticky">
          <label>{{'data.edition.' + edition | ghsLabel}}</label>
        </div>
        <div class="line separator reveal-all" *ngIf="locked(characterData(filter, edition))">
          <a (click)="unlockAll(edition)">{{'character.unlockAll' |
            ghsLabel}}</a>
        </div>
        <div class="line" *ngFor="let characterData of characterData(filter, edition)"
          [ngClass]="{'disabled' : hasCharacter(characterData), 'spoiler' : characterData.spoiler}">
          <a (click)="addCharacter(characterData);" *ngIf="unlocked(characterData)">
            <img class="icon" [src]="characterData.iconUrl" />{{'data.character.'
            + characterData.name | ghsLabel}}
          </a>
          <a (click)="unlock(characterData)" *ngIf="!unlocked(characterData)">
            <img class="icon spoiler" [src]="characterData.iconUrl" />
            <span class="name">
              {{'spoiler.placeholder' | ghsLabel}}</span>
            <span class="add">{{'character.unlock' | ghsLabel}}</span>
          </a>
        </div>
      </div>
    </ng-container>
    <div class="column" *ngIf="filter && noResults()">
      <div class="line">
        <label>{{'character.filter.noResult' | ghsLabel}}</label>
      </div>
    </div>
  </div>
</div>