<div class="attack-modifiers"
  [ngClass]="{'disabled' : gameManager.game.state == GameState.draw, 'denied' : gameManager.stateManager.permissions && !gameManager.stateManager.permissions.attackModifiers}">
  <div class="card-container attack-modifier draw" title="{{'game.cards.draw' | ghsLabel}}">
    <div class="card" (click)="draw()">
      <a class="card-back back">
        <span class="number" *ngIf="gameManager.game.attackModifier < gameManager.game.attackModifiers.length -1">{{
          gameManager.game.attackModifiers.length - gameManager.game.attackModifier - 1 }}</span>
        <img *ngIf="gameManager.game.attackModifier == gameManager.game.attackModifiers.length -1" class="shuffle"
          src="./assets/images/shuffle.svg">
      </a>
      <div class="card-front"></div>
    </div>
  </div>

  <div class="card-container attack-modifier monster {{attackModifier.type}}"
    *ngFor="let attackModifier of gameManager.game.attackModifiers; let index = index;"
    [style.z-index]="index > currentAttackModifier ? gameManager.game.attackModifiers.length - index : gameManager.game.attackModifiers.length + index + 1"
    [ngClass]="{'disgarded' : index < currentAttackModifier - 1, 'current' : index == currentAttackModifier, 'last' : index == currentAttackModifier - 1}"
    title="{{(index > currentAttackModifier ? 'game.cards.draw' : 'game.attackModifiers.openDialog') | ghsLabel}}">
    <div class="card" [ngClass]="{'flipped' : index <= currentAttackModifier}" (click)="click(attackModifier)">
      <a class="card-back back">
        <span class="number" *ngIf="index > currentAttackModifier">{{
          gameManager.game.attackModifiers.length - gameManager.game.attackModifier - 1 }}</span>
      </a>
      <div class="card-front front">
        <img src="./assets/images/attackmodifier/{{attackModifier.type}}.png" />
      </div>
    </div>
  </div>
</div>

<div #popup class="attack-modifiers-popup">
  <div class="menu">
    <a (click)="reveal = (reveal + 1) % 3">{{(reveal == 2 ? 'game.cards.coverAll' : (reveal == 0 ?
      'game.cards.revealAll' : 'game.cards.revealAllConfirm')) | ghsLabel}}</a>
    <a (click)="shuffle()">{{'game.cards.shuffle' | ghsLabel}}</a>
    <a *ngIf="hasDrawnDiscards()" (click)="removeDrawnDiscards()">{{'game.cards.removeDrawnDiscards' | ghsLabel}}</a>
    <label><input type="checkbox" (click)="toggleEdit()" [checked]="edit">{{'game.cards.edit' | ghsLabel}}</label>
    <a *ngIf="edit" (click)="restoreDefault()">{{'game.cards.restore' | ghsLabel}}</a>
    <div *ngIf="edit" class="insert-menu">
      <a class="icon-button" (click)="newShuffle(type)"><img class="ghs-svg" src="./assets/images/shuffle.svg"></a>
      <a class="icon-button" (click)="changeType(true)"><img class="ghs-svg" src="./assets/images/left.svg"></a>
      <span class="attack-modifier"><img src="./assets/images/attackmodifier/{{type}}.png" /></span>
      <a class="icon-button" (click)="changeType()"><img class="ghs-svg" src="./assets/images/right.svg"></a>
      <a class="icon-button" (click)="newFirst(type)"><img class="ghs-svg" src="./assets/images/plus.svg"></a>
    </div>
  </div>
  <div class="attack-modifiers-container">
    <div class="upcoming drop-list" cdkDropList [cdkDropListDisabled]="!edit" #upcomingList="cdkDropList"
      [cdkDropListConnectedTo]="disgardedList" (cdkDropListDropped)="dropUpcoming($event)"
      [cdkDropListAutoScrollStep]="20">
      <div class="empty" *ngIf="upcomingCards().length == 0"></div>
      <div class="card-container attack-modifier drag-hidden monster {{attackModifier.type}}"
        *ngFor="let attackModifier of upcomingCards();let index = index;" cdkDrag>
        <div class="card" card-reveal (change)="onChange(attackModifier, $event)"
          [ngClass]="{'flipped' : reveal == 2 || attackModifier.revealed}">
          <a class="card-back back">
            <span class="revealed">{{'game.cards.confirmReveal' | ghsLabel}}</span>
          </a>
          <div class="card-front front">
            <img src="./assets/images/attackmodifier/{{attackModifier.type}}.png" />
          </div>
          <a class="button-remove" *ngIf="edit" (click)="remove(index)"><img class="ghs-svg"
              src="./assets/images/minus.svg"></a>
        </div>
      </div>
    </div>

    <div class="disgarded drop-list" cdkDropList [cdkDropListDisabled]="!edit" #disgardedList="cdkDropList"
      [cdkDropListConnectedTo]="upcomingList" (cdkDropListDropped)="dropDisgarded($event)"
      [cdkDropListAutoScrollStep]="20">
      <div class="empty" *ngIf="disgardedCards().length == 0"></div>
      <div class="card-container attack-modifier drag-hidden monster {{attackModifier.type}}"
        *ngFor="let attackModifier of disgardedCards();" cdkDrag>
        <div class="card flipped">
          <a class="card-back back">
          </a>
          <div class="card-front front">
            <img src="./assets/images/attackmodifier/{{attackModifier.type}}.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>