ghs-element {

  .element {

    display: block;
    position: relative;
    width: calc(var(--ghs-unit) * 6.5 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 6.5 * var(--ghs-text-factor) * var(--ghs-barsize));

    margin: 0 calc(var(--ghs-unit) * 0.75);

    &:hover {
      width: calc(var(--ghs-unit) * 7.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      height: calc(var(--ghs-unit) * 7.5 * var(--ghs-text-factor) * var(--ghs-barsize));
      margin: 0 calc(var(--ghs-unit) * 0.25);
    }

    ghs-drag-click {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    ghs-element-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .element-svg {

      #outline {
        display: none;
      }

      #outline,
      #symbol {
        path {
          fill: var(--ghs-color-gray) !important;
        }
      }
    }

    .element-svg.dark {
      #bg {
        fill: #203184 !important;
      }
    }


    &:hover .element-svg,
    .element-svg.full,
    .element-svg.half {

      #outline,
      #symbol {
        display: inherit;

        path {
          fill: var(--ghs-color-white) !important;
        }
      }
    }
  }
}