ghs-element-icon {

  margin-right: calc(var(--ghs-unit) * 0.5);

  span {
    cursor: pointer;
    display: block;
    width: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor) * var(--ghs-barsize));
    height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor) * var(--ghs-barsize));

    svg {
      width: 100%;
      height: 100%;
    }

    #outline {
      display: none;
    }

    #bg {
      transition: clip-path 1s;
      clip-path: inset(100% 0px 0px 0px);
    }

    #outline,
    #symbol {
      path {
        fill: var(--ghs-color-white) !important;
      }
    }

    &:hover,
    &.full,
    &.half {
      #outline,
      #symbol {
        display: inherit;
      }
    }

    &.full {
      #bg {
        clip-path: inset(0% 0px 0px 0px);
      }
    }

    &.half {
      #bg {
        clip-path: inset(50% 0px 0px 0px);
      }
    }
  }
}