.element-svg {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  #bg {
    transition: clip-path 1s;
  }

  &.inert {
    #bg {
      clip-path: inset(100% 0px 0px 0px);
    }
  }

  &.full,
  &.new {
    #bg {
      clip-path: inset(0% 0px 0px 0px);
    }
  }

  &.new {
    opacity: 0.7;
  }

  &.half {
    #bg {
      clip-path: inset(50% 0px 0px 0px);
    }
  }
}