.effect {

    font-family: var(--ghs-font-text);
    font-size: 1.2em;
    font-weight: bold;

    &.city {
        font-weight: normal;
    }

    &.fh {
        font-size: 0.94em;
        font-family: var(--ghs-font-fh-normal);
    }

    .inline {
        display: inline-block;

        &::first-letter {
            text-transform: lowercase;
        }
    }

    .checkbox-container {
        display: flex;
        flex-wrap: wrap;

        label {
            display: flex;

            &.has-value {
                width: 100%;
            }

            .checkbox {
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0.8em;
                height: 0.8em;
                border: 0.15em solid var(--ghs-color-black);
                background-color: var(--ghs-color-white);
                border-radius: 0.1em;
                box-shadow: 0.15em 0.15em var(--ghs-color-gray);
                z-index: 2;
                margin-right: 0.4em;

                &::before {
                    content: ' ';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 115%;
                    height: 115%;
                    transform: scale(0);
                    transform-origin: top left;
                    transition: 120ms transform ease-in-out;
                    z-index: 1;
                    background-image: url('~src/assets/images/checkmark.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    filter: var(--ghs-filter-darkgray);
                }

                &.checked::before {
                    transform: scale(1) translate(-50%, -50%);
                }

                &.checked.check::before {
                    transform: scale(1);
                }

                &.light {
                    border: 0.1em solid var(--ghs-color-white);
                    background-color: transparent;

                    &::before {
                        filter: var(--ghs-filter-white);
                    }
                }
            }
        }
    }
}