.event-card-container {
    position: relative;
    width: 100%;
    padding-bottom: 147%;
}

.event {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.2em solid transparent;
    border-radius: 0.5em;

    .card-front {
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0.5em;
        background-color: var(--ghs-color-lightgray);

        &.city {
            background-image: url('~src/assets/images/eventcards/city-front.png');
            color: var(--ghs-color-white);

            .options .option .card-action .ghs-svg {
                filter: var(--ghs-filter-white);
            }

            .card-id {
                color: var(--ghs-color-white);
            }
        }

        &.road {
            background-image: url('~src/assets/images/eventcards/road-front.png');
            color: var(--ghs-color-darkgray);

            .options .option {

                &::before {
                    color: var(--ghs-color-brown);
                }

                &:nth-child(2)::before {
                    filter: grayscale(0.7);
                }
            }
        }


        &.rift {
            background-image: url('~src/assets/images/eventcards/rift-front.png');
            color: var(--ghs-color-darkgray);

            .options .option {

                &::before {
                    color: var(--ghs-color-purple);
                    filter: brightness(0.5);
                }

                &:nth-child(2)::before {
                    filter: brightness(0.5) grayscale(0.6);
                }

                .card-action .ghs-svg {
                    filter: var(--ghs-filter-black);
                }
            }
        }

        &.boat,
        &.winter-road,
        &.summer-road,
        &.winter-outpost,
        &.summer-outpost {
            .options .option {
                padding-left: 2.5em;
                font-size: 0.63em;

                &::before {
                    font-family: var(--ghs-font-fh-text);
                    font-size: 1.6em;
                    left: 0.5em;
                    top: 1.3em;
                }

                &:nth-child(2)::before,
                &:nth-child(3)::before {
                    top: 0.9em;
                }

                .outcome {

                    .text,
                    .condition {
                        font-family: var(--ghs-font-fh-normal);
                    }
                }
            }
        }

        .options {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: 100%;

            .option {
                position: relative;
                display: flex;
                flex-direction: column;
                font-size: 0.6em;
                line-height: 0.9em;
                letter-spacing: -0.01em;
                padding-top: 1.5em;
                padding-left: 4em;
                padding-right: 2em;
                filter: grayscale(0.7);
                opacity: 0.3;
                overflow: auto;
                max-height: 50%;
                flex: 1 1 auto;

                &.single {
                    max-height: 100%;
                    padding-left: 2em;

                    &::before {
                        display: none;
                    }
                }

                &:first-child {
                    padding-top: 2em;
                }

                &::before {
                    position: absolute;
                    left: 1em;
                    top: 1.5em;
                    font-family: var(--ghs-font-title);
                    font-size: 2em;
                    opacity: 0.3;
                }

                &:nth-child(1)::before {
                    content: "A.";
                }

                &:nth-child(2)::before {
                    content: "B.";
                    top: 1em;
                }

                &:nth-child(3)::before {
                    content: "C.";
                    top: 1em;
                }

                .outcome {
                    position: relative;
                    margin-bottom: 0.5em;

                    .text,
                    .condition {
                        font-family: var(--ghs-font-text);
                        font-style: italic;
                        margin-bottom: 0.5em;
                        letter-spacing: -0.03em;

                        &.condition {
                            text-transform: uppercase;
                        }
                    }

                    .effects {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 0.5em;

                        ghs-event-card-effect {
                            position: relative;
                            width: 100%;
                        }
                    }

                    .card-action {
                        bottom: 0em;
                        right: -1em;
                    }
                }

                .card-action {
                    position: absolute;
                    bottom: 1em;
                    right: 1em;

                    .ghs-svg {
                        width: 2em;
                        height: auto;
                    }
                }

                &:hover:not(.selected) {
                    opacity: 0.7;

                    &::before {
                        opacity: 0.7;
                    }
                }

                &.selected {
                    filter: none;
                    opacity: 1;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

    }

    .card-back {
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0.5em;
        background-color: var(--ghs-color-lightgray);

        &.city {
            background-image: url('~src/assets/images/eventcards/city-back.png');
            color: var(--ghs-color-white);

            .wrapper .content .options::before {
                filter: none;
            }

            .card-id {
                color: var(--ghs-color-white);
            }
        }

        &.road {
            background-image: url('~src/assets/images/eventcards/road-back.png');
            color: var(--ghs-color-darkgray);

            .card-id {
                color: var(--ghs-color-white);
            }
        }

        &.rift {
            background-image: url('~src/assets/images/eventcards/rift-back.png');
            color: var(--ghs-color-darkgray);

            .card-id {
                color: var(--ghs-color-white);
            }
        }

        &.boat {
            background-image: url('~src/assets/images/eventcards/boat-back.png');
        }

        &.winter-road {
            background-image: url('~src/assets/images/eventcards/winter-road-back.png');
        }


        &.summer-road {
            background-image: url('~src/assets/images/eventcards/summer-road-back.png');
        }

        &.summer-outpost {
            background-image: url('~src/assets/images/eventcards/summer-outpost-back.png');
        }

        &.winter-outpost {
            background-image: url('~src/assets/images/eventcards/winter-outpost-back.png');
        }

        &.boat,
        &.winter-road,
        &.summer-road,
        &.winter-outpost,
        &.summer-outpost {
            .wrapper {
                &::before {
                    display: none;
                }

                .content {
                    &::before {
                        display: none;
                    }

                    padding: 0 8%;
                    padding-top: 5%;

                    .text {
                        font-family: var(--ghs-font-fh-normal);
                    }

                    .options .option {
                        font-family: var(--ghs-font-fh-normal);
                    }
                }
            }

            .card-id {
                font-family: var(--ghs-font-fh-title);
                transform: rotate(90deg);
                font-size: 0.8em;
                left: initial;
                right: -6%;
                width: 22%;
                height: 6%;
                top: 78%;
                background-size: 100% 100%;
                background-position: top left;
                background-repeat: no-repeat;
                background-image: url('~src/assets/images/eventcards/fh-card-id.png');
                filter: var(--ghs-filter-shadow);
            }
        }

        .wrapper {
            position: absolute;
            top: 12%;
            width: 100%;
            height: 88%;
            margin: 0;
            z-index: 2;

            &::before {
                content: " ";
                float: left;
                height: 100%;
                width: 50%;
                shape-outside: polygon(100% 7%,
                        100% 0%,
                        0% 0%,
                        0% 100%,
                        22% 100%,
                        22% 28%,
                        30% 18%,
                        38% 11%,
                        70% 5.5%);
                shape-margin: 3%;
            }

            .content {
                width: 100%;
                height: 100%;

                &::before {
                    content: " ";
                    float: right;
                    height: 100%;
                    width: 50%;
                    shape-outside: polygon(0% 7%,
                            0% 0%,
                            100% 0%,
                            100% 100%,
                            78% 100%,
                            78% 28%,
                            70% 18%,
                            62% 11%,
                            30% 5.5%);
                    shape-margin: 3%;
                }

                .text {
                    font-family: var(--ghs-font-text);
                    font-size: 0.6em;
                    line-height: 0.9em;
                    letter-spacing: -0.01em;
                    font-style: italic;
                    min-height: 65%;
                    text-align: justify;
                }

                .options {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5em;

                    &::before {
                        content: " ";
                        position: absolute;
                        top: -0.1em;
                        left: 0;
                        height: 0.1em;
                        width: 100%;
                        background-size: 100% 100%;
                        background-image: url('~src/assets/images/eventcards/divider.png');
                        filter: brightness(0);
                    }

                    .option {
                        cursor: pointer;
                        margin-top: 0.4em;
                        font-family: var(--ghs-font-text);
                        font-size: 0.6em;
                        line-height: 0.9em;
                        letter-spacing: -0.01em;

                        .title {
                            font-weight: bold;
                            margin-right: 0.3em;
                        }

                        &:hover {
                            opacity: 0.7;
                        }

                        &.single {
                            font-weight: bold;

                            .title {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .card-id {
            position: absolute;
            top: 89%;
            left: 50%;
            width: 60%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            transform: translateX(-50%);
            font-family: var(--ghs-font-title);
            font-size: 0.6em;
            padding-top: 0.1em;
            z-index: 1;
        }
    }


    &.disabled {
        cursor: initial;
    }
}