<div class="menu-container two-column server">
  <div class="column">
    <div class="line">
      <label>
        <input type="checkbox" [checked]="settingsManager.settings.serverAutoconnect"
          (change)="settingsManager.setServerAutoconnect(!settingsManager.settings.serverAutoconnect)">
        {{'server.autoconnect' | ghsLabel}}
      </label>
    </div>

    <div class="line">
      <label>
        <input type="checkbox" [checked]="settingsManager.settings.serverSettings"
          (change)="settingsManager.setServerSettings(!settingsManager.settings.serverSettings)">
        {{'server.settings' | ghsLabel}}
      </label>
    </div>

    <div class="line" [ngSwitch]="gameManager.stateManager.wsState()">
      <p *ngSwitchCase="WebSocket.OPEN">{{'server.connected' | ghsLabel}}</p>
      <p *ngSwitchCase="WebSocket.CONNECTING">{{'server.connecting' | ghsLabel}}</p>
      <p *ngSwitchCase="WebSocket.CLOSING">{{'server.closing' | ghsLabel}}</p>
      <p *ngSwitchCase="WebSocket.CLOSED">{{'server.closed' | ghsLabel}}</p>
      <p *ngSwitchCase="-1">{{'server.disconnected' | ghsLabel}}</p>
      <p *ngSwitchDefault>{{'server.undefined' | ghsLabel}}</p>
    </div>

    <div class="line separator" *ngIf="publicServer">
      <select (change)="selectServer($event)">
        <option>{{('server.list.' + (selectedServerIndex == -1 ? 'select' : 'deselect')) | ghsLabel}}</option>
        <option *ngFor="let server of publicServer; let i = index;" [value]="i" [selected]="selectedServerIndex == i">
          {{server.url}}:{{server.port}}</option>
      </select>
    </div>

    <div class="server-info" *ngIf="selectedServerIndex != -1">
      <a [href]="publicServer[selectedServerIndex].privacy" target="_blank">{{'server.info.privacy' | ghsLabel}}</a>
      <a [href]="publicServer[selectedServerIndex].website" target="_blank">{{'server.info.website' | ghsLabel}}</a>

      <label>{{'server.info.description' | ghsLabel}}</label>
      <p>{{publicServer[selectedServerIndex].description}}</p>

      <label>{{'server.info.location' | ghsLabel}}</label>
      <p>{{publicServer[selectedServerIndex].location}}</p>
    </div>

    <div class="line separator" [ngClass]="{'hidden' : selectedServerIndex != -1}">
      <label class="label">{{'server.url' | ghsLabel}}</label>
      <input type="text" #serverUrl [value]="settingsManager.settings.serverUrl || ''" (keyup)="0"
        (change)="setServerUrl($event)" placeholder="{{'server.url' | ghsLabel}}">
    </div>
    <div class="line" [ngClass]="{'hidden' : selectedServerIndex != -1}">
      <label class="label">{{'server.port' | ghsLabel}}</label>
      <input type="number" #serverPort [value]="settingsManager.settings.serverPort || ''" (keyup)="0"
        (change)="setServerPort($event)" placeholder="{{'server.port' | ghsLabel}}">
    </div>
    <div class="line">
      <div class="password-container">
        <label class="label">{{'server.password' | ghsLabel}}</label>
        <span class="spacer"></span>
        <a *ngIf="!settingsManager.settings.serverPassword" (click)="createUUID()">{{'server.password.uuid' |
          ghsLabel}}</a>
      </div>
      <input type="text" #serverPassword [value]="settingsManager.settings.serverPassword || ''" (keyup)="0"
        (change)="setServerPassword($event)" placeholder="{{'server.password' | ghsLabel}}">
    </div>

    <div class="columns" [ngClass]="{'hidden' : selectedServerIndex != -1}">
      <div class="column">
        <div class="line">
          <label>
            <input type="checkbox" [checked]="settingsManager.settings.serverWss" (change)="settingsManager.setServerWss(!settingsManager.settings.serverWss);
                this.updateServer();">
            {{'server.wss' | ghsLabel}}
          </label>
        </div>
      </div>
      <div class="column"
        *ngIf="settingsManager.settings.serverWss && serverUrl.value && serverPort.value && serverPassword.value && tryConnect && gameManager.stateManager.wsState() != WebSocket.OPEN">
        <div class="line">
          <a target="_blank"
            [href]="gameManager.stateManager.buildWsUrl('https://', serverUrl.value, serverPort.value)">{{'server.wss.accept'
            | ghsLabel}}</a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="line">
          <a (click)="connect(serverUrl.value,serverPort.value,serverPassword.value)"
            [ngClass]="{'disabled' : !serverUrl.value || !serverPort.value || !serverPassword.value}">{{(gameManager.stateManager.wsState()
            == WebSocket.OPEN ? 'server.reconnect' : 'server.connect') |
            ghsLabel}}</a>
        </div>
      </div>
      <div class="column" *ngIf="gameManager.stateManager.wsState() == WebSocket.OPEN">
        <div class="line">
          <a (click)="disconnect()">{{'server.disconnect' | ghsLabel}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="column" *ngIf="gameManager.stateManager.wsState() == WebSocket.OPEN">
    <div class="line title">
      <label>{{'permissions' | ghsLabel}}</label>
    </div>
    <ng-container *ngIf="!gameManager.stateManager.permissions">
      <div class="line">
        <p>{{'permissions.hasAll' | ghsLabel}}</p>
      </div>
      <div class="line title">
        <label>{{'permissions.create' | ghsLabel}}</label>
      </div>
      <div class="line">
        <div class="hint-container">
          <label>
            <input type="checkbox" [checked]="!permissions" (change)="permissionsAll($event)">
            {{'permissions.all' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.all.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>
      <div class="line">
        <div class="hint-container">
          <label>
            <input type="checkbox" [checked]="permissions" (change)="permissionsCustom($event)">
            {{'permissions.custom' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.custom.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="getPermissions() && permissions">
      <div class="line"
        *ngIf="!gameManager.stateManager.permissions || permissions && permissions.character.length == 0"
        [ngClass]="{'separator' : !gameManager.stateManager.permissions}">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.characters"
              (change)="permissions.characters = !permissions.characters">
            {{'permissions.characters' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.characters.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line characters" *ngIf="!permissions.characters">
        <ng-container *ngFor="let character of characters()">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="hasCharacter(character)" (change)="toggleCharacter(character)">
            <span *ngIf="character.title">{{character.title}} (</span>
            {{'data.character.' + character.name | ghsLabel}}
            <span *ngIf="character.title">)</span><span class="edition"
              *ngIf="gameManager.getEdition(character)">&nbsp;[{{'data.edition.' + gameManager.getEdition(character) |
              ghsLabel}}]</span>
          </label>
        </ng-container>
      </div>

      <div class="line" *ngIf="!gameManager.stateManager.permissions || permissions && permissions.monster.length == 0">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.monsters"
              (change)="permissions.monsters = !permissions.monsters">
            {{'permissions.monsters' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.monsters.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line monsters" *ngIf="!permissions.monsters">
        <ng-container *ngFor="let monster of monsters()">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="hasMonster(monster)" (change)="toggleMonster(monster)">
            <span [i18n]="'data.monster.' + monster.name"></span> <span *ngIf="monster.isAlly">({{'game.ally' |
              ghsLabel}})</span> <span class="edition" *ngIf="gameManager.getEdition(monster)">&nbsp;[{{'data.edition.'
              + gameManager.getEdition(monster) |
              ghsLabel}}]</span>
          </label>
        </ng-container>
      </div>

      <div class="line">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.scenario"
              (change)="permissions.scenario = !permissions.scenario">
            {{'permissions.scenario' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.scenario.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.elements"
              (change)="permissions.elements = !permissions.elements">
            {{'permissions.elements' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.elements.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.round" (change)="permissions.round = !permissions.round">
            {{'permissions.round' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.round.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.level" (change)="permissions.level = !permissions.level">
            {{'permissions.level' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.level.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.attackModifiers"
              (change)="permissions.attackModifiers = !permissions.attackModifiers">
            {{'permissions.attackModifiers' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.attackModifiers.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>

      <div class="line">
        <div class="hint-container">
          <label [ngClass]="{'disabled' : gameManager.stateManager.permissions}">
            <input type="checkbox" [checked]="permissions.lootDeck"
              (change)="permissions.lootDeck = !permissions.lootDeck">
            {{'permissions.lootDeck' | ghsLabel}}
          </label>
          <img src="./assets/images/hint.svg" class="hint-trigger ghs-svg">
          <span class="hint">
            <span class="text">{{'permissions.lootDeck.hint' | ghsLabel}}</span>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!gameManager.stateManager.permissions">
      <div class="line">
        <label class="label">{{'permissions.password' | ghsLabel}}</label>
        <input type="text" [value]="password" (keyup)="setPermissionsPassword($event)"
          (change)="setPermissionsPassword($event)" placeholder="{{'permissions.password' | ghsLabel}}">
      </div>

      <div class="line">
        <a (click)="savePermissions()" [ngClass]="{'disabled' : !password}">{{'permissions.save' | ghsLabel}}</a>
      </div>
    </ng-container>
  </div>
</div>