<div class="menu-container scenario">
  <div class="line editions">
    <label *ngFor="let e of (gameManager.game.edition ? [gameManager.game.edition] : editions());">
      <input type="radio" name="radio" [value]="e" (change)="edition = e" [checked]="edition == e">
      {{'data.edition.' + e | ghsLabel}}
    </label>
  </div>

  <ng-container *ngFor="let group of groups()">
    <div *ngIf="group" class="line title"><label>{{group}}</label></div>
    <div class="line sections">
      <span (click)="addSection(section)" class="section" [ngClass]="{'disabled' : hasSection(section)}"
        *ngFor="let section of sections(group)"><span *ngIf="maxSection() > 2 && section.index.length < 3">0</span><span
          *ngIf="maxSection() > 1 && section.index.length < 2">0</span>{{section.index}}</span>
    </div>
  </ng-container>
</div>