.custom-container {
  display: flex;

  .custom-check {
    flex-basis: 0;
  }
}

.editions {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.sections {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr);
  column-gap: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
  row-gap: calc(var(--ghs-unit) * 1 * var(--ghs-dialog-factor));

  .section {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    font-family: var(--ghs-font-title);
    font-size: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
    color: var(--ghs-color-gray);
    border-radius: 100%;

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-white) solid;
      color: var(--ghs-color-white);
    }

    &.available {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-disabled) solid;
    }

    &.disabled {
      pointer-events: none;
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      color: var(--ghs-color-disabled);
    }
  }
}

@media (max-width: 500px) {

  .editions {
    grid-template-columns: 1fr;
  }

  .sections {
    grid-template-columns: repeat(4, 1fr);
  }
}