on:  
  push:
    tags:
      - '*'
name: Build Angular App
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and npm run build
        run: |
          npm i
          npm run build
      - name: Create Zip
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          directory: "dist/gloomhavensecretary/"
          filename: 'gloomhavensecretary.zip'
      - name: Push Build to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/gloomhavensecretary/gloomhavensecretary.zip"
          token: ${{ secrets.TOKEN }}