<div class="entity-border" [ngClass]="{'dead' : entity.dead}">
  <div #button class="entity" [ngClass]="entity.type">
    <span class="number">{{entity.number}}</span> <span class="health">{{entity.health}}</span>

    <div class="markers">
      <span class="marker" *ngFor="let marker of entity.markers;">
        <img src="./assets/images/character/icons/{{marker}}.svg" />
      </span>
    </div>

    <div class="highlight-conditions">
      <span class="condition" *ngFor="let entityCondition of gameManager.entityManager.highlightedConditions(entity)">
        <img src="./assets/images/condition/{{entityCondition.name}}.svg" />
        <span class="value"
          *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
      </span>
    </div>

    <div class="conditions">
      <span class="condition"
        *ngFor="let entityCondition of entity.entityConditions | ghsActiveConditions; let index = index;"
        [ngClass]="{'center' : entity.summon == SummonState.false && ((entity.entityConditions | ghsActiveConditions).length % 2) == 1 && (entity.entityConditions | ghsActiveConditions).length == index + 1}">
        <img *ngIf="!entityCondition.expired" src="./assets/images/condition/{{entityCondition.name}}.svg" />
        <span class="value"
          *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
      </span>
      <span *ngIf="entity.summon != SummonState.false" class="summon"
        [ngClass]="{'active' : entity.summon == SummonState.true, 'new' : entity.summon == SummonState.new, 'center' : (entity.entityConditions.length % 2) == 0}">
        <img src="./assets/images/summons/{{monster.summonColor}}.png">
      </span>
    </div>
    <div class="health-bar" [ngClass]="{'critical' : entity.health / entity.maxHealth < 0.35}">
      <div class="health-bar-value" [style.width]="(entity.health / entity.maxHealth * 100) + '%'"></div>
    </div>
  </div>
</div>

<div #dialog>
  <div class="status-container">
    <div class="entity-container">
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : entity.health == 0}" (click)="changeHealth(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item">
        <img src="./assets/images/status/health.svg" />
        <span class="badge health-count"
          [ngClass]="{'health-negative' : health < 0, 'health-positive' : health > 0}">{{health | ghsValueSign}}</span>
      </span>
      <span class="item">
        <a class="button" [ngClass]="{'disabled' : entity.health == entity.maxHealth}" (click)="changeHealth(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAttackModifier(AttackModifierType.bless) == 0 || isImmune(ConditionName.bless)}"
          (click)="changeBless(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item">u
        <span class="condition" [ngClass]="{'immunity' : isImmune(ConditionName.bless)}">
          <img src="./assets/images/status/bless.svg" />
        </span>
        <span class="badge bless-count">{{countAttackModifier(AttackModifierType.bless)}}</span>
      </span>
      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAttackModifier(AttackModifierType.bless) >= 10 || isImmune(ConditionName.bless)}"
          (click)="changeBless(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAttackModifier(AttackModifierType.curse) == 0 || isImmune(ConditionName.curse)}"
          (click)="changeCurse(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
      </span>
      <span class="item">
        <span class="condition" [ngClass]="{'immunity' : isImmune(ConditionName.curse)}">
          <img src="./assets/images/status/curse.svg" />
        </span>
        <span class="badge curse-count">{{countAttackModifier(AttackModifierType.curse)}}</span>
      </span>
      <span class="item">
        <a class="button"
          [ngClass]="{'disabled' : countAttackModifier(AttackModifierType.curse) >= 10  || isImmune(ConditionName.curse)}"
          (click)="changeCurse(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>

      <span class="item">
        <a class="button" (click)="dead()">
          <img src="./assets/images/status/dead.svg" />
        </a>
      </span>
      <span class="item max-health-container">
        <a class="button" (click)="changeMaxHealth(-1)">
          <img class="ghs-svg" src="./assets/images/minus.svg">
        </a>
        <img src="./assets/images/status/health.svg" />
        <span class="badge max-health">{{entity.health}}/{{entity.maxHealth}}</span>
        <a class="button" (click)="changeMaxHealth(1)">
          <img class="ghs-svg" src="./assets/images/plus.svg">
        </a>
      </span>
      <span class="summon-button">
        <a class="summon"
          [ngClass]="{'active' : entity.summon == SummonState.true, 'new' : entity.summon == SummonState.new }"
          (click)="toggleSummon()">
          <img src="./assets/images/summons/{{monster.summonColor}}.png">
        </a>
      </span>
    </div>

    <ghs-conditions [entity]="entity" [figure]="monster" type="monster"></ghs-conditions>

    <div class="summon-container">
    </div>
  </div>
  <div class="marker-container">
    <span *ngFor="let marker of gameManager.markers()">
      <a class="item" [ngClass]="{'active' : hasMarker(marker)}" (click)="toggleMarker(marker)">
        <span class="condition marker">
          <img src="./assets/images/character/icons/{{marker}}.svg" />
        </span>
      </a>
    </span>
  </div>
</div>