.entity-border {
  position: relative;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(var(--ghs-unit) * 1.4 * var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
    right: calc(var(--ghs-unit) * 1.8 * var(--ghs-text-factor));
    border-width: calc(var(--ghs-unit) * 0.4);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-unit) * 0.7);
  }

  &:not(.dead) {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  &.dead {
    opacity: 0;
    max-width: 0;
    transform: translate(0%, 100%);
  }

  &.active {

    @keyframes monster-entity-active-focus {
      0% {
        box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.3) var(--ghs-color-red);
      }

      40%,
      60% {
        box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.6) var(--ghs-color-red);
      }

      100% {
        box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.3) var(--ghs-color-red);
      }
    }

    &.active-focus {
      .standee {
        animation: monster-entity-active-focus 1000ms ease-in-out infinite;
      }
    }

    .standee {
      box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.5) var(--ghs-color-red);
    }
  }

  .entity {
    position: relative;
    display: flex;
    cursor: pointer;
    height: calc(var(--ghs-unit) * 6.5 * var(--ghs-text-factor));
    text-align: center;
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);
    width: 100%;
    margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
    margin-top: calc(var(--ghs-unit) * 0.25 * var(--ghs-text-factor));

    .standee {
      position: relative;
      display: flex;
      height: 100%;
      width: calc(var(--ghs-unit) * 9 * var(--ghs-text-factor));
      border: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor)) solid var(--ghs-color-black);
      border-bottom-width: calc(var(--ghs-unit) * 0.35 * var(--ghs-text-factor));
      border-top-left-radius: 25%;
      border-top-right-radius: 25%;
      background-color: var(--ghs-color-black);
      filter: var(--ghs-filter-outline);

      .background-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        overflow: hidden;
        z-index: 0;

        .background-image {
          position: absolute;
          top: -7%;
          left: 0;
          width: 100%;
          height: 150%;
          background-color: var(--ghs-color-darkgray);
          background-size: calc(var(--ghs-unit) * 9.5 * var(--ghs-text-factor)) AUTO;
          background-repeat: no-repeat;
          filter: brightness(70%);
        }
      }
    }

    .number,
    .health {
      display: flex;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      justify-content: center;
      align-items: center;
      font-family: "ghs-normal";
      flex-shrink: 0;
      z-index: 1;
    }

    @keyframes number-pulse {
      0% {
        transform: scale(0.9);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(0.9);
      }
    }

    .number {
      color: var(--ghs-color-darkgray);
      background-color: var(--ghs-color-white);
      border-bottom-right-radius: 50%;
      border-top-left-radius: 35%;
      height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      font-size: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
      text-shadow: none;

      &.highlight .value {
        animation: number-pulse 2000ms ease-in-out infinite;
      }
    }

    .health {
      font-size: calc(var(--ghs-unit) * 4.5 * var(--ghs-text-factor));
      position: relative;
      top: calc(var(--ghs-unit) * 1.2 * var(--ghs-text-factor));
      left: 0;
      height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));

      &::before {
        content: " ";
        position: absolute;
        left: 50%;
        top: calc(var(--ghs-unit) * -0.9 * var(--ghs-text-factor));
        width: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
        background-image: url('~/src/assets/images/status/health.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateX(-50%);
      }

      .value-overlay {
        position: absolute;
        left: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        top: calc(var(--ghs-unit) * -3 * var(--ghs-text-factor));
        font-size: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
        width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
      }
    }


    .markers {
      position: relative;
      display: flex;
      justify-content: center;
      max-height: calc(var(--ghs-unit) * 7 * var(--ghs-text-factor));
      padding-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

      .map-marker {
        margin-top: calc(var(--ghs-unit) * 1.3 * var(--ghs-text-factor));
        font-size: calc(var(--ghs-unit) * 3.2 * var(--ghs-text-factor));
      }

      .marker {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        background-color: var(--ghs-color-darkgray);
        border-radius: 100%;
        height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
        margin-top: calc(var(--ghs-unit) * 0.8 * var(--ghs-text-factor));
        margin-left: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        margin-right: calc(var(--ghs-unit) * -1 * var(--ghs-text-factor));
        border-width: calc(var(--ghs-unit) * 0.4);
        border-style: solid;
        border-color: var(--ghs-color-gray);

        img {
          width: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3.5 * var(--ghs-text-factor));
        }
      }
    }

    ghs-highlight-conditions {
      z-index: 5;
      position: absolute;
      bottom: 0;
      width: calc(var(--ghs-unit) * 9 * var(--ghs-text-factor));
    }

    .conditions {
      position: relative;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;

      .condition,
      .summon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));

        img {
          width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
        }

        .value {
          font-family: var(--ghs-font-title);
          font-size: calc(var(--ghs-unit) * 1.2 * var(--ghs-text-factor));
          color: var(--ghs-color-white);
          position: absolute;
          top: 48%;
          left: calc(var(--ghs-unit) * 1.3 * var(--ghs-text-factor));
          text-shadow: none;
          transform: translateX(-50%);
        }

        &.center {
          grid-row: span 2;
        }

      }

      .summon {
        &.new::before {
          content: " ";
          display: block;
          position: absolute;
          width: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
          height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
          background-image: url('~/src/assets/images/summons/minus.svg');
          background-size: cover;
        }
      }
    }

    ghs-healthbar {
      position: absolute;
      bottom: calc(var(--ghs-unit) * 0.2 * var(--ghs-text-factor));
      left: calc(var(--ghs-unit) * 0.4 * var(--ghs-text-factor));
      width: calc(var(--ghs-unit) * 8.2 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 0.75 * var(--ghs-text-factor));
      z-index: 0;
      border-radius: 15%;
      overflow: hidden;
    }

    &.normal {
      .standee {
        .number {
          background-color: var(--ghs-color-white);
        }
      }
    }

    &.elite {
      .standee {
        .number {
          background-color: var(--ghs-color-yellow);
        }
      }
    }

    &.boss {
      .standee {
        .number {
          background-color: var(--ghs-color-red);
        }
      }
    }
  }

  .drag-hp {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--ghs-unit) * 9 * var(--ghs-text-factor));
    height: 100%;
    z-index: 4;
  }



  &.fh.active {

    @keyframes monster-entity-active-focus-fh {
      0% {
        box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.3) var(--ghs-color-blue);
      }

      40%,
      60% {
        box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.6) var(--ghs-color-blue);
      }

      100% {
        box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.3) var(--ghs-color-blue);
      }
    }

    &.active-focus {
      .standee {
        animation: monster-entity-active-focus-fh 1000ms ease-in-out infinite;
      }
    }

    .standee {
      box-shadow: 0px 0px calc(var(--ghs-unit) * 1) calc(var(--ghs-unit) * 0.5) var(--ghs-color-blue);
    }
  }
}