<div class="entity-border"
  [ngClass]="{'dead' : entity.dead, 'off' : entity.off, 'active' : entity.active && settingsManager.settings.activeStandees, 'active-focus': entity.active && settingsManager.settings.activeStandees && !monster.active, 'denied' : !gameManager.stateManager.monsterPermissions[monster.name + '|' + monster.edition], 'fh': settingsManager.settings.theme == 'fh'}"
  [entityAnimation]="entity.dead">
  <div class="entity" [ngClass]="entity.type">
    <div #standee class="standee">
      <div class="background-image-container">
        <div class="background-image"
          [style.background-image]="'url(' + gameManager.monsterManager.monsterThumbnail(monster)+ ')'"></div>
      </div>
      <span class="number" [ngClass]="{'highlight' : entity.number < 1 && !settingsManager.settings.disableAnimations}">
        <span class="value">{{entity.number < 0 ? '?' : entity.number}}</span>
        </span>
        <span class="health" title="{{'game.health' | ghsLabel}}">{{entity.maxHealth > 0 ? (entity.health + health) :
          '-'}}
          <span class="value-overlay" [ngClass]="{'negative-value' : health < 0, 'positive-value' : health > 0}"
            *ngIf="health"><span class="value">{{health |
              ghsValueSign}}</span>
          </span>
        </span>
    </div>

    <div class="markers">
      <span class="map-marker" *ngIf="entity.marker">{{entity.marker}}</span>
      <span class="marker" *ngFor="let marker of entity.markers;">
        <img src="./assets/images/character/icons/{{marker}}.svg" />
      </span>
    </div>

    <ghs-highlight-conditions [entity]="entity" [figure]="monster"></ghs-highlight-conditions>

    <div class="conditions">
      <span class="condition-container" *ngFor="let entityCondition of activeConditions; let index = index;"
        [ngClass]="{'center' : entity.summon == SummonState.false && ((activeConditions).length % 2) == 1 && (activeConditions).length == index + 1, 'expired' : entityCondition.expired}">
        <span class="condition" [ngClass]="{'permanent' : entityCondition.permanent}">
          <img
            [src]="'./assets/images' + (settingsManager.settings.fhStyle ? '/fh' : '') + '/condition/' + entityCondition.name + '.svg'" />
          <span class="value"
            *ngIf="entityCondition.types.indexOf(ConditionType.value) != -1">{{entityCondition.value}}</span>
        </span>
      </span>
      <span *ngIf="entity.summon != SummonState.false" class="summon-container"
        [ngClass]="{'center' : (entity.entityConditions.length % 2) == 0}">
        <span class="summon"
          [ngClass]="{'active' : entity.summon == SummonState.true, 'new' : entity.summon == SummonState.new}">
          <img src="./assets/images/summons/{{monster.summonColor}}.png">
        </span>
      </span>
    </div>
    <ghs-healthbar [entity]="entity" [diff]="health"></ghs-healthbar>
  </div>

  <ghs-drag-click class="drag-hp" (dragMove)="dragHpMove($event)" (dragEnd)="dragHpEnd($event)"
    (singleClick)="openEntityMenu($event)" (doubleClick)="doubleClick($event)" [relative]="true" [screenWidth]="true">
  </ghs-drag-click>
</div>