.entity-border {
  position: relative;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(var(--ghs-unit) * 1.2 * var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    bottom: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
    right: calc(var(--ghs-unit) * 1.8 * var(--ghs-text-factor));
    border-width: calc(var(--ghs-unit) * 0.4);
    border-style: solid;
    border-color: var(--ghs-color-gray);
    border-radius: calc(var(--ghs-unit) * 0.7);
  }

  &:not(.dead) {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  &.dead {
    opacity: 0;
    max-width: 0;
    transform: translate(0%, 100%);
  }
}

.entity {
  position: relative;
  display: flex;
  cursor: pointer;
  height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
  text-align: center;
  color: var(--ghs-color-white);
  text-shadow: var(--ghs-outline);
  width: 100%;
  margin-right: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
  margin-top: calc(var(--ghs-unit) * 0.25 * var(--ghs-text-factor));

  .standee {
    display: flex;
    height: 100%;
    width: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor));
    background-color: var(--ghs-color-darkgray);
    background-size: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor)) AUTO;
    background-repeat: no-repeat;
    border: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor)) solid var(--ghs-color-black);
    border-bottom: none;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
  }

  .number,
  .health {
    display: flex;
    width: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 4 * var(--ghs-text-factor));
    justify-content: center;
    align-items: center;
    font-family: "ghs-title";
    font-size: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
    flex-shrink: 0;
  }

  .number {
    background-color: var(--ghs-color-darkred);
    border-bottom-right-radius: 50%;
    border-top-left-radius: 35%;
    height: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
  }

  .health {
    position: relative;
    top: calc(var(--ghs-unit) * 0.8 * var(--ghs-text-factor));
    left: calc(var(--ghs-unit) * -0.8 * var(--ghs-text-factor));
    height: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));

    &::before {
      content: " ";
      position: absolute;
      left: 50%;
      top: calc(var(--ghs-unit) * -0.5 * var(--ghs-text-factor));
      width: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
      height: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
      background-image: url('~src/assets/images/status/health.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }

    .drag-hp {
      position: absolute;
      margin-left: calc(var(--ghs-unit) * 5 * var(--ghs-text-factor));
      font-size: calc(var(--ghs-unit) * 3 * var(--ghs-text-factor));
      font-family: 'ghs-normal';
      text-shadow: none;
    }
  }


  .markers {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));
    padding-left: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

    .marker {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));
      padding-right: calc(var(--ghs-unit) * 1.5 * var(--ghs-text-factor));
      padding-top: calc(var(--ghs-unit) * 0.5 * var(--ghs-text-factor));

      img {
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        margin: calc(var(--ghs-unit) * 0.3 * var(--ghs-text-factor));
      }
    }
  }

  ghs-highlight-conditions {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--ghs-unit) * 8 * var(--ghs-text-factor));
  }

  .conditions {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    max-height: calc(var(--ghs-unit) * 6 * var(--ghs-text-factor));

    .condition,
    .summon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--ghs-unit) * 2 * var(--ghs-text-factor));

      img {
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        margin: calc(var(--ghs-unit) * 0.1 * var(--ghs-text-factor));
      }

      .value {
        font-family: 'ghs-title';
        font-size: calc(var(--ghs-unit) * 1 * var(--ghs-text-factor));
        color: var(--ghs-color-white);
        position: absolute;
        top: 48%;
        left: calc(var(--ghs-unit) * 1.1 * var(--ghs-text-factor));
        text-shadow: none;
        transform: translateX(-50%);
      }

      &.center {
        grid-row: span 2;
      }

    }

    .summon {
      &.new::before {
        content: " ";
        display: block;
        position: absolute;
        width: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        height: calc(var(--ghs-unit) * 2.5 * var(--ghs-text-factor));
        background-image: url('~src/assets/images/summons/minus.svg');
        background-size: cover;
      }
    }
  }

  ghs-healthbar {
    position: absolute;
    bottom: 0;
    left: calc(var(--ghs-unit) * 0.4 * var(--ghs-text-factor));
    width: calc(var(--ghs-unit) * 7.1 * var(--ghs-text-factor));
  }

  &.normal {
    .standee {
      border-color: var(--ghs-color-gray);
    }
  }

  &.elite {

    .standee {
      border-color: var(--ghs-color-yellow);
    }

    .number {
      color: var(--ghs-color-yellow);
    }
  }

  &.boss {

    .standee {
      border-color: var(--ghs-color-black);
    }

    .number {
      color: var(--ghs-color-red);
    }
  }
}


.health-positive {
  color: var(--ghs-color-green) !important;
}

.health-negative {
  color: var(--ghs-color-red) !important;
}

.dialog {
  .status-container {
    display: flex;
    flex-direction: row;
    margin: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));

    .entity-container {
      display: grid;
      grid-template-columns: repeat(3, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
      margin-bottom: auto;
    }

  }

  .condition {
    display: flex;
    position: relative;
    width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));

    &.disabled {
      filter: grayscale(70%);
    }
  }

  .marker-container {
    display: grid;
    grid-template-columns: repeat(6, calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor)));
    column-gap: calc(var(--ghs-unit) * 0.5 * var(--ghs-dialog-factor));
    row-gap: calc(var(--ghs-unit) * 1.5 * var(--ghs-dialog-factor));
    align-items: center;
    justify-items: center;
    margin-bottom: auto;

    .item {

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
      width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

      &.active,
      &.new {
        border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
        border-radius: 100%;
      }

      &:hover {
        border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
        border-radius: 100%;
      }

    }


  }

  .summon {
    &.new::after {
      content: " ";
      display: block;
      position: absolute;
      width: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
      background-image: url('~src/assets/images/summons/minus.svg');
      background-size: cover;
    }
  }

  .summon-button {
    grid-column: span 3;
    display: flex;
    justify-content: center;
  }

  .summon {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 6 * var(--ghs-dialog-factor));

    &.active,
    &.new {
      border: calc(var(--ghs-unit) / 4) var(--ghs-color-white) solid;
      border-radius: 100%;
    }

    &:hover {
      border: calc(var(--ghs-unit) / 5) var(--ghs-color-gray) solid;
      border-radius: 100%;
    }

  }

  span.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    width: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
  }

  a {
    cursor: pointer;
    font-size: calc(var(--ghs-unit) * 7 * var(--ghs-dialog-factor));
    color: var(--ghs-color-white);
    text-shadow: var(--ghs-outline);

    &.disabled {
      pointer-events: none;
      color: var(--ghs-color-darkgray);

      .ghs-svg {
        filter: var(--ghs-filter-darkgray) !important;
      }
    }
  }

  img {
    height: calc(var(--ghs-unit) * 4 * var(--ghs-dialog-factor));
    width: auto;
  }

  .badge {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--ghs-color-white);
    font-size: calc(var(--ghs-unit) * 2 * var(--ghs-dialog-factor));
    text-shadow: var(--ghs-outline);
  }

  .max-health-container {
    justify-content: space-evenly !important;
    width: calc(var(--ghs-unit) * 12 * var(--ghs-dialog-factor)) !important;

    img {
      height: calc(var(--ghs-unit) * 3.5 * var(--ghs-dialog-factor));
      width: auto;
    }

    .badge {
      right: calc(var(--ghs-unit) * 3 * var(--ghs-dialog-factor));
    }
  }


}