:host {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0; 
}

.ability-dialog {
  width: 100vw;
  max-width: 600px;
  height: 64vw;
  max-height: 384.3px;
  border-image: none;
  background: none;
}