.ability {
  width: 100%;
  height: 100%;
  color: var(--ghs-color-white);
  --ghs-ability-color: var(--ghs-color-red);

  .ability-back,
  .ability-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 3.5%;
  }

  .ability-front {
    background-image: url('~src/assets/images/monster/abilities/monster-ability-front.png');
    background-position: bottom;
    z-index: 1;

    .ability-actions {
      position: absolute;
      top: 17.5%;
      left: 0;
      height: 82.5%;
      width: 100%;
      font-size: calc(1.7em * var(--ghs-fontsize));
      z-index: 1;
      overflow: auto;

      ghs-actions {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .name {
      display: block;
      position: absolute;
      top: 0.7%;
      left: 0;
      width: 100%;
      font-family: var(--ghs-font-title);
      font-size: 1.7em;
      filter: var(--ghs-filter-shadow);
      text-align: center;
    }

    .initiative {
      position: absolute;
      font-family: var(--ghs-font-title);
      font-size: 2.4em;
      filter: var(--ghs-filter-shadow);
      top: 15%;
      left: 4%;
      text-align: center;
      width: 11%;
      height: 17%;
    }

    .shuffle,
    .bottom-shuffle {
      position: absolute;
      bottom: 3%;
      right: 3%;
      z-index: 0;
      filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      width: 8%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .index {
      position: absolute;
      font-size: 1em;
      filter: var(--ghs-filter-shadow-thin);
      bottom: 6.5%;
      left: 5.5%;
    }

    .lost {
      position: absolute;
      bottom: 50%;
      right: 15%;
      height: 6%;

      img {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;

        &:nth-child(1) {
          filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
        }

        &:nth-child(2) {
          position: absolute;

        }
      }

      &.bottom {
        right: 19%;
        bottom: 9%;
      }
    }

    &.bottom-actions,
    &.character-actions {

      background-position: top;
      background-attachment: local;
      height: 100%;

      &.bottom-actions {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
      }

      &.character-actions {
        background-color: var(--ghs-ability-color);
        background-image: url('~src/assets/images/character/abilities/character-ability-front.png'), url('~src/assets/images/character/abilities/character-ability-front-blend.png');
        background-blend-mode: screen, luminosity;

        .logo {
          position: absolute;
          bottom: 3.5%;
          left: 50%;
          width: 7%;
          height: auto;
          transform: translateX(-50%);
          z-index: 1;

          img {
            width: 100%;
            height: auto;
            filter: drop-shadow(0.5em 0.5em 0.5em var(--ghs-color-black));
          }
        }
      }

      .name {
        top: 4.5%;
      }

      .initiative {
        top: 49%;
        left: 50%;
        transform: translateX(-50%);
      }

      .level {
        position: absolute;
        top: 11%;
        left: 45%;
        width: 10%;
        height: 6%;
        font-size: 1.2em;
        font-family: var(--ghs-font-title);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--ghs-ability-color);
        mask-image: url('~/src/assets/images/level.svg');
        -webkit-mask-image: url('~/src/assets/images/level.svg');
        mask-size: 115% 170%;
        -webkit-mask-size: 115% 170%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: 60% 66%;
        -webkit-mask-position: 60% 66%;

        .text {
          background: inherit;
          background-clip: text;
          color: transparent;
          filter: invert(1) grayscale(1) contrast(100);
        }

      }

      .shuffle {
        top: 46.5%;
        right: 12.5%;
        bottom: initial;
      }

      .bottom-shuffle {
        bottom: 6.5%;
        right: 18.5%;
      }

      .index {
        left: 58%;
      }

      overflow-x: unset;
      overflow-y: auto;

      .ability-actions {
        top: 17%;
        left: 10.6%;
        width: 78.3%;
        height: 30%;

        &.ability-bottom-actions {
          top: 59%;
        }
      }
    }

  }

  .ability-back {
    background-image: url('~src/assets/images/monster/abilities/monster-ability-back.png');
    z-index: 1;

    .touch {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      overflow: auto;
    }

    .name {
      position: absolute;
      bottom: 13.5%;
      left: 0;
      width: 100%;
      font-family: var(--ghs-font-title);
      font-size: 1.4em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
      text-align: center;
    }


    &.bottom-actions,
    &.character-actions {

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: 1;

        img {
          width: 100%;
          height: auto;
          filter: drop-shadow(0.5em 0.5em 0.5em var(--ghs-color-black));
        }
      }

      &.bottom-actions {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-back-botton.png');

        .name {
          bottom: 25%;
        }
      }

      &.character-actions {
        background-color: var(--ghs-ability-color);
        background-image: url('~src/assets/images/character/abilities/character-ability-back.png'), url('~src/assets/images/character/abilities/character-ability-back-blend.png');
        background-blend-mode: screen, luminosity;

        .name {
          top: 3%;
          bottom: initial;
          font-size: 2em;
        }

      }
    }
  }

  .confirm {

    .revealed {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-white);
      font-size: 2.3em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
      z-index: 2;
    }
  }

  &.fh {

    .ability-front {
      background-image: url('~src/assets/images/fh/monster/abilities/monster-ability-front.png');

      &.bottom-actions {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
      }

      .index {
        bottom: 1%;
        left: 1%;
      }
    }

    .ability-back {
      background-image: url('~src/assets/images/fh/monster/abilities/monster-ability-back.png');

      &.bottom-actions {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-back-botton.png');
      }
    }
  }

}