:host {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

.ability-dialog {
  position: relative;
  width: 100vw;
  height: 100vh;
  border-image: none;
  background: none;
  transition: transform calc(var(--ghs-animation-speed) * 150ms) ease-in-out;
  transform: scale(0);
  z-index: 2;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.opened {
    transform: scale(1);
  }

  &.closed {
    transform: scale(0);
    transition-delay: 800ms;
  }

  .ability-container {
    overflow: visible;
    width: 100vw;
    max-width: 600px;
    max-height: 100vh;

    ghs-ability {
      display: block;
      margin: 1vh 0;
    }

    &.bottom-actions {
      ghs-ability {
        height: 135vw;
        max-height: 810px;
      }

      @media (max-height: 600px),
      (orientation: portrait) {
        &.second-ability ghs-ability {
          height: 67.5vw;
          max-height: 405px;
        }
      }
    }
  }

}

.close-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}