.ability {
  width: 100%;
  height: 100%;
  color: var(--ghs-color-white);
  --ghs-ability-color: var(--ghs-color-red);

  .ability-back,
  .ability-front {
    min-height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 3.5%;
  }

  .ability-front {
    position: relative;
    z-index: 1;

    &::before {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('~src/assets/images/monster/abilities/monster-ability-front.png');
      background-position: top;
      background-size: 100% auto;
      background-repeat: no-repeat;
      z-index: 0;
    }

    &::after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('~src/assets/images/monster/abilities/monster-ability-front-repeat.png');
      background-position: top;
      background-size: 100% auto;
      background-repeat: repeat-y;
      z-index: -1;
    }

    .ability-actions {
      position: relative;
      margin-top: 2.4em;
      padding-bottom: 0.4em;
      width: 100%;
      min-height: 7.3em;
      font-size: calc(1.7em * var(--ghs-fontsize));
      z-index: 1;
      display: flex;
      align-items: center;
      overflow: auto;

      ghs-actions {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .name {
      display: block;
      position: absolute;
      top: 0.2em;
      left: 0;
      width: 100%;
      font-family: var(--ghs-font-title);
      font-size: 1.7em;
      filter: var(--ghs-filter-shadow);
      text-align: center;
    }

    .initiative {
      position: absolute;
      font-family: var(--ghs-font-title);
      font-size: 2.4em;
      filter: var(--ghs-filter-shadow);
      top: 1.3em;
      left: 0.5em;
      text-align: center;
      width: 1em;
    }

    .shuffle,
    .bottom-shuffle {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      z-index: 0;
      filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
      width: 2em;

      img {
        width: 100%;
        height: auto;
      }
    }

    .index {
      position: absolute;
      font-size: 1em;
      filter: var(--ghs-filter-shadow-thin);
      bottom: 0.5em;
      left: 0.5em;
    }

    .lost {
      position: absolute;
      bottom: 16.5em;
      right: 3.3em;
      height: 2em;

      img {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;

        &:nth-child(1) {
          filter: var(--ghs-filter-white) var(--ghs-filter-shadow);
        }

        &:nth-child(2) {
          position: absolute;

        }
      }

      &.bottom {
        right: 4.6em;
        bottom: 3em;
      }
    }

    &.bottom-actions,
    &.character-actions {

      background-position: top;
      background-attachment: local;
      height: 100%;

      &.bottom-actions::before {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
      }

      &.character-actions {

        &::before {
          background-color: var(--ghs-ability-color);
          background-image: url('~src/assets/images/character/abilities/character-ability-front.png'), url('~src/assets/images/character/abilities/character-ability-front-blend.png');
          background-blend-mode: screen, luminosity;
        }

        .logo {
          position: absolute;
          bottom: 1.2em;
          left: 50%;
          width: 1.8em;
          height: auto;
          transform: translateX(-50%);
          z-index: 1;

          img {
            width: 100%;
            height: auto;
            filter: drop-shadow(0.5em 0.5em 0.5em var(--ghs-color-black));
          }
        }
      }

      .name {
        top: 0.8em;
      }

      .initiative {
        top: 7em;
        left: 5.2em;
        transform: translateX(-50%);
      }

      .level {
        position: absolute;
        top: 3.1em;
        left: 9.4em;
        width: 2.1em;
        height: 1.6em;
        font-size: 1.2em;
        font-family: var(--ghs-font-title);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--ghs-ability-color);
        mask-image: url('~/src/assets/images/level.svg');
        -webkit-mask-image: url('~/src/assets/images/level.svg');
        mask-size: 115% 170%;
        -webkit-mask-size: 115% 170%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: 60% 66%;
        -webkit-mask-position: 60% 66%;

        .text {
          background: inherit;
          background-clip: text;
          color: transparent;
          filter: invert(1) grayscale(1) contrast(100);
        }

      }

      .shuffle {
        top: 15.5em;
        right: 3.5em;
        bottom: initial;
      }

      .bottom-shuffle {
        bottom: 2.3em;
        right: 4.8em;
      }

      .index {
        left: 14.7em;
        bottom: 2.2em;
      }

      overflow-x: unset;
      overflow-y: auto;

      .ability-actions {
        left: 1.6em;
        width: 11.5em;
        min-height: 6.4em;
        max-height: 6.4em;
        margin-top: 1.8em;

        &.ability-bottom-actions {
          top: 1.5em;
          margin-top: 0;
          margin-bottom: 2.2em;
          padding-top: 0.2em;
          padding-bottom: 0;
        }
      }
    }

  }

  .ability-back {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('~src/assets/images/monster/abilities/monster-ability-back.png');
    z-index: 1;

    .touch {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      overflow: auto;
    }

    .name {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      font-family: var(--ghs-font-title);
      font-size: 1.4em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
      text-align: center;
      transform: translateY(2.9em);
    }


    &.bottom-actions,
    &.character-actions {

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: 1;

        img {
          width: 100%;
          height: auto;
          filter: drop-shadow(0.5em 0.5em 0.5em var(--ghs-color-black));
        }
      }

      &.bottom-actions {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-back-botton.png');

        .name {
          bottom: 25%;
        }
      }

      &.character-actions {
        background-color: var(--ghs-ability-color);
        background-image: url('~src/assets/images/character/abilities/character-ability-back.png'), url('~src/assets/images/character/abilities/character-ability-back-blend.png');
        background-blend-mode: screen, luminosity;

        .name {
          top: 3%;
          bottom: initial;
          font-size: 2em;
        }

      }
    }
  }

  .confirm {

    .revealed {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ghs-color-white);
      font-size: 2.3em;
      filter: drop-shadow(calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) calc(var(--ghs-unit) * 0.1) var(--ghs-color-black));
      z-index: 2;
    }
  }

  &.fh {

    .ability-front {

      &::before {
        background-image: url('~src/assets/images/fh/monster/abilities/monster-ability-front.png');
      }

      &::after {
        background-image: url('~src/assets/images/fh/monster/abilities/monster-ability-front-repeat.png');
      }

      &.bottom-actions::before {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-front-bottom.png');
      }

      .index {
        bottom: 0.5em;
        left: 0.5em;
      }
    }

    .ability-back {
      background-image: url('~src/assets/images/fh/monster/abilities/monster-ability-back.png');

      &.bottom-actions {
        background-image: url('~src/assets/images/monster/abilities/monster-ability-back-botton.png');
      }
    }
  }

}